[2018-09-25 18:07] cthoyt opened #8 "Smarter random test/training Split"
When giving a ratio to split testing/training, is it completely random? This is a problem for data sets with things like drug-target interactions, where there's a non-random distribution of distribution of chemicals.

Approaches that would eliminate all of the relations for any given subject (a chemical) or object (a target) might be more indicative of the reality of data sets

[2018-09-26 06:19] mali-git commented on #8
We can implement different splitting approaches, and give the user the possbility to choose

[2018-10-02 08:13] cthoyt opened #16 "Problem installing on python37"
Will add conditional installation since some versions of the packages only work for py36

[2018-10-02 08:14] #16 closed

[2018-10-10 18:05] mali-git commented on #8
Extended splitting strategy will be implemented in a future version

[2018-10-10 18:05] #8 closed

[2018-11-15 12:54] cthoyt opened #29 "Add importer from NDEx"
There are TONS of networks available from NDEx. They can be downloaded through their API and python wrapper very easily.

Install the Python ndex client with:
[code]

Write code that does something like this:
[code]

Then you can either directly convert the triples to a numpy matrix, or output them, or whatever. The graphs also contain extra information about the nodes and labels, but this is the

[2018-11-19 09:41] cthoyt commented on #29
I think the next step is to build the appropriate-looking numpy matrix, then it can be directly put into the pipeline, right?

[2018-11-19 10:30] mali-git commented on #29
We should realise this as soon as possible, I think it is better to create the corresponding matrix within the pipleine like we do it for RDF data

[2018-11-19 10:30] mali-git commented on #29
I think it is better to create the corresponding matrix within the pipleine like we do it for RDF data

[2018-11-19 10:33] cthoyt commented on #29
Somewhere, there should be an entrypoint for someone who has a numpy matrix that can come from anywhere. This doesn't really exist right now because the sampling procedure is mixed up heavily with the data I/O

[2018-11-19 11:14] mali-git commented on #29
Sampling and I/O are separated, loading the data is only done in **Pipeline._load_data()**. We could pass the numpy array directly in **Run.run()**, and and skip loading the data in the **Pipleine** module if the passed parameter is not None

[2018-11-21 10:55] cthoyt commented on #29
@mali-git please advise, then we can close the issue :)

[2018-11-21 10:56] cthoyt opened #31 "Export JSON for data from PyTorch"
This can be in addition to pickles, but having human-readable (~ish) JSON is better than totally transparent pickles (which are also unsafe to share). I don't think we really have to worry about people editing them :p

[2018-11-21 11:30] mali-git commented on #29
Exactly, but PyKEEN creates internally its own mappings entity/relation-to-id mapping, so the user should be aware when looking  tothe entity_to_id.sjon, and relation_to_id.json files

[2018-11-21 11:30] #29 closed

[2018-11-21 11:55] cthoyt commented on #29
Oh, so it'a actually a weird internal mapping of random integers to random integers... in this case it might be better to use the node labels from NDEx, since it doesn't really have any constraints on how the nodes are named or what metadata goes with them

[2018-11-22 10:16] #31 closed

[2018-11-22 10:39] cthoyt opened #32 "Assign type annotations"
Right now, the control flow is intractably complicated... This is especially an issue for functions that return tuples of values that aren't annotated with types. We need to address this in two steps:

1. Assign type annotations to all return values for functions that return tuples of things

Later (not to be solved by this issue)
2. Make data containers to represent these tuples using `dataclasse

[2018-12-12 09:05] cthoyt opened #36 "Add CHANGELOG.rst"
Read this: https://keepachangelog.com/en/1.0.0/

It would be useful to keep a couple of annotations on what changes from version to version. It also helps to use the issues feature on GitHub for keeping track of "tasks" and using the milestones feature to group them together for each upcoming release.

[2019-01-08 09:48] cthoyt opened #37 "Add codecov badge"

[2019-01-09 09:47] #37 closed

[2019-01-15 09:50] mali-git commented on #38
Fixed

[2019-01-20 20:13] cthoyt opened #39 "Allow specification of multiple knowledge graphs in configuration dictionary"

[2019-01-21 19:40] leechuck opened #40 "filter_corrupted_triples is very slow"
The filter_corrupted_triples function is rather slow; I am testing on a large test set and can train my model (TransE or any other) in minutes, but the filter_corrupted_triples() function takes days. Is there a way to speed this up?

[2019-01-21 19:44] leechuck commented on #40
Overall, the compute_metric_results() is very slow in comparison to the rest; these are mainly the _compute_filtered_rank and _compute_rank functions as far as I can tell.

[2019-01-22 23:46] mali-git commented on #40
Hi,
thanks for your feedback. This is a current issue for large scale KGs, and we will work on it.

[2019-01-29 11:05] mali-git opened #42 "Add more configuration settings"
Switch off and on different features of models such as batch normalisation and drop out

[2019-01-31 13:39] cthoyt commented on #43
Hi @labrax, we use Python 3.6+ only syntax in this repository, and explicitly do not support Python 3.5.

I'm curious how you were able to install it without getting a warning message. Can you make a new virtual environment (or reinstall) and show us what output you get when running `pip install .` or `pip install -e .`?

[2019-01-31 13:47] labrax commented on #43
Hi @cthoyt ,

Thanks for the fast reply.

This is the output:
[code]

[2019-01-31 13:51] labrax commented on #43
Can you please add information about the Python version supported in the readme?

[2019-01-31 13:51] labrax commented on #43
Thank you

[2019-01-31 14:02] cthoyt commented on #43
I just checked out the setup.py file and realized we hadn't set the minimum python version there. Thank you very much for pointing this out - I appreciate it very much.

It's actually a great reminder that we need to switch over to using a declarative setup in setup.cfg, too.

[2019-02-10 12:49] ChaseWLW opened #44 "TransH outputs Nan values"
Hi,

I was trying to train TransH with dimensions of 50-100, epochs of 1000-10000. So far the embedding outputs are all "Nan".

There's also a parameter called "weigthing_soft_constraint" that I don't understand. Is it referring to the "weight C" parameter in the original paper?

[2019-02-10 15:47] mali-git commented on #44
Hi @ChaseWLW,

Can you please provide more details about the experimental setup, because I tested TransH on different datasets, and I didn't face this issue, yet? I can imagine its due to the specified value for the "weigthing_soft_constraint".

Exactly.

[2019-02-10 15:55] ChaseWLW commented on #44
`config = dict(
    training_set_path           = 'yeast-plain.nt',
    execution_mode              = 'Training_mode',
    random_seed                 = 0,
    kg_embedding_model_name     = 'TransR',
    weigthing_soft_constraint   = 1,
    embedding_dim               = 50,
    relation_embedding_dim      = 50,
    normalization_of_entities   = 2,  # corresponds to L2
    scoring_function

[2019-02-10 18:20] cthoyt commented on #44
I see a typo in `weigthing_soft_constraint`

[2019-02-11 10:14] mali-git commented on #44
Hi @ChaseWLW,

I've created a Jupyter Notebook for TransH trained on RDF (.nt): https://github.com/SmartDataAnalytics/PyKEEN/blob/master/notebooks/Train%20and%20Evaluate%20TransH%20on%20RDF%20(.nt).ipynb

Please compare it with your experiment.

[2019-02-13 06:28] ChaseWLW commented on #44
Thanks @mali-git!

As a side note, I see a `test_set_ratio` parameter here: [https://pykeen.readthedocs.io/en/latest/train_and_evaluate.html](url)

Is this the validation set here and is it implemented to save the best model?

[2019-02-13 09:56] mali-git commented on #44
Hi @ChaseWLW ,

The `test_set_ratio` can be used when you want to evaluate your model, but you don't have a test available. Then, the ratio that you defined will be extracted randomly from the training set, and used as a test set.

Yes, thats a good point. Early stopping is one of our TODOs :)

[2019-03-06 14:20] labrax commented on #49
Please check this zip file with a modified version of a notebook with and without the patch. [Comparison.zip](https://github.com/SmartDataAnalytics/PyKEEN/files/2936611/Comparison.zip)

[2019-03-11 09:25] mali-git commented on #49
Hi @labrax,

thanks a lot. Can you please create a pull request?

[2019-03-11 09:46] labrax commented on #49
@mali-git , it is submitted.

[2019-03-11 19:42] cthoyt commented on #49
Thanks @labrax :)

[2019-03-12 13:49] #44 closed

[2019-03-17 15:56] cthoyt opened #51 "Better documentation in pykeen.predict.start_predictions_pipeline"
What are the two files `entities.tsv` and `relations.tsv`? They're not put in the results folder at the end. Please add more documentation to the function `pykeen.predict.start_predictions_pipeline`. Re:

https://github.com/SmartDataAnalytics/PyKEEN/blob/1335e8eaf7083f32aea2e74484f183122e46fcda/src/pykeen/predict.py#L39-L40

[2019-03-20 16:38] mali-git commented on #51
Fixed, see commit 77918ee13d50867fd7db56a7e744f93a9f07859b.

[2019-03-20 16:38] #51 closed

[2019-03-21 12:19] cthoyt opened #52 "Document file loading entrypoint"

[2019-03-31 17:59] cthoyt commented on #53
why? are there other packages that depend on the preprocessing functions, but not also pykeen?

[2019-03-31 20:36] mali-git commented on #53
Exactly, I am planning some new packages that will make use of some of the preprocessing steps.

[2019-04-06 10:11] #32 closed

[2019-04-11 07:28] cthoyt opened #56 "Refactor model-specific tests"
it looks like there's tons of repeated code. Make a base class in the tests/constants.py that inherits from unittest.TestCase

[2019-04-11 09:15] AldisiRana opened #57 "Installing PyKEEN on Windows"
I was having trouble installing PyKEEN using the simple cmd 'pip install pykeen'.
So, I was able to install it using these steps:
1. git clone https://github.com/SmartDataAnalytics/PyKEEN.git pykeen
2. go to the pykeen directory, and remove torch package versions specifics in 'setup.cfg' (just keep it as 'torch')
3. cd pykeen
4. pip install -e .

[2019-04-11 09:52] mali-git commented on #57
Thanks @AldisiRana!
Generally, we recommend to use virtual environments within Linux or MAC OS systems.

[2019-04-11 14:16] mali-git commented on #56
Tests are refactored now.

[2019-04-11 14:16] #56 closed

[2019-04-14 20:28] cthoyt commented on #57
@mali-git can we make sure this gets incorporated into the installation documentation somewhere? With appropriate links to PyTorch's installation documentation, anaconda, and some other things that windows users will have to deal with

[2019-04-15 15:12] cthoyt commented on #40
I started reorganizing that code and sticking tqdm in it in the [mapify-metric-computations](https://github.com/SmartDataAnalytics/PyKEEN/tree/mapify-metric-computations) branch. Maybe there's some smart ways we can use NumPy to vectorize the operations, to use multiprocessing, or to chain them together.

[2019-05-05 12:10] mali-git commented on #61
Hi @Nudin,

in case you use Python 3.6, PyTorch 0.4.0 is required for PyKEEN, and for Python 3.7, PyTorch 0.4.1 is needed. We didn't define any restrictions for Numpy (the current version of Numpy works fine for PyKEEN).

Are you using Windows, Linux or MacOS?

We recommend to use a separate virtual environment inside a Linux or MacOS system:

`virtualenv -p python3.6/3.7 envname`

If you install

[2019-05-06 16:51] mberr commented on #61
Hi @Nudin , @mali-git
#63 seems to solve the this issue.

[2019-05-06 17:12] mali-git commented on #61
Thanks @mberr!

@Nudin The corresponding pull request (https://github.com/SmartDataAnalytics/PyKEEN/pull/63) has been merged with the master branch.

[2019-05-07 15:24] Nudin commented on #61
#63 did indeed fix the issue. Thanks!

[2019-07-09 08:55] matthias-samwald commented on #40
@mali-git We are also currently struggling with how long the evaluation takes for a large biomedical KB (hi there, @leechuck !). Currently it seems like we'd still have to wait two weeks for getting the results...
I saw that there was recent commit for speeding up the 'corrupting triples' step (https://github.com/SmartDataAnalytics/PyKEEN/commit/5cfb841e5548505ba54339ee347431162505c13c), how big o

[2019-08-01 18:52] sophiakrix opened #66 "Mehdi answer your phone we need you!!!!"
@mali-git emergency!!!!!! its Charlie answer your phone

[2019-08-12 15:51] BonaBeavis commented on #61
When using pykeen as a library the error still persists. Because the fix #63 is not included in pykeen 0.0.25.

[2019-08-13 08:18] mali-git commented on #61
Hi @BonaBeavis,
we just released pykeen 0.0.26 (2df826ab895f7bca422452459c77de6611717350) which solves the issue.
Meanwhile we are working on PyKEEN 0.1.0, which will be released soon.

[2019-10-14 20:32] Nudin commented on #40
I had the same problem, so I took a deeper look and finally could speed it up a factor of 55x for my data (factor may be bigger or smaller depending on how dense and big your KG is). This means that my runs take only 25 Minutes instead of 20 hours.

You can find the optimized version in my [fork](https://github.com/Nudin/PyKEEN/blob/c750494ae7f9fd8d79ff1775ca4349dca7468f78/src/pykeen/utilities/eva

[2019-10-14 22:23] cthoyt commented on #40
Sit tight, we're just days away from making the new version public! We've also made significant improvements (hopefully even better than 25 minutes :) @lvermue and @mberr will be able to comment since they did all of the magic)

[2019-10-15 09:30] lvermue commented on #40
@Nudin @leechuck @matthias-samwald
Which models and KG sizes do you use?
It of course depends on many parameters, but here are some reference times for the new version (tested on Titan X GPU):
- FB15k237 with ConvE:
    - unfiltered: ~0.4 seconds
    - filtered: 7 seconds
- FB15k237 with TransE:
    - unfiltered: 4 seconds
    - filtered: 7 seconds

[2019-10-15 09:35] leechuck commented on #40
We use nothing too large, maybe graphs with 250,000 nodes and 3 million edges. Evaluation in this case takes more than 24h. Which branch is the new version with the improved evaluation performance?

[2019-10-15 09:37] mali-git commented on #40
Hi @leechuck,
the new version is in a private repository. But we will will update the current version soon!

[2019-10-15 11:26] matthias-samwald commented on #40
@lvermue

We are dealing with graphs of comparable size, again also with evaluation times of approx 24 h or above (unfiltered, filtered turned out to be even worse)

[2020-02-23 21:24] cthoyt opened #68 "Clear all issues"
The next major version of PyKEEN is coming... all commits are going to be closed

[2020-02-23 21:26] cthoyt commented on #40
Hi everyone, we're gearing up for the next major release (which has regretfully been a bit opaque) but this should be resolved then! Happy hunting and keep in touch for PyKEEN 1.0 (I think that's what we'll call it :))

[2020-02-23 21:26] #40 closed

[2020-02-23 21:26] #36 closed

[2020-02-23 21:26] #42 closed

[2020-02-23 21:26] #52 closed

[2020-02-23 21:26] #57 closed

[2020-02-23 21:33] cthoyt opened #69 "Update from development repository"
We need to merge from the private development repository. I will take an awful lot dark magic to get to there:

1. Make a new branch on SmartDataAnalytics/PyKEEN, delete everything, and commit
2. Add the following to the .git/config file
[code]
3. `git pull poem master --allow-unrelated-histories --no-commit -S` and pray to rebased god. Figured this out with lots of googling and eventually [the pe

[2020-05-27 10:48] isspek opened #2 "question about data format for custom KGs"
Thank you for the library. My usecase is to embed relations/entities in [ConceptNet](https://github.com/commonsense/conceptnet5). The Conceptnet is not in RDF form, instead it is a csv file. So I need to convert a format compatible with PyKEEN.
I checked your source code and found this [example](https://github.com/SmartDataAnalytics/PyKEEN/blob/master/tests/resources/example_training.tsv) Is this

[2020-06-09 09:19] robertanto opened #3 "Improve the doc"
Currently, it is difficult to understand the data structure (i.e. what I am passing to the model).
It may be useful to add a description page to help in developing custom models and datasets and therefore, extend the framework.

Furthermore, I think that an example based on Graph Neural Networks (maybe with PyTorch Geometric) will be very appreciated.

[2020-06-22 14:02] cthoyt opened #5 "Add PyKEEN 1.0 History"
We need to merge from the private development repository. It will take an awful lot dark magic to get to there:

1. Make a new branch on pykeen/pykeen (optional - delete everything, and commit?)
2. Add the following to the .git/config file
[code]
3. `git pull poem master --allow-unrelated-histories --no-commit -S` and pray to rebased god. Figured this out with lots of googling and eventually [the

[2020-06-25 07:50] #5 closed, assigned to cthoyt

[2020-06-25 14:55] cthoyt commented on #3
Hi @robertanto, thanks for being patient. We've just put out the new PyKEEN v1.0 today, with a complete re-write of everything. There's much more documentation (though it still has a long way to go since there are so many features now)

You can check out the [`pykeen.pipeline` tutorial](https://pykeen.readthedocs.io/en/latest/first_steps.html) which will get you training your first model in a few

[2020-06-25 14:58] cthoyt commented on #2
Dear @isspek, thank you for your patience. We have just made a massive release of PyKEEN v1.0 today, and this will hopefully help you a lot!

You can check the ["bring your own data"](https://pykeen.readthedocs.io/en/v1.11.0/byo/data.html) section of the tutorial for a bit of an idea on how you can do this with our new interface. Then, the specific class that will help you load custom triples is t

[2020-06-26 07:10] sharifza commented on #3
Hi @robertanto, I think you have mistaken Knowledge Graph embedding models with Graph Conv Neural Networks. Although as @cthoyt mentioned, R-GCN is based on Graph Conv Neural Networks, I'm not sure if your question is directed specifically to that model. If my assumption is right, I would direct you to [this](https://arxiv.org/pdf/1503.00759.pdf) and [this](https://arxiv.org/abs/2006.13365) paper.

[2020-06-26 08:06] isspek commented on #2
Dear @cthoyt, thank you so much for new update. I will check and give feedback if I have some issues.

grüße aus Koblenz :D

[2020-06-26 08:06] #2 closed, assigned to nobody

[2020-06-26 16:29] cthoyt opened #12 "Add novel link prediction pipeline"
Given an entity, its position (either head or tail), and a relation, return a ranked list of all entities and their scores. It should be clear if higher score or lower score means more likely to be a real edge. We might want to have it automatically filter out entities corresponding to edges already in the original knowledge graph.

This should be implemented in the top-level Model class, as all m

[2020-06-26 22:35] robertanto commented on #3
Thank you both @sharifza and @cthoyt !

Yes, for me the R-GCN model is a sufficient example.

[2020-06-26 22:35] #3 closed, assigned to nobody

[2020-06-26 23:38] mali-git commented on #12
The behavior should be the same for both approaches. But the user should be aware that if the model was trained based on the LCWA training approach (in combination with 1:N-scoring), that for each (h,r)-pair for which a triple exists in the KG, all (h,r,t_i) that are not part of the KG have been considered as false examples during training. Therefore, asking the model to provide predictions for su

[2020-06-27 12:50] cthoyt opened #14 "Improve interpretability of interaction function"
Since each interaction model has a different range (e.g., the values of some interaction functions could be between [-inf,inf], some could be [0, inf], some could be [0, 1]), it makes the interpretation difficult. Even worse, this also has to do with interaction models' constrains on embeddings, etc.

It would be good for all interaction functions to define an "interpretation function" that remaps

[2020-06-27 12:57] cthoyt opened #15 "Add ConceptNet"
Issue #2 brought attention to the [ConceptNet](http://conceptnet.io/) as a possible dataset to include with PyKEEN. They provide a tab-separated dump of the database [here](https://s3.amazonaws.com/conceptnet/downloads/2019/edges/conceptnet-assertions-5.7.0.csv.gz). It is not pre-stratified into training/testing/evaluation sets.

Because this file has additional columns besides head, relation, and

[2020-06-30 08:26] mberr commented on #12
In our framework, we always treat higher scores as higher likelihood.

:+1:

For point-wise loss functions, the score are calibrated across different `(h, r)` / `(r, t)`-pairs (since we have a fixed "target value" for each triple during training). For pairwise loss functions, this is not the case, and during training we only imposed a meaningful order between tail entities for the same `(h,r)` (an

[2020-06-30 08:34] mberr commented on #16
This is WIP, so the format may change. In particular, currently it is a mixture of JSON-like dictionaries and pandas.DataFrame

[2020-06-30 08:57] mberr commented on #16
@cthoyt The review request is in particular regarding where to place the code within the library.

[2020-06-30 10:41] cthoyt commented on #16
Yeah that's a fine place to put it. if it starts having TriplesFactory-specific code, then you can make another one in `pykeen.triples`

[2020-07-01 22:49] cthoyt commented on #16
Let's take this PR as a time to start writing doctests (instead of jupyter notebooks, that might get out of sync).

@mberr are you familiar with those?

[2020-07-01 22:53] cthoyt opened #19 "Add Fractional Hits@K Documentation"
Since #17 was merged before I got a chance to make a fuss about there not being documentation, it needs to be revisited.

1. Since you touched it last, you're responsible for writing the documentation for the `RankBasedEvaluator.__init__()` which should include explanations of what all parameters do (`ks` and `filtered`) as well as an explanation of integer hits@k versus fractional hits@k. Referen

[2020-07-02 07:50] mberr commented on #16
https://docs.python.org/3.8/library/doctest.html ? :wink: Any reason why we should prefer them over "normal" unittests?

[2020-07-02 13:04] cthoyt commented on #16
If they're short and just show off basic functionality, then it also serves as examples for how users might want to use it. I think showing just the results of describe_dataset or describe_triples would be helpful. I will make a small commit showing what I mean

[2020-07-02 13:17] cthoyt opened #20 "New hyperbolic models: RotH, RefH, AttH"
**On which paper(s) is your requested model based.**

Low-Dimensional Hyperbolic Knowledge Graph Embeddings
Chami *et al.* (2021)
https://arxiv.org/abs/2005.00545

**List the original and other existing implementations of this model**
Official pytorch implementation: https://github.com/HazyResearch/KGEmb
Tensorflow implementation: https://github.com/tensorflow/neural-structured-learning/tree/maste

[2020-07-02 14:00] cthoyt commented on #16
Okay after attempting to make doctests, I came to the conclusion that the user will not understand how to use these functions or to interpret their output. What do you expect a user to do? Where is that communicated?

[2020-07-02 15:03] #12 closed, assigned to cthoyt, sharifza, lvermue, mali-git

[2020-07-02 15:06] mberr commented on #16
That's why it's labeled as draft :wink: I'd like to collect things you may want to know from a dataset.

I added two directions here (which are not yet finished; only "drafted"):
* Entity/Relation frequencies (and their distribution)
* Entity / Relation co-occurence (which may be seen as a form of pseudo-typing, e.g. entity A is something which can be a head of `born_in`)

Feel free to add anythin

[2020-07-03 10:05] LFGUzL opened #22 "R-GCN raises Optuna error"
If I select the RGCN model, the trials return None:
Optuna __init__() got an unexpected keyword argument 'base_model_cls'  ...
Choices for a categorical distribution should be a tuple of None, bool, int, float and str for persistent storage but contains <function symmetric_edge_weights at 0x2aac1328bb90> which is of type function.
Is there something I didn't realize? With other models it works fin

[2020-07-03 10:21] sharifza commented on #22
Thank you for your feedback @LFGMUW. Our current RGCN model has some issues. We have a new implementation of RGCN under way which will solve this issue together with some others. Stay tuned :)

[2020-07-03 21:24] wwymak opened #23 "Add installation notes for plotting libraries"
`matplotlib`, `seaborn` and `word_cloud` are needed for some of the plotting functionality and it would be useful to list them as optional installs in the documentation.

[2020-07-04 18:31] wwymak opened #24 "RotatE does not run on gpu"
RotatE throws a cpu/gpu tensor mismatch error on the optimizer step when running on gpu
[code]

**To Reproduce**
running this simple code snippet on a gpu machine
[code]

**Environment (please complete the following information):**
 - OS: ubuntu 18.04
 - Python version: 3.7
 - Version of this software: 1.0.2dev
 - Versions of required Python packages: # run pip list | grep -Eiw 'torch|numpy|Click|

[2020-07-04 19:05] cthoyt opened #25 "Add reasonable defaults for NSSA Loss"
Right now, the `margin` and `adversarial_temperature` parameters do not have a default for NSSA loss. We need to pick reasonable ones and set it.

[2020-07-05 17:38] mberr commented on #20
Related: https://arxiv.org/abs/1905.09791 (#343) (and https://arxiv.org/abs/1705.08039, which is only uni-relational)

[2020-07-05 17:46] cthoyt commented on #20
Yup we had issues in the development repo for those too. Since these guys did it in pytorch, I figured it would be relatively straightforwards to include them

[2020-07-05 18:11] mberr commented on #24
Thanks for reporting this issue, @wwymak !

There is now a pull request which will fix this issue: #26.

[2020-07-05 18:24] mberr commented on #25
From https://arxiv.org/abs/1902.10197, where this loss was proposed, they optimize these hyperparameters in the following ranges:
* self-adversarial sampling temperature `alpha \in {0.5, 1.0}`
* margin `gamma in {3, 6, 9, 12, 18, 24, 30}.`

The chosen parameters by the authors for FB15k, FB15k-237, WN18, WN18RR can be found at https://github.com/pykeen/pykeen/tree/master/src/pykeen/experiments/rot

[2020-07-06 11:13] cthoyt opened #27 "Improve Modularization of R-GCN"
Make Block and Bases Decomposition are individual modules so the R-GCN class is agnostic to the chosen relation matrix decomposition.

Move the PR from https://github.com/mali-git/POEM_develop/pull/529

[2020-07-06 11:23] cthoyt opened #28 "Save to FTP"
Add FTP saving to pipeline results and HPO results classes

Move from https://github.com/mali-git/POEM_develop/pull/478/files

[2020-07-06 18:55] #24 closed, assigned to mberr

[2020-07-06 21:42] codecov-commenter commented on #29
## [Codecov](https://app.codecov.io/gh/pykeen/pykeen/pull/29?dropdown=coverage&src=pr&el=h1&utm_medium=referral&utm_source=github&utm_content=comment&utm_campaign=pr+comments&utm_term=pykeen) Report
:white_check_mark: All modified and coverable lines are covered by tests.
:white_check_mark: Project coverage is 69.16%. Comparing base ([`cc31ace`](https://app.codecov.io/gh/pykeen/pykeen/commit/cc31a

[2020-07-06 21:55] mali-git opened #30 "Facilitate HPO for customized datasets"
Enable the use of the HPO helper-functions for customized datasets.

[2020-07-07 08:56] cthoyt commented on #31
@Kapp1 Why have you duplicated an active pull request?

[2020-07-07 08:57] cthoyt commented on #32
@Kapp1 Why have you duplicated an active pull request? There's also major issues with the commit history. I'm going to close this

[2020-07-07 09:21] Kapp1 commented on #32
Sorry for that  I am, and I had a problem, but it was solved."🙏🏻

[2020-07-07 09:33] Kapp1 commented on #31
@cthoyt i do no why no install pip i up python3 i try..I apologize again .. I am a beginner

[2020-07-07 10:05] mali-git commented on #32
Hi @Kapp1,

thanks for your effort! Could you please create a new PR with the specific changes that you suggest?

[2020-07-07 10:14] cthoyt opened #33 "Update Optuna to 2.0.0"
You thought the 1.5 upgrade was confusing? Get ready for 2.0.0!

<blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="en" dir="ltr">The release of v2.0 is approaching and we are going through the final details 🎯 Let us know if you need any last minute fixes or changes through this release candidate.<br><br>pip install optuna==2.0.0rc0<a href="https://t.co/4K8Oyc5a2K">https://t.co/4K

[2020-07-07 10:22] cthoyt opened #34 "Add default HPO ranges to loss classes"
Since all classes are now implemented directly in PyKEEN, we can move the default HPO ranges into the classes themselves rather than in the external dictionary

[2020-07-07 12:51] cthoyt opened #38 "Save to AWS S3"
Enable saving of models to AWS S3 using `boto3`. Will look very similar to the results from #28.

[2020-07-07 12:52] #25 closed, assigned to nobody

[2020-07-07 14:06] #23 closed, assigned to cthoyt

[2020-07-07 14:07] cthoyt commented on #23
@wwymak documentation updates have made it to the README. when we push the next version to PyPI (before the end of the week) these changes will be reflected for all users

[2020-07-09 22:08] #28 closed, assigned to cthoyt

[2020-07-09 22:09] cthoyt commented on #40
@mberr it seems this has broke some of the early stopping tests

[2020-07-09 22:21] mali-git commented on #31
Hi @Kapp1,
I think something went wrong here :)

[2020-07-10 00:02] #38 closed, assigned to cthoyt

[2020-07-10 08:11] mberr commented on #40
@cthoyt The remaining issue with the pipeline is caused by `mlflow` not being installed in the test environment (most likely since it is an optional dependency). Could you please take a look at it? :slightly_smiling_face:

[2020-07-10 10:12] cthoyt commented on #40
@mberr check https://github.com/pykeen/pykeen/pull/40/commits/e2095da9d249a78f0287f524b31d6acdcb33cbe7 - this shows how to include optional dependencies in the tests!

[2020-07-10 10:29] mberr commented on #16
@cthoyt I started adding example use cases for `entity_count_dataframe` and `relation_count_dataframe` into the docstrings.

[2020-07-10 13:14] cthoyt opened #43 "Add MLFlow tutorial"

[2020-07-10 17:12] cthoyt commented on #44
Can you report these new results in addition to the old style ones? Or is this a good time to completely stop reporting combined results?

[2020-07-10 17:33] mberr commented on #44
In the current implementation I report "head", and "tail", which are for the one-sided evaluation, as well as "both" with uses both, and is equivalent to the "old" version.

[2020-07-10 17:35] #43 closed, assigned to mberr

[2020-07-10 18:29] cthoyt commented on #44
Can we come up with a simple metric to aggregate head/tail for each? Like for each metric, report the percentage difference between head/tail? So if it's small, it means there are no directionality problems, and if it's big, then there are

like for example, in mean rank, we could also calculate standard deviation/variance of rank. Then we have two means and two stds, so we could do a statistical

[2020-07-10 23:29] cthoyt opened #45 "Implement square error loss"
Blocked by #18

The  square  error  loss  function computes the squared difference between the predicted scores and the labels l_i ∈ {0,1}:

L(t_i,l_i) = (1/2)(f(t_i)−l_i)^2

The  squared  error  loss  strongly  penalizes  predictions  that deviate  considerably  from  the  labels,  and  is  usually  used  for regression problems. For simple models it often permits more efficient optimization algo

[2020-07-10 23:34] cthoyt opened #46 "Implement Pointwise Hinge Loss"
Blocked by #18

The pointwise hinge loss sets the score of positive examples larger than a margin parameterλwhile  reducing  the  scores  of  negative  examples  to  values below−λ:

L(t_i,l_i) = max(0,λ−ˆl_i * f(ti))

where ˆl_i ∈ {−1,1}. The  loss  penalizes  scores  of  positive examples which are smaller than λ, but does not impose any restriction on value s> λ. Similarly, negative scores larg

[2020-07-10 23:36] cthoyt opened #47 "Implement Pairwise Logistic Loss"
Blocked by #18

The pairwise logistic loss is defined as:

L(∆) = log(1 + exp(∆))

Thus, it can be seen as a soft-margin formulation of the pairwise hinge loss (MRL) with a margin of zero.

[2020-07-10 23:38] cthoyt opened #48 "New Setwise Loss(es)"
Blocked by #18

Cross entropy loss and NSSA loss are the only two setwise loss formulations described in our paper. Its also a bit confusing becuase technically in the implementation, NSSA loss is inheriting from `PairwiseLoss`. Are there other setwise loss functions we could add, so there's more than 1?

[2020-07-11 21:04] wwymak opened #49 "device mismatch between triples and model when model is in inference mode"
**Describe the bug**
for a model trained on gpu, when I do `model.predict_tails(...) it gives an error of

[code]
(not sure if the model should always be on the cpu? but if so would be nice to update the docs to point this out, since if I trained the model on gpu I should expect to be able to do inference on the gpu as well?)

**To Reproduce**
Steps to reproduce the behavior:
1. train a model on g

[2020-07-11 22:42] mali-git commented on #49
Thanks @wwymak for pointing this out!
PR #51 will fix the issue.

[2020-07-12 08:02] mberr commented on #44
I am not sure whether the numbers are directly comparable, since they evaluate a different problem (e.g. "predict where Max was born" vs. "predict a person born in Germany"). When using filtered evaluation, we thus also end up with having a different number of choices remaining after the filter step. The latter could be solved by looking at the adjusted version of mean rank.

Again, I not sure abo

[2020-07-12 08:36] mberr commented on #45
Besides the 1/2 term this should be MSELoss

https://github.com/pykeen/pykeen/blob/ef83e7e45515e00e0cfcf0cbaee132923999d691/src/pykeen/losses.py#L132-L141

[2020-07-12 15:01] cthoyt commented on #45
Oh whoops, I missed that. Why did we include the 1/2 in the paper but not in the implementation?

[2020-07-13 18:49] cthoyt commented on #49
A fix in the mean time is to do:

[code]

[2020-07-13 21:59] mali-git commented on #49
If the finalization of PR #51 requires more time, we could consider merging PR #50.

[2020-07-14 07:20] mberr commented on #45
Sorry for the belated answer; I somehow missed the notification.

The 1/2 is often added in front of squared loss in order to have a nicer derivative for analytical derivations (since it cancels the `2*...` of the `...^2` derivative). For the location of the minimum is does not play a role (since `argmin f(x) = argmin c*f(x)` for `c != 0`).

[2020-07-14 09:16] #49 closed, assigned to mali-git

[2020-07-14 13:05] cthoyt commented on #44
@mberr are there any other goals for this PR? Otherwise you should have @lvermue check it over

[2020-07-14 13:06] cthoyt opened #53 "Tutorial on using PyKEEN with a GPU in Google Colab"
needs step-by-step tutorial with screenshots

[2020-07-15 07:24] mberr commented on #44
@cthoyt Ready from my side for Squash & Merge.

[2020-07-21 10:39] mberr commented on #44
@cthoyt Sidedness is something which could also be done for e.g. the sklearn based metrics :slightly_smiling_face:

[2020-07-21 10:41] cthoyt opened #55 "High-level description of performance optimizations"

[2020-07-21 10:42] cthoyt commented on #44
@mberr thanks for adding the write-up. Will merge when travis passes!

[2020-07-21 10:52] codecov-commenter commented on #44
# [Codecov](https://codecov.io/gh/pykeen/pykeen/pull/44?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/pykeen/pykeen/pull/44/graphs/tree.svg?width=650&height=150&src=pr&token=5QeixtC1m8)](https://codecov.io/gh/pykeen/pykeen/pull/44?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/pykeen/pykeen/pull/44?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [src/

[2020-07-21 11:01] cthoyt commented on #51
@mberr i just added a todo for each of us. I think we should include a specific implementation for scoring all possible triples. hopefully theres a fast way we can do this when we know we're doing it for everything

[2020-07-21 11:58] mberr commented on #51
@cthoyt Scoring all possible triples quickly gets infeasible: For a smaller dataset such as FB15k-237, we already have 53,325,000,000 possible triples.

[2020-07-21 12:03] cthoyt commented on #51
Hmm good point. I'll just write a short tutorial on how somebody could go about doing that, if they wanted

[2020-07-21 12:13] mali-git commented on #57
_In the long term, I would like to have everything label-based in an own component and optional._

I can imagine what the reasoning behind this approach is.
However, I think it is better to have everything label-based as default setting (which is  especially advantageous for non-experts) since computing KGEs based on link prediction is often the starting point, i.e., the user only has a set of un-

[2020-07-21 12:53] dobraczka opened #58 "Index out of range in PyTorch embedding using own data"
**Describe the bug**
I am trying to use pykeen on my own data and following the BYOD section of the docs I am doing the following:
[code]

Unfortunately I get the following:
[code]
Loading e.g. the kinships dataset this way (i.e. concatenating train.txt, test.txt, valid.txt into a single file to have the same setting) I do not get this error. I have attached the data, which is a simple three-colum

[2020-07-21 13:05] cthoyt commented on #58
@dobraczka ~can you provide example data that causes this?~ My bad, I see you connected it! We had a similar issue that we were pretty sure was solved by https://github.com/pykeen/pykeen/pull/21

Update: I was able to confirm this error with a clean install of PyKEEN version 1.0.2

[2020-07-21 13:11] mberr commented on #57
So there is nothing which speaks against
[code]

and let `TriplesFactory` delegate everything to `IDBasedTriplesFactory`, and extend e.g. `pipeline` to accept `IDBasedTriplesFactory` as well. We can still keep the label-based factories, but we extend it to cases where we do not care about the labels (since pykeen is used as a library rather than a stand-alone).

EDIT: To clarify my intent: I do no

[2020-07-21 13:23] mberr commented on #51
An easy option would be to use e.g. `predict_scores_all_tails` in a huge for-loop:
[code]

_Disclaimer_: Written in browser, so no guarantees :wink:

[2020-07-21 19:13] #58 closed, assigned to mberr

[2020-07-22 08:02] mberr commented on #51
@cthoyt I added an implementation to get the top-k triples. While this is still prohibitively expensive in terms of required computation for reasonably sized datasets, it fixed the memory issue of needing to store all scores.

[2020-07-22 08:03] mberr commented on #51
The proposed implementation is model-agnostic.

For specific interaction functions, we could design more efficient ways to compute the highest scoring triples (e.g. using NN search in embedding space for distance-based models). This solutions would however be specific to an interaction function.

[2020-07-22 08:05] mberr commented on #51
Regarding the unittest: I put it into the DistMult unittest, since the `predict_top_k_triples` method relies on `predict_scores_all_tails`, which is tested for all models, but testing `predict_top_k_triples` for all models may get expensive (in particular for slower models such as ConvKB).

[2020-07-22 12:12] cthoyt commented on #16
Needs a tutorial page explaining to end users:

1. Why should they use this code?
2. How to use it in the most common ways

[2020-07-23 16:17] cthoyt opened #60 "Enable checkpoint saving in pipeline()"
Give a directory and periodicity, save the model at the given state every x epochs into a new folder in the directory

[2020-07-23 17:25] mberr commented on #51
What about keeping everything ID-based based, and have _one_ method which convert a tensor of <del>triples</del> ID-based triples to the desired dataframe? Using IDs ensures everything is fast.

I still do not see a real use case where returning _all_ triples is desirable except maybe on some dummy KGs. That being said, you can easily make `k` optional and return all triples by modifying

https://

[2020-07-23 18:02] codecov-commenter commented on #51
# [Codecov](https://codecov.io/gh/pykeen/pykeen/pull/51?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/pykeen/pykeen/pull/51/graphs/tree.svg?width=650&height=150&src=pr&token=5QeixtC1m8)](https://codecov.io/gh/pykeen/pykeen/pull/51?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/pykeen/pykeen/pull/51?src=pr&el=tree) | Coverage Δ | |
|---|---|---|
| [src/

[2020-07-24 11:57] mberr commented on #51
Please wait with merging until I (or someone else) did check whether the code works on GPU :slightly_smiling_face:

[2020-07-24 12:32] mberr commented on #51
I ran it on GPU. For FB15k237 it took around 7 minutes to compute all scores, and keep the `2**16` most likely triples (on RTX2020, DistMult, default pipeline settings).

It might be worth to filter the known triples while computing scores similar to the filtered evaluation setting. Also we may be able to re-use the batch size optimization.

[2020-07-24 13:28] lvermue opened #61 "Add filtering and memory optimization to novelty computation"
In #51 the novelty computation is introduced.
To enhance the computational efficiency and usability, automatic memory optimization as well as filtering has to be implemented.

[2020-07-24 23:48] lvermue commented on #56
@mberr I think that this covers most of what we've done so far.
There definitely has to be done some fine-tuning to the formatting and notation.
Anyway, any comments are welcome :)

@cthoyt Your scrutiny is welcome as well :)

[2020-07-25 12:25] mberr commented on #56
I revised the first part about the TriplesFactory / ID-based triple representation. It would be nice to properly link to the properties of `TriplesFactory ` such as `entity_label_to_id`, etc.

[2020-07-25 12:27] mberr commented on #56
I am not sure whether this is the correct place, but somewhere we should also highlight the risk of manually modifying label-to-ID mappings, and the necessity of keeping the mappings consistent between train/test/validation.

[2020-07-25 20:55] cthoyt commented on #56
@mberr ive written a bit about this in the "bring your own data" tutorial and also made some improvements to it in #54 that haven't yet been merged

[2020-07-27 12:06] mberr commented on #51
@cthoyt I extended the `tensor_to_df` method to take any number of additional (single) columns which will be passed through to the dataframe.

[2020-07-27 13:43] mberr commented on #57
@cthoyt I added a draft for splitting all label-to-ID / ID-to-label parts into a separate object.

[2020-07-30 12:29] cthoyt commented on #52
@mberr can you check out the failing test? It is failing because of the embeddings' ranges

[2020-07-30 13:30] mberr commented on #52
@cthoyt I could not reproduce the failure locally. However, since the default absolute tolerance is `0`, and we are comparing floating point numbers, I set the absolute tolerance to `1.0e-06` in 7281851 .

[2020-07-31 09:31] #33 closed, assigned to cthoyt

[2020-07-31 10:07] mberr commented on #57
@cthoyt I ran a small benchmark on YAGO310 (the largest dataset).

[code]

with the following result

| property                     |    time [s] |   size [byte] |
|------------------------------|-------------|---------------|
| _vectorized_entity_labeler   | 2.61530E-02 |   4.80000E+01 |
| _vectorized_relation_labeler | 4.97007E-06 |   4.80000E+01 |
| entity_id_to_label           | 1.20181E-02 |

[2020-07-31 10:15] mberr commented on #57
@cthoyt I went for the `__post_init__` variant, cf. dac6e5c

[2020-08-06 12:45] cthoyt commented on #56
@lvermue I made edits for clarity and improved the notation used to be a bit more consistent. Maybe you want to look into the algorithm at the bottom of "Filtering with Index-based Masking" to decide if you think this needs more notation, or if it's okay just as text

[2020-08-07 08:54] Crissman opened #67 "Adding PyKEEN to Optuna project list"
As suggested, we're adding a list of projects that include Optuna to our docs. Can you confirm you're ok with this reference and the URL here? https://github.com/optuna/optuna/pull/1605

Thanks!

[2020-08-11 09:27] mberr commented on #57
A currently unresolved problem is the handling of inverse relations: Until now, they where handled on the label-based triples, witnessed e.g. by the map from relation (labels) to their inverse relations. Also we have code to try to infer whether inverse relations are already presented based on checking the relation labels.

However, in the initially mentioned use-case, I still might want to use in

[2020-08-11 22:44] cthoyt commented on #68
Thanks @migalkin for the PR. As is customary with all new features, I'd ask that you write a tutorial appropriate for users who are familiar with PyKEEN, but might not be aware of Weights and Biases. It should cover the following:

1. Installing/running Weights and Biases. I think it's actually a web service, so this should walk the user step by step on how to register and get an API key
2. How a

[2020-08-11 23:30] cthoyt commented on #67
@Crissman I already wrote on https://github.com/optuna/optuna/pull/1605, so i'm going to close this one here

[2020-08-11 23:30] #67 closed, assigned to nobody

[2020-08-12 08:04] mali-git commented on #69
Despite my question, it looks good to me, thanks!
@mberr, as far I see, if we don't define a tracker, we will use the base `ResultTracker` which does nothing.

[2020-08-12 11:38] cthoyt commented on #68
~Please add an extra requirement in the `setup.cfg` and update the readme's explanation of extras~

I toke care of this in 954bf83

[2020-08-12 11:39] cthoyt commented on #69
@mberr mehdi is correct - if nothing is defined, then the dummy tracker is used.

[2020-08-12 11:40] cthoyt opened #70 "Automate tracker options in CLI"
Can we generalize this part?
We should consider that we could also pass `experiment_id`, and `experiment_name` to the MLFlow tracker.

_Originally posted by @mali-git in https://github.com/pykeen/pykeen/pull/69_

[2020-08-12 11:41] cthoyt commented on #70
@mali-git this will make more sense after #68 is merged because we will be able to see the exciting variety

[2020-08-12 14:38] cthoyt commented on #56
@mali-git @mberr thanks for looking at this, but lets still wait for @lvermue to see if he's happy

[2020-08-12 16:10] mberr commented on #51
@cthoyt : @lvermue will also take a look at it, and see how it can be merged with the filtering code from evaluation :slightly_smiling_face:

[2020-08-12 16:22] cthoyt commented on #51
Great! Do we want to hold the Pr for that though? Or do another one later?

[2020-08-12 16:28] mberr commented on #51
I added a Python-only quick-and-dirty variant, so we can merge this one without introducing unnecessary delay - when you go for computing scores for all triples you may face performance issues anyway :wink:

[2020-08-12 16:31] mberr commented on #51
These notebooks really blow up the diff-count :confused:

[2020-08-12 17:42] cthoyt commented on #51
@mberr I just got this error from the following code

[code]

[code]

I think `q` needs to be `tuple(q)`

[2020-08-12 17:46] cthoyt commented on #51
Doing `tuple(q)` fixed it!

[2020-08-12 23:51] #55 closed, assigned to nobody

[2020-08-17 12:15] cthoyt opened #73 "Add 5* Model"
**On which paper(s) is your requested model based.**

https://arxiv.org/abs/2006.04986

**List the original and other existing implementations of this model**

No link provided in the paper

**Relevance of this model**

This model is a logical successor of RotatE, ComplEx, etc. @mali-git can also probably the authors to help implement it in PyKEEN since they're in his group

**Ability to help and

[2020-08-18 05:58] Woooooody opened #74 "Could you publish some experimental results ？"
I got the result of TransE on WN18RR dataset as follows,  with 100 epoch and default parameter settings.

mean_rank={'best': 7396.350889192887, 'worst': 7396.3558481532145, 'avg': 7396.353368673051}, mean_reciprocal_rank={'best': 0.11426725607718224, 'worst': 0.11426725590337292, 'avg': 0.1142672559902559}, hits_at_k={'best': {1: 0.0032489740082079343, 3: 0.19493844049247605, 5: 0.2481190150478796

[2020-08-18 08:17] mali-git commented on #74
Hi @Woooooody,
we have made all our experimental artifacts available at https://github.com/pykeen/benchmarking.
The best TransE configuration that we found for WN18RR is available at https://github.com/pykeen/benchmarking/tree/master/ablation/results/transe/wn18rr/random/adam/2020-05-20-03-15_00b22931-c88f-4d90-a606-c94a31a80516/0003_wn18rr_transe/best_pipeline.
Please note that we re-named the OW

[2020-08-18 08:18] #74 closed, assigned to nobody

[2020-08-18 08:59] Woooooody opened #75 "How to use the trained model to predict ？"
After I train the model on my own dataset,  I got a file named  `trained_model.pkl` ,how to load the saved model and use it to predict?

[2020-08-18 09:35] mali-git commented on #75
Hi,
you can load a trained model as follows (https://pytorch.org/tutorials/beginner/saving_loading_models.html):
[code]

[Here](https://github.com/pykeen/pykeen/blob/master/notebooks/hello_world/Hello%20World!.ipynb) we provide a tutorial of how to introspect a trained model and how to make predictions.

We provide further functions to make predictions, e.g., `predict_scores()`, `predict_scores_al

[2020-08-18 09:48] mali-git commented on #75
A further example of how to make predictions can be found [here](https://pykeen.readthedocs.io/en/latest/tutorial/making_predictions.html).

[2020-08-19 15:28] cthoyt commented on #75
I would definitely suggest using the models from the tutorial from Mehdi's second post. If you're very comfortable with PyTorch, you might consider going into the guts he described in his first post.

[2020-08-24 08:33] Woooooody commented on #75
Thank you so much, great work ：）

[2020-08-24 08:33] #75 closed, assigned to nobody

[2020-08-25 08:24] mberr opened #79 "Fix usage of nonzero for PyTorch 1.7+"
**Is your feature request related to a problem? Please describe.**
The usage of `Tensor.nonzero()` (without arguments) has been deprecated, cf. https://github.com/pytorch/pytorch/pull/40187

At least in

https://github.com/pykeen/pykeen/blob/630d8721fdb3a830a25be01a531bac436787fd96/src/pykeen/evaluation/evaluator.py#L360

we use the now deprecated version.

**Describe the solution you'd like**
Cha

[2020-08-25 11:16] cthoyt opened #80 "New split algorithm for constrained evaluation"
I suppose you mean the triples containing entities which are not in `evaluation_entity_whitelist`? We could think about this, but it would change the split ratio of the subsets' number of triples.

Maybe we add this functionality in our splitting functionalities (and emit appropriate warnings)? Or we look at it from a different perspective: we first split all triples of interest by `split_ratio`.

[2020-08-25 12:07] cthoyt opened #82 "Update models using complex numbers"
As of the PyTorch 1.6 [release](https://pypi.org/project/torch/1.6.0/) on July 28th, 2020, there is a native type for tensors of complex numbers (see: https://pytorch.org/docs/stable/complex_numbers.html)

From @mberr: Referencing the 1.7.1 release tracker here, in case they mention something about it: https://github.com/pytorch/pytorch/issues/47622

It would be interesting to test updated impleme

[2020-08-25 16:19] cthoyt opened #84 "Report marginal evaluation metrics"
In the opposite scenario to #62/#83, we want to report several different sets of metrics based on each relation type. For example, for hetionet, you might want to specify edges or groups of edges to evaluate together:

[code]

- It should theoretically possible to have duplicates appearing throughout the subsets.
- `None` should be a special entry that groups everything you haven't considered. May

[2020-08-31 09:54] LFGUzL opened #85 "Details on how to reproduce experiments"
Can you perhaps help me realize how I can use your framework properly? I tried following the documentation on how to train and evaluate embedding models in pykeen but after the OpenBioLink Dataset caused CUDA oom issues (partly because for most models slicing is not implemented or can I adapt any parameters to fit it?) (sidenote: how are the OBLF1 and F2 supposed to me used?) and I did not get the

[2020-08-31 10:40] mali-git commented on #85
Hi @LFGMUW,

Please consider that OpenBioLink is a comparably large dataset. To avoid CUDA out of memory exceptions, you can reduce the embedding dimension of your model and make use of the [automatic memory optimization](https://pykeen.readthedocs.io/en/latest/tutorial/performance.html#automated-memory-optimization), i.e. `pipeline(model_kwargs=dict(automatic_memory_optimization=True, ...), ...)`

[2020-08-31 12:38] LFGUzL commented on #85
Hi @mali-git,
Thank you for replying to my questions.

Yes,  but I thought since it is built-in there would perhaps be a way of training, I did use using the memory optimization parameter as well and ran it with dimension 50, making it much smaller does not seem promising for the learned embeddings.

Yes, thank  you.  I was hoping there was a way around the issue of memory constrains seeing that y

[2020-08-31 12:39] #85 closed, assigned to nobody

[2020-09-02 15:56] mali-git opened #87 "Support only BCEAfterSigmoidLoss and BCEWithLogits but not BCELoss"
Currently, we support `BCE` and `BCEAfterSigmoidLoss`. However, training will fail when training a model with `BCE` because we do not provide the option `predict_with_sigmoid` in the `scort_hrt/h/r/t()` functions (we only support it in the `predict_scores_all_heads/tails/relations()` functions) .

We could remove the support for blank `BCE`, or we need to add the option `predict_with_sigmoid` in t

[2020-09-02 17:19] mberr commented on #87
`BCE` should be [`BCEWithLogits`](https://pytorch.org/docs/stable/generated/torch.nn.BCEWithLogitsLoss.html)

You can either use `BCEAfterSigmoidLoss` **or** `BCEWithLogits`.

[2020-09-13 01:07] xin-zhao0 opened #89 "How do I get the embedding matrix for all entities and relations?"
I'm interested in getting the resulting embeddings of entities and relations.
How to get this, please?
I couldn't find a method which could gives this.
It seems to me that the `PipelineResult `may have a method for this purpose?

[2020-09-14 08:52] mali-git commented on #89
Hi  @xin-zhao0,

`pipeline_result` contains the trained model which contains the embeddings:

[code]
Each row in `entity_embeddings/relation_embeddings` contains the embedding of a specific entity/relation. For instance, `entity_embeddings[0]` returns the embedding of the entity with id 0.

To get the ids of the entites/relations, you can use the internal mappings:

[code]

Putting everything toge

[2020-09-14 12:33] cthoyt commented on #89
@mali-git before we close this, let's add some documentation in the "getting started" tutorial

[2020-09-14 12:35] mali-git commented on #89
Sounds good!

[2020-09-14 16:55] xin-zhao0 commented on #89
Thank you. for models like rescal and some others, there is a relation-specific matrix M. Is that returned in the results as part of the model?

[2020-09-15 08:22] mali-git commented on #89
The relations matrices are also saved in `model.relation_embeddings.weight.data`, but they need to be reshaped. For RESCAL, you can get the relation embedding dimension as follows (please consider that some models have a dedicated `relation_dim` which needs to be used when reshaping the relation-embeddings) :

[code]

[2020-09-24 17:32] JohnGiorgi opened #90 "Bring Your Own Data Examples have a Typo"
**Describe the bug**

In the [Bring Your Own Data](https://pykeen.readthedocs.io/en/latest/tutorial/byod.html) section of the documentation, the results of a pipeline run are saved to the variable `pipeline_result`. Directly after `result.save_to_directory('test_pre_stratified_transe')` is called, triggering an error: `NameError: name 'result' is not defined`.

**To Reproduce**
Steps to reproduce

[2020-09-25 08:04] mali-git commented on #90
Thanks @JohnGiorgi for pointing this out!
We will fix the documentation.

[2020-09-25 11:23] cthoyt commented on #90
Hi @JohnGiorgi, I remember we talked a while ago on your Saber repository. Thanks for the tip, will fix momentarily.

[2020-09-25 11:35] #90 closed, assigned to cthoyt

[2020-09-25 19:16] ChristopherMarais opened #91 "Data format description"
I am having difficulty which format my KG data should be in to be used with pykeen. What is the structure that it should have ?

[2020-09-25 21:57] cthoyt commented on #91
Hi @ChristopherMarais, the format is quite simple - you can have a TSV file with three columns corresponding to the head, relation, and tail. Each row should be a single triple.

The tutorial at https://pykeen.readthedocs.io/en/latest/tutorial/byod.html should help you get started with using your own data. If you've got a specific uncertainty with this, I'd be glad to walk you through it and make

[2020-09-26 08:30] ChristopherMarais opened #92 "Issue with random number generation in TriplesFactory.split"
When trying to use my own data I get the following error. I am not very experienced and don't know how to solve this or why this is happening.

[code]

[2020-09-26 08:31] #91 closed, assigned to nobody

[2020-09-26 08:34] ChristopherMarais commented on #91
Hi thank you for the quick response. I managed to figure out the exact format by looking at the incorporated datasets. however I run into an error when using:

[code]

I started a new issue with this error as the main topic, I'm not sure why it would give that error so I flagged it as a bug.

The error is the following:
---------------------------------------------------------------------------
[c

[2020-09-26 08:56] ChristopherMarais commented on #92
when I manually split my data I am able to use it with the following code :

[code]

There seems to be an issue with the split function built into TriplesFactory.

[2020-09-26 10:44] cthoyt commented on #92
@ChristopherMarais this might be an issue with the type of python you're using. Are you on 32 bit? It would be helpful if you could report the version of OS you're using, the version of Python, and also PyKEEN

It could be the case that windows numpy defaults to 32 bit integers (reference: https://github.com/dask/dask-ml/issues/230#issuecomment-400662112). In that case, the fix for this bug would

[2020-09-28 06:10] PhaelIshall opened #93 "Add example of loading a model from a pickle to "Novel Link Prediction" tutorial"
**Is your feature request related to a problem? Please describe.**
I am trying to run experiments from a landmark. When the experiment runs, the results are config files and pkl file. There are files that contain MRR and Hits@1,3,10.

**Describe the solution you'd like**
I would like to see the predictions, not just the aggregate numerical results (like predictions for all triples). It is not clea

[2020-09-28 06:16] ChristopherMarais commented on #92
I am using :
Windows 10
Python 3.8.3

I wasn't aware that I would not be able to access my GPU from windows. I assumed that if I got all the GPU related packages running like cudatools etc. on my anaconda environment that it would be capable of using my GPU.

what would be the recommended system requirements for using PyKEEN?

[2020-09-28 11:37] mali-git commented on #93
Hi @PhaelIshall

In https://pykeen.readthedocs.io/en/latest/tutorial/making_predictions.html, we explain how to use a trained model to make predictions. A full example of how to load a serialized model and to make predictions can be found at:

https://github.com/pykeen/pykeen/issues/75#issuecomment-675373744

If things are not clear, please let us know!

[2020-09-28 13:45] cthoyt commented on #93
@mali-git this tutorial doesn't have an explicit example of loading a pickle. I will add that

[2020-09-28 13:47] mali-git commented on #93
Thanks @cthoyt!

[2020-09-28 14:59] #93 closed, assigned to cthoyt

[2020-09-28 15:00] cthoyt commented on #93
@PhaelIshall please let me know if the updated documentation from #94 helps you solve your problem. Greetings from Bonn, Germany!

[2020-09-28 15:23] cthoyt commented on #92
Hi @ChristopherMarais thanks for letting me know. I'm not familiar with getting PyTorch up and running on Windows - would you mind sharing how you did it? For example, are you using conda? This would also be useful for us to share with other uses of PyKEEN. Then, in #95 I will try to make sure we have AppVeyor running on each push

[2020-09-28 16:19] ChristopherMarais commented on #92
I am using conda yes.  I used the following command to install pytorch in an environment:

**conda install -c pytorch pytorch**

I can't remember entirely if I had to install cudatools separately too ( I have made so many environments recently).
I do remember having to install some packages before being able to install PyKEEN.
I have attached my exported environment .yml file as an attachment if y

[2020-09-29 15:30] PhaelIshall opened #96 "What is the estimated time of training/running on multiple GPUs?"
**Is your feature request related to a problem? Please describe.**
I have trained some of the models so far by using the parameters in the experiments config files and some of them have taken an hour or less while others timed out after running on our university's supercomputer for over 23 hours. It's a little frustrating because I can't tell if something is wrong and I lose all the progress after

[2020-09-29 15:35] PhaelIshall commented on #93
@cthoyt Yes I see it, I think I can use this. Danke Schön!

[2020-09-29 15:50] cthoyt commented on #96
There isn't any support in PyKEEN for multiple gpus now - in our last two papers we referenced a couple other libraries that have that kind of functionality. We also did a massive benchmarking paper where we reported the training times (and hardware) for many models/dataset combinations. I'm on my phone right now and can't link, but there should be some links to the last two papers on pykeen.githu

[2020-09-29 16:30] PhaelIshall commented on #96
- The benchmarking paper "*Bringing Light Into the Dark: A Large-scale Evaluation of Knowledge Graph Embedding Models Under a Unified Framework*" is summarized here: https://pykeen.github.io/2020/08/07/benchmarking.html ([pdf](https://arxiv.org/pdf/2006.13365))
- The software paper "*PyKEEN 1.0: A Python Library for Training and Evaluating Knowledge Graph Embeddings*" that mentions other libraries

[2020-09-30 17:30] mali-git commented on #96
Hi @PhaelIshall,

Currently, we don't support multi-GPU support. However, it is planned that we will integrate support in the next major release.

For the WN18RR and FB15K-237 experiments, we used Tesla V100s, and for Kinships and YAGO3-10 experiments, we used RTX2080s.

Here you can find an overview of the training time: https://github.com/pykeen/benchmarking/blob/master/ablation/summary/paper/tr

[2020-10-02 08:30] HeikoPaulheim opened #97 "Unexpected Results with Toy Example"
I have created a toy example as follows:
[code]

As far as I understand, there should be a trivial embedding solution in two dimensions (the three entities form a triangle, with the three relations being their connecting vectors). The code I use for this is as follows:

[code]

However, the result looks kind of unexpected:
![result](https://user-images.githubusercontent.com/3635132/94903232-c6fe64

[2020-10-02 10:58] mberr commented on #97
Hi @HeikoPaulheim,

first of all thank you for your interest in knowledge graph embeddings and our library in particular!

The result looks indeed unexpected, but I can see a few possible reasons for it:

1. The model is not converged. To check this, could you please take a look at the losses history? You can do so e.g. by

[code]

*addition from @cthoyt, there's actually a [convenience function](

[2020-10-02 11:23] mberr commented on #92
@ChristopherMarais @cthoyt I think I found a solution to the issue, cf. #98

[2020-10-02 11:26] mberr commented on #92
@ChristopherMarais

I see here https://www.aclweb.org/anthology/I17-2006/ that embedding dimensions could possibly have an effect. I would like to test that through PyKEEN too.

You can change the dimension(s) of the embeddings when creating the model instance. Depending on the interaction model, there may be more than one dimension (e.g. a separate dimension for relation embeddings). You can chec

[2020-10-02 11:45] mberr commented on #96
@PhaelIshall

import torch map_location=torch.device('cpu') model = torch.load('trained_model.pkl') #distmult wn18 predictions_df = model.score_all_triples()
And also by running any predict all_triples experiment on the server I mentioned.

Please notice the comments and warning in the documentation of [`score_all_triples`](
https://pykeen.readthedocs.io/en/latest/api/pykeen.models.base.Model.html

[2020-10-02 11:54] #79 closed, assigned to nobody

[2020-10-02 12:40] cthoyt commented on #97
@mberr will you add a PR with the code for generating that plot? I'm sure other people will find it useful!

[2020-10-02 13:40] mberr commented on #97
The loss plot [is already in the repository](https://pykeen.readthedocs.io/en/latest/reference/pipeline.html#pykeen.pipeline.PipelineResult.plot_losses), although I re-implemented it :see_no_evil:

As for the second plot, its usage seems to be restricted to this toy example, as long as we do not use some [dimensionality reduction strategy](https://scikit-learn.org/stable/modules/unsupervised_reduc

[2020-10-02 13:47] HeikoPaulheim commented on #97
Thanks @mberr! With these changes, I also got it to converge :-)

[2020-10-02 13:53] mberr commented on #97
As an additional information: The default value of `num_epochs` is `5`, which might be more appropriate for larger datasets than for smaller ones.

https://github.com/pykeen/pykeen/blob/852e25e5deb1b16dd4450769d644b7dc18564b4a/src/pykeen/pipeline.py#L789

[2020-10-04 13:47] cthoyt opened #101 "Unit tests rely on internet resources"
Mock mock mock mock

[2020-10-08 09:22] #101 closed, assigned to cthoyt

[2020-10-08 18:23] #92 closed, assigned to nobody

[2020-10-09 21:16] ChristopherMarais opened #103 "RGCN - ValueError: The number of bases should not exceed the number of relations. (explanation)"
I am trying to use the RGCN algorithm and run into the following error.
[code]

I assumed that bases are the same as nodes. When changing the number of relation types to be more than the different number of nodes It seemed to work.

However I want to apply the RGCN approach to a graph with 30 000 different nodes and only 6 different relation types between the nodes. From what I understand about th

[2020-10-10 08:38] mberr commented on #103
Hi @ChristopherMarais ,

`num_bases_or_blocks` is a parameter related to the decomposition of the relation-specific weight matrices (cf. [0], 2.2). There are two different variants:

* bases-decomposition: Each relation-specific weight matrix `W_r` is a weighted combination of set of basis matrices `B_i`
[code]
* block-decomposition: Each relation-specific weight matrix `W_r` is a block-diagonal m

[2020-10-10 16:42] cthoyt commented on #92
@ChristopherMarais thanks for the help and motivation, you'll see that we've got testing working for Windows now as of #95!

[2020-10-11 10:22] cthoyt commented on #97
In #99, I've built on @mberr's code as well as implemented the functionality for generating this plot for arbitrarily large entity and relation embeddings using a choice of dimensionality reduction techniques that come with `sklearn` (e.g., PCA, KPCA, Gaussian Process). It also comes with a user-facing function `PipelineResult.plot()` that does all the hard work and makes this:

![index](https://u

[2020-10-12 09:07] ChristopherMarais commented on #92
Thank you! I noticed that it works now when I use the 1.0.5-dev version.

[2020-10-13 12:15] PhaelIshall commented on #96
@mberr Thank you for your explanation. I narrowed the task down to picking the top 1 tail prediction for every head/relation. I want to be able not only to score the triples but to see the top prediction for each one and manually verify them. This is why I am loading each head/relation from the test file and calling `predict_tails` on them (please let me know if there is another way to do that on

[2020-10-13 13:26] mberr commented on #96
Right now I am not exactly sure whether you want to compute the top tail entities for every possible combination of head and relation, or only those combinations which occur in a list of evaluation triples / pairs.

Assuming you only want to do this for the existing combinations from a set of evaluation triples, and in case you already have the ID-based triples, you can also use them to do batched

[2020-10-13 14:12] PhaelIshall opened #105 "Predict tails results in KeyError"
**Describe the bug**
After training a model on fb15k237 dataset, I tried running a test with  `predict_tails`.

When using this function, I had a KeyError resulting from calling `predict_tails`, this is because the predict function calls this line `head_id = self.triples_factory.entity_to_id[head_label]` which is fetching the dictionary entry for the entity, id pair.

This happened for `/m/05hyf`i

[2020-10-13 15:06] mberr commented on #105
Hi @PhaelIshall .

This is likely caused by a problem with the FB15k-237 dataset: It contains entities in test, which do not occur in any train triple. In our pre-defined splits, we drop such entities, since it is not exactly clear how to score triples with these entities. Thus, you cannot score triples with entities which did not occur in training set.

Moreover, you have to make sure that the tr

[2020-10-13 17:09] PhaelIshall commented on #105
@mberr Thank you for your answer. I have tried both methods and they still result in the same error (still KeyError at '/m/05hyf'). Is it possible that some entities that are not in training have not been dropped in the predefined splits?

[2020-10-13 17:27] mberr commented on #105
Could you please verify that
[code]

If it is not true, you might have picked one of the entities not present in train. In that case, please try another one from `training.entity_to_id.keys()`.

[2020-10-14 00:49] PhaelIshall commented on #105
@mberr This time I did not try to predict from that head/relationship and instead just iterated through the testing set triples as you showed and made a prediction for every pair there. It seems that this pair is in the pykeen test set and not the training set. My understanding was that there are no such triples in the test set split in pykeen?

[2020-10-14 08:50] mberr commented on #105
@PhaelIshall Could you maybe share (again) a (minimal) code example to reproduce the error you are getting now?

[2020-10-14 13:31] ChristopherMarais commented on #103
@mberr
Oh I see, I must have misunderstood the meaning of the variables. I am still learning how many of these techniques work. I mostly have a biological background and have only spent the past 3 months delving into graph theory and all of the embeddings related to it.

I really appreciate how much you guys are helping me with your quick responses.

[2020-10-14 13:31] #103 closed, assigned to nobody

[2020-10-15 09:28] ChristopherMarais opened #108 "Why do embeddings look different for R-GCN?"
I am looking at using the embeddings created by the RGCN model.

I assumed that it is the enriched embeddings. I was just confused because it is slightly different from the other models where I use entity embeddings. I just want to double check. I can test this myself so if you don't feel like answering this issue and just want to close it feel free.

**RGCN**
[code]

**TransE**
[code]

[2020-10-15 12:08] mberr commented on #108
Hi @ChristopherMarais ,

as an initial remark: We are not very happy with the modularization of the RGCN model yet, and will change that in the future.

The RGCN model is indeed different to the other models, since its comprises two components:
* a GCN-like encoder, which takes entity embeddings, and enriches them by combining it with embeddings of their neighboring entities. This combination step

[2020-10-16 08:24] xin-zhao0 commented on #108
For computing the scores as in the `DistMult` model in which I'll need the final embeddings of
entities and relations. How to access such as data and what do you refer to them?
Seems the `enriched_embeddings` are the final embeddings for entities? how about relations matrices ?

[2020-10-16 13:46] mberr commented on #108
You can directly use the `RGCN.score_*` methods to get triple scores from the decoder model on the enriched embeddings.

The enriched_embeddings are used as entity representations, and there is an additional set of relation-specific weights stored in the decoder model, which you can access using `rgcn_model.base_model.relation_embeddings`.

[2020-10-16 17:01] cthoyt commented on #87
Closed b #109

[2020-10-16 17:01] #87 closed, assigned to mali-git, mberr

[2020-10-16 19:03] ChristopherMarais commented on #108
On the topic of extracting post processing information, whenever I run a TransE and TransD model I do not get a hits@1 score. It is always 0. I get hits@3,5 and 10 just not 1.

Is that a bug or is that something to do with the Trans style models? I haven't gone into fully understanding how they work yet.

Here are some graphs to show the outputs that I get for different embedding sizes
[report_emb

[2020-10-19 08:14] mberr commented on #108
Hi @ChristopherMarais ,

I think is is neither a bug, nor something very specific to the Trans* models. Hits@1 is a very strict metric: The correct entity has to occur at the first place in the ranking; If it only occurs at second place, this triple is scored with a zero. Thus, we often observe that it takes a longer time until the model is capable of doing the correct predictions at first place,

[2020-10-19 10:21] kantholtz opened #112 "Support more init arguments and offline mode for WANDB"
**Is your feature request related to a problem? Please describe.**
It is currently not possible to run hyperparameter searches with wandb (which requires `wandb.init(reinit=True, ...)` ) or run experiments in offline mode.

**Describe the solution you'd like**
I have the small adjustments here and can create a pull request: https://github.com/pykeen/pykeen/compare/master...kantholtz:wandb-extensio

[2020-10-19 11:27] cthoyt commented on #112
Is there no better way to set wandb to be in dry run mode other than by setting the environment variable? It seems pretty janky given the other arguments can be passed to init()

[2020-10-19 11:32] kantholtz commented on #112
Yep, seems janky - I agree. But it's both documented that way (https://docs.wandb.com/library/technical-faq#can-i-run-wandb-offline) and pytorch-lightning does it this way also: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/loggers/wandb.py#L121

I have not read the wandb source code though - maybe there is another way?

[2020-10-19 12:51] kantholtz commented on #112
Only found this (quick glance): https://github.com/wandb/client/blob/abc508579c61339dde51ca58bde602bb2bba224f/wandb/sdk/wandb_settings.py#L323

I don't think there is another way.

[2020-10-19 12:56] cthoyt commented on #112
Thanks for the quick reply. I'd appreciate if you could answer one more question: why would you want to do this? To test that logging to wandb works properly?

If you're in the pykeen world then the dummy logger basically serves as the test system. If it's something else, then I'd be happy to know, and add to the wandb tutorial before accepting the PR

[2020-10-19 12:57] cthoyt commented on #112
Also @mali-git @migalkin I'd appreciate if you could weigh in too, being the wandb pykeen masters :)

[2020-10-19 13:09] migalkin commented on #112
There is indeed no better way (as of now) to force a dryrun other than the env variable. The PR would be handy I think

[2020-10-19 13:11] kantholtz commented on #112
First of all thank you very much for the lib and the rapid response!

It is actually a combination of multiple reasons (and maybe I have not understood pykeen good enough and did mistakes):
1. I tried running hpo and that was not possible because `reinit=True` needs to be set (otherwise, wandb assumes multiple trials to be one model - which does not work)
2. Then I tried running hpo with custom da

[2020-10-19 13:32] cthoyt opened #114 "Load datasets via python entrypoints"
While users can mostly implement their own datasets either by:

1. make your own triples factories
2. subclass `pykeen.datasets.DataSet`

Sometimes, they might want to integrate even further. Why not use python entrypoints to load datasets, so users can implement their own datasets that doesn't require any new pykeen or python code functionality for coding?

[2020-10-19 13:55] cthoyt commented on #112
@migalkin thanks for the feedback, this is great.

@kantholtz for your points:

1. It looks like we weren't general enough with the handling of `result_tracker_kwargs` for WANDB. I think the code you wrote takes care of it nicely!
2. Will be addressed in https://github.com/pykeen/pykeen/pull/54 for bring your own data in HPO. This is long standing, and I will have to take care of it soon :)
3. I j

[2020-10-19 14:16] kantholtz commented on #112
Alright, thank you.

I have a small suggestion before doing the PR: I'd like to save the return value of `wandb.init` as a property (e.g. `.run`). This allows to get the properties wandb assigns automatically (e.g. the run's name). It would not interfere with any other result trackers, but it comes in handy for people who use the wandb tracker exclusively. If that's okay with you I would then add

[2020-10-19 14:17] kantholtz commented on #112
I'm looking forward to #54 :)

[2020-10-19 15:16] #114 closed, assigned to cthoyt

[2020-10-19 19:38] cthoyt opened #116 "Write the ablation tutorial"
Originally, #54 was supposed to include a proper tutorial for using the ablation pipeline. However, it still needs work to be useful to a user. therefore, it's been removed from that PR and the rst source is copied below.

TODO: the first paragraph is too much information at once. You have to introduce someone to this stuff
 one at a time. Each one of these should have reasonable defaults.

[code]

[2020-10-20 12:33] cthoyt commented on #103
@ChristopherMarais I'm also a biologist/chemist! Would be curious to see what you're up to if you get the chance to post something on github.

[2020-10-20 12:48] PhaelIshall commented on #105
@mberr Sorry, here is the code I am running that results in an error when used trying to predict on the test set.

[code]
Results in the same error `KeyError: '/m/05hyf'`

The only way to prevent this is to add an if statement in the loop as you mentioned

[code]

This means that in the Pykeen splits for Fb15k237, the entities that are not in training are not dropped?

[2020-10-20 12:52] #112 closed, assigned to nobody

[2020-10-20 13:33] mberr commented on #105
Hi @PhaelIshall .

I just noticed that you use `triples` (label-based) and not `mapped_triples` (id-based). The filtering takes only place when _mapping_ the triples, i.e. transforming label-based to ID-based triples.

A quick fix for your problem is the following modified code directly using the ID-based triples:
[code]

I agree that this is an annoying inconsistency, and we either need to update

[2020-10-20 14:47] #30 closed, assigned to cthoyt, mali-git

[2020-10-21 11:44] #97 closed, assigned to nobody

[2020-10-21 12:10] cthoyt commented on #34
Closed by #111

[2020-10-21 12:10] #34 closed, assigned to cthoyt

[2020-10-21 12:19] cthoyt commented on #112
JSYK @kantholtz  this is all merged and pushed to PyPI for version 1.0.5

[2020-10-29 12:01] fratajcz opened #119 "Why do I get an OOM error during evaluation?"
I have recently starting experimenting with PyKEEN and I have noticed some issues with GPU implementation details.

**Describe the bug**
GPU memory requirement blows up tenfold during evaluation in comparison to training.
This leads to OOM errors after having waited patiently for the training to finish.

**To Reproduce**
Steps to reproduce the behavior:

[code]

Monitor the GPU memory usage during

[2020-10-29 14:27] lvermue commented on #119
Hi @fratajcz

This is the case because in the pipeline configuration you set
`evaluation_kwargs=dict(batch_size=64)`
This means that the evaluation is forced to run with a batch size of 64, which in this case is too big for the memory at hand because the dataset is not small and you activated evaluation filtering, which increases the memory imprint.

I suggest that you omit the line `evaluation_kw

[2020-10-30 13:05] fratajcz commented on #119
Hi @lvermue

Thanks for the response and clarification. I didn't know that it would find the biggest possible batch size itself, that's very handy.

[2020-10-30 13:13] fratajcz opened #120 "hpo_pipeline function does not accept evaluation_entity_whitelist nor evaluation_relation_whitelist"
**Describe the bug**
Probably more a question than a bug again. When I copy the code snippet from your tutorial on https://pykeen.readthedocs.io/en/latest/tutorial/understanding_evaluation.html and run it, I get the error that the hpo_pipeline does not accept the keyword argument "evaluation_relation_whitelist", even though it says so in the tutorial. I have searched the docs for a bit now and cou

[2020-10-30 13:51] cthoyt commented on #120
Hi @fratajcz this definitely sounds like a bug! Thank you for pointing it out!  I'm afk but I will take care of it later today and push a new release if all goes well

[2020-10-30 14:28] cthoyt commented on #119
@fratajcz FYI we've got a list of the clever performance tricks that @mberr @lvermue and @mali-git came up with on https://pykeen.readthedocs.io/en/latest/tutorial/performance.html - many of them are related to memory usage and speed

[2020-10-30 15:35] #120 closed, assigned to cthoyt

[2020-11-02 18:07] mberr opened #128 "Use pathlib.Path instead of str for all internal uses"
[pathlib](https://docs.python.org/3/library/pathlib.html#module-pathlib) offers a high-level API for working with paths. It also allows for clearer type annotations than just `str`. This issues proposes to use pathlib wherever possible. For ease-of-use, users should still be able to provide `str` paths.

[2020-11-03 08:08] kantholtz opened #129 "Occasional OOM Errors after automatic batch size search"
**Describe the bug**
Sometimes, with identical configuration, training aborts because of CUDA out of memory errors. It seems as if it does not abort while the evaluator runs, but after evaluation when training is resumed.

**To Reproduce**
I have yet to find a way to reproduce this.

**Expected behavior**
It should not run into OOM errors ;)

**Environment (please complete the following informatio

[2020-11-03 08:41] fratajcz opened #130 "HPO pipeline: trial fails because returned value is None"
**Describe the bug**
I run a hpo_pipeline and it trains but occasionally the evaluation ends with the following message:

[code]

EDIT: I tried to have a test run on CPU (different pytorch installation), however, on CPU it doesnt even train and every single trial fails with this error message. I am using the same code in both the GPU and the CPU run.

**To Reproduce**
[code]

**Expected behavior**

[2020-11-03 09:10] mberr commented on #129
Tagging @lvermue as he it most familiar with it.

One question beforehand:
The error seems to be logged from a module outside pykeen. Do you allocate any additional tensors outside of it? If yes, and this allocation varies, pykeen will have problems with automatic memory optimization.

[2020-11-03 09:15] kantholtz commented on #129
There is no manual allocation of GPU memory outside of pykeen. I simply instantiate a model and three triple factories (using the pykeen api). The training factory is passed to the model and the validation factory is given to the stopper. The test factory is not passed to pykeen at this point and no gpu memory should have been allocated for that.

[2020-11-03 09:41] fratajcz commented on #130
Hi @mali-git ,

you are right, it says `CUDA out of memory. Tried to allocate 794.00 MiB (GPU 0; 10.76 GiB total capacity; 7.31 GiB already allocated; 558.19 MiB free; 9.44 GiB reserved in total by PyTorch)`.

In some cases my GPU and VRAM is not even at 50% for long stretches of time (with 5 jobs concurrently running). And then, with larger embeddings or a different model it goes out of memory wi

[2020-11-03 09:42] lvermue commented on #129
Hi @kantholtz
Thanks for providing more details on this issue.

Based on your comment

and the log you provided it looks like that this always happens after the first time the early stopper ran, but not at later stages.
Can you confirm this?

[2020-11-03 10:01] mali-git commented on #130
Hi @fratajcz,

in general, I would only recommend running multiple HPO-jobs on a single GPU if you have enough insights about the memory consumption of the sampled models configurations (i.e., available GPU-RAM vs. memory consumption of the largest model configuration that can be sampled). Please consider that the memory consumption during training and evaluation will differ most likely, too, sinc

[2020-11-03 11:27] mali-git commented on #130
If you want to run several training-procedures concurrently, you need to set the training and evaluation batch-size yourself and ensure that they don't exceed the available memory. For running a single experiment, the [automatic memory optimization](https://pykeen.readthedocs.io/en/latest/tutorial/performance.html#automated-memory-optimization) ensures that the memory will not be exceeded (assumin

[2020-11-04 12:48] kantholtz commented on #129
Yes, I have a test task running for trying to reproduce this error. So far it crashed twice (with exactly the same stack trace):

[code]

I have added a log statement here: https://github.com/pykeen/pykeen/blob/22d381c79f425b60c21f8247a0634ddd6c48f1e0/src/pykeen/training/training_loop.py#L341(the `starting epoch X` statement):

[code]

In between there have been runs that succeeded. I leave it run

[2020-11-04 14:30] kantholtz commented on #129
_Disclaimer: This code is not using the internal pykeen methods for freeing memory - is there an API endpoint for doing this? Looking at the training_loop file, it does not seem like there is_

It just happened for an evaluation on the test data without any training:

[code]

The code I have used for that:

[code]

The pykeen proposal:

[code]

The embeddings are of size `50`. There are 31496 test

[2020-11-04 14:42] lvermue commented on #129
Can you share the entire script-code that launches the training and evaluation?

Also to exclude the obvious mistakes. Is this the only python process running on that GPU, i.e. you didn't start any second training and/or someone else did on the GPU at hand?

[2020-11-04 14:53] kantholtz commented on #129
Yes, it is definitely the only python process running there.

Mhh, that would be a bit too much as it is not a single script but embedded in a bigger project. I can, however, assure that I do no manual memory allocation, calling torch in any way and only rely on pykeen calls. Some of the code around the error looks like this:

[code]
The `config.resolve` calls basically invoke the pykeen specific

[2020-11-08 03:27] sunny1401 opened #135 "ResultTracker class has no option for logging tags related to the project"
**Is your feature request related to a problem? Please describe.**
When training a model and tracking results, apart from model parameters and metric, I want to add tags (as in MLflow), which would contain the details about data versioning - to ensure reproducibilty. Currently there is no mechanism for the and I have to resort back to use MLflow directly.

**Describe the solution you'd like**
A me

[2020-11-08 03:28] sunny1401 commented on #135
I can work on the issue if you think its a valid issue and if it okay for me to contribute.

[2020-11-08 09:49] mberr commented on #135
Hi @sunny1401.

thanks for offering your help. I think it is a good extension to support MLFlow tags 🙂

Could you create a draft of the proposed changes?

The base class defining the ResultTracker interface can be found here: https://github.com/pykeen/pykeen/blob/ef0be081e00e15d299b1199513aba3702819dd63/src/pykeen/trackers.py#L21-L42

You can extend it by `log_tags` and implement it for the MLFlow

[2020-11-08 09:55] sunny1401 commented on #135
thank you. will do

[2020-11-08 09:58] mali-git commented on #135
Hi  @mberr,

Wandb offers `wandb.config` for saving the experiment configuration:

[2020-11-08 10:00] mali-git commented on #135
I will have a look and provide changes if necessary.

[2020-11-08 18:28] cthoyt commented on #135
@sunny1401 for clarification, is this the thing you're talking about (https://www.mlflow.org/docs/latest/python_api/mlflow.html#mlflow.set_tag)?

To me it looks like this is something that's experiment-wide, so maybe the tags can all get set during the `__init__` function of the [MLFlowResultTracker] class here:

https://github.com/pykeen/pykeen/blob/2c9101c41d1f757a30d5b57cb0d7650f7f60f671/src/py

[2020-11-08 20:16] sunny1401 commented on #135
@cthoyt that is what I am talking about - but they vary from run to run. Each run can have different tags based on what you pass in tags.. I am not sure I get what you mean by "To me it looks like this is something that's experiment-wide,"  but set_tags would basically take in a dictionary of tags and these values are set along with other mlflow inbuilt tag.

I don't think it can be called that wa

[2020-11-10 10:16] fratajcz opened #142 "Logging of TriplesFactory paths in pipeline() is misleading"
**Describe the bug**

I train an hpo pipeline and specify my dataset as triple factories using the training, testing and validation keyword arguments. However, in the logs validation and testing is set to None. This means that either the keyword arguments or the logging don't work correctly.

**To Reproduce**

[code]
logfile shows the following lines:
[code]
**Expected behavior**
It prints the pat

[2020-11-10 10:23] cthoyt commented on #142
Do you get the same error if you use the paths directly in the `hpo_pipeline` function and not the triples factories?

[2020-11-10 10:31] fratajcz commented on #142
@cthoyt yes, i do get the same log output.

[2020-11-10 10:32] cthoyt commented on #142
@fratajcz okay thanks for the feedback. I'm going to look into this now

[2020-11-10 10:40] cthoyt commented on #142
I was not able to reproduce from the current master branch (since you just wrote pykeen 1.0.6, which is unrelease, I assume you're on the most recent)

[code]

Results:
[code]

[2020-11-10 11:06] fratajcz commented on #142
Thanks for looking into this issue. Weirdly, I can't reproduce the error with the code you provided either. However, my paths are correct and I don't get an error during initializing the factories or during training, testing or validation. Is there any way how i can test if my factories deliver the correct triples?

[2020-11-10 11:56] mberr commented on #142
From

https://github.com/pykeen/pykeen/blob/c1a56f50407280df794f6f2a5a7e0e4ff2040161/src/pykeen/triples/triples_factory.py#L230-L232

the output seems to indicate that `path is None`.

[2020-11-10 11:58] mberr commented on #142
@cthoyt I think it is caused by the relation_restriction for evaluation.

[2020-11-10 11:59] mberr commented on #142
https://github.com/pykeen/pykeen/blob/c1a56f50407280df794f6f2a5a7e0e4ff2040161/src/pykeen/triples/triples_factory.py#L660-L666

here, we do not copy the path to the new, restricted, factory.

[2020-11-10 12:04] cthoyt commented on #142
Ah yes. Past Charlie is laughing at us. I think the reason it's that way is it would be a bit misleading to say it's just the path. Maybe I can update the repr to include the entity restriction information

[2020-11-10 12:12] mberr commented on #142
I think a problem is that we cannot pass both, triples and path, to the constructor of TriplesFactory. We should think how to relax that, e.g. not directly use the constructor, but `TriplesFactory.from_path` and `TriplesFactory.from_triples`, and do the check there.

[2020-11-10 12:21] fratajcz commented on #142
Thanks a lot for figuring this out! So i get that the error is due do the internal handling of the path attribute and should not affect the performance?

[2020-11-10 12:22] mberr commented on #135
This issue was closed by #139

[2020-11-10 12:22] #135 closed, assigned to nobody

[2020-11-10 12:23] mberr commented on #142
Yes, as far as I can judge it now, it should only be a problem with displaying the correct path, and not about using wrong triples.

[2020-11-10 15:35] cthoyt opened #146 "TriplesFactory.new_with_restriction() throws an exception when create_inverse_triples=True"
The following code throws the following exception when `create_inverse_triples=True`, but not `create_inverse_triples=False`.

[code]

Gives

[code]

[2020-11-10 15:46] mberr commented on #146
@cthoyt What would be the restriction to use with inverse relations? Should the user explicitly select `inverse_relations`? Maybe not, since it is a model hyperparameter, rather than something in the data itself.

[2020-11-10 15:48] cthoyt commented on #146
🤷‍♀️

i'm fried for today. will figure this out on thursday (tomorrow is Karneval... so yeah no coding will be done)

[2020-11-10 15:54] mberr commented on #146
the problem is that `evaluation_relation_whitelist` contains relations with inverse suffix

[2020-11-11 09:26] mberr opened #148 "`relation_to_inverse` does not contain inverses for all relations."
The test currently fails, since `relation_to_inverse` does not contain inverses for all relations. :thinking:

[code]

_Originally posted by @mberr in https://github.com/pykeen/pykeen/pull/147#issuecomment-725307872_

[2020-11-11 09:32] mberr commented on #148
I think this is caused by re-creating the inverse relations in each TriplesFactory separately. It can be solved with #57

[2020-11-13 13:55] fratajcz opened #151 "GPU Memory fills up during hpo_pipeline trials and between subsequent runs"
**Describe the bug**
While training my hpo_pipeline I noticed that the GPU memory gets more and more filled with every trial. This leads to some memory intensive models like ConvE bailing out on OOM errors after trial 3 or 4. Is there any way to reduce GPU memory burden between the trials?

Also I couldn't find a way to free my memory between the different runs. I do HPO for several models sequent

[2020-11-16 08:50] lvermue commented on #151
@fratajcz
Thanks for reporting this. We have encountered the same issue. However, it's tricky to reproduce and also seems to differ between hardware and environment settings.
We're currently investigating this together with #129 and are working on it to provide a solution soon.

[2020-11-19 13:25] tsafavi opened #153 "Add CoDEx Dataset"
Hi all, I'm the maintainer of the CoDEx benchmark ([GitHub repo](https://github.com/tsafavi/codex), [EMNLP 2020 paper](https://arxiv.org/pdf/2009.07810.pdf)), a new set of datasets for knowledge graph completion extracted from Wikidata and Wikipedia. The goal of the CoDEx project is to address the shortcomings of existing Freebase-based benchmarks like FB15k and FB15k-237 in several areas:

- **Co

[2020-11-19 13:43] migalkin commented on #153
Hi Tara, thanks for the chat yesterday! Indeed, it would be very cool to have CODEX S/M/L right in the library!

So far it looks to me that adding a new dataset (at least with triples for link prediction) as easy as, e.g., with [freebase](https://github.com/pykeen/pykeen/blob/master/src/pykeen/datasets/freebase.py), the only things needed:
* persistent URLs
* relative filenames

The rest should be

[2020-11-19 13:49] cthoyt commented on #153
Hi @tsafavi, this sounds great! I'm probably the best one on the team to take care of this.

@migalkin is right - we need a persistent link to the data, and we can get creative with pre-processing or re-use one of the several harnesses for automatic acquisition of data. Is the data in https://github.com/tsafavi/codex/tree/master/data/triples/codex-s appropriate? I see there are three sizes so we c

[2020-11-19 14:28] tsafavi commented on #153
Hi @cthoyt, I'm glad to hear that!

I see that PyKEEN supports remote tar files, in which case it might be easier to use the zipped versions of the relational triples in each dataset hosted on my website:
[code]
For each, the filenames are `{train,valid,test}.txt`. In CoDEx-S and CoDEx-L, there are also files of negatives: `{valid_negatives,test_negatives}.txt`. I assume these would just be ignore

[2020-11-19 17:51] #153 closed, assigned to cthoyt

[2020-11-19 21:12] cthoyt opened #155 "Add Drug Repositioning Knowledge Graph (DRKG) Dataset"
It's pretty big

[2020-11-19 21:43] cthoyt opened #157 "Add Open Graph Benchmark (OGB) Loader and Datasets"
Information: https://ogb.stanford.edu/docs/linkprop
Download: https://snap.stanford.edu/ogb/data/linkproppred/

[code]

[code]

[2020-11-20 16:29] #155 closed, assigned to cthoyt

[2020-11-21 13:47] #157 closed, assigned to cthoyt

[2020-11-21 13:58] cthoyt opened #161 "Do we prefer "data set" or "dataset" in PyKEEN?"
How should this be written? Is "dataset" a single word, or is it two words?

@cthoyt: I don't have a strong opinion

[2020-11-21 14:15] mberr commented on #161
I do neither have a strong opinion, but slightly prefer `dataset` over `data set`.

[2020-11-21 20:15] mberr commented on #57
I tried to move parts of the changes to another PR, #162

[2020-11-23 13:10] cthoyt opened #164 "Switch from Travis-CI to GitHub Actions"
Travis-CI has imposed limits on open source software projects, so even though we've enjoyed using it for a long time, we have to unfortunately switch to GitHub Actions.

[2020-11-23 14:37] cthoyt opened #166 "Switch from AppVeyor to GitHub Actions"
Or at least test to see which one goes faster.

This blog post might be helpful: https://ben-heil.github.io/2020-08-24-conda-actions/

[2020-11-23 14:49] #164 closed, assigned to cthoyt

[2020-11-25 01:37] cthoyt opened #169 "Functions created by pykeen.utils.compose can't be pickled"
This creates a problem for SE, DistMult, TransE, and TransR which all define their initializers using the compose function. The following code is the offender:

https://github.com/pykeen/pykeen/blob/2ef88ac25fc9097d52f0031e5e1c629a71382256/src/pykeen/utils.py#L234-L244

Perhaps the compose function could be replaced with a compose class

[2020-11-25 09:21] mberr commented on #169
[this](https://stackoverflow.com/questions/1253528/is-there-an-easy-way-to-pickle-a-python-function-or-otherwise-serialize-its-cod) may be relevant; one suggestion: use [dill](https://pypi.org/project/dill/)

[2020-11-25 14:22] cthoyt opened #171 "Can't skip tqdm during training"
Right now if you use `use_tqdm=False` for TrainingLoop.train() you get an explosion. We've actually fixed this issue in several branches, but I want to make a new PR that just addresses this.

[2020-11-25 14:30] cthoyt opened #173 "Remove python36 compatibility"
It's time - we want to use some nice functionality from py37+ such as generics.

[2020-11-25 14:42] cthoyt commented on #169
@mberr the issue is that `torch.save` is only naively wrapping `pickle.dump`. The solution in #170 gets around this much more elegantly anyway

[2020-11-25 15:00] mberr commented on #169
Agreed. It also avoids additional dependencies :+1:

[2020-11-25 15:08] cthoyt opened #175 "Python 3.9 Support"
Blocked by:

- [x] Optuna (https://github.com/optuna/optuna/issues/2034 / https://github.com/optuna/optuna/pull/1908)
- [ ] PyTorch (https://github.com/pytorch/pytorch/issues/45731)

TODO:
- [ ] Switch all CI stuff to also test on 3.9 (while still testing on 3.7 and 3.8)
- [ ] Try to recover from the following sorrow

[2020-11-25 15:10] #173 closed, assigned to cthoyt

[2020-11-25 15:23] #169 closed, assigned to cthoyt

[2020-11-25 16:05] #171 closed, assigned to cthoyt

[2020-11-27 10:24] fratajcz opened #177 "Split evaluation_entity_whitelist into head_entity and tail_entity"
Hi!

I was just looking at your[ Drug Repurposing Tutorial](https://pykeen.readthedocs.io/en/latest/tutorial/understanding_evaluation.html#example) and wondered about the results I was getting. Then it occurred to me that even though it has the relation type fixed to "CtD" (Compound treats Disease) it still doesn't only score on compounds and diseases. It also allows to score triples like Compound

[2020-11-27 11:41] mberr commented on #177
The evaluation protocol is as follows: Assume we have evaluation triples `T = {(h_i, r_i, t_i)}_{i=1}^{n}`.Then the evaluation will consider all triples `(h_i, r_i, e)` and `(e, r_i, t_i)` for all `e in E`, i.e. all considered triples share at least two elements (head and relation, or relation and tail) with an existing, known-to-be-true triple, from the evaluation set. Thus, no triple `(Compound0

[2020-11-27 11:43] mberr commented on #177
To better understand the use case:

You want to score all triples of the form `(Compound_i, CtD, Disease_j)`, where `Compound_i` comes from a provided list of compounds, and `Disease_j` from a provided list of diseases, correct?

[2020-11-27 11:46] mberr commented on #177
If this is the use case, #107 will introduce a mechanism enabling to evaluate such queries by calling `scores = ERModel(h_indices=compound_indices, r_indices=CtD_index, r_indices=diseases_indices)`

[2020-11-27 12:34] fratajcz commented on #177
Thanks for looking into my request!

Yes, thats entirely correct. I can further clarify that the set of compounds and the set of diseases is all compounds and all diseases, possibly provided by a pre-compiled list of node identifiers.

Does that mean that if there is no true triple (CompoundX, CtD, *) in the set of true triples, meaning that there is no known Disease that is treated by Compound X,

[2020-11-27 13:58] mberr commented on #177
Partially :smile:

If we do not have any triple true `(CompoundX, CtD, *)` in the evaluation set, then the right side /tail link prediction will not be taken into account. One reason for that is that we do not know any true triple, thus we cannot compute the rank of the true entity. However, it does not mean that the entity `CompoundX` will never take part in any evaluation, since for a triple `(*

[2020-11-30 16:05] fratajcz commented on #177
Thanks for the detailed reply! However, I am still confused.

I tried that with model.predict_tails(Compound0, CtD) and it scored a lot of tail nodes that are not connected to a CtD edge and that can not be connected to a CtD edge (like genes). Is that different from what would happen in the evaluation process?

I will try that and see if it does what i need.

BTW: I include inverted edges, so the

[2020-11-30 16:13] mberr commented on #177
Just a word of caution: The code is not yet in `master` so the API might still change.

[2020-11-30 16:20] mberr commented on #177
`predict_tails` is not aware of the restriction, and thus evaluates scores for all tails.

Notice that this is also done in the current implementation of the evaluation with entity restriction, as seen in

https://github.com/pykeen/pykeen/blob/9191dbbbdecfc2f550671e6dbc6b7ef87a9f9515/src/pykeen/evaluation/evaluator.py#L478-L484

Moreover, we summarize the procedure [here](https://pykeen.readthedoc

[2020-12-01 01:04] cthoyt opened #178 "RTD build fails on main branch"
https://github.com/pykeen/pykeen/runs/1475961189

I'm not sure if I like having github actions take care of this instead of readthedocs' integration... either way we need to look into what's going on here

[2020-12-01 09:29] lvermue commented on #178
@cthoyt Thanks for pointing this out.
It was simply a missing "https://" in the RTD web hook URL.
I have fixed it and it just passed - closing this issue now.

[2020-12-01 09:29] #178 closed, assigned to lvermue

[2020-12-01 14:29] mali-git opened #180 "Extend Documentation For Negative Sampling"
We currently have comparably less documentation for negative sampling than the documentation of the other components (e.g., interaction models). We could add more information about negative sampling using the information in our benchmarking paper.

[2020-12-01 14:48] cthoyt commented on #180
@mali-git can you give some more context please? (in the description of the issue)

[2020-12-01 23:35] cthoyt opened #182 "Add neptune tracker"
Add a tracker adapter for https://neptune.ai

[2020-12-02 13:28] #161 closed, assigned to cthoyt, lvermue, mali-git

[2020-12-02 14:23] cthoyt opened #186 "README is missing links to documentation"
Would be nice to link directly to RTFD from the readme

[2020-12-02 14:43] #186 closed, assigned to cthoyt

[2020-12-02 18:19] #182 closed, assigned to cthoyt

[2020-12-03 07:39] mali-git commented on #180
Done.

[2020-12-03 11:23] crcrpar commented on #175
Hi @cthoyt

Optuna supports Python3.9 (https://github.com/optuna/optuna/pull/1908) 🆕

p.s. Thank you for using Optuna!

[2020-12-03 11:49] cthoyt commented on #175
@crcrpar excellent! Thank you so much for the update and the wonderful software :)

[2020-12-04 20:07] #166 closed, assigned to nobody

[2020-12-05 14:57] cthoyt opened #195 "Clinical Knowledge Graph (CKG) Dataset"
Entities: ~16 million
Triples: ~220 million
GitHub: https://github.com/MannLabs/CKG
Download page: https://data.mendeley.com/datasets/mrcf7f4tc2/2 (version 2)
Download: https://md-datasets-cache-zipfiles-prod.s3.eu-west-1.amazonaws.com/mrcf7f4tc2-1.zip or https://data.mendeley.com/public-files/datasets/mrcf7f4tc2/files/c0d058a2-adfa-4b96-97d9-c9ec7fc5adb9/file_downloaded

#### Dependencies:
* [x]

[2020-12-05 14:59] cthoyt opened #196 "Splitting algorithm is too slow for large datasets"
The triples splitting algorithm is too slow for use on large datasets like ConceptNet (#15) and CKG (#195)

[2020-12-07 14:02] cthoyt opened #198 "Example literal dataset and tests for LiteralE models"
Right now, there's no test dataset that has literals. The LiteralE paper gives versions of FB15k, YAGO3, and WN18 that have literals, but these are way too big for testing purposes.

- Create a "fake" dataset that at least has the right shape
- Update TriplesNumericLiteralsFactory to load it properly
- Create a Dataset base class that will allow numeric triple loading
- Add a pipeline test for Com

[2020-12-07 16:15] #198 closed, assigned to cthoyt

[2020-12-07 16:25] mberr opened #200 "Improve Sealant duplicate/inverse relation detection speed"
Once #193 is solved, we can accelerate the inverse/duplicate relation by converting each relation to a [boolean sparse adjacency matrix](https://docs.scipy.org/doc/scipy/reference/sparse.html), and computing the jaccard similarity as

[code]

The inverse relation is given by `r2.T`

#### Dependencies
* [ ] #193

[2020-12-09 19:44] sbonner0 opened #202 "Calling .plot() on a pipline results in error - ModuleAttributeError: 'Embedding' object has no attribute 'weight'"
Hi,

Called .plot() on any pipline will result in the error: ModuleAttributeError: 'Embedding' object has no attribute 'weight'
This seems to be caused by the .plot_er() method as I am able to call plot_losses() ok.

Thanks for your work on pykeen - it's a great package!

**Environment**
 - OS: Arch Linux
 - Python version: 3.8.5
 - pykeen 1.0.6.dev0
 - click 7.1.2
 - click-default-group 1.2.2
 -

[2020-12-10 10:41] #180 closed, assigned to cthoyt, mali-git

[2020-12-10 10:47] cthoyt commented on #202
@sbonner0 thank you for point this out. Luckily, this was quite easy to fix. The accompanying pull request also includes some other updates I noticed while checking through the demo for the plotting.

In case you're interested - the error was due to our recent generalization of the concept of embeddings from `torch.nn.Embedding` to a more general representation module `pykeen.nn.RepresentationModu

[2020-12-10 11:06] sbonner0 commented on #202
Hey @cthoyt - glad it was an easy fix for you and thanks for tackling it so promptly!

I had a quick look at pykeen.nn.RepresentationModule, it looks very interesting. I had a quick through the PRs you referenced, I saw that it is now possible to chose initializations through HPO now - does that mean it can be chosen with Optuna? If so, is that documented anywhere?

[2020-12-10 11:09] cthoyt commented on #202
@sbonner0 no, we haven't done that, but I can imagine a way we could set it up as a "categorical" variable. If you'd like that feature, it would be great to post a new issue!

[2020-12-10 11:15] sbonner0 commented on #202
Great thanks! I'll be diving into the possibilities of PyKeen and Optuna over the next few days - I'll open some new issues if I encounter anything. I'd also love to contribute directly if at all possible.

Should I close this issue as you have already fixed it?

[2020-12-10 11:19] cthoyt commented on #202
@sbonner0 this issue will be automatically closed upon merge of the PR, so please leave it for now.

Issues are welcome! We hope we can help (and the rest of the team will chime in if your issues are about one of their expertises too)

If you'd like to make some meaningful contributions you can either just dive in, or we can set up a short call to onboard you. We haven't had this yet outside of th

[2020-12-10 11:21] mberr commented on #146
Has been solved by switching to ID-based triples and deferring creation of inverse triples in #193

[2020-12-10 11:21] #146 closed, assigned to cthoyt

[2020-12-10 11:22] mberr commented on #148
Has been made obsolete by #193

[2020-12-10 11:22] #148 closed, assigned to nobody

[2020-12-10 11:24] mberr commented on #146
I have verified that on the current `master` the snippet from above does not throw any exception.

[2020-12-10 11:25] cthoyt commented on #146
Gotta love having an actual minimal example in an issue, right?

[2020-12-10 11:29] #202 closed, assigned to cthoyt

[2020-12-10 11:34] sbonner0 commented on #202
Thanks @cthoyt - I'll dive using it for a week or so and see if there is anything I could contribute to meaningfully (I'd hate to slow you down or cause more issues than I would solve ;))

[2020-12-10 11:39] cthoyt opened #206 "Fix issue with GPU and plots"
two comments:
* directly use `__call__` instead of explicitly calling `forward()`
* Make sure to use `.cpu()` before calling `numpy()`, in case the tensor resides on a GPU. (Otherwise leads to `TypeError: can't convert cuda:0 device type tensor to numpy. Use Tensor.cpu() to copy the tensor to host memory first.`)

In total: `embeddings(None).detach().cpu().numpy()`

_Originally posted by @mberr in

[2020-12-10 12:01] #206 closed, assigned to nobody

[2020-12-10 16:08] #196 closed, assigned to cthoyt, mberr

[2020-12-10 16:18] mberr commented on #200
This was done in #187

[2020-12-10 16:18] #200 closed, assigned to nobody

[2020-12-10 16:19] mberr commented on #60
related #123 .

@cthoyt can this be closed now?

[2020-12-10 16:21] cthoyt commented on #60
Oh nice, we forgot about this

[2020-12-10 16:21] #60 closed, assigned to nobody

[2020-12-10 17:15] #15 closed, assigned to cthoyt

[2020-12-10 21:22] cthoyt opened #210 "Open Academic Graph (OAG) Dataset"
Website: https://www.openacademic.ai/oag/

[2020-12-11 14:34] #142 closed, assigned to nobody

[2020-12-11 14:35] cthoyt commented on #142
@fratajcz thanks for being patient, this has been solved with #211

[2020-12-11 21:07] sbonner0 opened #214 "Is it possible to resume an Optuna study via the HPO pipline?"
Hey,

I know that Optuna allows one to resume a study once it has been completed, I was wondering if this is supported in pykeen?

I have seen that an hpo_result object can be saved to directory - is it possible to reload a saved study and continue to run it? The use case would be if a long hpo run was killed, a user could resume it without having to repeat all the already completed studies.

[2020-12-12 16:32] cthoyt commented on #214
Optuna explicitly supports this - by default, PyKEEN uses a SQLite database backend, but you can configure it to use other SQL databases or even NoSQL databases just by passing in different kwargs to optuna. You can use the same study name or study ID to look it back up in the database and continue on with new “trials” (this is the optuna terminology) which correspond 1-1 to pykeen pipeline runs.

[2020-12-12 16:33] cthoyt commented on #214
After the weekend I will try and provide a code example for you! Hopefully the terminology above is enough to get you started. If you haven’t already, check the tutorial on using the HPO pipeline in the docs because it might include something on this

[2020-12-13 20:54] #195 closed, assigned to cthoyt

[2020-12-14 14:02] sbonner0 commented on #214
Hi @cthoyt, thanks so much for your reponse. So I checked the docs and couldn't see an example of how the HPO results are stored in the SQL database. It would be great to see some code examples of how to resume a saved hpo_pipeline either from SQL or from the files created by saving the hpo pipline.

I was thinking if it would be possible to resume an unfinished trial. This is something I encounte

[2020-12-14 21:22] cthoyt commented on #214
It's quite a tricky feature - on the reference page for HPO (https://pykeen.readthedocs.io/en/latest/reference/hpo.html) there are several arguments that don't have explicit documentation. At the bottom there's note that the remaining parameters are passed to optuna.study.create_study() or optuna.study.Study.optimize(). Check https://optuna.readthedocs.io/en/latest/reference/generated/optuna.study

[2020-12-14 21:26] cthoyt commented on #214
It just occur to me that I think you can load a study and add a specific hyper-parameter combination to the queue. If that's done for a combination that caused a job to die, it would also be able to look up the checkpoint if it existed. However, I'm not familiar with doing that. Maybe it's something you can figure out yourself while we're working on the other parts. All of the guts you would need

[2020-12-16 11:52] sbonner0 commented on #214
Hi @cthoyt thanks so much for your detailed reply! I'll dig into the links you have sent and see how things work.

But am I correct then in understanding that calling `save_to_directory` to save the hpo pipeline that had successfully reached a trail number of 100 say to disk can not then be reloaded to continue adding more trails using the history information needed for approaches like Tree-Parzen

[2020-12-16 15:34] sbonner0 opened #218 "Understanding controlling the random seed using the hpo_pipeline"
Hi,

I am trying to understand how to control the setting of the random seed using the `hpo_pipeline` object and what exactly it is controlling.

As it stands, I have seen from the documentation that you can set the seed for the datasets (so that train/test/eval splits are consistent across experiments) by passing a dataset_kwargs to the hpo_pipeline object. Similar, it seems it is possible to con

[2020-12-16 17:06] mberr commented on #218
Not yet a solution (@cthoyt might know more), but a tool to investigate:

Within pykeen [`logging`](https://docs.python.org/3/library/logging.html) is used for logging. This module allows you to customize the format of the log message, including options to show which line the statement came from.

Maybe this code already works:

[code]

Otherwise you need to explicitly create a handler and formatt

[2020-12-18 11:44] sbonner0 commented on #218
Thanks @mberr, just to be clear. You are proposing I adjust the logging level to see where the seed message is emanating from?

[2020-12-18 12:35] mberr commented on #218
It does not change the level, but rather include the file + linenumber in the formatting of the warning message of unknown origin you see as described here

Is this an minimum working example of the usage you have in mind?
[code]

Running this code with the formatting adjustments mentioned above shows up a single random seed warning
[code]
originating from here
https://github.com/pykeen/pykeen/blo

[2020-12-18 13:25] cthoyt commented on #218
There’s a goofy sentinel value that suppresses this message for the HPO that I think got messed up. I will have to take a look back into this, since the HPO and each pipeline need their own random number generators

[2020-12-18 14:24] sbonner0 commented on #218
Great thanks for the replies both of you :) So if I explicitly set the model and dataset seed in the hpo_pipeline then I should be good for reproducibility?

[2020-12-18 14:54] sbonner0 opened #224 "Strange jump in batch size choice during a HPO run causing excessive run times"
Hi,

I've been having issues where the training batch size during a hpo_pipeline run will suddenly decrease, thus increasing the run time quite dramatically. For example I had a run this morning where the batch size sequence for trails went: 2832, 3932, 131.

I gather there is some kind of optimization process automatically determining the best batch size. I wonder if this went wrong in this insta

[2020-12-18 21:52] sbonner0 commented on #151
I also get this issue, particularly when using TuckER. Every single trial will die with messages like the following:

`WARNING:pykeen.training.training_loop:The training loop just failed during epoch 1 due to error CUDA out of memory. Tried to allocate 576.74 GiB (GPU 0; 31.72 GiB total capacity; 22.62 GiB already allocated; 7.87 GiB free; 22.75 GiB reserved in total by PyTorch).
`

Somehow it see

[2020-12-23 14:04] mberr commented on #57
Closed in favour of #216

[2020-12-26 15:04] mberr opened #226 "Add CSKG dataset"
Link: https://github.com/usc-isi-i2/cskg
Data: https://zenodo.org/record/4331372/files/cskg.tsv.gz columns 1,2,3 ("node1", "relation", and "node2")
Arxiv: https://arxiv.org/abs/2012.11490

[2021-01-06 14:31] sbonner0 commented on #218
Hi @mberr @cthoyt ,

Just to follow up on this - I just wanted to clarify a few thing now I have a some runs completed.

Say I have explicitly set the dataset and model seed as in the code below -

[code]

Is it safe to assume that the dataset and model objects are having their seeds set correctly? And thus it is safe to ignore the lack of random seed for the pipeline?

Interestingly, I can see in

[2021-01-06 15:29] sbonner0 opened #227 "Slow trail run times using a HPO pipeline but not using a normal pipeline"
Hi,

Happy new year!

I have had some exceptionally long run times when using ConvE as part of a HPO pipeline. What is confusing me is that when I start a normal pipeline using the same set of parameters, I see run times nearly an order of magnitude less!

For example I had a single ConvE trial take over 4 days, reporting that it took 311.55s/epoch. I loaded the same set of hyper-parameters into a

[2021-01-08 13:32] yeqing97 opened #228 "RuntimeError: CUDA out of memory."
I got a memory problem when training my data on RGCN.

Here are my codes.

[code]

I got the error
`RuntimeError: CUDA out of memory. Tried to allocate 50.00 MiB (GPU 0; 15.75 GiB total capacity; 14.28 GiB already allocated; 19.62 MiB free; 14.74 GiB reserved in total by PyTorch) (malloc at /opt/conda/conda-bld/pytorch_1591914895884/work/c10/cuda/CUDACachingAllocator.cpp:289)`

Is there any soluti

[2021-01-08 15:26] sbonner0 opened #229 "Better access to and visibility of the hyperparameter values used in a pipeline object"
Hi,

I think it would be nice to have more transparency over what hyperparameters were used to train a model when using the `pipline` object -- particularity when no user defined ones are provided and defaults are used.

This would include everything from model options like embedding dimension, optimizer options like learning rate to things like the number of negative samples used.

Would it be po

[2021-01-10 10:26] mali-git commented on #227
Hi @sbonner0,

could you please provide the `pipeline_config.json` file returned by the HPO-pipeline and the configuration that you used to configure the pipeline yourself?

[2021-01-11 12:57] mberr commented on #228
Since R-GCN has a relatively large default embedding dimension (`embedding_dim=500`, cf. [here](https://pykeen.readthedocs.io/en/latest/api/pykeen.models.RGCN.html#pykeen.models.RGCN)), you can try to reduce this as follows

[code]

[2021-01-12 12:33] yeqing97 commented on #228
Thanks! It works.
Another question is that I got a warning `"Calculations will fall back to using the score_hrt method, since this model does not have a specific score_h function. This might cause the calculations to take longer than necessary"` when I evaluated the model using the code `results = evaluator.evaluate(model, mapped_triples)` .
Could I close this warning?
@mberr

[2021-01-12 15:53] mberr commented on #228
TL;DR: Regarding correctness you can ignore this warning. It only informs about sub-optimal evaluation efficiency.

This message is caused since the R-GCN model's implementation does not provide an optimized `score_h` function for fast 1:n scoring (as described [here](https://pykeen.readthedocs.io/en/latest/tutorial/performance.html#tuple-broadcasting)). There is a relatively simple solution to it

[2021-01-12 18:10] sbonner0 commented on #227
Hi @mali-git thanks so much for your reply - sadly I do not have the `pipeline_config.json` yet as the number of trials I had asked for with ConvE has not yet completed. What I had done is load from the Optuna SQLite file and select enter the parameters from the long running trial manually into the pipeline object.

[2021-01-13 18:31] sbonner0 opened #230 "'TypeError: Object of type TriplesFactory is not JSON serializable' error thrown when saving HPO Pipeline with own dataset"
Hi,

I seem to get an error when I am using my own dataset with the `hpo_pipeline` object and attempting to save using the `save_to_directory` function. This error does not seem to happen when using an in-built dataset.

[code]

What's interesting is that the directory is seemingly actually created as normal after this error message.

The dataset has been created using the `TriplesFactory.from_pat

[2021-01-14 07:14] yeqing97 opened #231 "ValueError: Cannot continue_training without being trained once."
**Describe the bug**
[I got a ``ValueError: Cannot continue_training without being trained once`` when I tried to continue training my KGE model.]

**To Reproduce**
Here are my codes:
[code]
Error
[code]

**Expected behavior**
Can I fix this error?

**Environment (please complete the following information):**
 - OS: [Linux]
 - Python version: [e.g. 3.7]
 - Version of this software: [pykeen 1.0.5]

[2021-01-14 23:47] lvermue commented on #231
Hi @yeqing97 ,
Thanks for reporting this bug.

I have looked into it and the reason for the error is that you have to set the `batch_size` parameter of the training loop when you want to continue training. We will soon release a fix for this bug. For now you can already get going by changing your code above to:
[code]

[2021-01-15 02:44] yeqing97 commented on #231
Hi! @lvermue
Thanks for your help!
However, this solution didn't work in my machine. 😭
The version of the pykeen, torch, cuda is '1.0.5', '1.4.0' and '10.0' respectively.
Here are my error message:
[code]

[2021-01-15 09:25] lvermue commented on #231
@yeqing97
Sorry for the inconvenience, in the current master it's fixed already.
Given that it's PyKEEN 1.0.5, you also have to deactivate automatic memory optimization explicitly.

This code should work for you 😊
[code]

[2021-01-15 11:47] yeqing97 commented on #231
Cool!
Thanks! It worked well! 👍

[2021-01-15 12:24] cthoyt opened #233 "Add --version flag to pykeen CLI and update issue templates"
Suggested by @mberr

[2021-01-15 12:55] sbonner0 commented on #214
I am going to close this as with the help of the team, I was able to get the functionality I was expecting to work well.

The trick is to set the `storage` and `load_if_exists` arguments in the `hpo_pipline` object. Then if an experiment was killed part way through, upon restarting the code, the existing completed trails will be loaded and the HPO search will continue from that point. For example:

[2021-01-15 12:55] #214 closed, assigned to nobody

[2021-01-15 13:08] #233 closed, assigned to cthoyt

[2021-01-15 14:26] cthoyt commented on #231
@yeqing97 glad to hear things have worked out! I'm going to close this issue, but feel free to open another one if you've got more questions :)

[2021-01-15 14:26] #231 closed, assigned to lvermue

[2021-01-16 17:35] cthoyt commented on #230
@sbonner0 thanks for the heads up. Also very much appreciated that your code was sufficient for reproducing the issue. There's a fix implemented in #235 that will get merged after passing CI and review 🥳

[2021-01-16 19:46] sbonner0 commented on #230
Hi @cthoyt thanks for the prompt fix!

Would there be any issues for completed runs because of this issue - or is it not something to worry about?

[2021-01-16 19:47] cthoyt commented on #230
It might be annoying, but this output happens at the end of the entire pipeline so hopefully there's no interference with any other data output

[2021-01-18 22:46] #230 closed, assigned to cthoyt

[2021-01-19 08:16] yeqing97 opened #236 "RuntimeError: CUDA error: device-side assert triggered"
**Hi**
[I got a `RuntimeError` when I tried to train a model on my own data with inverse triples.]

**Here are my codes.**
[code]

**Error message**
[code]

I guess the problem happened in the evaluation stage because the training completed 4 epochs successfully.
`Training epochs on cuda:2:   0%|▏                                                | 4/1000 [00:17<1:11:41,  4.32s/epoch, loss=0.00389, p

[2021-01-19 09:04] cthoyt commented on #236
Hey @yeqing97 thats quite an interesting error! I think this is something for @mberr or @lvermue to look into

[2021-01-19 09:12] mberr commented on #236
Hi @yeqing97 ,

`RuntimeError: CUDA error: device-side assert triggered` is usually raised when an index out of bounds errors occurs on CUDA device. Before the Python error log you often see `ATen` error messages such as described in [this PyTorch issue](https://github.com/pytorch/pytorch/issues/48530).

Could you please check for additional error messages above this? Also, running on cpu may yiel

[2021-01-19 10:43] yeqing97 commented on #236
**Thanks for your suggestion!**
Here are my test results.

<summary><strong>1. training on GPU</strong></summary>

<details>

[code]
</details>

<summary><strong>2. training on CPU</strong></summary>

<details>

[code]

</details>

[2021-01-19 14:48] mberr commented on #236
Hi @yeqing97 .

From the failing index

`RuntimeError: index out of range: Tried to access index 1277920688 out of table with 1 rows.`

it looks like this is using an unitialized long array. Also it seems to be related to evaluation when using inverse triples.

When I run the following snippet on the current master ([c52787a3](https://github.com/pykeen/pykeen/tree/c52787a3f65e47f3135b3698864f10fdb

[2021-01-19 15:42] sbonner0 opened #237 "Large difference in predictive performance between PyKEEN and DGL-KE"
Hi,

I have been doing a few experiments comparing the predictive performance of PyKEEN with other KGE frameworks - namely DGL-KE (although others will be added soon if I get time).

I have thus far found a really rather large variation between the performance of a PyKEEN model versus DGL-KE. For example, I have trained a version of ComplEX using both frameworks on a pre-split version of Hetionet

[2021-01-19 17:45] mberr commented on #237
Hi @sbonner0 .

I am not familiar with DGL-KE, however, https://github.com/awslabs/dgl-ke/issues/132 reads like they use a sampled evaluation instead of 1-n ranking. Please keep in mind that metrics using absolute ranks are not (directly) comparable  when the number of choices against which they are ranked is different (cf. e.g., https://arxiv.org/abs/2002.06914 ).

As for the filtered setting: `f

[2021-01-20 02:26] yeqing97 commented on #236
Hi! @mberr
I have checked the snippet you mentioned and it runs successfully.
[code]

I guess the error is caused by my own data. So I checked my data and dataset 'nations'.
**1. training mapped triples in my dataset**
[code]

**2. training mapped triples in dataset 'nations'**
[code]
It seems that the number of relation in my dataset is single and it caused the error. But I don't know the reason.

[2021-01-20 20:30] sbonner0 commented on #237
Hi @mberr, thanks so much for your reply - I'll dive into the paper you linked over the next few days. If you have any more reading suggestions covering the differences between the various evaluation strategies, I would love to hear them. Many thanks!

[2021-01-21 09:09] #228 closed, assigned to nobody

[2021-01-21 13:38] cthoyt opened #239 "Extract functional forms of KGEMs"
Extract the functional forms from #107 into their own PR

[2021-01-21 13:39] cthoyt opened #240 "Extract functional modules"
As a follow-up to #239, extract the interaction modules from #107 into their own PR

[2021-01-21 21:50] #239 closed, assigned to cthoyt

[2021-01-21 23:27] cthoyt opened #243 "Add MyPy type checking for src/pykeen/datasets/base.py"
1. Update in tox.ini
2. Fix typing
3. Win win win win

[2021-01-22 17:08] cthoyt opened #244 "🧨 💎 Add literal interaction modules"
After #242, the literal interaction modules also have to be brought in. They need a different way for testing, though

[2021-01-22 17:44] #240 closed, assigned to cthoyt

[2021-01-23 17:37] cthoyt opened #250 "Version option broke CLI"
The introduction of the `--version` option to the CLI broke the CLI. Make `version` into a subcommand instead. Also, update some other CLI stuff while we're here.

[2021-01-24 23:56] #250 closed, assigned to cthoyt

[2021-01-25 01:32] cthoyt opened #252 "Add dataset citations to README"
1. Define a standard documentation format for datasets
2. Update the README generator to include HTML links to the citations going with each dataset

[2021-01-25 01:44] #226 closed, assigned to cthoyt

[2021-01-27 17:25] cthoyt opened #258 "Reorganize device handling"
[code]
yields the set of device on which parameters and buffers bound to this Module are located. This *may* be better since we do not explicitly have a device to pass around, but use the device of the module.

With `model.to(device)` we can automatically move all its parameters and buffers to another device, and get `self.device` updated "for free".

_Originally posted by @mberr in https://github

[2021-01-27 21:03] #243 closed, assigned to cthoyt

[2021-01-28 16:11] cthoyt opened #259 "Add TransG"
**On which paper(s) is your requested model based.**

- arXiv: https://arxiv.org/abs/1509.05488
- PDF: [P16-1219.pdf](https://github.com/pykeen/pykeen/files/5888528/P16-1219.pdf)

**List the original and other existing implementations of this model**

Author implementation (numpy): https://github.com/Niubohan/TransG/blob/master/TransG.py

**Relevance of this model**

Tbh i don't think this one is

[2021-01-28 16:39] cthoyt commented on #53
bump

[2021-02-02 16:47] mberr commented on #175
@cthoyt PyTorch 1.7.1 supports Python 3.9, cf. https://github.com/pytorch/pytorch/releases/tag/v1.7.1

[2021-02-02 16:54] cthoyt commented on #175
@mberr yeah, it said that, but it didn't work :/ The problem is there are no wheels available

I'll give it another try just to check though

[2021-02-02 17:19] cthoyt commented on #175
@mberr just checked, still failing on both linux and windows

[2021-02-05 16:10] mali-git opened #261 "Creating Inverse Triples in Validation and Test Factories"
It seems that in the current version we by mistake allow to create inverse triples for the validation and test sets:

https://github.com/pykeen/pykeen/blob/4c532b920b66069d63dd1469ec3c310dd34fc1d7/src/pykeen/datasets/base.py#L241-L262

[2021-02-05 17:01] migalkin commented on #261
+1 , found it in `1.1.0` when experimenting with a plain DistMult on FB15k237 with default loops/optimizers/losses. Essentially, the numbers show as if the model does not learn anything. Apparently, in the dataset with already created inverse relations the evaluation creates additional `r+1` on the fly? But then I wonder why it does not crash as there should be only 237 * 2 = 474 rows in the embed

[2021-02-06 07:06] migalkin opened #264 "Automatic Memory Optimization can spawn batches of elements > INT_MAX"
**Describe the bug**
Setup: FB15k237 (with inverse triples), Tesla V100, LCWA training loop

New GPUs have lots of VRAM - I'm testing on a V100 32GB.

Automatic memory optimization loop here
https://github.com/pykeen/pykeen/blob/dfc407eecf1f1960de4670e8f30e526779da5a5c/src/pykeen/evaluation/evaluator.py#L331-L335

quickly inflates the batch size to 1024 / 2048 / 4096.
Now here is the problem: in t

[2021-02-06 12:48] mberr commented on #264
Hi @migalkin ,

thanks for reporting this issue! This is interesting, since this behaviour is not documented in PyTorch's documentation ([here](https://pytorch.org/docs/stable/generated/torch.nonzero.html)), and since the return type is a long tensor, also unexpected.

I am also tagging @lvermue who is most familiar with this code.

[2021-02-06 15:39] afrooze opened #269 "link prediction in knowledge graph embedding"
i need to do link prediction in knowledge graph embedding. I must be doing the link prediction by Bayesian estimation.
can you guide me how can do it?
at least, how many relations must be in the train step?
I must compute a similarity matrix for head and tail too, can you introduce me any functions for it.

[2021-02-06 16:34] cthoyt commented on #269
Hi @afrooze, it looks like this is a duplicate of https://github.com/pykeen/pykeen/discussions/268, so I'll answer here.

With PyKEEN, you start with a dataset and fit a given knowledge graph embedding model like TransE or RotatE, then you can do link prediction. There are three tutorials you should check out first:

1. [Training a model in PyKEEN](https://pykeen.readthedocs.io/en/latest/tutorial/

[2021-02-06 18:12] afrooze commented on #269
thank you for your complete and useful answer.
at first, I have to train my model then I have to do link prediction. can you explain more about the ranking process? is the ranking about the possible edges scoring?

[2021-02-06 18:21] cthoyt commented on #269
If there are entities in set E and relations in set R, there are `|E| * |R| * |E|` possible triples. All can be enumerated and scored by a trained model using the functions in the 3rd link from above. Bigger scores means the triple is more likely to be true (though, this shouldn't be considered as a probability distribution), so you sort the triples by score with big ones first and small ones last

[2021-02-06 18:30] afrooze commented on #269
I am going to use it in the question/answering system.

[2021-02-06 18:33] afrooze commented on #269
as I understood the ranking must be done with my trained model. is it true?

[2021-02-06 18:35] cthoyt commented on #269
Scoring triples with an untrained model, while technically possible because of how the code is written, wouldn't be meaningful at all. Same goes for using the embeddings that are randomly initialized before training.

[2021-02-06 18:46] afrooze commented on #269
thank you so much for your complete and useful answers.

[2021-02-06 19:22] cthoyt commented on #269
You’re very welcome. I’m going to close this issue, please feel free to open another if you’re got more questions

[2021-02-06 19:22] #269 closed, assigned to nobody

[2021-02-06 20:15] migalkin commented on #264
That limitation was recently acknowledged by pytorch here: https://discuss.pytorch.org/t/torch-geometric/106975
So I presume it indeed exists

[2021-02-07 16:24] Jeffrey-Sardina opened #271 ""FileNotFoundError: [WinError 2] The system cannot find the file specified" During Link Prediction"
**Describe the bug**
I recently have tried to install and use pykeen, but I have found that it is not working on my system. When running code from the tutorials, I get the error "FileNotFoundError: [WinError 2] The system cannot find the file specified".

**To Reproduce**
The code I am running, in a file named test.py, is shown below:
[code]

I attempted to install pykeen in an isolated venv as so

[2021-02-07 17:08] cthoyt commented on #271
Hi @Jeffrey-Sardina, it looks like there could be a problem with the way you installed PyKEEN on Windows. While we'd highly suggest using a unix system instead, we've got a tutorial for installation on Windows using Conda here: https://pykeen.readthedocs.io/en/latest/installation.html#windows-users

However, NumPy just released 1.12 recently and we haven't had much experience with its implications

[2021-02-07 21:26] Jeffrey-Sardina commented on #271
Hello @cthoyt

Thank you for your reply! Changing to an older numpy installation did not seem to help. I ran through those install instructions as well (uninstalling my previous PyKEEN first), and unfortuantely I still got the same error. I see that the Windows build is flagged as experimental however, so I'll see if I can use Linux.

I've had some trouble getting this up an running on the Windows

[2021-02-07 22:31] Jeffrey-Sardina commented on #271
I installed PyKEEN via "pip3 install pykeen" on an Ubuntu 18 VM, and then ran the same code as above. Doing so gave me the error:

[code]

Interestingly, I have been getting this same error on the Windows Subsystem for Linux as well. Any idea what this could be?

[2021-02-07 22:32] nomisto opened #272 "Bug in filtered negative triples"
The filtering method of the negative sampler gives often wrongly flagged negative triples (negative triples that are true negative, but get flagged as true positive and the other way)

Steps to reproduce the behavior:

[code]
[code]

[code]

The third last negative triple [30, 41,  8] gets falsely flagged as true positive. As I tried to give a minimal reproducible example, only 1 of 15 negative tr

[2021-02-07 23:00] nomisto opened #273 "Improve negative triple filtering performance"
Filtering is currently painfully slow, when filtering true positives from the sampled negatives.

**Describe the solution you'd like**
Improving the performance of filtering true negatives could help, comparing the evaluation results to f.e. dglke (https://github.com/awslabs/dgl-ke), where the default number of negative samples is the number of unique entities in the graph. Without filtering, eval

[2021-02-07 23:24] cthoyt commented on #271
@Jeffrey-Sardina ahh you've found a fatal flaw in our documentation - the default one is the latest instead of stable. We just changed the names of those prediction functions (purely cosmetic)

See the old names for the prediction functions at https://pykeen.readthedocs.io/en/stable/tutorial/making_predictions.html. We'll be making a release for PyKEEN 1.2.0 with these changes

[2021-02-08 09:26] mberr commented on #272
Hi @nomisto ,

first of all thanks for looking into this functionality!

The default dtype of torch is usually `float32`, hence `positive = torch.zeros((n_positive,3))` creates a zero tensor of floating point values.

Could you please re-run your test with `positive = torch.zeros((n_positive,3), dtype=torch.long)`, and verify that the error persists?

[2021-02-08 09:54] nomisto commented on #272
Hi @mberr ,

Thanks for your answer. The bug persists with long as datatype.
I tried looking into the bug, and this is what I discovered: When you reduce the search space you are not checking head-relation combinations etc, but only head, relation and tail individually.

Consider the positive and negative triples from above.

The first head reduction gives the following triples
[code]
which contai

[2021-02-08 10:30] mberr commented on #273
Hi @nomisto ,

thanks again for your interest in negative sampling. We will take a closer look at the suggestions, also benchmarking them for GPU :slightly_smiling_face: ( with @lvermue ).

One small comment to

This is quite similar to training with 1:n scoring / the local closed world assumption, cf. [here](https://pykeen.readthedocs.io/en/latest/reference/training.html#local-closed-world-assump

[2021-02-08 14:19] mberr commented on #264
I opened an issue on PyTorch: https://github.com/pytorch/pytorch/issues/51871 since I couldn't find any for it.

[2021-02-09 04:37] PhaelIshall opened #275 "Add DBpedia dataset"
**Is your feature request related to a problem? Please describe.**
I have been using TripleFactory and pointing at the local dataset path when I need to train or test on DBpedia50 for the last couple of months. Now I want to run hyperparameter optimization but that requires the dataset to be registered.

**Describe the solution you'd like**
I'd like to add the dataset to pykeen datasets, but when

[2021-02-09 11:11] Jeffrey-Sardina commented on #271
@cthoyt wonderful, that is working as expected now. Thank you for your help!

[2021-02-09 11:11] #271 closed, assigned to nobody

[2021-02-09 11:40] cthoyt commented on #275
Hi @PhaelIshall, I'll look into adding DBpedia50 as a benchmark data set and update the documentation so this is more obvious how to do it yourself

[2021-02-09 15:24] cthoyt opened #280 "Make initialization more configurable"
This would mean that users for example cannot try different initialization methods. I would opt for as much configuratibility as possible also for existing models.

_Originally posted by @mali-git in https://github.com/pykeen/pykeen/issues/277#issuecomment-776019402_

[2021-02-09 15:39] cthoyt opened #281 "Add shape to embedding specification"
we can also use `shape` instead of `embedding_dim` right? This would be even more explicit than this comment.

_Originally posted by @mberr in https://github.com/pykeen/pykeen/pull/277#discussion_r572854516_

[2021-02-09 17:57] mberr commented on #264
I re-open this issue: When #261 is fixed, @migalkin may test this fix again on his GPU :slightly_smiling_face:

[2021-02-09 22:00] ziwli opened #283 "how to load the model from checkpoint?"
Since we could use checkpoint technique, and also get the my_checkpoint.pt this file. I want to know, could I resume the training from this file? That I could load the model trained in the file?

[2021-02-09 22:27] cthoyt commented on #283
I think there's an example in the tutorial at https://pykeen.readthedocs.io/en/stable/tutorial/checkpoints.html on how to do this. Basically the first time you run the code, it doesn't find the checkpoint file and starts from the beginning. The second time you run the code, it finds the same file (since the config is the same), loads it, and keeps training. Let me know if that works for you. If no

[2021-02-10 03:25] PhaelIshall commented on #275
@cthoyt In DBpedia50 the files contain (head, tail, relation) rather than the usual (head, relation, tail). I saw that you were using the data from the link directly and I thought maybe you were not accounting for that.

[2021-02-10 12:31] cthoyt commented on #275
@PhaelIshall oh dear, thanks for pointing this out. Will fix immediately

[2021-02-10 12:33] #261 closed, assigned to nobody

[2021-02-10 12:59] mberr commented on #264
@migalkin since #261 is fixed (with #270), would you please re-run your example with the current `master` on the V100 and let us know whether the problem was resolved?

[2021-02-10 13:56] #275 closed, assigned to cthoyt

[2021-02-10 13:59] cthoyt commented on #275
@PhaelIshall everything should be good now, let me know if there are any other problems (I tested it this time 😆 )

[2021-02-10 21:47] migalkin opened #285 "torch.fft breaks compatibility"
**Describe the bug**
Continuing on #264 , I cloned the master branch (up to this commit 4d543a2da86a26ce4303d01b7069b5e918cd368d ) and started a basic pipeline.
Right upon importing the model the chain of imports crashes:
[code]

This issue appears with torch 1.6, while torch 1.7.1 is running fine - I presume this is due to all the [hassle](https://pytorch.org/docs/stable/generated/torch.fft.html)

[2021-02-11 00:17] cthoyt commented on #285
Looks like it’s time to implement a shady pykeen.compat module 😆

[code]

[2021-02-11 13:06] cthoyt commented on #285
Note: old PyTorch (<1.7) is not available on modern Python versions 3.8, 3.9, and beyond

[2021-02-11 14:09] cthoyt commented on #285
Problem on PyTorch 1.7 - the signature is not the same in the two different ways of importing this function!

| Function | Signature |
|----------|-----------|
| `torch.rfft` | `rfft(input, signal_ndim, normalized=False, onesided=True) -> Tensor` |
| `torch.fft.rfft` | `rfft(input, n=None, dim=-1, norm=None) -> Tensor` |

| Function | Signature |
|----------|-----------|
| `torch.irfft` | `irfft(i

[2021-02-11 16:30] 46692 opened #289 "ConceptNet dataset swaps head and relation IDs"
**Describe the bug**
In the ConceptNet dataset the head and relation IDs are swapped.
The documentation for `CoreTriplesFactory.mapped_triples` states: "A three-column matrix where each row are the head identifier, relation identifier, then tail identifier.", but the relation identifier actually comes first, as is in the original ConceptNet csv.

**To Reproduce**
Steps to reproduce the behavior:
1

[2021-02-11 16:34] cthoyt commented on #289
Hi @46692, thanks for pointing this out. I will have a quick fix for you.

[2021-02-12 12:16] #289 closed, assigned to cthoyt

[2021-02-12 13:28] #281 closed, assigned to cthoyt, mberr

[2021-02-12 17:28] #280 closed, assigned to cthoyt

[2021-02-12 18:37] sbonner0 opened #293 "Is there anyway to resume an ablation study?"
Hi All,

I was wondering is there anyway to resume an ablation study if it gets interrupted for any reason? It seems a shame to have to repeat all the experiments if they have already been completed and logged in the directory structure.

I had a quick look at the code and couldn't see any obvious mechanism in place to handle this....

[2021-02-12 20:04] cthoyt commented on #293
The ablation code in PyKEEN is taken care of by @mali-git. I think this issue could be a subtask of #116.

[2021-02-12 20:05] cthoyt commented on #293
@sbonner0 by the way, since you're working in the life sciences, I'm quite interested to hear about what you're up to. If you've got some time to chat next week on zoom/google/etc, shoot me an email cthoyt@gmail.com

[2021-02-12 20:42] sbonner0 commented on #293
Great thanks for the offer, i'll drop you a mail.

Regarding the ablation issue – due to the way all the directories are made beforehand for all the runs, I don’t think it would be too difficult to keep track of what has and hasn’t been run hopefully. It might even be possible to allow optuna to resume trails within a given ablation trial.

[2021-02-13 14:51] 46692 commented on #289
@cthoyt I implemented your fix in my custom ConceptNet class (for filtering by language and top n entities), but the order is still wrong.

You seem to have tried fixing the problem by changing the order of the columns in the usecols-argument for pandas.read_csv(...), but the documentation for this parameter states:
"...Element order is ignored, so usecols=[0, 1] is the same as [1, 0]...."

I chan

[2021-02-13 14:56] cthoyt commented on #289
@46692 you're correct that the order given in `usecols` is not respected, that's why the PR also includes this:

https://github.com/pykeen/pykeen/blob/ad449ecc753eb603670de67cfa5f49020c61db12/src/pykeen/datasets/base.py#L759-L762

you can install the development code from the master branch of this repo  ([instructions here](https://pykeen.readthedocs.io/en/stable/installation.html#development)) an

[2021-02-13 14:57] cthoyt commented on #289
@46692 btw I'd be interested to see your custom version of this class! If you find it useful, maybe others would too, and it would be a great PR to PyKEEN :)

The interfaces for datasets are pretty extensible since you're always passing `dataset_kwargs`, so you could effectively write it to have any custom arguments you want and still work with the pipeline and other high-level user-facing functio

[2021-02-15 13:25] sbonner0 commented on #293
Some related thoughts on the ablation tool as it is.

- Is there a way to set the seed for the dataset? I couldn't see an obvious one as dataset_kwargs doesn't seem to be an argument for the ablation_pipeline function as it is for others.

- It would be nice if there was a way to pass global settings for parameters like learning rate without having to specify the same thing per model and trainer a

[2021-02-16 17:16] sbonner0 opened #298 "Clarification on the negative sets constructed for evaluation"
I wanted to verify how the evaluation is being performed in pykeen.

Is the complete set of possible corrupted negative triples (both head and tail) used when assessing the rank of a given true triple in the test set? Or is some sampling being used? Is this affected by the type of training being performed (LCWA vs. sLCWA)?

I wonder if the (already excellent) evaluation documentation could be upda

[2021-02-16 18:21] lvermue commented on #298
Hi @sbonner0 ,

Good question and thanks for the suggestion! For now you'll get the quick answer. :)
By default PyKEEN always uses the global set of entities for both head and tails, i.e. _(h r)_ is scored with all possible tails and _(r t)_ is scored with all possible heads to assess the rank of a given true triple in the test set. The type of training is not related to the evaluation, so it does

[2021-02-16 19:50] mberr commented on #298
@sbonner0

To extend on @lvermue 's answer (slightly repeating it :sweat_smile: )

During evaluation, we evaluate head and tail prediction as two separate ranking tasks, and the evaluation does not differ for different training assumptions. For simplicity, I restrict the following answer to tail prediction only, i.e.  `(h, r, ?)`, but head prediction is done analogously.

In general, *all* entitie

[2021-02-16 19:53] mberr opened #299 "Set default value of Evaluator's parameter filtered to True"
**Is your feature request related to a problem? Please describe.**
Since the filtered evaluation is the de facto standard in KG link prediction literature, the default should coincide. Also,  [the documentation](https://pykeen.readthedocs.io/en/latest/tutorial/understanding_evaluation.html#filtering) says so.

**Describe the solution you'd like**
Set the default of `filtered` to `True`, for the ev

[2021-02-16 20:07] cthoyt commented on #299
I support this change

[2021-02-16 20:27] mberr commented on #299
Okay, for the rank based evaluator, this seems to be the default

https://github.com/pykeen/pykeen/blob/f793d28b92dbc4478a551e6117ba0fd6d6d84139/src/pykeen/evaluation/rank_based_evaluator.py#L222

It is only the general Evaluator class where it is set to False by default. This may be a reasonable default value.

[2021-02-16 21:59] cthoyt commented on #299
~Hmm, in the parent Evaluator class, it's set to false, but the only other evaluator class we have is Scikit learn, and it's not used at all. Perhaps we should remove filter from the parent class completely~ sorry this was wrong, there are shared features in the evaluator class that use this.

[2021-02-17 08:45] mberr commented on #298
sorry for the confusion. For the *rank-based* evaluator `filtered=True` is already the default, as also written in the documentation.

[2021-02-17 08:46] mberr commented on #299
@cthoyt as far as I see it, everything is correct as it is right now. If you agree feel free to close the issue (and the related PR).

[2021-02-17 10:25] sbonner0 commented on #298
Hi @lvermue @mberr ,

Thank you so much to you both for your detailed replies. The evaluation process is now clear to me - it's great to see such thought and consideration being placed on this crucial aspect of the KGE field.

Also great to see that the filtered setting is enabled by default.

I have reread the 'Understand the Evaluation' page and see that everything you have said here is indeed c

[2021-02-17 13:08] #299 closed, assigned to nobody

[2021-02-18 01:52] migalkin commented on #285
Confirm, the issue does not appear in the `add-compat` branch, so I think it can be merged & closed.

However, the CUDA OOM with automatic memory optimization still persists 😅 will continue in the relevant thread

[2021-02-18 02:00] migalkin commented on #264
Update: I'm in the `add-compat` branch , after solving the compatibility issue I'm running the same script with automatic memory optimization, and now it crashes during evaluation in a model forward pass (TransE in my case).

Trace:
[code]

So apparently the batch size grew too big for a 48 GB GPU 🤔

[2021-02-18 04:44] migalkin commented on #298
I'd like to comment on the eval procedure on large graphs - I'd say we need to think about sampling anyways, for instance

* `OGBWikiKG` consists of 2.5M entities (it's in the list of available datasets, but apparently nobody tried to spin up a model on it yet, otherwise we would have probably seen an issue 😅 ), so LCWA scoring would require an enormous `[bs, 2.5M]` tensor and in the sLCWA case wi

[2021-02-18 09:11] mberr commented on #298
The score tensor itself does not require significant amounts of memory. For your example, `[bs, 2.5M]` requires `bs * 2,500,000 * 4` bytes, i.e. 10 MiB * batch_size. With any reasonable batch size, this does not pose a serious OOM threat.

I agree that for *computing* these scores, depending on the employed model, we need more intermediate memory. afaik, this is partially solved by using slicing,

[2021-02-18 11:02] lvermue commented on #264
@migalkin Can you provide your script?

[2021-02-18 15:50] migalkin commented on #264
@lvermue  Sure, here it is

[code]

[2021-02-19 13:37] cthoyt commented on #285
@migalkin while the changes in #288 can already mitigate the import error, they break the actual usages of this code in the HolE model. I'll need help from either @mberr or @lvermue to write a solution that works for both

[2021-02-20 20:10] #252 closed, assigned to cthoyt

[2021-02-21 17:01] 46692 opened #304 "How to get loss on validation data?"
I am using an LCWATrainingLoop. After researching the source code I still cannot find a way to get the validation loss during training. Could you provide any hints on how to achieve this?

Currently lcwa_training_loop.train() only returns the loss over the training data for each epoch.

[2021-02-21 22:31] cthoyt commented on #304
Would you please provide an example of the code you're using so we can give the best answer?

[2021-02-22 10:02] mali-git opened #305 "Compute Loss on the Validation Set"
**Is your feature request related to a problem? Please describe.**
Compute the loss on the validation set #304.

[2021-02-22 10:05] mali-git commented on #304
Hi @46692,

Currently, we support computing the ranking metrics, the area under the ROC curve, and the area under the precision-recall curve on the validation set. For now, this can be achieved by using the early stopper (and tracking the results by one of the trackers defined in `pykeen.trackers`) and defining the patience equal to the number of epochs:

[code]

We will address your feature reque

[2021-02-22 14:47] 46692 commented on #304
I am currently training two models, DistMult and an altered version of DistMult.
I want to compare their trainings via the loss on the validation set.
The following is the code I am using for the training, which is mostly taken from the Pykeen Quick Start tutorial:
[code]

The EarlyStopper approach is very usefull too, but sadly no replacement for my requirement.
Thanks!

[2021-02-22 19:27] cthoyt commented on #304
@46692 okay I think we know what needs to be done! we'll keep you updated and link you when we have a prototype PR

[2021-02-24 10:02] mberr opened #306 "Add NELL-995"
**Describe the benchmark KG dataset**:

A subset of http://rtw.ml.cmu.edu/rtw/

Besides normal triples, there are also explicit positive **and negative** labels for the triple classification task.

**Dataset is pre-stratified into train/test/valid**

There is a raw version without split, in TSV format.

In addition, there are triples which have been used to train Trans{D,E,H} embeddings.
These are

[2021-02-24 10:03] mberr commented on #306
https://github.com/ibalazevic/multirelational-poincare/tree/master/data has some additional derived datasets.

[2021-02-24 10:19] cthoyt commented on #306
rock n rollllll i got u

[2021-02-24 10:21] cthoyt opened #307 "Add Countries Dataset"
**Describe the benchmark KG dataset**:

This dataset connects each country its neighbors and the continent that it's in

**Dataset is pre-stratified into train/test/valid** [yes]

**Publication(s) or website describing benchmark KG dataset**:

https://github.com/ZhenfengLei/KGDatasets

**URL for downloading the benchmark KG dataset**:

https://github.com/ZhenfengLei/KGDatasets

[2021-02-24 10:42] mberr opened #308 "PairRE"
**On which paper(s) is your requested model based.**
https://arxiv.org/abs/2011.03798

**List the original and other existing implementations of this model**
No implementation known.

**Relevance of this model**
It is a straight-forward extension of RotatE. They report improved results compared to it.

**Ability to help and additional context**
I can implement it.

[2021-02-24 12:37] mberr opened #310 "Add MuRE model"
**On which paper(s) is your requested model based.**
Originally proposed as baseline to MuRP in https://arxiv.org/abs/1905.09791
More thoroughly investigated in https://openreview.net/forum?id=gLWj29369lW

**List the original and other existing implementations of this model**
Original Implemention: https://github.com/ibalazevic/multirelational-poincare

**Relevance of this model**
https://openrevi

[2021-02-24 16:03] alkis-pap opened #312 "The interaction_function of ComplEx is not what it should be"
According to the documentation and the original paper for the ComplEx model, the last term is subtracted (ie. has a minus sign), but all the terms seem to have the same sign in the actual implementation. Am I missing something?

[2021-02-24 16:46] mberr commented on #312
Hi @alkis-pap .

thanks for spotting this mistake. It seems like it was introduced by some refactoring done in https://github.com/pykeen/pykeen/commit/b208de2475865a008d608ab739a66b949912b0a3.

I will fix this error soon.

[2021-02-24 17:48] #312 closed, assigned to nobody

[2021-02-24 21:29] #308 closed, assigned to nobody

[2021-02-24 22:25] #307 closed, assigned to cthoyt

[2021-02-24 22:47] cthoyt opened #315 "Add DB100K"
**Describe the benchmark KG dataset**:

From the paper:

**Dataset is pre-stratified into train/test/valid** [yes]

**Publication(s) or website describing benchmark KG dataset**:

- https://arxiv.org/pdf/1805.02408 (Ding *et al.*, 2018)
- https://github.com/iieir-km/ComplEx-NNE_AER

**URL for downloading the benchmark KG dataset**:

https://github.com/iieir-km/ComplEx-NNE_AER/tree/master/datasets/

[2021-02-25 10:06] #315 closed, assigned to cthoyt

[2021-02-25 16:01] tgebhart opened #317 "OGB BioKG Incorrect Data Load"
**Describe the bug**
It appears to me that the data loader code for the OGBBioKG dataset doesn't properly map the entities to their associated types, therefore mis-identifying entities in the triples sent in the TriplesFactory object.

**To Reproduce**
Assuming the loading for OGBBioKG is handled by the [OGBLoader class](https://github.com/pykeen/pykeen/blob/master/src/pykeen/datasets/ogb.py#L25),

[2021-02-26 14:16] cthoyt opened #319 "Domain Negative Sampling"
**On which paper(s) is your requested sampler based.**

Q. Xie, X. Ma, Z. Dai, and E. Hovy, “An interpretable knowledge transfer model for knowledge base completion,” in ACL, 2017, pp. 950–962.

https://arxiv.org/abs/1704.05908

**List the original and other existing implementations of this sampler**

<img width="673" alt="Screen Shot 2021-02-26 at 15 12 46" src="https://user-images.githubusercont

[2021-02-26 15:05] #310 closed, assigned to nobody

[2021-02-26 15:07] mberr commented on #319
[In this paper](https://www.cl.uni-heidelberg.de/~nastase/publications/Papers/kbcom2018_analysis-impact-negative.pdf), they also discuss different negative sampling strategies.

[2021-02-26 15:13] cthoyt opened #320 "Adversarial negative sampling"
**On which paper(s) is your requested sampler based.**

L. Cai and W. Y. Wang, “KBGAN: Adversarial learning for knowledge graph embeddings,” in NAACL, 2018, pp. 1470–1480.

https://arxiv.org/abs/1711.04071

**List the original and other existing implementations of this sampler**

https://github.com/cai-lw/KBGAN

**Relevance of this sampler**

This negative sampler is in contrast to the self-advers

[2021-02-28 21:59] #45 closed, assigned to nobody

[2021-03-01 13:44] cthoyt opened #325 "Extend pipeline for direct usage of interaction modules"
Rather than having to write a subclass of Model, the ERModel can be regularly constructed directly from an interaction module. This is going to require a bit of work to make the pipeline work, but at least we can create some helper functions for building up these classes and applying the pipeline on them.

[2021-03-02 19:00] #325 closed, assigned to cthoyt, mberr

[2021-03-02 21:05] ziwli opened #328 "How to initialize the embedding?"
Dear Sir,

I am using pipeline() to train the model, but I want to initialize the embedding setting eg. initilizer and dimension, how could I do?

[2021-03-02 21:18] cthoyt commented on #328
Both of these can be set with the `model_kwargs` keyword to the `pipeline()` function. For example, try:

[code]

Notice in the example I used a string, which can make configuring PyKEEN much easier. You can also specify your own functions like `pytorch.nn.init.normal_`. Our lookup list is here:

https://github.com/pykeen/pykeen/blob/42af73442ca000b410fe1a582d214246096d6eb5/src/pykeen/nn/emb.py#L4

[2021-03-02 21:25] cthoyt commented on #328
I will update the "First steps" docs since this is likely not obvious to first time users

[2021-03-02 21:25] ziwli commented on #328
Dear Sir,

      I also want to ask how to check the list of the model_kwargs and
other xx_kwargs. I could find the model parameters sometimes, but hard to
find all the XX_kwargs names and values. Could you tell me where to find?

On Tue, 2 Mar 2021 at 22:18, Charles Tapley Hoyt <notifications@github.com>
wrote:

[2021-03-02 21:27] cthoyt commented on #328
@ziwli every model defines its own kwargs, so you could check the page for the model you're interested in. Whatever goes in `model_kwargs` will get put there on instantiation inside the pipeline. Same goes for losses, training loops, regularizers, evaluators, etc.

[2021-03-02 21:58] ziwli commented on #328
Dear Sir,

      I am very sorry to disturb you again, I don't know what is the
problem here. The error I guess is that the model name is not correct? But
I really check the class that it is right name. The picture is in
attachment.

On Tue, 2 Mar 2021 at 22:27, Charles Tapley Hoyt <notifications@github.com>
wrote:

[2021-03-02 22:18] cthoyt commented on #328
@ziwli it's no problem, I'm happy to help. However, I can't see the image you've sent. Perhaps if you've got a traceback, you can copy it into the issue box.

Btw, are you in Mannheim? Part of the PyKEEN team is in Bonn and others in Munich!

[2021-03-03 09:41] ziwli commented on #328
Dear Sir,

yes, I am in Mannheim. My thesis is about KGE so I need to use your
framework to train the model, hahhaha. Sorry I just touch it, I am very new
to this.

[code]
what my code is

[code]

I think I am right, I have tried a very simple example, it works. Then
I want to add more experiment setting, not works.

On Tue, 2 Mar 2021 at 23:18, Charles Tapley Hoyt <notifications@github.com>
wrote

[2021-03-03 12:20] cthoyt commented on #328
I'm not able to reproduce the issue you described using this code. Would you please try running `pip install --upgrade pykeen` then also reporting your version number with the output of `pykeen version`?

[2021-03-03 22:11] ziwli commented on #328
Dear Sir,

        I want to ask where can I find the codes I stored in the
checkpoint? I have checked that you stored the epoch, model, optimizer,
random_seed and so on. I also see the codes of pipeline.py, just see the
checkpoint_dict['random']. But could I define what to find by myself?

On Wed, 3 Mar 2021 at 13:20, Charles Tapley Hoyt <notifications@github.com>
wrote:

[2021-03-04 15:30] cthoyt commented on #328
hi @ziwli, the conversation on this issue is getting a bit off topic. If you've got more questions, would you please open separate issues so we can keep the answers and any code needed to support them as organized as possible? Thanks :)

[2021-03-04 15:43] #317 closed, assigned to nobody

[2021-03-04 19:03] ziwli commented on #328
Dear Sir,

       of course, sorry that. I will put my questions in the issue part.

On Thu, 4 Mar 2021 at 16:30, Charles Tapley Hoyt <notifications@github.com>
wrote:

[2021-03-04 19:11] ziwli opened #331 "How to determine the checkpoint content?"
Dear Sir,

I want to ask if we could determine the output content in checkpoint? I have chekced the codes about pipeline(), it does not talk much about the checkpoint setting. I just notice it stored the content about the random seed, model, optimizer. Could I add more features in checkpoint? Eg. the training parameters or configuration.

[2021-03-04 20:00] cthoyt commented on #328
Okay I’m going to close this one because I think the original question was answered. Let me know if that’s not the case

[2021-03-04 20:00] #328 closed, assigned to cthoyt

[2021-03-05 12:10] cthoyt commented on #331
Hi @ziwli, I'm not sure if you've seen the tutorial on checkpoints: https://pykeen.readthedocs.io/en/stable/tutorial/checkpoints.html. It's actually storing the whole model, optimizer, early stopper, random seed configuration, etc. You can see exactly what by checking the following code. All of the other configuration is defined by the call to the `pipeline()`, so you should have that already (tho

[2021-03-05 12:22] ziwli commented on #331
Dear Sir,

      ok, thank you! I think the last code information is very helpful.

On Fri, 5 Mar 2021 at 13:10, Charles Tapley Hoyt <notifications@github.com>
wrote:

[2021-03-05 12:33] #331 closed, assigned to cthoyt

[2021-03-07 20:43] vsocrates opened #333 "Batch-level loss and ResultTracker in console"
**Is your feature request related to a problem? Please describe.**
Similar to PyTorch, I'd like to be able to print out my loss on the batch-level instead of only at the end of every epoch. Reading the source, it looks like `result_tracker` only logs the epoch loss.

**Describe the solution you'd like**
I'd like to be able to add a `result_tracker` for the batch-level loss, as well as potentially

[2021-03-08 11:27] mberr commented on #285
Starting to compare them:

### [torch.rfft](https://pytorch.org/docs/1.6.0/generated/torch.rfft.html#torch.rfft) (old)

#### Documentation
[...] This method supports 1D, 2D and 3D real-to-complex transforms, indicated by signal_ndim. [...]
* input (Tensor) - the input tensor of at least signal_ndim dimensions
* signal_ndim (int) - the number of dimensions in each signal. signal_ndim can only be 1,

[2021-03-08 11:45] mberr commented on #285
For the inverse

### [torch.irfft](https://pytorch.org/docs/1.6.0/generated/torch.irfft.html#torch.irfft) (old)

#### Documentation
[...]
* input (Tensor) - the input tensor of at least signal_ndim + 1 dimensions
* signal_ndim (int) - the number of dimensions in each signal. signal_ndim can only be 1, 2 or 3
* normalized (bool, optional) - controls whether to return normalized results. Default: Fa

[2021-03-08 15:21] cthoyt commented on #333
Hi @vsocrates, that's a nice suggestion. We're going to have to think about how that might look, since it will be a pretty fundamental change to how the result tracker gets called (and potentially its data structure)

In the mean time, I will think about how we might be able to make tracking a bit more interactive in the Jupyter notebook, but to be honest, I think it wouldn't be a good use of time

[2021-03-08 16:43] mberr commented on #333
@vsocrates At least for the LCWA training loop, you might be able to get around by the following trick:

[code]

*Disclaimer: I have not tested this code, and it was written in browser*

@cthoyt for wrapping slcwa, the following code might lead to errors when you try to wrap as shown above:
https://github.com/pykeen/pykeen/blob/de817c54ba68f26fa14ce9333a81896e59481994/src/pykeen/pipeline/api.py#L8

[2021-03-08 17:32] cthoyt commented on #333
@mberr looks like this would be an excellent place to allow for callbacks. Should I get on twitter and start a war?

[2021-03-08 17:40] #285 closed, assigned to cthoyt

[2021-03-08 17:47] vsocrates commented on #333
That makes sense, let me give it a shot! Thanks!

EDIT: Subclassing works! I'll play around with a console-printing ResultTracker too!

[2021-03-08 18:08] cthoyt commented on #333
@vsocrates great! if you come up with something interesting, we'd be happy to walk you through making a PR.

P.S. I grew up in North Haven! I hope you enjoy living in the area around Yale.

[2021-03-08 18:10] cthoyt opened #335 "Training loop callbacks"
Callbacks should have a named tuple that describes what is available (and in some way can be extensible in the future). This would allow a pretty trivial implementation of #333 based on @mberr 's example

[2021-03-10 16:32] shimst3r commented on #89
@mali-git to access the weight data, I have to call

[code]

Has this been updated recently or did I overlook something? :smile:

[2021-03-10 16:57] mberr commented on #89
Hi, this way should still be possible.

For a more future-proof way you can use

[code]
or more explicitly
[code]

which does not depend on the underlying Embedding implementation details, but uses the interface [`RepresentationModule`](https://github.com/pykeen/pykeen/blob/68af86ea387cd3282a7561884aee96d97e63dbda/src/pykeen/nn/emb.py#L34).

Also, we are extending our framework to have a unified w

[2021-03-10 17:31] cthoyt commented on #89
@shimst3r @xin-zhao0 I've started a PR where we translated some of this discussion into the documentation. Thanks for keeping us honest ;)

[2021-03-10 21:24] #89 closed, assigned to nobody

[2021-03-10 21:31] cthoyt commented on #89
New docs at https://pykeen.readthedocs.io/en/latest/tutorial/first_steps.html#using-learned-embeddings

[2021-03-11 05:23] migalkin opened #337 "Running evaluation on the (subset of) training data"
**Is your feature request related to a problem? Please describe.**
Often we want to see how badly a model overfits. So far, the training loop explicitly calls an instance of an early stopper with the validation data
https://github.com/pykeen/pykeen/blob/00610012e9eb841dce56086e9284d4e6d4365f06/src/pykeen/training/training_loop.py#L595

So there is no out-of-the-box way to run the evaluation on a (

[2021-03-11 16:39] shimst3r commented on #89
Thanks @cthoyt, very much appreciated. :+1:

[2021-03-15 13:05] Jeffrey-Sardina opened #338 "Is it possible to stream triples on memory-constrained machines?"
Hello,

I am looking at the best way at the moment to run PyKEEN on large data files that exceed my available RAM. Does PyKEEN have  support for steaming triples, rather than loading them all into a fixed-size array? At the moment I see PyKEEN is loading my entire TSV dataset into a fixed-size array, and I was not able to find anything in the docs about how to change that.

Sincerely,
--Jeffrey Sa

[2021-03-15 13:33] cthoyt commented on #338
Hi @Jeffrey-Sardina, the short answer is no - triple loading is pretty rigid. Since all models in PyKEEN need to at least know all of the entities and relations in the dataset, then train on multiple epochs over all of the triples, this was the naive solution.

I could imagine improvements where PyKEEN pre-processes a dataset in a streaming setting to calculate the entities and relations (as well

[2021-03-15 15:22] lzw950905 opened #339 "Model of best epoch"
Dear Sir,

I want to ask that is the model trained of the best epoch or last epoch? I have read the tutorials that I could load the model from last time training, and it seems that this model is stored as last epoch result. I want to ask how could I get the trained model or checkpint of best epoch? Because I see the results.json, there writes in stopper best_epoch is XXX, I don't know if the train

[2021-03-15 18:20] cthoyt opened #340 "Add QuatE"
**On which paper(s) is your requested model based.**

https://arxiv.org/abs/1904.10281

**List the original and other existing implementations of this model**

- Author's implementation: https://github.com/cheungdaven/QuatE
- https://github.com/Sujit-O/pykg2vec/blob/master/pykg2vec/models/pointwise.py
- https://github.com/Lion-ZS/DualE/blob/main/DualE-master/DualE-master/models/QuatE.py (verbatim

[2021-03-15 18:27] cthoyt opened #341 "Add OctionE"
**On which paper(s) is your requested model based.**

https://arxiv.org/abs/1904.10281 (same as #340)

**List the original and other existing implementations of this model**

- Author's implementation: https://github.com/cheungdaven/QuatE/blob/master/models/OctonionE.py
- `pykg2vec` implementation: https://github.com/Sujit-O/pykg2vec/blob/aabbbfa5e859b99a14023f458e9cc989a5da0b1d/pykg2vec/models/po

[2021-03-15 18:29] cthoyt opened #342 "Add DualE"
**On which paper(s) is your requested model based.**

https://github.com/Lion-ZS/DualE/blob/main/DualE-master/DualE.pdf

**List the original and other existing implementations of this model**
Please provide links to the original implementation and an as comprehensive as possible list about other implementations
of this model.

- Author's implementation: https://github.com/Lion-ZS/DualE/blob/main/D

[2021-03-15 18:33] cthoyt opened #343 "Add MurP"
**On which paper(s) is your requested model based.**

Originally proposed in https://arxiv.org/abs/1905.09791
More thoroughly investigated in https://openreview.net/forum?id=gLWj29369lW

**List the original and other existing implementations of this model**
Please provide links to the original implementation and an as comprehensive as possible list about other implementations
of this model.

Origi

[2021-03-15 21:14] GenetAsefa opened #344 "HPO pipeline for the MultiModal KGE models"
**Describe the bug**
[A clear and concise description of what the bug is.]

Hi,
I am trying to use the HPO pipeline for the MultiModal KGE models (DistMultLiteral and ComplExLiteral) with my own data. However, it seems currently the pipeline doesn't support such models. It raises errors.

**To Reproduce**
A very simple example just to show one of the errors:

[code]
See error:
...
--> 839

[2021-03-15 21:51] cthoyt commented on #344
@GenetAsefa thanks for the bug report, I'll see if I can take care of this for you. I think there's a lot to be desired for working with these kinds of models - your mileage may vary. We also have #245 where we will be updating the implementation to be a bit more slick

[2021-03-15 22:49] GenetAsefa commented on #344
@cthoyt, thank you for the quick response. Yes, you are right, there is a lot that could be considered when it comes to such models and #245 would definitely provide more flexibility. However, for now, it would be also nice to be able to use both pipelines (pykeen.pipeline and pykeen.HPO_pipeline) for multimodal KGEs as they are used for unimodals.   I am conducting experiments with my own pre-str

[2021-03-15 23:34] cthoyt commented on #344
@GenetAsefa thanks for the inspiration, I've added a unit test to check for your scenario and implemented code to solve the issue (see PR link above). In fact, it motivated me to do a bit more cleanup that I had conceived before but never implemented, which will be much better with new-style PyKEEN models where regularization is even more extensible

[2021-03-16 11:32] GenetAsefa commented on #344
@cthoyt yes, that particular issue has been resolved with the changes you have made, thank you. There is one more issue with the HPO (I don't know if I need to open a new issue) I am describing it here.

while running the following command:
[code]
where the content of the hpo_config.json file is :

[code]
I get the following error:
[code]
I see that the 'NationsLiteral' dataset is not among the li

[2021-03-16 12:41] GenetAsefa opened #346 "Providing users with an option to initialize entities and relations with pertained embeddings"
In addition to the options which are already there for entity/relation initializations (xavier_uniform, ...), it would also be great to give a configurable option for users to load pre-trained embeddings of entities/relations to use them for initialization.

For example:
loading a tsv file or a NumPy array with pre-trained weights of relations/entities.

[2021-03-16 13:12] mberr commented on #346
Hi.

While not possible via CLI, from within Python you can pass entity and relation initializers to the models.
The initializers can be any method which receives the weight tensor as input, and returns the initialized weights.

A simple example for initialization from a numpy array (without any error checking etc) is
[code]

**caveat** if you do this, there could be issues with pickling the resul

[2021-03-16 13:39] GenetAsefa commented on #346
Right, that is one way to go. Thanks.

[2021-03-16 13:43] #346 closed, assigned to nobody

[2021-03-16 13:59] cthoyt commented on #346
@mberr would be cool to add this to the docs

[2021-03-16 14:00] #344 closed, assigned to cthoyt

[2021-03-16 14:00] cthoyt commented on #344
@GenetAsefa I'd appreciate if you open a new issue and copy that over. Thanks!

[2021-03-16 14:26] GenetAsefa opened #348 "saving results from the pipeline with MultiModals"
**Describe the bug**
saving the result of the pipeline generates an error.

**To Reproduce**
Steps to reproduce the behavior:
[code]
returns the following error:

[code]

**Environment:**

pykeen==1.4.1.dev0

I haven't checked it but there could also be the same error with the ComplExLiteral model.

[2021-03-16 14:52] GenetAsefa opened #350 "NationsLiteral for HPO from config via CLI"
While running the following command:
[code]
where the content of the hpo_config.json file is :

[code]
I get the following error:
[code]
I see that the 'NationsLiteral' dataset is not among the list of predefined datasets. Adding it there would fix the issue.

[2021-03-16 14:58] GenetAsefa opened #351 "Bring your own pre-startified data for MultiModal KGEs for both pykeen.pipeline.pipeline() and Pykeen.hpo.hpo_pipeline()"
I am interested in using my own data for optimization experiments with multimodal KGEs.

Is it already possible to provide the path to the numeric literals in an "hpo_config.json" file?  like the way the training/validation/testing sets can be provided as in:

[code]
something that would look like this:

[code]
that would be great.  Looking forward to your reply on this.

[2021-03-16 15:01] GenetAsefa commented on #344
@cthoyt I have divided the issue I have posted above into 3 and opened new separate issues and copied them there. Thanks.

[2021-03-16 15:47] mberr commented on #335
Linking [keras](https://keras.io/guides/writing_your_own_callbacks/#an-overview-of-callback-methods)' neat way of defining callback interaction points.

[2021-03-16 18:37] #348 closed, assigned to nobody

[2021-03-16 18:38] cthoyt commented on #348
@GenetAsefa should be all fixed!

[2021-03-17 09:03] mali-git commented on #340
It seems that [https://github.com/cheungdaven/QuatE](https://github.com/cheungdaven/QuatE) is the original implementation.

[2021-03-17 11:04] #338 closed, assigned to nobody

[2021-03-17 13:47] cthoyt commented on #340
@mali-git none of the authors on that repo correspond to the names on the paper, and the paper does not reference this repo. How did you come to that conclusion?

[2021-03-17 14:32] mali-git commented on #340
The repository belongs to Shuai Zhang, who seems to be  the first author of the QuatE paper.

[2021-03-17 15:35] cthoyt commented on #340
Oh, great. I must have misread. Thanks for the clarification

[2021-03-19 09:54] joerenner opened #352 "Memory Efficient Data Processing/Training"
(Similar to https://github.com/pykeen/pykeen/issues/338)

I've been trying to use the ConceptNet dataset, but the python process either gets killed or the jupyter notebook dies due to low memory. As the ConceptNet dataset (and any other large knowledge base) takes up a lot of memory, perhaps it would be beneficial to have an option to not load the whole dataset into memory at once.

For the use ca

[2021-03-19 14:01] cthoyt opened #356 "Generalize embedding initializers"
A simple example for initialization from a numpy array (without any error checking etc) is
[code]

**caveat** if you do this, there could be issues with pickling the resulting model in the end. We might have to provide a class-based wrapper for doing this (which is a bit silly, but would solve the problem) or make the entity_initializer a bit more polymorphic

_Originally posted by @mberr in https

[2021-03-19 18:04] mberr commented on #352
Hi @joerenner .

the main reason for the memory issue for this dataset is currently, that we do store the labels in memory by default. We already worked on separating the storage of metadata (including labelling) into a separate component and to have a core component of index-based triples, the [CoreTriplesFactory](https://pykeen.readthedocs.io/en/stable/reference/triples.html?highlight=triples#py

[2021-03-22 10:08] joerenner commented on #352
Hi @mberr,

Thank you for the detailed reply! I appreciate you making the files available. I'll use this solution.

[2021-03-22 10:08] #352 closed, assigned to nobody

[2021-03-23 10:22] cthoyt opened #358 "Add ConEx"
**On which paper(s) is your requested model based.**

https://openreview.net/forum?id=6T45-4TFqaX ([pdf](https://openreview.net/pdf?id=6T45-4TFqaX))

**List the original and other existing implementations of this model**

author’s implementation:
- (repo) https://github.com/dice-group/Convolutional-Complex-Knowledge-Graph-Embeddings
- (specific code) https://github.com/dice-group/Convolutional-Com

[2021-03-23 15:58] cthoyt opened #359 "Multimodal benchmark KGs"
[kgbench: A Collection of Datasets for Multimodal and Relational Learning on Heterogeneous Knowledge](https://openreview.net/forum?id=yeK_9wxRDbA) ([pdf](https://openreview.net/pdf?id=yeK_9wxRDbA), [GitHub](
https://github.com/pbloem/kgbench)) presents several multimodal benchmark knowledge graphs, some with literals (and even others with images and audio! but that's work for another day). It woul

[2021-03-25 16:53] GenetAsefa commented on #359
Yes, it is interesting. Thank you for sharing!

[2021-03-26 17:17] nikky4D commented on #53
This look interesting. Is there a sample of this?

[2021-03-26 19:39] Jeffrey-Sardina opened #361 "Is it possible to load S,P,O triples as integers in PyKEEN?"
Hello,

I had a question about using my own data in PyKEEN. Suppose I have an n-triples .tsv file as so:
[code]

I noticed that PyKEEN currently loads these triples as a string, and then (as far as I can tell) associates an integer ID with each of them. I then see that there is some semantic / textual analysis (such as removing potential inverses), which of course requires that the data be strings

[2021-03-26 20:05] cthoyt commented on #361
Hi @Jeffrey-Sardina, the short answer is yes, but it's not well documented because there are other improvements we'd like to make before publicizing it. You can use the [`pykeen.triples.CoreTriplesFactory`](https://pykeen.readthedocs.io/en/stable/reference/triples.html#pykeen.triples.CoreTriplesFactory) instead of the [`pykeen.triples.TriplesFactory`](https://pykeen.readthedocs.io/en/stable/refere

[2021-03-26 20:07] cthoyt commented on #53
Not yet, but thanks for the bump ;) I will try and make one over the weekend or early next week. It's actually a lot easier than I had originally thought since you can integrate Google Colab with GitHub and directly open a Jupyrer notebook that's in a GitHub repo, then commit changes back to GitHub (Colab itself is a modified version of Jupyter notebook/lab). The trick is to make sure all of the i

[2021-03-26 20:44] Jeffrey-Sardina commented on #361
Wonderful, thank you very much. Happy Friday to you as well!

[2021-03-26 20:44] #361 closed, assigned to nobody

[2021-03-27 11:41] cthoyt opened #362 "Add AceKG"
**Describe the benchmark KG dataset**:

Academia, bibliometrics

**Dataset is pre-stratified into train/test/valid** No

**Publication(s) or website describing benchmark KG dataset**:

https://arxiv.org/abs/1807.08484

**URL for downloading the benchmark KG dataset**:

https://archive.acemap.info/acekg/#download

[2021-03-28 06:55] cosmeowpawlitan opened #363 "What does filtered OpenBioLink dataset mean?"
I have searched the document. The word "filter" is used in scenario about excluding false negative sample in training and excluding true positive tuple in rank-based evaluation.

I still don't get what does that mean for " First Filtered OpenBioLink 2020 Dataset" and "Second Filtered OpenBioLink 2020 Dataset". Does that refers to the dataset quality in "https://github.com/OpenBioLink/OpenBioLink"?

[2021-03-28 09:15] mberr commented on #363
Hi @jerryIsHere ,

first a disclaimer: I am not very familiar with this dataset;  @mali-git  or @cthoyt should know more about it, and likely will answer later on.

From what I know, this is correct. The "filtered" does *not* refer to filtered evaluation, which is what you explained in your first paragraph.

[2021-03-28 14:13] cthoyt commented on #363
@jerryIsHere OpenBioLink has a canonical dataset ("high quality") and a "low quality" dataset. We were doing some internal experiments to determine if the composition of the canonical OpenBioLink dataset was really meaningful (e.g., we wanted to see if some of the datasets that it includes are not informative/don't contribute to good performance). Unfortunately this project is currently on the bac

[2021-03-28 15:04] #363 closed, assigned to nobody

[2021-03-28 15:55] #175 closed, assigned to nobody

[2021-03-29 07:38] PhaelIshall opened #364 "Replicating experiment results"
I would like to recreate the results listed under experiments, for example, through this link, [this ](https://github.com/pykeen/pykeen/blob/master/src/pykeen/experiments/convkb/nguyen2018_transe_fb15k237.json) is a TransE model would like to run on Fb15k-237.

In the experiments folder, some models have the results there as well and some don't. How can I get the expected results for the configura

[2021-03-29 07:51] mali-git commented on #364
Hi @PhaelIshall,

The results provided in the configuration files are the reported results from the original papers and not necessarily those which we obtained  (due to different reasons described in our paper ["Bringing Light Into the Dark: A Large-scale Evaluation of Knowledge GraphEmbedding Models under a Unified Framework"](https://arxiv.org/abs/2006.13365)).
The configurations and results of

[2021-03-29 08:44] PhaelIshall commented on #364
@mali-git Thanks for answering. I have another question. In some config files there are some parameters like `entity_initializer` and `relation_initializer`. When I specify these in the pipeline under `model_kwargs`, such as giving `uniform` as a value, I get an error saying these are not recognizable.

I also want to specify some details in the regularization such as entity embedding weight and r

[2021-03-29 11:36] cthoyt commented on #364
This is going to require a bit of a different kind of answer. Could you open a new issue so we can discuss there?

[2021-03-30 06:28] #364 closed, assigned to nobody

[2021-03-30 06:36] PhaelIshall opened #365 "Adding extra model training parameters"
In some config files there are some parameters like `entity_initializer `and `relation_initializer.` When I specify these in the pipeline under `model_kwargs,` such as giving uniform as a value, I get an error saying these are not recognizable.

I also want to specify some details in the regularization such as entity `embedding weight` and `relation embedding weight` but I don't see this in the do

[2021-03-30 09:07] cthoyt commented on #365
Can you provide an example of the code you’re using that gives this error?

[2021-03-30 09:29] PhaelIshall commented on #365
@cthoyt Thanks for the reply.

I have tried just using [this](https://github.com/pykeen/pykeen/blob/master/src/pykeen/experiments/convkb/nguyen2018_transe_fb15k237.json) config of TransE from the experiments folder  (both by using `pipeline_from_config` and just by using `pipeline` and filling the parameters)

I also wanted to use pykeen replicate experiments used in the [paper](https://www.semant

[2021-03-31 10:03] cthoyt opened #366 "Build a pipeline for evaluating with OGB"
Wrap either a `PipelineResult` or a `Model` such that it does the evaluation requested by a given OGB task (link prediction, node classification, etc.)

[2021-04-07 09:52] cthoyt opened #368 "Add mean average precision (MAP) metric"
See section 2.3 of https://www.mdpi.com/2078-2489/12/4/147/htm

<img width="700" alt="Screen Shot 2021-04-07 at 11 53 56" src="https://user-images.githubusercontent.com/5069736/113847624-f4550300-9797-11eb-893f-2d0244d7cc7d.png">

[2021-04-07 10:05] mberr commented on #368
Would [sklearn.metrics.average_precision_score](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.average_precision_score.html) + `SklearnEvaluator` suffice?

[2021-04-07 10:16] cthoyt opened #369 "Add RotL"
**On which paper(s) is your requested model based.**

"High-efficiency Euclidean-based Models for Low-dimensional Knowledge Graph Embeddings"
https://arxiv.org/abs/2103.14930

**List the original and other existing implementations of this model**

Paper claims the code is available on GitHub but there's no link inside and I wasn't able to find it

**Relevance of this model**

- Companion to #370
-

[2021-04-07 10:17] cthoyt opened #370 "Add Rot2L"
**On which paper(s) is your requested model based.**

"High-efficiency Euclidean-based Models for Low-dimensional Knowledge Graph Embeddings"
https://arxiv.org/abs/2103.14930

**List the original and other existing implementations of this model**

Paper claims the code is available on GitHub but there's no link inside and I wasn't able to find it

**Relevance of this model**

- Companion to #369
-

[2021-04-07 10:18] cthoyt commented on #368
That might be the case. We could roll this up in our evaluation reckoning I want to combine the sklearn evaluator and rank-based evaluator and have the functions be more like plugins. I don't think it's ever the case that sklearn is so slow or memory intensive that we couldn't always do it, right?

[2021-04-07 12:15] mberr commented on #368
I have not benchmarked them. However, the rank based evaluator can run on GPU (for rank computation), and only the rank aggregation happens on CPU.

[2021-04-15 05:00] cosmeowpawlitan opened #373 "Kaggle notebooks are having trouble loading entrypoints"
I use the following code on colab or kaggle
[code]
Exception occurs on the import line.
this error message pops out:
[code]

It would be fine if I restart the kernel such that the python environment is reloaded at least once after the package installation. However it would make kaggle commit (Save version => Save & Run all (commit)) impossible, cause I have to do the restart manually and interacti

[2021-04-15 07:48] cthoyt commented on #373
Hi @jerryIsHere , doing `pip install --upgrade` should do the trick. Colab is probably caching an old version.

[2021-04-15 08:31] cosmeowpawlitan commented on #373
![image](https://user-images.githubusercontent.com/50871412/114839115-fc501b00-9e07-11eb-8e0e-c71d280f41f0.png)
it is already 1.4.0
I already tried `pip install --upgrade pykeen`
BTW if I remember correctly, I tried `!pip show pykeen` few days ago, the package was 1.4.0 already before I call `pip install --upgrade pykeen`

[2021-04-15 08:36] dfdazac opened #374 "Clarify formula of Adjusted Mean Rank"
Thanks for making such a great library!
I'm currently evaluating some models and I noticed that PyKEEN implements the AMR metric proposed in Berrendorf et al. 2020. In the first version of the paper, the metric would take values in the interval (0, 2), with 0 being the best performance, 1 random performance, and 2 the worst. From looking at the code, this is the version implemented in PyKEEN:

htt

[2021-04-15 08:46] cthoyt opened #375 "Bug in word cloud"
[code]

[2021-04-15 08:48] cthoyt commented on #374
Hi @dfdazac, luckily we have Berrendorf ;) we'll try and clear that up in the docs ASAP

[2021-04-15 09:30] mberr commented on #375
@cthoyt I suppose this happens if `top` is larger than the number of available options (entities in this case). A simple fix should be to set `top = min(top, uniq.numel())`

[2021-04-15 09:35] cthoyt commented on #375
Yes @mberr that did the trick! I will include it in my super random PR

[2021-04-15 10:05] cthoyt commented on #373
Hmm... I've never worked with notebooks in Kaggle and just realized in my previous comment I was getting confused with Google Colab. Could you give me some information on how to get this up and running so i can try myself?

I can also explain why the exception is happening: the datasets are loaded through python entrypoints, so you can add more stuff without modifying the PyKEEN code itself. PyKEE

[2021-04-15 10:16] cosmeowpawlitan commented on #373
Yes, but the same issue also happens on google colab too.
I was trying to search for system/utility library which can mimic the loading process of python entry-point on jupyter notebook as a workaround, but didn't find any suitable module.
I was thinking maybe some python expert knows something related.

[2021-04-15 10:19] #53 closed, assigned to nobody

[2021-04-15 10:19] #375 closed, assigned to nobody

[2021-04-15 10:25] cthoyt opened #377 "Report AMRI"
AMR is not so intutitive (the range is [0, 2]) so AMRI is defined as 1-AMR such that 1.0 is the best and -1 is the worst

[2021-04-15 11:51] cthoyt commented on #373
I have a few examples in [this folder](https://github.com/pykeen/pykeen/tree/master/notebooks) that now have links to open on colab. I was just using colab yesterday on a new notebook so that shouldn't be an issue.

I just made a notebook on Kaggle and was able to get everything working: https://www.kaggle.com/charlestapleyhoyt/pykeen-demo. Note: I had to turn the internet on, but everything else

[2021-04-15 11:52] cthoyt commented on #373
Wow, really crazy. It worked then when I saved it, it re-ran and got the same error you were having (though it's now definitely obvious that it's using the latest code, since I just introduced the `pykeen.env()` function in my last commit)

[2021-04-15 11:57] cthoyt commented on #374
I made a short update here that's reflected in these docs: https://pykeen.readthedocs.io/en/latest/reference/evaluation/rank_based.html

We're also going to add the AMRI (AMR that's reindexed to [-1,1]) in #378 so you can decide from either option

[2021-04-15 16:05] mberr commented on #374
Hi @dfdazac ,

thanks for opening the issue. Indeed there are two versions of the paper, where we addressed reviewers concerns about larger values corresponding to better performance being more intuitive. We still tried to maintain "backwards compatability".

#### Adjusted Mean Rank (AMR)
This is  `AMR = MR / E[MR]`. Since MR is 1-based, we end up with a value range of `(0, 2)`, where a value clos

[2021-04-16 09:51] cosmeowpawlitan commented on #373
I just found the workaound. It should work on both colab and kaggle.
[code]
https://colab.research.google.com/drive/1yFWDQ3OybultFHaNdi_gJCHpBJiB4Iem?usp=sharing

[2021-04-16 12:10] mberr commented on #16
@cthoyt there seems to be a problem with how the return value of methods with `yield` is written in the docstring. What would be the correct way?

[2021-04-16 13:09] mberr commented on #16
Hm, the yield fix does not seem to work :confused:

[2021-04-16 13:18] cthoyt commented on #373
@jerryIsHere thank you very much for bringing this to my attention, and also for contributing a fix! I've just submitted a PR that updates the docs to reflect this and will give you a shout-out in the next release. Would you like me to write your name just as your github handle, or would you like to give your full name?

[2021-04-16 13:20] cosmeowpawlitan commented on #373
My pleasure. Thanks for your quick and responsive support too.
Just write my name as my github handle

[2021-04-16 13:45] #373 closed, assigned to nobody

[2021-04-16 16:21] #374 closed, assigned to mberr

[2021-04-16 16:21] #377 closed, assigned to cthoyt

[2021-04-16 16:28] cthoyt opened #380 "Add inverse geometric mean rank metric"
@mberr do you think inverse geometric mean rank (IGMR) or reciprocal geometric mean rank (RGMR) sounds better?

[2021-04-16 16:37] mberr commented on #380
Why not directly include all of them?

# Mean Rank
* arithmetic_mean_rank - MR (for backwards-compatiblity, but also since sadly AMR collides with adjusted mean rank :crying_cat_face: )
* geometric_mean_rank - GMR
* harmonic_mean_rank - HMR

# Mean Reciprocal Rank
* arithmetic_mean_reciprocal_rank - MRR (for backwards-compatibility, alternative AMRR)
* geometric_mean_reciprocal_rank - GMRR
* harmo

[2021-04-16 16:41] mberr commented on #380
Median also seems to be interesting and straight-forward to implement (however, the only [holistic aggregation](https://www.sciencedirect.com/topics/computer-science/aggregate-function) so far)

[2021-04-16 16:42] mberr commented on #380
Also, let's add `std`, so we can do tests with mean + std (I think you already talked about this some time ago).

[2021-04-16 16:56] mberr commented on #16
@PyKEEN-bot test

[2021-04-16 16:59] mberr commented on #16
@PyKEEN-bot test

[2021-04-16 18:14] cthoyt commented on #380
You asked for it. Now you're going to be sorry 👻  here come 11 new ones :)))

[2021-04-19 11:28] cthoyt commented on #351
Hi @GenetAsefa, we haven't forgotten about this, but there are a few high priority things we've been focused on. I do like this idea and we will do it eventually.

[2021-04-19 11:39] #380 closed, assigned to cthoyt

[2021-04-19 14:04] mberr commented on #16
@PyKEEN-bot please test

[2021-04-19 16:15] mberr commented on #16
@cthoyt https://github.com/pykeen/pykeen/pull/16/checks?check_run_id=2382577801#step:7:12 this seems to be a problem with darglint and `yield` docstrings

[2021-04-19 16:23] mberr commented on #16
In sphinx-style there is no yield keyword: https://www.sphinx-doc.org/en/master/usage/restructuredtext/domains.html#info-field-lists

[2021-04-19 16:32] #340 closed, assigned to mali-git

[2021-04-19 17:06] mberr commented on #16
@PyKEEN-bot test

[2021-04-19 17:12] mberr commented on #16
https://github.com/pykeen/pykeen/runs/2383060856#step:8:371

sphinx build fails