[2021-04-19 21:18] mberr commented on #16
@cthoyt do the slow test run *all* test? Since they are already running for >1h 😅

[2021-04-20 08:34] mberr opened #383 "Add Tensorboard Tracker"
**Is your feature request related to a problem? Please describe.**
Tensorboard is another popular tracker. Integration seems easy, cf. https://pytorch.org/tutorials/recipes/recipes/tensorboard_with_pytorch.html

**Describe the solution you'd like**
Add a tracker for Tensorboard.

[2021-04-20 08:38] mberr commented on #16
@PyKEEN-bot test

[2021-04-20 09:23] mberr commented on #16
@cthoyt feel free to merge afterwards.

[2021-04-20 15:07] cthoyt opened #388 "Enable training on inverse triples via CLI"

[2021-04-20 15:28] #388 closed, assigned to cthoyt

[2021-04-20 21:40] #116 closed, assigned to nobody

[2021-04-21 10:06] dfdazac commented on #374
Thanks @mberr a lot for the detailed explanation! It's much more clear now.

[2021-04-21 17:51] aixgeek commented on #362
the url for downloading is rejected

[2021-04-22 16:25] Rodrigo-A-Pereira opened #394 "setup.cfg update request"
Given the last updates to the rank_based_evaluator.py file (https://github.com/pykeen/pykeen/commit/a3a463a03a02efb24f1cec5ae583be765612a6b9), the setup.cfg should be updated in order to force the **scipy** library to be at least on version 1.5.0, since the function "median_abs_deviation" only exists from that version onwards.

Best regards,

Rodrigo Pereira

[2021-04-22 16:29] mberr commented on #394
Hi @Rodrigo-A-Pereira ,

thanks for reporting! I'll take care of it now.

[2021-04-22 16:31] mberr commented on #394
For reference, here is also the link to the function in scipy: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.median_abs_deviation.html

[2021-04-22 16:57] mberr opened #396 "Connect pykeen to torch.hub"
**Is your feature request related to a problem? Please describe.**
[torch.hub](https://pytorch.org/docs/stable/hub.html) allows to share pre-trained models. Providing pre-trained models enables re-use for down-stream applications without the need to train your own model.

**Describe the solution you'd like**
torch hub requires to create a `hubconf.py` file at the repository root, which contains en

[2021-04-22 23:05] martinsvat opened #397 "Filtered MRR/hits/ranks miss validation triplets"
Recently, I wanted to reproduce results from your paper, when I noticed different values of MRR and hits@k for some models I've been playing for some time (with different implementations). I found a possible issue in the codebase. In your paper _Bringing Light Into the Dark_ you cite Bordes et al ([16] https://hal.archives-ouvertes.fr/docs/00/92/07/77/PDF/bordes13nips.pdf ), which says

When I exa

[2021-04-23 07:53] #394 closed, assigned to nobody

[2021-04-23 07:55] mberr opened #399 "Update minimum version of pystow"
Another candidate for updated minimum version requirement in `setup.cfg`, @cthoyt ?

_Originally posted by @mberr in https://github.com/pykeen/pykeen/issues/393#issuecomment-825066884_

[2021-04-23 17:21] mali-git commented on #397
Hi Martin (@martinsvat),

Thanks a lot for pointing this out! :)
We are currently working on a solution ([#398](https://github.com/pykeen/pykeen/pull/398)) that enables users to provide additional triples to the evaluator that should be filtered out during the filtered evaluation. In this context, one would provide the validation triples in addition.

[2021-04-25 09:44] #272 closed, assigned to nobody

[2021-04-25 09:44] #273 closed, assigned to nobody

[2021-04-25 12:32] #244 closed, assigned to nobody

[2021-04-25 12:34] cthoyt commented on #399
Closed by #245

[2021-04-25 12:34] #399 closed, assigned to nobody

[2021-04-26 21:11] martinsvat commented on #397
Hi Mehdi (@mali-git),

great work!

Was this (validation) filtering missing in the version used for _Bringing light into the dark..._ paper, i.e. version 0.1.2-dev (https://github.com/pykeen/benchmarking)? If this is the case, then it would be good to make a note somewhere (errata for the paper,...) that the values are not in fact filtered metrics. Once, I was struggling to reproduce the results o

[2021-04-26 21:28] mali-git commented on #397
Hi Martin,

Yes, this was also the case for the version used for the paper.
Therefore, we will re-evaluate the models and update the paper accordingly.

[2021-04-28 00:17] cthoyt commented on #397
I think we've addressed the bug pointed out by the original issue with #398. Throughout the process, we made the interface a bit more general. This makes the HPO and pipeline work in the desired way with the same configuration that you posted.

I don't think it's how you're using PyKEEN, but in the case that you want to roll your own training pipeline, these generalizations can allow you to get a

[2021-04-28 09:03] martinsvat commented on #397
@cthoyt Great work! Consider this issue closed :)

Regarding the benchmarking: 👍 for reevaluating thousands of GPU computational hours. That's the correct way of experiments reproducibility (which I've not seen in the community yet).

[2021-04-28 10:05] mberr opened #410 "Update dataset resolution to class-resolver"
_From the discussion [here](https://github.com/pykeen/pykeen/pull/403#discussion_r620021422)_

[2021-04-28 14:54] #397 closed, assigned to nobody

[2021-05-03 09:08] mberr opened #413 "Update deprecated use of numpy.long"
[code]

[2021-05-03 09:43] DylanVsn opened #414 "Basic Negative Sampler issue on some datasets with specific models"
[dataset1.txt](https://github.com/pykeen/pykeen/files/6414058/dataset1.txt)
[dataset2.txt](https://github.com/pykeen/pykeen/files/6414059/dataset2.txt)

Hi, I'm in a internship where I work on the impact of noisy datasets where I need to get Embeddings to compare them.

The bug happened to me on 2 corruptions of datasets, I got this error:
[code]
This bug only occurs on 2 corrupted dataset (on a t

[2021-05-03 14:23] mberr commented on #414
Hi @DylanVsn .

thanks for reporting this issue! The problem arises since the last batch contains fewer triples than there are corruption indices (2, head & tail). I pushed a fix in #415.

[2021-05-03 15:09] DylanVsn commented on #414
Hi @mberr Thanks for the quick fix, it solves the issue !

(I know it's a bit out of context but this fix come with a new advanced version of pykeen I didn't got with pypi and now I was wondering which was the way to get a pair "entity_name": embedding and the same goes for the relations because my previous
[code]
isn't valid anymore due to the removing of triples_factory from the pline.model.)

T

[2021-05-03 17:13] #414 closed, assigned to nobody

[2021-05-03 17:43] mberr commented on #414
@DylanVsn the triples factory is not part of the model anymore. However, it is still part of the training result.

Thus, you can modify your code as follows

[code]

P.S.: For new-style models, such as e.g., Unstructured Model, or PairRE, you need to replace the first line by
[code]

[2021-05-03 17:50] cthoyt commented on #414
More information on how to use the "learned embeddings" under this header in the docs: https://pykeen.readthedocs.io/en/latest/tutorial/first_steps.html#using-learned-embeddings

Please let me know if some of that isn't clear and I will make appropriate updates

[2021-05-03 18:36] DylanVsn commented on #414
Thanks to both of you @mberr and @cthoyt for your replies it was exactly what I was looking for.
Thank you for this great package, keep up the good work !

[2021-05-03 18:47] cthoyt commented on #414
@DylanVsn I'd be interested to know more about your algorithm for "corruption".

I've investigating the impact of random initialization and dataset split (there is a section about halfway down this blog post on it https://cthoyt.com/2021/04/05/kgem-perspectives.html) as well as some experiments I haven't published yet on randomly robustness to removing triples from the training sets. The implement

[2021-05-04 08:55] DylanVsn commented on #414
Hi @cthoyt thanks for your interesting blog post, that was an interesting and rich reading.
Thank you again for the two methods of PyKeen, it could be usefull in near future.

Concerning the algorithms we currently have 3 algorithms that work on the graph instead of the triples and could be on either entities or relations. For each corruption, we specify if it either affects entities or relations

[2021-05-05 12:15] cthoyt commented on #57
@mberr can we delete this branch?

[2021-05-05 16:15] mberr commented on #57
Yes :+1:

[2021-05-06 05:13] dany-nonstop opened #421 "Experiments on RotatE doesn't work"
**Describe the bug**
Cannot run RotatE experiment

**To Reproduce**
[1] Run command
[code]
[2] pykeen failed to initialize
[code]
**Expected behavior**
Start training with parameters in ```src/pykeen/experiments/rotate/sun2019_rotate_fb15k.json ```

**Environment:**

| Key             | Value                    |
|-----------------|--------------------------|
| OS              | posix

[2021-05-06 11:55] #421 closed, assigned to cthoyt

[2021-05-06 11:59] cthoyt commented on #421
Hi @dany-nonstop, thanks for pointing this out. This was indeed a bug I introduced when I generalized the usage of initializers to allow for string input, and I made a typo for `init_phases`. PR #423 adds the synonym back so the existing config will work out of the box, and updates error messages to be more informative. You'll need to update to the newest code from GitHub until our next release

[2021-05-06 12:13] cthoyt opened #424 "Port ConvKB to ERModel"
The ConvKB model is the only one that takes care of the current usage of the new-style model's `ERModel.append_weight_regularizer` function. This happens **after** the call to `super().__init__()` and might be antithetical to #411, so it would be good to see how this will affect that PR.

[2021-05-07 10:13] kantholtz opened #426 "Use primitive data types in stopper's summary dicts"
Hi guys. Minor thing ahead :)

**Is your feature request related to a problem? Please describe.**

The dictionary returned by `get_summary_dict()` on Stopper instances contains `numpy.float64` instead of the primitive python data types. This leads to confusing behavior for example when writing this dict to yaml.

[code]

[code]
This concerns the fields `results` and `best_metric`

[code]

**Descri

[2021-05-07 11:11] mberr commented on #426
Hi @kantholtz ,

thanks for finding this issue, and offering your help.

From my point of view, the best point of conversion would be here
https://github.com/pykeen/pykeen/blob/9bbb7c0c4f2054f3c920461aa70562e33267212c/src/pykeen/evaluation/rank_based_evaluator.py#L433-L438
when first computing the evaluation metrics.

Let me know when you have further questions or need assistance.

[2021-05-08 05:29] dany-nonstop commented on #421
Hi, @cthoyt thanks for fixing the minor bug. After the update this experiment starts without any problem! My only complaint now is the speed of training. 😄

[2021-05-08 14:02] cthoyt opened #430 "Console Tracker"
Originally proposed in #333

Create a tracker that just prints to the console

[2021-05-09 00:57] cthoyt opened #431 "Closed World Training Loop"
PyKEEN currently implements two training loops:

1. The local closed world assumption (LCWA). People often mistakenly call this the _closed world assumption_)
2. The _stochastic_ closed world assumption (sLCWA). People often mistakenly call this the _open world assumption_)

Training for the link prediction task under the open world assumption is mostly nonsensical (some negatives are necessary fo

[2021-05-09 08:20] lzw950905 opened #432 "reproducible experiments"
**Describe the bug**
I want to use the experiment setting published in ''Bringing Light Into the Dark: A Large-scale Evaluation of Knowledge Graph Embedding Models Under a Unified Framework.''. One setting is "training_loop": "OWA". But when I run, it shows that ''ValueError: Invalid TrainingLoop name: OWA. Valid choices are: ['lcwa', 'slcwa']''.

**To Reproduce**
Steps to reproduce the behavior:

[2021-05-09 15:45] mali-git commented on #432
Hi @lzw950905,
We have updated the nomenclature in the subsequent versions. `owa` has been renamed to `slcwa` (stochastic local closed world assumption).

[2021-05-09 17:21] cthoyt commented on #432
@mali-git shouldn’t we update the config files to reflect the new name?

[2021-05-09 20:46] lvermue commented on #264
@migalkin I could consistently replicate your error using your script and un-setting all batch sizes so AMO tries to derive the right sizes on an A100-40GB. I have a proposed a fix in #433. I have also tested the fix on your add-compat branch and it consistently fixed the bug 😊 Does this fix the issue for you as well?

[2021-05-10 02:30] #432 closed, assigned to mali-git

[2021-05-10 08:09] mali-git commented on #432
Maybe we can add a conversion script (in the benchmarking repository)? This would ensure that the configurations can be executed with the version used for the experiments and ensures that the configurations can be used with the current version.

[2021-05-10 17:24] cthoyt opened #435 "Demonstrate re-implementation of R-GCN using PyTorch Geometric"
There's an implementation of the R-GCN convolution in [`torch_geometric.nn.conv.RGCNConv`](https://pytorch-geometric.readthedocs.io/en/latest/modules/nn.html#torch_geometric.nn.conv.RGCNConv). It would be interesting to see if it would be possible to re-implement the R-GCN model using this module, since it could give insight on how to choose arbitrary other PyTorch Geometric modules inside PyKEEN

[2021-05-10 23:19] #426 closed, assigned to nobody

[2021-05-11 00:27] #264 closed, assigned to nobody

[2021-05-11 08:55] mberr opened #437 "ID Misalignment for FB15k237"
**Describe the bug**
The entity-to-id mapping from the training part is not used for validation. Thus, their number of relations differ.

**To Reproduce**
[code]

**Expected behavior**
The mappings have to be consistent.

**Environment:**

| Key             | Value                    |
|-----------------|--------------------------|
| OS              | posix                    |
| Platform        |

[2021-05-11 13:15] #437 closed, assigned to nobody

[2021-05-12 07:52] mberr opened #441 "Micro vs. Macro Evaluation"
**Is your feature request related to a problem? Please describe.**

The existing evaluation framework computes one rank value per evaluation triple and side, and then aggregates the ranks. For simplicity we discuss only the tail prediction here.

In the evaluation triples we can have multiple true tails `{t_1, ..., t_k}` for the same head-relation pair `(h, r)`. Depending on how the link predictio

[2021-05-12 15:11] #430 closed, assigned to nobody

[2021-05-12 16:16] #413 closed, assigned to nobody

[2021-05-18 03:06] #335 closed, assigned to cthoyt

[2021-05-18 03:06] #333 closed, assigned to nobody

[2021-05-18 08:43] mberr commented on #333
@vsocrates we added a console tracker in #430, as well as making it easier to create training loop callbacks in #429. Thanks for your suggestions again!

[2021-05-18 12:46] lvermue commented on #129
@kantholtz I assume that #433 and/or #419 also fix this issue. Can you confirm?

[2021-05-18 12:53] kantholtz commented on #129
I am testing this at the moment coincidentally :) Up to this point, no problem occurred. I wanted to report whether it works at some point but I'll be closing this issue now and just re-open, if I should encounter it again. Thanks!

[2021-05-18 12:53] #129 closed, assigned to nobody

[2021-05-18 15:36] cthoyt opened #451 "Ablation pipeline fails for new-style models"
**Describe the bug**

The ablation pipeline does not support new-style models (e.g., subclasses of `pykeen.models.ERModel`). The following stacktrace is produced by the code below:

[code]

**To Reproduce**

[code]

**Expected behavior**

Run the ablation pipeline without error

**Environment:**

| Key             | Value                    |
|-----------------|--------------------------|
| OS

[2021-05-18 18:17] cthoyt opened #452 "QuatE doesn't do anything with its default regularizer"
https://github.com/pykeen/pykeen/blob/e762cae2dedacd86d3d89d6a5e277d60c45b89b2/src/pykeen/models/unimodal/quate.py#L79-L86

The default regularizer is neither applied to the entitity nor relation embeddings in the `__init__` of the QuatE class. @mali-git @mberr since you were responsible for the original QuatE PR, could you look into this? It's also causing bugs in the ablation pipeline (see #451)

[2021-05-19 09:27] mberr commented on #452
Relevant PR: #367

[2021-05-19 09:43] mberr commented on #452
This is from the paper (but for `p=2` normalization).

![Screenshot from 2021-05-19 11-42-30](https://user-images.githubusercontent.com/36984984/118791783-5759af80-b897-11eb-8331-9e31bb5b452e.png)

The N3 regularization is not explicitly described in the paper, so we need to check the code again.

[2021-05-19 10:40] mberr commented on #452
In the code there is no trace of N3. I suggest we switch the default to L2.

[2021-05-19 12:31] #452 closed, assigned to nobody

[2021-05-19 17:23] sbonner0 commented on #227
Closing this issue as I have not seen the issue again.

[2021-05-19 17:23] #227 closed, assigned to nobody

[2021-05-19 17:24] sbonner0 commented on #224
Closing as batch size was one of the HPO params

[2021-05-19 17:24] #224 closed, assigned to nobody

[2021-05-22 00:15] #451 closed, assigned to cthoyt

[2021-05-22 13:46] lzw950905 opened #460 "Document how to optimize entity initializers in the HPO pipeline"
**Is your feature request related to a problem? Please describe.**

When I want to optimize the hyperparameters, I am a little confused about HPO and ablation study. And I find it seems that I could not choose initializers.

**Describe the solution you'd like**

What I want is when I optimize the hyperparameters, I want to choose  the different initializers [normal, uniform....].

**Describe alter

[2021-05-22 14:18] cthoyt commented on #460
In #282, we made the initializers configurable across most models. It's now possible to use the `model_kwargs_ranges` argument to specify a list of values from which one argument could be chosen.

However, looking at the documentation in https://pykeen.readthedocs.io/en/stable/tutorial/running_hpo.html, there's only a mention that this can be done with categorical variables but no explanation. I w

[2021-05-23 12:02] lzw950905 opened #463 "Report Bug when I train the model using pipeline"
**Describe the bug**

When I train the model using pipeline, there is a bug about loss.
loss_resolver.synonyms[_synonym] = _cls
TypeError: 'NoneType' object does not support item assignment

The loss I use is 'MarginRankingLoss', my code was:
from pykeen.pipeline import pipeline

pipeline_result = pipeline(
    dataset='FB15k',
    model='DistMult',
    model_kwargs={
        'embedding_dim': 100,

[2021-05-23 12:05] cthoyt commented on #463
Do `pip install -U class-resolver`

[2021-05-23 12:10] lzw950905 commented on #463
it works, thank you!

[2021-05-23 12:10] #463 closed, assigned to nobody

[2021-05-23 12:27] lzw950905 opened #464 "HPO about how to determine range?"
I read the #116, it seems that perfect. But one thing I am not clear that when I set the range, for example, I want to set embedding dim are in the range of [64, 128, 256, 512], two questions:

1) If I want to declare some certain numbers not range, do I use type='category'? (don't know type values, for now it seems that have 'int', 'float')

2) If I use the para= dict(type='int',

[2021-05-23 12:46] cthoyt commented on #464
1. Almost - use `type='categorical'` and then make a list of values in `choices=[...]`. You can use bool, int, str, or float, since these are supported by Optuna
2. Excellent question, we do have this functionality but it's not documented. I will also add it in #461 but the short answer is there are a few scales built in already.

## Scales

### Linear Scale

By default, you don't need to specify

[2021-05-26 01:36] fiego opened #465 "How to get embeddings of specific entity?"
I use "nations" dataset to complete training and get "trained_model.pkl" model. How can I load the local "trained_model.pkl" file and get embeddings of specific entity?
I refer to the answer and complete the code below, but it doesn't work.

[code]

## Related

- https://github.com/pykeen/pykeen/issues/89

[2021-05-26 01:44] cthoyt commented on #465
Hi @fiego, this is a similar question to #89. We improved the first steps tutorial as a solution in #336, but since we have been a bit slow to make a new PyKEEN official release, it still lives in the (non-default) "latest" docs instead of the "stable" one. Please have a look at https://pykeen.readthedocs.io/en/latest/tutorial/first_steps.html#using-learned-embeddings and see if that helps. Keep i

[2021-05-26 01:44] cthoyt commented on #465
If this isn't helpful enough, please let me know and I will do my best to explain further and update the docs accordingly :)

[2021-05-26 01:56] fiego commented on #465
Yes, I have referenced this anser, but I am confused, how I can load the pipeline_result from local file.

model = pipeline_result.model (Maybe it works, but how to load the pipeline_result?)

[2021-05-26 02:37] cthoyt commented on #465
It's not directly possible to load an instance of a PipelineResult from a file. The `PipelineResult.save` function just outputs the stuff you would typically want to re-use. I guess it would be possible to pickle the whole PipelineResult class after running the pipeline if you want access to all of its parts later.

However, since you just want to load up the model, using torch.load is the right t

[2021-05-26 02:48] cthoyt commented on #465
Here's a full example using the pipeline to get the Egypt embedding after (a rather fast/poor) training

[code]

Here's the same thing with TransE, note that the way you get the embeddings is different. That's just a model-specific thing. Maybe we can put a "default" embedding in each model for the entities to make this more consistent in a future PR

[code]

[2021-05-26 02:55] cthoyt commented on #465
Here's the version where you save the model in the middle. Note that you have to reload the dataset. With newer versions of pykeen, we stopped storing the training triples in the model - this saves a lot of GPU memory and we figured that most people would still have access to the data after training if they needed it (like in your situation where you want to use entity labels instead of identifier

[2021-05-26 03:13] fiego commented on #465
Yes, I have referenced this anser, but I am confused,

model = pipeline_result.model (Maybe it works, but how to load the pipeline_result?)

Thank you very much,!
It works, the following is my code after referring to your reply.

[code]
Above is the code that I used my own local dataset to solve this problem.
If you have better suggestions to solve this problem, I hope to get your help.
Thanks!

[2021-05-26 05:42] lzw950905 opened #466 "Ablation study error"
**Describe the bug**
When I run my ablation code, there is always bug reported:
'Trial 0 failed, because the value None could not be cast to float.'
I use GPU, and I have checked I did not use None.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
[A clear and concise description of what you expected to happen.]
run the ablation study successfully.

**Environment:**

**Add

[2021-05-26 11:47] mberr opened #468 "Add InteractE"
**On which paper(s) is your requested model based.**
* Conference Proceedings: https://ojs.aaai.org//index.php/AAAI/article/view/5694
* Preprint: https://arxiv.org/abs/1911.00219
* Supplementary: https://shikhar-vashishth.github.io/assets/pdf/interacte_supp.pdf

**List the original and other existing implementations of this model**
* official implementation: https://github.com/malllabiisc/Interact

[2021-05-26 12:30] cthoyt commented on #465
The pipeline provides the flexibility to use either a Dataset class or bring your own triples factories. If you're just using the vanilla Nations dataset, you can always specify you want inverse triples if you pre-instantiate it (this could cut out some code you wrote since it's very standard). Otherwise, I think what you wrote looks fine (besides the small number of epochs!)

If you're happy with

[2021-05-26 12:51] fiego commented on #465
Thanks！
This vanilla Nations dataset  is the dataset that I'm using as an example.
I'm actually using a larger dataset.
Do I use the following code the same way I defined the TriplesFactory?

[code]

[2021-05-26 21:04] cthoyt commented on #466
Hi @lzw950905 I'm pretty sure this is happening because of the HPO code here:

https://github.com/pykeen/pykeen/blob/b33d8c3b13fae5ace983d7b52ea4b9afb72c2cba/src/pykeen/hpo/hpo.py#L242-L245

I have to double check Optuna's documentation - I think it used to be the case that returning `None` signified failure in older versions but there might be something to make it more explicit now, such as an ex

[2021-05-27 07:35] fiego opened #469 "How to optimize and use the model?"
My goal is to train my DBpedia dataset with Pykeen to get the vectors of the entities (the trained vectors should carry the structural information of the original DBpedia dataset) and then get the similarity of the structures between the entities.

So far, I've run all the models in Pykeen with my DBpedia dataset, with MemoryErrors occurring the vast majority of the time.
Currently, I can only run

[2021-05-27 07:47] #465 closed, assigned to nobody

[2021-05-27 08:11] mberr commented on #469
Hi @fiego ,

the default parameters of most models are those corresponding to one of the settings used in the original publication. Most of these models where trained on relatively small datasets (FB15k-237, WN18-RR) with ~15k-40k entities. Since your dataset has more entities, you may need to reduce the embedding dimension to still be able to fit the model on your GPU. Also the (training) batch s

[2021-05-27 08:24] mberr commented on #469
We currently do not have support for training a single model sharded over multiple GPUs, cf. https://github.com/pykeen/pykeen/issues/96. If you want to also run a hyperparameter optimization (HPO), i.e., investigate many different hyperparameter configurations to find the best one for each model on your given dataset, you can take a look at [this tutorial](https://pykeen.readthedocs.io/en/stable/t

[2021-05-28 01:36] #460 closed, assigned to cthoyt

[2021-05-28 01:36] #464 closed, assigned to nobody

[2021-05-28 01:38] cthoyt commented on #460
Hi @lzw950905, I hope this explanation was helpful. I went even further on the PR https://github.com/pykeen/pykeen/pull/461 than I had expected and did a big overhaul on the HPO docs. Please check them out on the "latest" branch on Read The Docs at https://pykeen.readthedocs.io/en/latest/tutorial/running_hpo.html. If there's still anything that's unclear, please let me know here or feel free to op

[2021-05-28 01:39] cthoyt commented on #464
Hi @lzw950905 same as the other issue, I made some big updates in #461 that took some of this explanation and reworked it into the docs. Please check them out on the "latest" branch on Read The Docs at https://pykeen.readthedocs.io/en/latest/tutorial/running_hpo.html. If there's still anything that's unclear, please let me know here or feel free to open a new issue :)

[2021-05-28 08:52] sntcristian opened #470 "Support for text on Literal models"
I am currently working on a project on knowledge graph embeddings and I wanted to test the efficiency of models which use literals to enrich the embeddings (i.e. [LiteralE](https://arxiv.org/abs/1802.00934) models).
I have seen that your library already provides an implementation of the models DistMult and ComplEx which use information from numerical literals and I was wondering if you thought abo

[2021-05-28 09:32] mberr commented on #470
I am not very familiar with LiteralE, but from [here](https://github.com/SmartDataAnalytics/LiteralE/blob/master/preprocess_txt_lit.py) it looks like the textual literals are encoded in a preprocessing step. From there on, you can treat them similarly as numeric literals (each entity is associated with a Glove(?) vector).

A bit more involved would be to train the text encoder in an end-to-end fas

[2021-05-28 14:43] sntcristian commented on #470
I think it's not just a matter of preprocessing. By looking at the difference between your implementation of DistMultLiteral and the one of the class "DistMult_Literal_gate_text" [here](https://github.com/SmartDataAnalytics/LiteralE/blob/master/model.py)[row516] I can see that their model allows to enrich the representation of entities with information coming both from numerical and textual vector

[2021-05-29 03:39] fiego commented on #469
Thanks.
After I didn't set stopper='early', I got the result I wanted.

[2021-05-29 09:38] #469 closed, assigned to nobody

[2021-05-29 13:55] cthoyt commented on #470
I agree with max - if you want to use textual literals it would be much more elegant to convert them to numeric values during preprocessing (either one hot encodings if you consider them as categorical or using a text embedding like glove/word2vec or any pretrained language model). Perhaps @mberr we can provide a representation module that uses BERT to encode text literals for use with one of the

[2021-05-29 14:55] fiego opened #471 "AttributeError: 'PairRE' object has no attribute 'entity_embeddings'"
After completing the training, I get the trained_model.pkl file, but after I load the trained_model.pkl file, this prompt appears.
AttributeError: 'PairRE' object has no attribute 'entity_embeddings'
Isn't every model going to have the same properties?
This bug prompt did not appear after my results from the TransE training.

This is my code:

[code]

[2021-05-29 17:01] cthoyt commented on #471
While old-style models have `model.entity_embeddings`, new style models (e.g., subclasses of [`ERModel`](https://pykeen.readthedocs.io/en/stable/api/pykeen.models.ERModel.html#pykeen.models.ERModel)) can have an arbitrary number of representations which are stored in `model.entity_representations`. PairRE is a new-style model, so you should try doing the following:

[code]

This is more explicitly

[2021-05-29 17:02] mberr commented on #471
See also the comment from here: https://github.com/pykeen/pykeen/issues/465#issuecomment-848393810

[2021-05-29 17:06] mberr commented on #470
Yes, this is right. Currently we do not have an implementation for a combination of three representations (learned embedding + numeric + textual). If you are up to writing your own class, you may easily extend this, taking inspiration from the existing model for combining two representations. We would also be very happy to accept a PR for this if you are willing to :slightly_smiling_face:

[2021-05-30 09:12] #471 closed, assigned to nobody

[2021-05-30 10:27] lzw950905 opened #472 "How to set hyperparameters in ablation pipeline?"
When I run the ablation study, I have found two issues I want to ask:

1) I set the choices for training batch_size, but it never uses my choices. So it seems that some hyperparameters could not set the range.

2) I want to select different regularizers, like lp1,2,3, but it seems even though I set, the lp deault LP2, right?

3) I am not sure about the file '0000_nations_complex' like this kind of

[2021-05-30 15:24] sntcristian commented on #470
That would be very interesting for me. By the way, I'll accept your suggestions and try to extend the code as far as I can.

[2021-05-30 18:50] mberr commented on #470
I guess the easiest way is to use the `bert-as-service` library, cf. https://github.com/hanxiao/bert-as-service#building-a-qa-semantic-search-engine-in-3-minutes

Here a simple example where you use the entity labels as only text information. While this might already be quite useful, having additional text information (description texts, etc.) might give even better results.

[code]

*Disclaimer*:

[2021-05-30 20:23] sntcristian commented on #470
yes, I was developing similar code for creating an ad hoc class called "TriplesTextualLiteralsFactory" which I will pass as input to an extended DistMultLiteral model. The issue is that, as you see in the following code, I cannot create a "literals_to_id" dictionary since I do not one-hot encode the values but I use fixed BERT embeddings dimensions.
Do you think I need "literals_to_id" for trainin

[2021-05-30 20:42] mberr commented on #470
Actually I think we do not need them. There is even an TODO in the code:

https://github.com/pykeen/pykeen/blob/4536840d25b75acdf840b517be72e86e5348c696/src/pykeen/triples/instances.py#L121-L128

@mali-git any reason why we should keep them?

[2021-05-30 23:17] cthoyt commented on #470
The entire premise of the numeric triples factory is questionable now that we have the extensible representations. I’m a bit woozy from my vaccine this morning but I could look into cutting that out completely

[2021-06-01 09:32] #410 closed, assigned to nobody

[2021-06-02 11:46] DJRavinszkha opened #475 "TriplesFactory not recognising all Triples"
I am trying to compute Knowledge Graph Embeddings using TransR and RotatE and have a pre-defined train, test and valid sets of data (I have three TSV files, each with 3 columns indicating heads, relations and tails). I have approximately 70,000 entities and 41 relations_types

Based on my understanding, prior to running the models through pipeline I have to generate a TriplesFactory.

The issue I

[2021-06-02 12:33] cthoyt commented on #475
I think this is an issue with export of your data frame. You have the right number of triples + 1 because you should not export a header row. The number of unique entities is high because you didn't include `index=False` and the first column is a numerical index. The triples factory uses the first three columns - perhaps if you check out the TSV you'll see what I mean

[2021-06-02 12:39] DJRavinszkha commented on #475
Oh my, that makes a lot of sense!
Thank you for your help and replying so quickyl!

[2021-06-02 12:39] #475 closed, assigned to nobody

[2021-06-02 13:03] #383 closed, assigned to nobody

[2021-06-05 12:56] lzw950905 opened #477 "How could we store the optimization result in HPO_pipeline?"
When I run the hpo_pipeline, I found there was no record for me to see the hpo results. I could just see some results in terminal. I think ablation_pipeline supports the perfect records but it seems a little unstable.

So could you add the documentation about how could we store the intermediate and final results for hpo_pipeline?

[2021-06-07 21:50] cthoyt opened #478 "Implement weighted geometric mean rank"
The authors of *Revisiting the Evaluation Protocol of Knowledge Graph Completion Methods for Link Prediction* (@sudhanshu1994 and @crrivero) propose the *weighted geometric mean rank* metric, which has the nice properties that it takes into account the number of possible negative samples for each positive triple.

<img width="648" alt="Screen Shot 2021-06-07 at 17 45 04" src="https://user-images.g

[2021-06-08 02:05] crrivero commented on #478
Hi @cthoyt,

We have the metrics implemented in our Evaluator (https://github.com/crrivero/www21/blob/main/Code/Evaluator.py#L230). It has a couple of tricks but I hope it is understandable.

We used OpenKE since it was easy for us to get started with. We have implemented several features already over OpenKE. In a previous project, we implemented fully in Python training and evaluation of differen

[2021-06-08 06:07] quqxui opened #479 "How to use our own dataset?"
Hi, thanks for your great job.
I want to know how to use our own dataset? Are there any simple API ？

Hope for your reply!

[2021-06-08 09:01] sntcristian opened #480 "Get embeddings from pretrained model"
Hello,
From your documentation I cannot understand how I can extract from a pre-trained model the final embeddings encoded for the entities and relations in my dataset. Moreover, I would like to know if it is possible to apply some filtering on the representations returned (i.e. returning only embeddings for certain entities).
Thanks in advance.

See also https://github.com/pykeen/pykeen/issues/46

[2021-06-08 11:00] mberr commented on #479
Hi @quqxui ,

does the following tutorial help you?

https://pykeen.readthedocs.io/en/stable/byo/data.html

If you find that there is anything missing or unclear, please let us know so we can improve the documentation!

[2021-06-08 11:01] cthoyt commented on #480
We've got a tutorial for just that in the documentation! It goes with the unreleased v1.5 code, but you can already check it out at https://pykeen.readthedocs.io/en/latest/tutorial/first_steps.html#using-learned-embeddings. In short you can do the following to get all of the representations:

[code]

Some models have more than one representation, like TransD or NTN, so you can turn the 0 to anothe

[2021-06-08 11:05] mberr commented on #480
To add to the answer: To get the ID for an entity label, you can use the `entity_to_id` mapping of the [Dataset](https://pykeen.readthedocs.io/en/stable/api/pykeen.datasets.base.Dataset.html#pykeen.datasets.base.Dataset.entity_to_id) or [TriplesFactory](https://pykeen.readthedocs.io/en/stable/reference/triples.html#pykeen.triples.TriplesFactory.entity_to_id).

The `TriplesFactory` also offers a co

[2021-06-08 11:21] cthoyt commented on #480
We also had a similar question in #465 and #89. #465 has a bit more specific of an example

[2021-06-08 11:41] sntcristian commented on #480
Great, thanks guys!

[2021-06-08 11:45] #480 closed, assigned to nobody

[2021-06-08 19:40] MagdalenaMl opened #481 "How do I update my v1.4.1 code to be compatible with v1.5.0+ code since `Model.triples_factory` no longer exists?"
Hi,

As far as I understand from the documentation, the base KGE model object contains a TriplesFactory object. This can be called using `model.triples_factory` in pykeen 1.4.0. However, using the same command on a model trained in pykeen 1.4.1. raises the following error:

`AttributeError: 'TransE' object has no attribute 'triples_factory'`

Is this intended? And is there another way to retrieve

[2021-06-08 19:47] cthoyt commented on #481
Indeed, we cut the triples factory out of the model in #405 between 1.4.0 and 1.5.0-dev (whose release is imminent) in order to make pykeen faster and more memory efficient! We also did something similar to remove the triples factory from the negative sampler and the training loop in #409 and #406, respectively.

Sorry for the inconvenience - this means that you should load up an extra instance of

[2021-06-08 19:48] cthoyt commented on #481
If you're not sure how to update your code, please let me know what you're trying to do with the triples factory and I can try and give an example

[2021-06-08 20:15] MagdalenaMl commented on #481
Thanks so much for your prompt response. Indeed, I'm referring to the triples factory for a label-based lookup (specifically to get mapped triples from a dataframe with head, relation, and tail names).

I'm also using my own dataset. Would the workaround be to:

1)  convert the text file to a triples factory
2) point to this triples factory in the training pipeline?

(And refer to it in whatever s

[2021-06-08 20:23] cthoyt commented on #481
Yup, that sounds about right. If you're using the `pipeline()` function, the resulting object should have a reference to the training factory as well. See https://pykeen.readthedocs.io/en/latest/_modules/pykeen/pipeline/api.html#PipelineResult

The point of this change was to make sure that the triples factory isn't a property on the model that gets brought to the GPU, so it's a slight workaround

[2021-06-08 20:36] MagdalenaMl commented on #481
Ah, I hadn't realised I can retrieve it from the pipeline. That solves it, thank you!

[2021-06-08 20:36] #481 closed, assigned to nobody

[2021-06-09 13:10] sbonner0 opened #482 "Trying to load a model from a pipeline checkpoint - dimension issues"
I am trying to load a model from a pipeline checkpoint object for testing inference whilst the pipeline is still running. However, when I try to load the model_state_dict, I get a dimension mismatch error relating to the number of entities. Is the reloading of models from the pipeline checkpoints supported? (I note it isn't demonstrated in the documentation but clearly must be happening if you are

[2021-06-09 13:40] sbonner0 commented on #482
So digging into this a little bit further, I am getting confused over the expected dimensionality of the entity embedding matrix. I looked at the value of `training.num_entities` which gave a value of say 100,00. However the saved embedding matrix in the pipeline checkpoint has a size of 100,011 , whilst the size of the matrix in the `pykeen_model` created above is 100,015 .

[2021-06-09 19:32] lvermue commented on #482
Hi @sbonner0
Looking at your code my first suspicion would be that you use a random sampler to create a validation dataset while you in the subsequent step drop these triples from the training dataset, which effectively makes your training dataset a random 80% pick from your full dataset. As the `TriplesFactory` derives the required number of entities from the number of distinct entities in the tr

[2021-06-10 15:38] sbonner0 commented on #482
Hey thanks @lvermue that solved the issue thank you! Sorry should have been able to catch that on my own.

As an aside, It could be cool to add this functionality to the documentation? I'm sure users running multi-day jobs would find it interesting to load a partially trained model for some experimentation. Happy to make a PR with this added if you think it would be useful.

[2021-06-10 15:49] cthoyt commented on #482
I think https://pykeen.readthedocs.io/en/latest/tutorial/checkpoints.html has you covered

[2021-06-10 15:58] sbonner0 commented on #482
Thanks @cthoyt this is a great resource. However I don't think it explicitly covers the reloading of a model checkpoint for inference use which is covered by this code block:

[code]

Note this is different from the normal model reloading process.

[2021-06-10 21:46] rohithteja opened #483 "Request for more documentation on sklearn based evaluation."
Hello,
Firstly, great work and very good compilation of knowledge graph embedding methods.
The implementation of rank based evaluation is clear but there is very less documentation on sklearn based evaluation. I would like to know more details on how the sklearn based evaluation is done and maybe some explanation on comparison of two evaluation methods.

Thank you.

[2021-06-10 23:30] cthoyt commented on #483
Hi @rohithteja. It's definitely the case that the scikit-learn evaluation needs some love. If you're interested in using that, it would be great if you could help us out. Some of the things we're not really sure about:

1. Is there a reason we shouldn't always report both rank-based metrics and sklearn metrics? The evaluation takes place with an evaluator class that lets us group all of the method

[2021-06-11 01:42] rohithteja commented on #483
Thanks for the reply. For my initial experiments on some datasets, I used both rank based and sklearn based evaluations. I got different embeddings with both evaluations. When I used the generated embeddings on a node classification task, the embeddings I got using sklearn evaluation performed better. This is why I am interested in knowing more about sklearn evaluation.

I tried debugging the code

[2021-06-11 07:42] luke-feng opened #484 "How to get embeddings?"
Hi guys, thanks a lot for your works! I am a new starter, and bit of confusing about how to get the embeddings of the entities or the relations from the trained model?

See also:  #480, https://github.com/pykeen/pykeen/issues/465, https://github.com/pykeen/pykeen/issues/89.

[2021-06-11 09:23] mberr commented on #483
(by @rohithteja )

I guess here you are referring to using the metrics for model selection / early stopping? The rank-based evaluator (as well as the sklearn one) produces multiple different metrics, all of which measure different aspects of performance. You may want to experiment with different metrics. Commonly used in Link Prediction repositories is the Mean Reciprocal Rank (MRR),  which is als

[2021-06-11 09:54] rohithteja commented on #483
Yes I used the metrics to select the best model and I understand.

Thanks a lot for the clarification. I might be wrong saying this and just to make it clear, from your answer ("compute scores for `(e, r, t)` and `(h, r, e)` for _all entities_"), does any of the `(e, r, t)` or `(h, r, e)` triples are cases of negative examples (which are not present in the graph) since all entities are considered

[2021-06-11 09:58] rohithteja commented on #484
Hello,
If you are using the pipeline to learn the embeddings then you can use
[code]
to get the entity embeddings where _result_ is output from the pipeline method.

[2021-06-11 11:45] luke-feng commented on #484
Thanks a lot for this quick reply!
And is there any function to get a specific entity embedding, like get_embedding('entity1) = [1,1,1,2,3,4]? Currently, I used the TriplesFactory.entity_to_id the get the mapping of entity and id, and using this id the get the embedding.

[2021-06-11 12:33] rohithteja commented on #484
I have not tried that. I also did the mapping from entity to id and saved the corresponding embeddings. It seemed like an easier way for me.

[2021-06-11 12:35] luke-feng commented on #484
Roger that, many thanks!

[2021-06-11 12:35] #484 closed, assigned to nobody

[2021-06-11 12:40] cthoyt commented on #484
Note for everyone in the thread, there are a few other issues covering this question in detail: #480, #465, #89.

Keep in mind the PyKEEN 1.4.X series has a bit of inconsistency in how this works because of the transition from old-style models to new-style models (subclasses of the ERModel). The imminent PyKEEN 1.5.X series unifies this in a single interface.

[2021-06-11 14:04] mberr commented on #483
Yes, kind of. Some of (likely most of) the scores are for triples which are not part of the KG, neither in train nor evaluation part, and thus not known to be true. However, they may still be true, and just unknown to us.

For the sklearn evaluation, we put them into the negative class. Thus, we investigate how well the model can separate the positive and the unknown (=negative) class.

[2021-06-11 16:20] rohithteja commented on #483
Thank you for the explanation. The working of the evaluation is clear for me now. I am closing this issue now.

[2021-06-11 16:20] #483 closed, assigned to nobody

[2021-06-11 17:36] harshraj172 opened #485 "RuntimeError: Datasets have been loaded with entrypoints since PyKEEN v1.0.5. Please reinstall."
**Describe the bug**
[A clear and concise description of what the bug is.]

**To Reproduce**
Steps to reproduce the behavior:
1. [First step]
2. [Second step]
3. [...]
4. [See error]

**Expected behavior**
[A clear and concise description of what you expected to happen.]

**Environment:**

Please copy the table output by `pykeen version` here (and delete this text).
This includes information about

[2021-06-11 18:13] cthoyt commented on #485
Hi @harshraj172, we'd appreciate if you could fill out the template, otherwise we won't really be able to provide any help

[2021-06-12 06:12] harshraj172 commented on #485
sure doing

[2021-06-15 06:49] mberr opened #487 "Use torch.isin when torch 1.10 is released"
Use torch's isin once 1.9 arrives to replace custom implementation here:
https://github.com/pykeen/pykeen/blob/2f00453e9a4be691523aef8f96d1f8b4c140f116/src/pykeen/utils.py#L437

cf. https://github.com/pytorch/pytorch/issues/3025

[2021-06-15 20:08] MagdalenaMl opened #488 "Accessing default hyperparameters for each model on each dataset"
Hi,

It was explained in PyKEEN's documentation that each model's default hyperparameters for a given dataset are "chosen from the best-reported values in each model’s original paper unless otherwise stated on the model’s reference page. In case hyper-parameters for a model for a specific dataset were not available, we choose the hyper-parameters based on the findings in our large-scale benchmarki

[2021-06-15 22:09] migalkin commented on #487
You're an oracle! 1.9 was released today ;)

[2021-06-15 23:48] cthoyt commented on #487
Backpropogation in complex torch.nn.Embedding?!?1

[2021-06-16 00:14] cthoyt commented on #487
Sorry guys but this is another case where torch closed a PR without actually merging it. The feature did not make it in to version 1.9

[2021-06-16 06:40] mberr commented on #487
Maybe it was too late for inclusion in the release branch? Anyway, it should be available in 1.10 :rocket:

[2021-06-16 06:56] mali-git commented on #488
Hi @MagdalenaMl,

For each model+dataset combination, we evaluated various compositions of model architecture (e.g., TransE), loss function (e.g., softplus loss), with/without inverse relations, and training approach (e.g., LCWA).
The sub-folders in `benchmarking/ablation/results/` contain the experimental artifacts of all evaluated compositions. The folder you linked contains the artifacts of all

[2021-06-16 13:32] MagdalenaMl commented on #488
Thank you, that clarifies all :)

[2021-06-17 18:39] PhaelIshall opened #494 "Error loading a model"
**Describe the bug**
For some reason, I cannot load a model. When I try other models I trained on a different dataset (FB15k-237), it loads fine. But when I load a dataset trained on YAGO, I get an error. The error is coming from pytorch, but it says module not found pykeen.nn.

**To Reproduce**
Steps to reproduce the behavior:
1. Train any model on the YAGO3-10 dataset
2. Try to load the model to

[2021-06-17 19:51] cthoyt commented on #494
Can you show how you saved the model?

[2021-06-17 20:03] cthoyt commented on #494
The error about not working on py36 is because we haven't supported py36 in several releases. I'm training YAGO-310 myself now to see if I can reproduce your error on more recent version of python

[2021-06-17 20:11] cthoyt commented on #494
Here's my environment (on 1.5.0 with a few extra irrelevant commits)

| Key             | Value                    |
|-----------------|--------------------------|
| OS              | posix                    |
| Platform        | Darwin                   |
| Release         | 20.5.0                   |
| User            | cthoyt                   |
| Time            | Thu Jun 17 16:10:26 2021 |
|

[2021-06-17 20:12] cthoyt commented on #494
@PhaelIshall interestingly, your environment points to a commit 12c4dfd3 that does not exist. How have you managed to get this?

[2021-06-17 22:26] PhaelIshall commented on #494
@cthoyt I saved the model the same way you did, with `save_to_directory`

As for the pykeen version, I just made a python3.7 virtualenv then I ran `pip install pykeen`. I tried uninstalling and installing, it always gives me this commit.

Also, if I try installing from the source, I get this message

        cloning https://github.com/pykeen/pykeen.git to /tmp/7379400.1.gpu/pip-req-build-j343398z

[2021-06-18 00:30] cthoyt commented on #494
I'm not sure it makes sense that if you do `pip install pykeen` that you get commands related to cloning from github - PyPI has no direct connection to anything in source control. I'm even further confused that you're getting version `1.3.1-dev` - this makes me thing that you've got a funny situation where you've checked out an old version of the code from version control and that's getting picked

[2021-06-18 03:59] PhaelIshall commented on #494
No, I only cloned the repository when I first started using pykeen, months ago. I never pulled any changes, and it's not in the directory I am working in. Is there a way to make sure I have everything deleted so I can install the new version?

[2021-06-18 05:04] weihua916 opened #496 "SLCWATrainingLoop misses 1 required positional argument: 'triples_factory'"
**Describe the bug**
I was following [this tutorial](https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html) and got the bug below. Am I missing anything? Thanks.

[code]

**To Reproduce**
[code]

**Environment:**
pykeen 1.5.0

[2021-06-18 07:26] mberr commented on #496
Hi @weihua916 ,

it seems like me missed to update this tutorial after #405 / #406. This would be the updated example code:

[code]

Before the PRs, we were accessing the training triples through the model, but changed this to the more explicit way shown above, partially in preparation for using HF Accelerate (cf. #393).

[2021-06-18 13:13] weihua916 commented on #496
Got it, thank you!

[2021-06-18 13:13] #496 closed, assigned to nobody

[2021-06-18 17:17] lvermue commented on #482
Hi @sbonner0
I have had a chat with @mberr and @mali-git and we deem this functionality useful (@cthoyt I assumed your thumbs up to be a yes vote).
I have proposed a PR #498 based on this issue, which is accompanied with a tutorial on how to use it.
If you see anything missing or have additional ideas, please feel free to add your comments to the linked PR.

[2021-06-20 00:52] cthoyt commented on #485
I'll go as far as to guess that the solution to your problem is to uninstall and reinstall with:

[code]

If you're using a development installation, it's still important to uninstall since the entrypoints don't get reinstalled on code updates. If this doesn't solve your problem, please feel free to open a new issue where you fill out all of the requested information

[2021-06-20 00:52] #485 closed, assigned to nobody

[2021-06-20 00:58] cthoyt commented on #494
You can try something like `pip freeze | grep pykeen` to see where the pykeen installation in your current environment is. Since I've installed in development mode, it looks like this:

[code]

If you're installed from PyPI, it will look like this:

[code]

If you want to stick with a development installation, go into your pykeen folder and run `git pull` to get the latest code. You might still ha

[2021-06-21 17:30] cthoyt commented on #496
Hi @weihua916, thanks again for pointing this out. I'll take the blame - I set up doctests so we could be a bit more lazy when it came to keeping the code in the tutorials up to date (assuming the tests would yell at us if they ever stopped working) but this relied on a faulty assumption that all of the doctests were running properly!

Anyway, @mberr made a nice fix to the tutorial in https://gith

[2021-06-21 18:01] sbonner0 commented on #482
Hi @lvermue - I've been through PR #498 and it looks great. Automatic saving of the entity and relation types for custom datasets is going to improve the use of checkpoints a lot - thanks!

[2021-06-21 23:08] cthoyt commented on #482
Just finished up editing/revising on the tutorial. Is the tutorial written by @lvermue sufficient to close this issue? If so, we will change the text in PR to reflect that, then it's ready to merge!

[2021-06-22 08:08] sbonner0 commented on #482
Hi @cthoyt, yes absolutely the new tutorial is more than enough to close this!

[2021-06-22 12:30] #482 closed, assigned to lvermue

[2021-06-22 12:52] pitehu opened #499 "Getting random dataset partition despite setting random seed"
Hello,

When I try to use the Hetionet dataset, even if I set a random seed, I get different train-validation-test partition everytime I initialize a new instance. Is it normal?

For example, if I do this, I will get different result between runs.

[code]

[2021-06-22 12:55] cthoyt commented on #499
No, this is not desired. Here's a more reproducible way to test this, which confirms the issue:

[code]

Can you please share your version information by pasting the output of `pykeen version` here?

[2021-06-22 14:10] Hao-666 opened #501 "FileNotFoundError when using my own dataset"
Hi, I followed the [intro](https://pykeen.readthedocs.io/en/stable/byo/data.html) to use my own dataset for training. But there is a FileNotFoundError. May I know how to solve it? Thanks!

[code]

[2021-06-22 14:14] cthoyt commented on #501
Oh this is a very strange error indeed, it appears that it's an issue with calling git. Do you have git installed?

[2021-06-22 14:15] pitehu commented on #499
| Key             | Value                    |
|-----------------|--------------------------|
| OS              | nt                       |
| Platform        | Windows                  |
| Release         | 10                       |
| User            | *****|
| Time            | Tue Jun 22 16:12:07 2021 |
| Python          | 3.7.4                    |
| PyKEEN          | 1.5.0

[2021-06-22 14:22] Hao-666 commented on #501
Yes. I have installed git.

[2021-06-22 14:23] cthoyt commented on #501
I'm sorry but I don't think I'll be able to debug exactly why this is happening - the combination of Windows and Anaconda is not our recommended setup - if you can, I'd definitely suggest switching to linux.

However, I will be able to provide a quick fix so you don't get this error by catching a FileNotFoundError in the code that's looking for git. I'll send a PR soon :)

[2021-06-22 14:27] cthoyt commented on #499
@pitehu thanks again for pointing this out. I've already started a PR #500 with a unit test that will pass once the code is fixed. I'll let you know when it's done :)

[2021-06-22 14:29] Hao-666 commented on #501
Thank you!

[2021-06-22 14:34] #479 closed, assigned to nobody

[2021-06-22 14:34] cthoyt commented on #479
Hi @quqxui, I just updated the README to make sure that it's much more obvious how to find this tutorial! Please let us know if it's not sufficient, and I'll open this issue up again and we can find you a solution :)

[2021-06-22 14:50] #501 closed, assigned to nobody

[2021-06-22 14:52] cthoyt commented on #501
@Hao-666 I've merged a fix into the main branch, so it will appear in version 1.5.1 which I want to release some time this week. In the mean time, you can install the new code either from github or via the source code by following the instructions here https://pykeen.readthedocs.io/en/stable/installation.html

[2021-06-22 14:54] cthoyt commented on #494
Hi @PhaelIshall, did you get a chance to look into this? I hope it all worked out but if not, let me know if there's something else I can do

[2021-06-22 15:26] pitehu commented on #499
@cthoyt I don't know if it helps but on colab the random seed behaves as expected, somehow.
Here's the environment. On my local machine, even if I switch to the same version of everything, it still doesn't work
<html>
<body>

Key | Value
-- | --
OS | posix
Platform | Linux
Release | 5.4.104+
User | root
Time | Tue Jun 22 15:20:56 2021
Python | 3.7.10
PyKEEN | 1.5.1-dev
PyKEEN Hash | UNHASHED
PyKEE

[2021-06-23 01:30] Hao-666 opened #505 "AttributeError: module 'matplotlib' has no attribute 'get_data_path' when running result.plot()"
**Describe the bug**
Hi, I followed the [toy example guide](https://pykeen.readthedocs.io/en/stable/tutorial/translational_toy_example.html) and the training was fine, but when running result.polt(), AttributeError: module 'matplotlib' has no attribute 'get_data_path'  occured.

[code]

**To Reproduce**
[code]

**Expected behavior**
Plot the figures like the [toy example guide](https://pykeen.read

[2021-06-23 08:02] mberr commented on #505
Hi @Hao-666 ,

this sounds like a problem with the `matplotlib` installation. [Here](https://stackoverflow.com/a/53936824) a similar issue is described where the are two versions of `matplotlib` installed, one in `conda`, and one in `pip`.

Can you check if `conda` also has a matplotlib installation?

[code]

[2021-06-23 09:08] Hao-666 commented on #505
Hi @mberr ,

Thanks for this information. Probably that's the reason. Sorry I don't have the chance to check now... I re-installed the whole anaconda due to other reasons and now when I run the codes again it is fine.

[2021-06-23 09:08] #505 closed, assigned to nobody

[2021-06-23 14:48] pitehu opened #506 "How do I use external representations in KGEMs?"
Suppose I work on a problem of link prediction where each entity may have some external source of embedding (a vector of a certain dimension, like a chemical fingerprint). I would like to add this external embedding to the existing entity embedding of a model (say TransE) via simple vector addition. What's the best way to do this? Is there a way to get this external embedding into a triples class?

[2021-06-23 14:54] cthoyt commented on #506
This is definitely more of a research topic than one we can build for you, so there are two things you should check out:

1. The tutorial on building your own interaction function (https://pykeen.readthedocs.io/en/stable/byo/interaction.html) and building your own model (https://pykeen.readthedocs.io/en/stable/extending/models_new.html) which shows how general you can actually make the models and

[2021-06-23 15:14] pitehu commented on #506
Thank you very much for the pointers. This is very helpful. I did not know LiteralE before.

[2021-06-23 15:27] cthoyt commented on #506
Btw another big philosophical issue we've faced when looking at stuff like this is what to do when you have different kinds of external representations (i.e., vectors) for different nodes in the graph. For example, when you have a biomedical KG, there are chemicals, proteins, diseases, etc. Each of them might have a different kind of external representation like a chemical fingerprint from HTS scr

[2021-06-23 16:05] mberr commented on #506
One more alternative:

You can also write your own subclass of [RepresentationModule](https://github.com/pykeen/pykeen/blob/b8659b97016bc8c2120c498d50675be69a607e6f/src/pykeen/nn/emb.py#L46).
A representation module is basically a mapping from integer IDs to some vector representation, cf.

https://github.com/pykeen/pykeen/blob/b8659b97016bc8c2120c498d50675be69a607e6f/src/pykeen/nn/emb.py#L89-L94

[2021-06-23 17:30] cthoyt commented on #506
@pitehu I saw you've starred Himmelstein's DrugBank repo. If you ever want to discuss biomedical applications of KGs, please let me know!

[2021-06-23 22:15] cthoyt opened #508 "Add LiterallyWikidata datasets"
**Describe the benchmark KG dataset**:

This contains repo 3 datasets LitWD1K , LitWD19K, and LitWD48K.

**Dataset is pre-stratified into train/test/valid**

Yes

**Publication(s) or website describing benchmark KG dataset**:

Download page on Zenodo: https://zenodo.org/record/4701190#.YNOx3OT3bDs

*not published yet. Can get more information from @GenetAsefa

**URL for downloading the benchmark K

[2021-06-24 06:31] mberr opened #509 "Add WD50K"
**Describe the benchmark KG dataset**:

The dataset is extracted from Wikidata with the Wikidata-IDs still being available. This allows to retrieve further information about them via Wikidata, e.g., for interpretation. Although being of hyper-relational nature, i.e., single triples can have (an arbitary number of) additional qualifier pairs (relation-entity pairs) as "metadata" attached to them, w

[2021-06-24 06:32] mberr commented on #509
@cthoyt although being created via the new dataset template, the issues was not labeled with `Dataset` :thinking:

[2021-06-24 09:49] pitehu commented on #506
Would this allow me to train my external embedding model jointly also? @mberr
If I were to apply this to an EntityRelationEmbeddingModel, then it appears that I will need to rewrite the model (e.g TuckER). In other words, there is no drop-in replacement that's universally applicable if I want to test the performance of adding textual literal on multiple different models, correct?

[2021-06-24 11:48] mberr commented on #506
If you want to train the external representation, too, i.e. use the chemical fingerprint as *initialization*, but then allow the model to change this representation, you as well just use a "normal" embedding model and only set a custom embedding initializer. The more interesting case (from my point of view), is to use the external information as a feature vector (which is *not* trained), maybe opt

[2021-06-24 21:49] sergeyf commented on #466
I am seeing the same error. Here is code to reproduce:
[code]

[2021-06-28 21:15] migalkin commented on #509
Done in #511 , I think we can resolve the issue now

[2021-06-28 21:17] #509 closed, assigned to cthoyt

[2021-06-30 23:42] Nickil21 opened #518 "Joint training of KGE and GloVE"
I want to jointly train TuckER on the entities as well as the GloVe from the co-occurrence matrix of raw text. Basically, for every iteration, I want to do alternate updates after tying their model weights together.

Can this be possible by extending PyKeen?

[2021-07-01 10:55] mberr commented on #518
Yes, it should be possible. In our library you will only find the link prediction part, so you would need to add the Word2Vec parts yourself. You can start from the following example code, adjust some settings to your use case, and implement what is written as TODO. The key insight is to share the entity embedding module between both models.

[code]

[2021-07-01 11:45] Nickil21 commented on #518
Thanks, this is helpful.

Can I use PyKeen to create the training pipeline with alternate updates or should I use PyTorch for that? Do you have a sample training code that does this optimization? Also, how do we ensure that the IDs for the GloVe match with those of the original triples used to train the TuckER? Should I convert all the raw words in the corpus to their Freebase ID equivalents, for

[2021-07-01 11:53] mberr commented on #518
Within pykeen, this is ensured when creating the triples factories (for a dataset), where the label-based triples are converted to ID-based triples. The mapping is stored in dictionaries `entity_to_id` / `relation_to_id`. If you start from raw text, you likely need a more involved pipeline where you identify entities from the text, and align them with the KG you want to use. I am no expert in this

[2021-07-04 03:49] GabrielLin opened #523 "How to get the embedding of an entity and a triple from a trained KGE model?"
After I trained a KGE from my own data. I would like to get the embedding of a special entity and triple. Could you please tell me how to do it? Thanks.

[2021-07-04 08:27] mberr commented on #523
Hi @GabrielLin .

the steps required to get an entity's embedding are described here: https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html#using-learned-embeddings

We do not have models with an explicit representation of a triple though. Instead the models have an interaction function, which takes head, relation and tail representations as input, and produces a scalar (plausability)

[2021-07-04 08:42] GabrielLin commented on #523
Hi @mberr . Thank you for your rapid response. I indeed checked the outline of the online document but did not expand the `First Steps` node. Sorry to increase your workload.

[2021-07-04 08:42] #523 closed, assigned to nobody

[2021-07-05 13:52] quqxui opened #525 "How do I know all the optional parameters？"
Hi, thanks for your job!
     I'm currently doing a parameter search on a dataset, But i am not sure how can I know all the optional parameters？ I had read the file :

https://pykeen.readthedocs.io/en/stable/tutorial/running_hpo.html.      **Optimizing a Model’s Hyper-parameters**

for exmple below,  what can I put in the parameter `model_kwargs` ?
[code]

[2021-07-05 14:17] cthoyt commented on #525
Each model has its own kwargs that correspond to the model class’s init function. You can check the reference section of the documentation on models (https://pykeen.readthedocs.io/en/stable/reference/models.html) for a listing of each

[2021-07-05 15:05] quqxui commented on #525
thank you,  i found model parameters.  But how can i find other parameters such as :
[code]

[2021-07-05 15:20] GabrielLin commented on #523
Hi @mberr . I have a further question. As shown in the document, the embedding is accessed by index. How can I access by the name of entity and relationship? Thanks.

[2021-07-05 15:25] cthoyt commented on #523
@GabrielLin would you please open a new issue for this? I think it would be a good idea to add the answer to this question to the same section of the docs, since this is a pretty common thing to want to do

[2021-07-05 15:43] mberr commented on #523
This issue is also related: https://github.com/pykeen/pykeen/issues/465

[2021-07-05 15:44] mberr commented on #523
and this one, too: https://github.com/pykeen/pykeen/issues/480 :sweat_smile:

[2021-07-06 09:24] GabrielLin opened #526 "How to get embeddings of entities and relationships by names from a saved trained model?"
This issue is derived from #523 . @cthoyt said that it is a common requirement and is better to add to the document.

After reading the previous documents and issues. Here is my solution. Please help to check. Thanks.
[code]

[2021-07-06 09:26] GabrielLin commented on #523
Hi @cthoyt , I have created a new issue #526 .

[2021-07-06 09:26] GabrielLin commented on #523
@mberr , thank you for your help.

[2021-07-07 00:04] migalkin opened #527 "Add Wikidata5M"
**Describe the benchmark KG dataset**:

One of the biggest available Wikidata-based graphs:
~5M entities
~20M edges
822 relations

It comes in both transductive and inductive flavors, added are textual descriptions of every node (to be passed through some LM for featurizing for the inductive setup and/or joint pre-training with text).
We can start from the transductive-only split w/o additional fe

[2021-07-07 00:07] cthoyt commented on #527
@migalkin I don't want to worry about this dropbox folder just disappearing. Can you petition the authors of this paper to post this data on an archive like Zenodo?

[2021-07-07 00:13] migalkin commented on #527
Sure, I'll inquire about that. The dump is just 160 MB so it shouldn't be a tedious task

[2021-07-07 00:14] cthoyt commented on #527
Otherwise this looks pretty straightforwards and I can take care of it. Thanks

[2021-07-07 09:42] mberr commented on #526
The example looks good to me.

For the following explanation, I try to focus on the most relevant parts: using a representation module (aka embedding) to get vectors for given integer IDs, and obtaining these IDs from labels using a TriplesFactory.

### Representation Modules
A representation module maps maps IDs to vectors (or more generally to tensors). Depending on the model, there may be more

[2021-07-07 15:07] apoorva2810 opened #529 "Improve documentation on training assumptions"
Pykeen uses only 2 training models: **sLCWA** and **LCWA**.

**How can I change it so that it works with Open World Assumptions?**

[2021-07-07 15:20] cthoyt commented on #529
It doesn't really make sense to train under the open world assumption since that means there are no negative examples. The stochastic local closed world assumption (sLCWA) is the appropriate analog. We wrote about this in the PyKEEN software and benchmarking papers, but the philosophy behind it never seemed to make it into the PyKEEN documentation.

I'll start a new section in the tutorial called

[2021-07-07 15:30] lvermue commented on #529
Hi @apoorva2810
In addition to what @cthoyt said. When your Knowledge Graph(KG) follows the Open World Assumption(OWA) you don't have negative samples in most cases, so when training without negative triples your model will overgeneralize, cf. [Nickel et al.](https://ieeexplore.ieee.org/abstract/document/7358050). Therefore, you usually want to sample negative triples, which is what the stochastic

[2021-07-08 03:58] apoorva2810 commented on #529
Thanks, @cthoyt and @lvermue

But how can I avoid "key error" for an entity which has never occurred before during training but can be true, I think this can be considered as a typical read world situation where a knowledge graph need not be complete and, entities and relation which knowledge graph has not seen before can also be true.

[2021-07-08 04:23] Hao-666 opened #530 "Get scores of every triple in the dataset"
Hi, I tried to get scores of every triple in my dataset using ` predictions_df = model.get_all_prediction_df(triples_factory=result.training)` in [the documentation](https://pykeen.readthedocs.io/en/latest/tutorial/making_predictions.html#:~:text=predictions_df%20%3D%20model.get_all_prediction_df(triples_factory%3Dresult.training)). The codes are as follow:

[code]
the number of my triples is 2764

[2021-07-08 07:03] GabrielLin commented on #526
@mberr , thank you for your detailed and informative descriptions.

[2021-07-08 07:09] mberr commented on #529
Hi @apoorva2810 ,

the models in pykeen are trained in the *transductive* setting, where each entity has to been seen during training. This is explicitly enforced to make sure that you see an error when you try to get an embedding from a non-existing entity.

We plan to support inductive settings for the future, but now we do not have code for this.

For a discussion of the transductive and induct

[2021-07-08 07:18] mberr commented on #530
Hi @Hao-666 ,

`get_all_prediction_df` computes score for *all possible triples* rather than just the existing ones. There is a more explicit documentation when looking at the particular method: https://pykeen.readthedocs.io/en/latest/api/pykeen.models.predict.get_all_prediction_df.html#pykeen.models.predict.get_all_prediction_df

To compute scores for a given tensor of ID-based triples, you can u

[2021-07-08 07:22] mberr commented on #525
Hi @quqxui ,

the parameters you mentioned seem to be the parameters of the `hpo_pipeline` function. There is a detailed documentation here: https://pykeen.readthedocs.io/en/stable/reference/hpo.html#pykeen.hpo.hpo_pipeline

[2021-07-08 08:56] Hao-666 commented on #530
Hi @mberr ,

Thanks for such a helpful answer! `scores = model.score_hrt(triples_factory.mapped_triples.to(model.device))` worked for me :)

[2021-07-08 08:56] #530 closed, assigned to nobody

[2021-07-08 15:08] Hao-666 opened #531 "Got different scores for the same triples from the same model using `TriplesFactory.from_path` and `TriplesFactory.from_labeled_triples`"
**Describe the bug**
Hi, I have trained a model and have a dataset comprised of several triples, and I want to calculate the scores for them. When I used `TriplesFactory.from_path` and `TriplesFactory.from_labeled_triples` respectively, the scores are different.

**To Reproduce**

[code]
Output:
[code]

[code]

Output:
[code]

**Expected behavior**
The inputs are the same triples so the two output

[2021-07-08 15:16] cthoyt commented on #531
you have to put the model in evaluation mode and disable gradient tracking (will write a more thorough explanation later)

you could take inspiration from related code in the prediction module: https://github.com/pykeen/pykeen/blob/55d73324a957f3ce466869899abeac7e34e596fb/src/pykeen/models/predict.py#L307-L340

[2021-07-08 15:26] Hao-666 commented on #531
Thanks @cthoyt , I used `model.eval()` and `with torch.no_grad() `but the situation still did not change.
[code]
Output:
[code]

[code]
Output:
[code]

[2021-07-08 15:31] mberr commented on #531
`TriplesFactory.from_labeled_triples(new_triple)` creates a new triples factory in each inner loop, which likely only has two entities.

You need to make sure that the triples factory you create or use for evaluation uses the same label-to-id mappings, otherwise you likely end up with evaluating the triples `[0, 0, 1]`, `[1, 0, 0]` or `[0, 0, 0]` (which seems to be confirmed from your scores).

[2021-07-08 15:41] Hao-666 commented on #531
Thanks @mberr . What are the measures to ensure the same label-to-id mappings? Sorry I don't get it...

[2021-07-08 16:23] mberr commented on #531
@Hao-666

When you create the evaluation triples factories, you need to provide `entity_to_id` and `relation_to_id` with which you trained the model. From your code example I cannot directly see where this happens, since I suppose you already trained the model with some other code?

[2021-07-08 16:30] mberr commented on #531
If your model was trained after https://github.com/pykeen/pykeen/pull/498, you may have the mappings stored in your model checkpoint file. Otherwise, you would need to construct the training triples factory first (to be on the safe side using the exactly same code you also used for training), and then use its mappings. Assuming the training triples factory is stored in `training_tf`, the following

[2021-07-09 02:28] Hao-666 commented on #531
Thanks @mberr

Yes the model was trained after #498.

Thanks for the example code. After adding the arguments `entity_to_id=tf.entity_to_id, relation_to_id=tf.relation_to_id` to map the ids it worked. Below are the worked codes and outputs for potential latecomers :)

[code]

Output:
[code]

[code]
Output:
[code]

The scores are the same. It is just that the positions are different. I used `tf_eva

[2021-07-09 06:04] apoorva2810 commented on #529
Thanks @mberr for clarifying.

[2021-07-09 12:39] #531 closed, assigned to nobody

[2021-07-09 21:33] meerakumarbfa opened #533 "Is there a way to visualize the embeddings?"
I'm new to using Pykeen. Is there a way to visualize the embeddings? Tensorboard seemed like an option but it requires a tensorflow variable.

[2021-07-09 22:09] mberr commented on #533
As far as I know, you can load TSV files into the embedding projector, cf. https://www.tensorflow.org/text/guide/word_embeddings#retrieve_the_trained_word_embeddings_and_save_them_to_disk

Here is a tutorial for hpw you can get the embedding matrices: https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html#using-learned-embeddings

[2021-07-09 23:05] meerakumarbfa commented on #533
Awesome thanks! One more question. I'm having trouble saving the embedding from PairRE (I get the error that 'PairRE' object has no attribute 'entity_embeddings' ). How would I save PairRE embeddings to a tsv file?

[2021-07-09 23:09] cthoyt commented on #533
Example for plotting:

https://pykeen.readthedocs.io/en/stable/tutorial/translational_toy_example.html

Various methods for plotting embeddings are built in to the PipelineResult class https://pykeen.readthedocs.io/en/stable/api/pykeen.pipeline.PipelineResult.html#pykeen.pipeline.PipelineResult, specifically https://pykeen.readthedocs.io/en/stable/api/pykeen.pipeline.PipelineResult.html#pykeen.pip

[2021-07-09 23:24] meerakumarbfa commented on #533
I'm trying to use the embeddings as an input for another model so something on how to save PairRE embedding would be helpful!

[2021-07-10 00:25] cthoyt commented on #533
There are several sections in the docs about that and other issues asking the same question. Please check those out and ask again if they’re not sufficient

[2021-07-14 17:13] meerakumarbfa commented on #533
Thanks! The old posts helped me figure this out

[2021-07-14 17:13] #533 closed, assigned to nobody

[2021-07-14 17:19] meerakumarbfa opened #535 "BYOD for ablation"
For the ablation pipeline, have there been improvements to using custom triples for experiments? I noticed that as of last year the method was to load the data in a config file before the ablation study.

[2021-07-19 09:18] Hao-666 opened #536 "What is the proper n_trials when using hpo_pipeline to optimize hyper-parameters?"
Hi, I am following the [doc](https://pykeen.readthedocs.io/en/stable/tutorial/running_hpo.html) to obtain optimized hyper-parameters as follows.

[code]

I am wondering what is the proper `n_trials` to try to find the optimized hyper-parameters? Thanks!

[2021-07-19 09:28] Hao-666 opened #537 "Lack of random_seed parameter in hpo_pipeline?"
Hi , when I used the codes below to obtain optimized hyper-parameters, it showed that `No random seed is specified. Setting to 1470630583`. But there is no random seed parameter in [hpo_pipeline](https://pykeen.readthedocs.io/en/stable/reference/hpo.html#pykeen.hpo.hpo_pipeline). Does it mean that the optimized results maybe different each time the codes are run? Thanks!
[code]

[2021-07-19 09:35] mberr commented on #536
Hi @Hao-666 ,

`n_trials` defines how many different configuration will be explored in your HPO. There is no perfect value for this, but it rather depends on the size of search space, how thoroughly you want to explore it, and how much resource you have at hand / want to spent on HPO.

[2021-07-19 09:38] mberr commented on #537
Hi @Hao-666 ,

each trial of the hpo study uses a fixed, but randomly chosen random seed. The used random seeds will be stored (@mali-git correct me if I am wrong here), so you can deterministically re-run the best configuration. The HPO study itself is non-deterministic, i.e. running the search multiple times will probably sample different configurations each time.

[2021-07-19 09:55] Hao-666 commented on #536
Thanks @mberr ,

I want to explore it as thoroughly as possible but certainly I don't want to let say set it as 80 with 100 configurations in total if 80 has very minor differences with 60. It seems that the total configurations by default is large (sorry I didn't find the exact number, grateful if you could point this out), for example I saw the [doc](https://pykeen.readthedocs.io/en/stable/tutor

[2021-07-19 10:07] Hao-666 commented on #537
Got it. Thanks @mberr! BTW I suggest supplementing this explanation in the doc to avoid such confusion :)

[2021-07-19 10:07] #537 closed, assigned to nobody

[2021-07-19 11:18] mberr commented on #536
In our benchmarking study, cf. [here](https://github.com/pykeen/benchmarking), we used a maximum of 100 trials or 24 hours for each sub-configuration, whatever came earlier. Due to the large number of subconfigurations, we still ended up with more than ~25,000 GPU hours.

Notice that due to the large number of hyperparameters not only of the interaction function, but also e.g., the optimizer, the

[2021-07-19 11:46] Hao-666 commented on #536
My knowledge graph is small (hundreds of entities, no more than 10 relations, no more than 10,000 triples) so I intended to use a large `n_trials` to do the HPO. Thanks for your informative reply @mberr  :)

[2021-07-19 11:55] cthoyt commented on #537
I don't think you can set a random state for HPO to make it deterministic. If anyone has seen this in Optuna, I would definitely look into adding a random_seed parameter to the hpo_pipeline function that uses it

[2021-07-19 11:57] cthoyt commented on #535
Please see https://pykeen.readthedocs.io/en/stable/tutorial/running_ablation.html#run-an-ablation-study-with-your-own-data for an example on how to do this. Let me know if that's not sufficient to get yourself up and running

[2021-07-20 22:21] cthoyt commented on #47
This is done, but in #540 we might make a subclass of MRL that makes it more explicit

[2021-07-21 12:32] Hao-666 opened #541 "Failures in Hyper-parameter Optimization - Trial 1 failed, because the value None could not be cast to float"
**Describe the bug**
When doing a HPO, there were failure messages as below.
[code]
Full message:
[code]

**To Reproduce**
Codes:
[code]

**Expected behavior**
All of the `n_trials` are conducted and checkpoints saved.

**Environment:**
Output by using `pykeen.env()` in Google Colab:

<html>
<body>

Key | Value
-- | --
OS | posix
Platform | Linux
Release | 5.4.104+
User | root
Time | Wed Jul 21 12

[2021-07-21 19:37] mberr commented on #541
This is the same issue as #466 - @cthoyt do you know whether there was some progress? (also mentioning @mali-git since he knows well about the hpo code).

[2021-07-21 23:16] cthoyt commented on #541
There is no progress, I haven't had the time to look into this. It would be nice if there were a minimal example (https://github.com/pykeen/pykeen/issues/466#issuecomment-867973913 suggests a large example with DRKG and CompGCN - I don't think this is appropriate for writing unit tests or quick iteration).

[2021-07-22 01:29] Hao-666 commented on #541
Thanks @mberr @cthoyt . I tried again without checkpoint arguments and it is ok. Would the checkpoints be the reason?

BTW I can provide my small dataset here for quick unit tests if it is suitable @cthoyt. The dataset has only 166 entities, 5 relations, 2158 triples.

[2021-07-22 16:43] flpgrz opened #544 "RGCN with pipeline"
I get

`TypeError: RGCN: __init__() missing 1 required keyword-only argument: 'interaction'`

when I do:

[code]

How can I use RGCN with `pipeline`? Thanks.

[2021-07-22 22:58] cthoyt commented on #544
Hi @flpgrz, this seems like a bug more than a question. It would be good to know a bit more about your environment before looking into this. Can you please copy-paste the result of running `pykeen version` in the shell into this issue?

Also Grüß aus Bonn ;)

[2021-07-23 05:45] flpgrz commented on #544
Version 1.5.0

Grüsse aus Heidelberg! :)

[2021-07-23 06:00] flpgrz opened #545 "Inductive learning"
**Please also take a look at the main discussion on inductive link prediction at https://github.com/pykeen/pykeen/issues/720**

---
It would be amazing to have an inductive learning pipeline.

Ideally, it would allow triples in val/test with entities which don't belong to the training set.

To make it work, one would probably need feature vectors for all train/val/test entities, instead of computi

[2021-07-23 06:42] mberr commented on #545
Hi @flpgrz ,

thanks for your interest in pykeen!

Since we also interested in inductive settings, we already started to properly modularize the components to easily allow this in the future. I'll go through some high-level components and try to point out where we need to make modifications.

* [CoreTriplesFactory](https://github.com/pykeen/pykeen/blob/bc7f2f0703ffd86b7b885be4c19f9893ba625b1f/src/

[2021-07-23 06:55] mberr commented on #544
The reason seems to be that RGCN does not define a default interaction [here](https://github.com/pykeen/pykeen/blob/bc7f2f0703ffd86b7b885be4c19f9893ba625b1f/src/pykeen/models/unimodal/rgcn.py#L74).

@cthoyt I think it would be safe to put DistMult there, since it was also used in experiments by the original authors.

@flpgrz To get it running before we change this, you can explicitly specify the i

[2021-07-23 08:17] cthoyt commented on #544
@mberr dismult should definitely be the default (surpised it isn't) and we should emit a warning when not using the Schlichtkrull sampler with R-GCN

[2021-07-23 08:46] mberr commented on #544
this is already done :slightly_smiling_face:

[2021-07-23 09:38] cthoyt commented on #544
@mberr @flpgrz I've made a PR https://github.com/pykeen/pykeen/pull/547 to improve the exception so it has more pykeen-specific information on how to fix this (this also involved updating the class_resolver!)

Let me know what you think. This PR could also be extended to give more information on any of the other components, too (or maybe we should get more clever about generalizing this)

[2021-07-23 13:12] #544 closed, assigned to nobody

[2021-07-23 13:13] cthoyt commented on #544
@flpgrz in #548 we made DistMult the standard in R-GCN. The other PR, #547 is interesting but I think it's actually better that you should never _have_ to use the `model_kwargs`, so I might close that one without merge.

[2021-07-23 13:37] mberr commented on #541
I could reproduce the error with
[code]

<summary>Full Log</summary>
<details>

[code]

</details>

The problem seems to be that the second trial loads the checkpoint instead of training a new model. It does not happen when you do not specify a checkpoint.

[code]

I guess, we shouldn't do this anyway, or use a trial-specific path for checkpointing.

[2021-07-24 04:19] Hao-666 commented on #541
Thanks @mberr . What do you mean by "use a trial-specific path for checkpointing"? It seems that the [`hpo_pipeline`](https://pykeen.readthedocs.io/en/stable/reference/hpo.html#:~:text=hpo_pipeline(*%2C%20dataset%3DNone,None%2C%20save_model_directory%3DNone)) doesn't has the checkpoint parameters. If I pass it in `training_kwargs` then it would be the error here, as you mentioned the second trial

[2021-07-26 02:55] Hao-666 opened #549 "Run best pipeline after HPO using pipeline_from_path"
**Describe the bug**
When using pipeline_from_path to run the best pipeline config, `user defined` error occured.
`OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect error. : '<user defined>'`

**To Reproduce**
[code]
Contents of pipeline_config:
[code]

**Expected behavior**
Run the best pipeline config.

**Environment:**

 Key             | Value

[2021-07-26 03:08] sudhanvarajesh opened #550 "Could not find a coverage of all entities and relation"
**error faced**
i am trying to train a new model with a custom kg, but I keep coming across this error:
[code]

any possible solution?

[2021-07-26 05:14] cthoyt commented on #550
Hi @sudhanvarajesh, we’ll need a bit more context to give assistance. Can you please share the version information about pykeen (as requested in the bug issue template), the exact code you ran, and possibly the custom data?

[2021-07-26 07:31] mberr commented on #549
Hi @Hao-666 ,

you need to replace `<user defined>` by an actual path. It looks like you want to use your own triples, which already have been split into train/validation/test, correct? Then you should put the paths to the respective files there.

[2021-07-26 09:31] Hao-666 commented on #549
Thanks @mberr . Yes I split the triples into train/validation/test sets as below.
[code]
But There seems no method to export the split TripleFactory objects as some file formats outside?

[2021-07-26 09:35] cthoyt commented on #549
`TriplesFactory.from_path` is a bit magical depending on the file path. Can you please share what that looks like?

Also, do you mean that you get an error when you run this code? Can you please include the full stack trace?

[2021-07-26 09:43] Hao-666 commented on #549
Hi @cthoyt ,

It is like this:
[code]
Output:
`TriplesFactory(num_entities=165, num_relations=5, num_triples=2222, inverse_triples=False, path="C:\Users\......\gold triple.txt")`

There is no error loading the triples. The error occured when trying to run the best pipeline config. As explained by @mberr the `user_defined` strings should be replaced by actual triple paths. But now my problem is tha

[2021-07-26 09:50] cthoyt commented on #549
@Hao-666 that's a really good point! The triples factories are effectively wrappers around a 3-column numpy array integer representations for triples, and two associated label dictionaries. We don't have functionality built in for exporting these (should be trivial enough with numpy), but this would definitely be nice to have for convenience

obv the HPO pipeline can't handle all possible cases. I

[2021-07-26 11:47] Hao-666 commented on #549
@cthoyt I see. Thanks!

Given that the triple factories are numpy array representations, I exported the numpy values into txt as training.txt, validation.txt, and testing.txt after spliting the whole dataset and then typed these three paths in the best pipeline config. Here is the summary of the workflow of using HPO to obtain optimized parameters and then using the best pipeline config file to tr

[2021-07-26 11:55] cthoyt commented on #549
Numpy has a function for this: https://numpy.org/doc/stable/reference/generated/numpy.savetxt.html

The last thing won't work directly -  you'll want to load the JSON configuration, then manually intervene to edit the testing, training, and validation paths to actually be your new paths, then it should work. Something like:

[code]

[2021-07-26 12:10] Hao-666 commented on #549
@cthoyt Thanks for pointing out!

Do you mean replacing the user-defined strings in the best pipeline config json file with the exported txt paths and then running it with pipeline_from_path won't work directly? I did so just now and it worked.

[2021-07-26 12:57] cthoyt commented on #549
No, that works too! But it means you had to do it by hand instead of with code and that's not so great for reproducibility.

[2021-07-26 14:45] flpgrz opened #552 "HPO strategies"
What is the difference between:

[stepping](https://pykeen.readthedocs.io/en/stable/tutorial/running_hpo.html?highlight=optuna#stepping)

[code]

and [custom strategy with q=](https://pykeen.readthedocs.io/en/stable/tutorial/running_hpo.html?highlight=optuna#custom-strategies)

[code]

?

Also, since [power scale ](https://pykeen.readthedocs.io/en/stable/tutorial/running_hpo.html?highlight=optuna#

[2021-07-26 14:58] cthoyt commented on #552
q and step are synonyms in this case, just for flexibility since this kwarg was renamed in a recent version of Optuna.

The log scale affects the probability distribution, not the values themselves as described in the [Logarithmic Reweighting](https://pykeen.readthedocs.io/en/stable/tutorial/running_hpo.html?highlight=optuna#logarithmic-reweighting) section of the tutorial.

We talked about having

[2021-07-26 15:17] Hao-666 commented on #549
Ohhhh sorry I misunderstood your words. Yes you are right:)

[2021-07-26 15:18] #549 closed, assigned to nobody

[2021-07-26 15:18] flpgrz commented on #552
Thanks @cthoyt

[2021-07-26 15:18] #552 closed, assigned to nobody

[2021-07-26 20:15] #535 closed, assigned to nobody

[2021-07-27 03:38] Hao-666 opened #553 "What kind of loss does PipelineResult.plot_losses() plot? Training loss, Validation loss, or Testing loss?"
Hi, the [doc](https://pykeen.readthedocs.io/en/stable/api/pykeen.pipeline.PipelineResult.html?highlight=plot#pykeen.pipeline.PipelineResult.plot_losses) says that the `PipelineResult.plot_losses()` plot the losses per epoch. But what set is the loss for? Is it the loss on training set, validation set, or testing set? Thanks!

[2021-07-27 06:54] mberr commented on #553
These are the training losses.

While it is easy to get validation metrics using an early stopper, getting the validation loss is under implementation, cf. https://github.com/pykeen/pykeen/issues/304

The test loss is not computed automatically in order to not accidentally use it for model selection / hyperparameter tuning.

[2021-07-27 08:39] Hao-666 commented on #553
Thanks @mberr :)

[2021-07-27 08:46] #553 closed, assigned to nobody

[2021-07-27 22:08] cthoyt opened #554 "Add CITATION.cff file"
For easy citing: https://twitter.com/natfriedman/status/1420122675813441540

[2021-07-28 16:26] ghost opened #555 "NameError: name 'Dataset' is not defined"
I am not entirely sure why this is an error, but this is the message i get

[code]

[2021-07-28 16:38] mberr commented on #555
This looks like a problem of eager evaluation of type annotations. @cthoyt may be able to help :slightly_smiling_face:

[2021-07-28 20:08] ghost commented on #555
How do I fix this?

[2021-07-28 20:54] cthoyt commented on #555
Looks like you're on Py36 (would have been nice to have filed this under the "bug" where it instructs to show the `pykeen version` output)

We don't support py36 since it's effectively outdated (end of life is in 4 months, see https://endoflife.date/python). Please upgrade to a more recent version of Python and the problem should resolve itself

[2021-07-29 20:24] #555 closed, assigned to nobody

[2021-07-29 20:56] ghost opened #557 "When are constrainers and normalizers applied?"
I can see that each model's entities and relations have constrainers defined. Where are these constraints applied? In what stage of the training are these constraints applied. For example, bordes et al. states that entities embeddings are normalized in the beginning of each epoch. Does PyKEEN follow the same process?

[2021-07-29 21:19] mberr commented on #557
The difference between contrainers and normalizers is

https://github.com/pykeen/pykeen/blob/5a24de7d6c42af36ea1a546c10e68634da817852/src/pykeen/nn/emb.py#L204-L206

If you are referring to [Bordes et al., 2013](https://papers.nips.cc/paper/2013/hash/1cecc7a77928ca8133fa24680a88d2f9-Abstract.html), this is corresponding to an L2-constrainer in our terminology.

[2021-07-29 21:21] ghost commented on #557
Great, thank you very much.

On Thu, Jul 29, 2021 at 5:20 PM Max Berrendorf ***@***.***>
wrote:

[2021-07-30 08:26] Hao-666 opened #558 "Customized negative sampling strategy"
Hi, for example, there are four triples in the graph: `(h1, r1, t1), (h2, r2, t2), (h3, r3, t3), (h4, r4, t4)`, and there are two classifications of the entities: `Category A: h1, t1, h2, t2; Category B: h3, t3, h4, t4`. For the generation of a negative triple for `(h1, r1, t1)`, the entities to replace `h1` are from `Category B` only (i.e., `t1, h2, t2` will not be sampled to replace `h1` to gene

[2021-07-30 08:34] mberr commented on #558
Hi @Hao-666 ,

you can create your own subclass of `NegativeSampler`, where you only have to implement the corruption method

https://github.com/pykeen/pykeen/blob/5a24de7d6c42af36ea1a546c10e68634da817852/src/pykeen/sampling/negative_sampler.py#L94

If you need to do some one-time preprocessing, e.g., to efficiently represent the mentioned entity sets, you can do so in the sampler's  `__init__` me

[2021-07-30 08:56] Hao-666 commented on #558
Thanks @mberr . BTW can we output the generated negative triples? And if I already have a set of negative triples, can I assign the negative triples in the training directly?

[2021-07-30 13:15] Hao-666 commented on #558
I tested this by creating a subclass with the codes of [basic negative sampler](https://github.com/pykeen/pykeen/blob/5a24de7d6c42af36ea1a546c10e68634da817852/src/pykeen/sampling/basic_negative_sampler.py) first, but there are two errors:
[code]
and
[code]
Codes:
[code]
Are there any problems? Sorry that maybe my problems look stupid... I am new to coding and knowledge graph embeddings etc... Than

[2021-07-30 13:53] cthoyt commented on #558
Looks like you should have used a keyword argument but used a positional argument

[code]

but also your usage doesn't really make any sense anyway since there's no reason to pass a triples factory to __init__ based on your code

[2021-07-30 14:02] Hao-666 commented on #558
Thanks! @cthoyt. But if the triple factory was not passed it would say triples_factory is required as the message below.
[code]

Now I use the keyword argument as `sampler = Sampler(triples_factory=tf)` and error of` __init__() takes 1 positional argument but 2 were given` disappeared.  But the second error of `Invalid NegativeSampler type: <class '__main__.Sampler'> - <__main__.Sampler object at

[2021-07-30 15:29] #557 closed, assigned to nobody

[2021-07-31 01:00] Hao-666 commented on #558
Sorry for disturbance. Seems that the self-defined sampler class should not be instantiated. I deleted `sampler = Sampler(triples_factory=tf)` and changed `negative_sampler=sampler` to `negative_sampler = Sampler` and then it worked.

[2021-07-31 07:37] #558 closed, assigned to nobody

[2021-08-02 08:23] #536 closed, assigned to nobody

[2021-08-03 08:34] pitehu opened #560 "Save best epoch functionality"
Is there a "save best epoch" option in pykeen? Basically, I want to keep training but only save the best-performing epoch on the validation set. Alternatively, is it possible to save every epoch with a different name instead of overwriting the old ones? Perhaps a call back is an option? Is there an option that I can use in conjunction with the "pipeline"?

[2021-08-03 11:55] moritzblum opened #561 "RGCN relation embeddings"
I used the RGCN FB15k example and stored the model. How do I get the relation embeddings? Getting the node embeddings is straight forward.
[code]

[2021-08-03 12:10] cthoyt commented on #561
Same thing but replace `entity_representations` with `relation_representations`. A full guide is available at https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html#using-learned-embeddings. Let me know if that solves your problem

[2021-08-03 13:11] moritzblum commented on #561
With `rel_embed=my_pykeen_model.relation_representations[0].relation_embeddings()` I get this error: `torch.nn.modules.module.ModuleAttributeError: 'Embedding' object has no attribute 'relation_embeddings'`

[2021-08-03 13:12] mali-git commented on #560
Hi @pitehu,

One approach would be to define an `early stopper` with `patience=num_epochs` and access after finishing training the stopper's `best_epoch` attribute:

[code]

If you use the pipeline, you can access the stopper vie the `PipelineResult` that the pipeline returns:

[code]

Alternatively, you could implement your own callback by extending `TrainingCallback`:

[code]

[2021-08-03 15:06] cthoyt commented on #561
Oh, there was a typo in your original one. The embedding is a module and you just need `my_pykeen_model.relation_representations[0]()`. It should also say this in the docs I sent

[2021-08-04 05:17] moritzblum commented on #561
Oh thank you, I was a little bit confused since I got some embeddings with my first code.

[2021-08-04 05:17] #561 closed, assigned to nobody

[2021-08-04 17:40] meerakumarbfa opened #562 "Using a saved model to train new observations"
**Please also take a look at the main discussion on inductive link prediction at https://github.com/pykeen/pykeen/issues/720**

---
Is there a way to train on pykeen with a saved model (from a previous pykeen pipeline run)? My dataset gets new items added to it at set intervals and I'm looking for a way to add embeddings without retraining over the whole dataset.

[2021-08-04 17:43] cthoyt commented on #562
The scenario you're describing is pretty tricky as far as machine learning goes - PyKEEN does not support it directly, currently.

One tricky thing you could do is add more entities with randomly assigned vectors, then train a bit more, but I'm not sure if that works really well in practice. I think @mali-git, @mberr , or @migalkin could give a better answer about how this is sort of like the "ind

[2021-08-05 14:23] Rodrigo-A-Pereira opened #563 "How to summarize number of parameters in a model?"
Hi, I would like to know if there is any easy way i can obtain a summary of a pykeen model, similar to what keras summary function does (list number of  parameters, number of trainable parameters, non-trainable parameters, etc).

Since i couldn't seem to find anything in the docs, I tried to use 2 external packages (listed bellow) in order to obtain such functionality but nothing seems to work.

#

[2021-08-05 14:44] cthoyt commented on #563
The only thing we've implemented ourselves for this (which we present in the final figures of our [benchmarking paper](https://arxiv.org/abs/2006.13365)) is for counting the number of bytes that a model takes up. This was useful for showing that there are at best diminishing returns for using models like ConvKB and ConvE since there are other models that are simpler yet as performant. That code is

[2021-08-05 14:45] cthoyt commented on #563
Do parameters have a flag for being trainable? Is that the same as the gradient being enabled? In that case you could modify this code for the bytes to do some filtering and maybe get what you want

[2021-08-05 17:06] meerakumarbfa commented on #562
Thanks for getting back to me! Interested to hear other's ideas on this.

As of now, I don't see how I'd get around this without retraining.

[2021-08-05 17:48] cthoyt commented on #562
Follow-up question: I assume by new items in the dataset you mean triples. But do you know if they have new entities, or they're only between entities already in the graph?

[2021-08-06 03:16] Hao-666 opened #564 "Evaluation results change every time when loading dataset in the same way"
**Describe the bug**
When loading the training data again and then doing the evaluation, the results change.

**To Reproduce**

[code]
Output:
[code]
Then when I loaded the dataset and did the evaluation again like below, the results changed, so on so forth.

[code]
Output:

[code]

**Expected behavior**
Each time the evaluation results are the same.

**Environment:**

Key             | Value

[2021-08-06 04:02] Hao-666 commented on #564
I output the testing triples using the codes below when running `training, testing, validation = tf.split([.6, .2, .2],random_state=42)` twice.
[code]
I found that the two sets of generated testing triples are different. Maybe that's the reason? But I have set the random state number. How comes the generated testing triples are different?

[2021-08-06 04:16] Hao-666 commented on #564
I further found that when I used [this dataset](https://drive.google.com/file/d/1n2Aq8fhHmlAC9UoVAGqnVMWJDryazLD2/view?usp=sharing), there is no problem (i.e., the generated testing triples under multiple times are the same). But for [this one](https://drive.google.com/file/d/1r_xYl_erhiZYfQNr5aN-afreLXnOgu2r/view?usp=sharing), the problem is as described above. Strange...

[2021-08-06 09:47] mberr commented on #563
Hi @Rodrigo-A-Pereira ,

you get an overview of the model structure by simply printing the object, e.g.,
[code]

To get information about the model's parameters, you can use Pytorch's builtin [`named_parameters`](https://pytorch.org/docs/stable/generated/torch.nn.Module.html#torch.nn.Module.named_parameters)
[code]

Besides parameters, PyTorch modules can also have buffers, which are essentially w

[2021-08-06 09:52] mberr commented on #564
Hi @Hao-666,

this error might be connected to #499. @cthoyt is working on a fix in #500, so maybe he can help you here?

[2021-08-06 10:08] Rodrigo-A-Pereira commented on #563
Thank you,

I knew about the structure provided by printing the model. But I didn't know pytorch had built in functions for parameters. It is very helpfull.

Best regards,

Rodrigo Pereira

[2021-08-06 10:08] #563 closed, assigned to nobody

[2021-08-06 10:52] cthoyt commented on #564
Couldn't this also be related to the rank-based evaluator having a random component to it?

Alternatively, I wonder if there's a reason why using a bigger dataset causes this issue

[2021-08-06 10:58] mberr commented on #564
The rank-based evaluator should be deterministic, except numerical effects for evaluating on the same triples in different order. This shouldn't change results as heavily as observed above.

I think cause lies in

[2021-08-06 10:59] Hao-666 commented on #564
Hi @cthoyt , I am not sure about whether the rank-based evaluator has problems or not. But I am sure that the spliting results have problems as I found two sets of generated testing triples are different and also tested two small datasets here.

[2021-08-06 11:01] cthoyt commented on #564
When you reload the triples, did you maintain the same entity to id and relation to id mappings? You should check that they're the same

[2021-08-06 11:02] Hao-666 commented on #564
Yes. I just repeated `tf = TriplesFactory.from_path(TRIPLE)`. I think the mappings are the same?

[2021-08-06 11:05] cthoyt commented on #564
can you check? dump the entity_ids and relation_ids dict the first time you load it with:

[code]

Then compare those the second time

Update: when I did this, it's the same. This should be deterministic

[2021-08-06 11:11] Hao-666 commented on #564
Yes I also checked just now. The [mappings](https://drive.google.com/file/d/1AAip9xzJvdaPm5dt8Zk4_42psSjkucAL/view?usp=sharing) are the same.

[2021-08-06 11:19] #527 closed, assigned to cthoyt

[2021-08-18 01:15] fiego opened #567 "How to set checkpoint and evaluation_kwargs ?"
Hi, I have a question.
My goal is to use the knowledge graph to embed the model training data and get the vector of each entity.
However, the data set I had to deal with was very large because I didn't know how to train faster.
1.  I set the checkpoint configuration, but after the training is interrupted, I need more memory to reload the model (.pt file), so I cannot load the interrupted training

[2021-08-18 09:46] GabrielLin opened #568 "RuntimeError: CUDA out of memory when training with a large file"
I am facing `CUDA out of memory` when training with a large file. I have changed the batch size to 16 but it does not works. Could you please help? Thanks.

[code]

[2021-08-18 10:04] cthoyt commented on #568
16 might still be too big depending on your hyperparameters. Before specifying at 16, did you use automatic memory optimization (this is invoked by default if no batch size is given)?

[2021-08-18 12:46] GabrielLin commented on #568
Thank you for your reply.

Yes, the reason I set 16 is that I find the default value of batch size in the source code is 256. I did not set any batch size before, but there was the same issue.

[2021-08-18 12:57] cthoyt commented on #568
Hmm, well it's tough to say just from the code you've given. Maybe you can share the output of `pykeen.env()` and the full error stack trace?

[2021-08-18 13:15] GabrielLin commented on #568
Here there are.

···
| Key             | Value                    |
|-----------------|--------------------------|
| OS              | posix                    |
| Platform        | Linux                    |
| Release         | 4.4.0-142-generic        |
| User            | XXX                      |
| Time            | Wed Aug 18 21:13:03 2021 |
| Python          | 3.8.10                   |
| P

[2021-08-18 13:18] cthoyt commented on #568
Are you sharing your GPU with other students?

[2021-08-18 13:22] GabrielLin commented on #568
I had checked that no one used GPU before I ran the script.

[2021-08-18 13:28] mberr commented on #568
@GabrielLin

You can also try to reduce the embedding dimension, which defaults to 50.
https://github.com/pykeen/pykeen/blob/8405d82db33e6a6cda2d237ed8d2b719c578483e/src/pykeen/models/unimodal/trans_e.py#L58

To do so, use the `model_kwargs`, e.g.,
[code]
From my experience, L2 norm is more efficient memory-wise, while by default L1 is used for TransE. This can be changed by
[code]

[2021-08-18 14:22] GabrielLin commented on #568
The solution works for me. Thank you @mberr , @cthoyt

[2021-08-18 14:23] #568 closed, assigned to nobody

[2021-08-19 05:38] moritzblum opened #570 "RGCN experiment"
Why does only the RGCN **WN18** experiment use the `schlichtkrull` sampler and the **FB15k** dosn't?

[2021-08-19 07:23] tatiana-iazykova opened #571 "Issue with requires_grad in CompGCN?"
Upon trying to run this bit of code I received an error
`RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn`

[code]

Could, somebody, please, help me with this?

[2021-08-19 07:32] cthoyt commented on #571
Could you please paste the output from `pykeen.env()` and the full stack trace?

[2021-08-19 07:39] tatiana-iazykova commented on #571
[code]

[2021-08-19 07:40] tatiana-iazykova commented on #571
Key	Value
OS	posix
Platform	Linux
Release	4.15.0-124-generic
User	jovyan
Time	Thu Aug 19 07:36:57 2021
Python	3.7.10
PyKEEN	1.5.0
PyKEEN Hash	UNHASHED
PyKEEN Branch
PyTorch	1.6.0+cu101
CUDA Available?	true
CUDA Version	10.1
cuDNN Version	7603

[2021-08-19 07:48] mberr commented on #571
I could reproduce the behaviour with this smaller snippet on the current `master` branch (8405d82db33e6a6cda2d237ed8d2b719c578483e)
[code]

When I disable early stopping, the error does not occur anymore. The same holds for changing to other models, e.g., `"DistMult"` or `"RGCN"`.

[2021-08-19 07:52] flpgrz opened #572 "Improve docs on default metric for early stopper"
Hi folks,

[Here](https://pykeen.readthedocs.io/en/stable/reference/stoppers.html#pykeen.stoppers.EarlyStopper.metric), I see the default monitored metric for the early stopper is `'hits_at_k'`.

Which `hits@` is considered? Like, @1, @3, @5?

Thanks.

[2021-08-19 08:04] mberr commented on #571
I think the error originates from the buffering here:
https://github.com/pykeen/pykeen/blob/8405d82db33e6a6cda2d237ed8d2b719c578483e/src/pykeen/nn/emb.py#L942

After evaluation via the early stopper, post_parameter_update is not called, and thus `self.enriched_representations` still contains the evaluation representations which do not require a gradient since they were computed in evaluation mode.

[2021-08-19 08:10] tatiana-iazykova commented on #571
Oh, thanks, I'll disable the early stopper then, hope this won't be the case in the future :)

[2021-08-19 08:11] mberr commented on #571
This may be a work-around until we have fixed this issue.

Thanks for reporting the bug :+1:

[2021-08-19 09:25] #571 closed, assigned to nobody

[2021-08-19 09:30] mberr commented on #571
@tatiana-iazykova the issue should now be resolved with #573 being merged to master. You can install this version via
[code]

The change will also become available via
[code]
once we make the next release.

[2021-08-19 15:31] tatiana-iazykova opened #574 "Runtime error upon using whitelist"
Hello!

I created a list of relations I needed yet when I tried to pass it as an argument to pipeline I got an unexpected error:
`RuntimeError: Integer division of tensors using div or / is no longer supported, and in a future release div will perform true division as in Python 3. Use true_divide or floor_divide (// in Python) instead.`

Setup

[code]

Traceback:

[code]

Pykeen.env()

[code]

[2021-08-19 16:10] flpgrz commented on #549
I had this problem when I did hpo with triples factory classes which I had implemented.
I.e. when I passed a triple factory object to the `hpo_config`, instead of a path I incurred in the `<user defined>` problem.

This is how I fixed this:

[code]

[2021-08-19 17:18] mberr commented on #574
Hi @tatiana-iazykova ,

do you get the same error when running this smaller snippet without custom data?

[code]

[2021-08-19 19:56] tatiana-iazykova commented on #574
Yes, the issue is the same when running this snippet

[2021-08-20 03:32] wikiviggy opened #576 "Memory error while attempting to train RGCN embeddings on my knowledge graph"
Hello,

I tried generating RGCN knowledge graph embeddings and these are the parameters that I passed while invoking the model through pipeline.

[code]

However regardless of whatever batch size that I set, I always end up getting this memory error that I have pasted below for your reference.

[code]
My knowledge graph has about 5 million triplets and I am training it on 80% of those 5 million tr

[2021-08-20 06:59] cthoyt commented on #576
That’s a pretty tiny GPU. You should probably decrease the dimensions of the embeddings as well

[2021-08-20 07:23] wikiviggy commented on #576
I see. Yes I tried that just now but that affects the quality of the representation because I am trying to compress a lot  within lesser dimensions than needed to effectively represent the embeddings. So the spatial orientation of these embeddings is affected. I think I will get a bigger GPU. I do have multiple GPUs though. Is there a dataparallel wrapper for pykeen that allows me to parallelize t

[2021-08-20 07:54] cthoyt commented on #576
There's an experimental solution for multi-GPU support in https://github.com/pykeen/pykeen/pull/393 but it's not for allowing distributed storage of the representations. It's pretty well-known that GNN methods don't scale well on real datasets, so if you must have larger representations, maybe try a different kind of model in the mean time (they will also be much faster)

[2021-08-20 07:58] wikiviggy commented on #576
Alright. Thank you very much.

[2021-08-20 08:48] moritzblum commented on #470
I'm working on a similar topic as @sntcristian and found this discussion.

Without studying the original [_LiteralE_](https://github.com/SmartDataAnalytics/LiteralE/blob/master/model.py) code completely, I  would say the gating mechanism you mention is actually not for combining textual and numeric vectors. It combines an embedding and a literal vector by a gating mechanism like e.g. in RNNs. This

[2021-08-20 13:36] tatiana-iazykova opened #577 "Compute embedding for new data"
Hi, everyone!
I was wondering whether it is possible to compute the embedding for a completely new entity with a trained model, if you have triplets with the nodes the model already know. Or I should re-train the model and that is the only way?

[2021-08-20 13:37] tatiana-iazykova commented on #577
I've seen this thing possible for text embedding model, i.e. FastText, so it got me wondering the same issues for graph embeddings

[2021-08-20 13:51] mberr commented on #577
Hi @tatiana-iazykova ,

this is usually referred to as *inductive* link prediction as opposed to *transductive* link prediction where all entities are known at training time, cf., e.g., https://arxiv.org/abs/1706.02216

The short answer is that we currently do not have built-in support for these kind of models. There is some ongoing work, cf. #556 , but this will likely take some time to be availa

[2021-08-20 13:56] tatiana-iazykova commented on #577
Wow, thanks for the quick response! Will be looking forward for your build-in support :)

[2021-08-20 14:01] #577 closed, assigned to nobody

[2021-08-20 14:07] mberr commented on #574
Okay, on my local machine with the latest version of pykeen & torch this does not occur. I think the reason is that
https://github.com/pykeen/pykeen/blob/7a87578f9bdb8fef28307bac1c037e0c177eee7a/src/pykeen/triples/triples_factory.py#L585
is a tensor rather than a Python object, and fixed this in #575.

Could you try whether this fixes your problem?

To install pykeen with the code from this specif

[2021-08-20 14:09] mberr commented on #572
The default is Hits@10.

The documentation is hidden here:
https://github.com/pykeen/pykeen/blob/7a87578f9bdb8fef28307bac1c037e0c177eee7a/src/pykeen/evaluation/rank_based_evaluator.py#L228-L240

@cthoyt maybe we can link this method to the documentation of the early stopper?

[2021-08-20 14:14] mberr commented on #570
I believe this is a mistake, and FB15k should also use `schlichtkrull`.

The authors' implementation can be found here, https://github.com/MichSchli/RelationPrediction, but is not an easy read :slightly_smiling_face:

[2021-08-20 14:24] tatiana-iazykova commented on #574
upgrading torch alongside with installing this brach helped, thanks!

[2021-08-20 15:07] cthoyt commented on #574
@mberr do we have a minimum supported pytorch at the moment?

[2021-08-20 15:15] #574 closed, assigned to nobody

[2021-08-20 15:17] mberr commented on #574
no:
https://github.com/pykeen/pykeen/blob/fbd14135217c08f30bc121a3eca33e2c4d90b010/setup.cfg#L59

With #575 the problem should also be fixed for earlier Pytorch versions.

[2021-08-22 11:08] fiego commented on #567
Hello，everyone can help me?

[2021-08-23 12:20] Hao-666 opened #579 "TranSparse model"
**On which paper(s) is your requested model based.**
[Knowledge Graph Completion with Adaptive Sparse Transfer Matrix](https://ojs.aaai.org/index.php/AAAI/article/view/10089)

**List the original and other existing implementations of this model**
[One implementation on Github](https://github.com/FrankWork/transparse)

**Relevance of this model**
This model aims to solve the heterogeneity problem t

[2021-08-23 13:00] cthoyt commented on #579
@Hao-666 do you think you might want to try providing a PR for this?

[2021-08-23 14:53] cthoyt commented on #567
Hi @fiego, we're all busy at the moment and don't have time for support. Maybe this is a good time for us to think about having a community forum so anyone else using PyKEEN might be able to help you too.

[2021-08-24 01:02] Hao-666 commented on #579
Hi @cthoyt , sorry that I may not be able to implement a new model for now. I am not from computer science and just started touching knowledge graph embedding models recently. I came across this model and think it is interesting and practical, so I shared it here. But I am trying :)

[2021-08-24 03:35] Hao-666 opened #580 "Only update non-zero values in projection matrix in TransR?"
Hi, I am doing some modifications for transR. I want to implement #579 finally but I am starting with some simple modifications first. I have some questions about updating the projection matrix.

For example, there are three relations` rel1, rel2, rel3`. `rel1` connects 20% entity pairs, `rel2` connects 30% entity pairs, and `rel3` connects 50% entity pairs. Accordingly, I want to realize that in

[2021-08-24 07:40] mberr commented on #580
Hi @Hao-666 ,

the projection matrices are still dense, and just happen to have some zeros in the beginning. Thus, the optimizer will also update these zero entries resulting in the observed behaviour.

I think there are (at least) two ways how you could proceed:
* use sparse tensors instead, cf. https://pytorch.org/docs/stable/sparse.html
* use a dense tensor, and element-wise multiply it by a "s

[2021-08-24 09:10] Hao-666 commented on #580
Thanks @mberr . For the first way, do you mean that once the sparse tensors are constructed in the initialization as the projection matrixes, only the non-zero values will be updated afterwards?

[2021-08-26 05:51] raifthenerd opened #583 "Update ogb-wikikg to ogb-wikikg2"
**Describe the bug**

Since `ogb-wikikg` is deprecated (as mentioned in https://ogb.stanford.edu/docs/linkprop/), loading `pykeen.dataset.OGBWikiKG` raises `ValueError`.

**To Reproduce**
Run `python -m pykeen.datasets.ogb` and following error occurs:

[code]

**Expected behavior**
The dataset should be loaded without error.

**Environment:**

[code]

**Additional information**
None.

[2021-09-06 14:25] mberr commented on #580
Yes, exactly. You can try it yourself:
[code]

Notice how only the non-zero entries change.

[2021-09-08 12:17] #570 closed, assigned to nobody

[2021-09-08 12:37] mberr commented on #570
Hi @moritzblum ,

the experiment configuration should now be fixed. It will be distributed via `pypi` with the next release. You can get earlier access to it by installing `pykeen` from source, cf. https://github.com/pykeen/pykeen#installation--

[2021-09-09 19:06] shainaraza opened #588 "Colab and Pykeen"
**Describe the bug**
I try to run this latest version of pykeen on colab but it caused me error as mentioned in PyKEEN issue #373. However, then I downgraded the scipy to 1.4.1 (as hinted by colab error log), then it worked, but then I find many other missing packages,

Please note running this command
from pkg_resources import require
 require('pykeen')
was not possible without downgrading scipy

[2021-09-09 22:22] cthoyt commented on #588
I don’t understand why you downgraded scipy - the error shows that PyKEEN requires at minimum version 1.5.0. Could you please explain?

[2021-09-09 22:24] shainaraza commented on #588
thanks for reply, later I didn't downgrade it, actually the problem is that it is not working with Colab, it does not read import pipeline and dataset line. then I used the package import (as mentioned in thread 373 but then I get additional issues like scipy package mismatch.

[2021-09-10 13:19] shainaraza commented on #588
I fixed it using these commands

[code]

thanks

[2021-09-10 14:08] cthoyt commented on #588
Great! not sure what was going on - perhaps some old caches. If there's any more issues, please feel free to reopen this or send a new issue

[2021-09-10 14:08] #588 closed, assigned to nobody

[2021-09-12 01:26] Moon-xm opened #589 "TypeError: ResultTracker: ResultTracker() takes no arguments"
**Describe the bug**
Hello
After Hyper-parameter Optimization, I tried to Run the pipeline on the best configuration, so I using result.replicate_best_pipeline() method, like this:
`    result.replicate_best_pipeline(
                                   directory='result/'+file_name+'/best_pipeline',
                                   replicates=1,
                                   save_replicates

[2021-09-12 10:12] cthoyt commented on #589
Please copy the full stack trace as well as version information about pykeen

[2021-09-12 12:20] Moon-xm commented on #589
Thank you for your reply.

Name: pykeen
Version: 1.5.1.dev0
Summary: A package for training and evaluating multimodal knowledge graph embeddings
Home-page: https://github.com/pykeen/pykeen
Author: "Mehdi Ali, Max Berrendorf, Charles Tapley Hoyt, Laurent Vermue"
Author-email: pykeen2019@gmail.com

[code]

[2021-09-13 15:35] Rodrigo-A-Pereira commented on #470
Hi,
I have an implementation of DistMultLiteral with that gating mechanism mentioned by @moritzblum on my fork of Pykeen (based on the code from the official [LiteralE repo](https://github.com/SmartDataAnalytics/LiteralE)),  should i make a PR?

[2021-09-14 00:48] Moon-xm opened #590 "What is the difference between batch_size in evaluator_kwargs and batch_size in evaluation_kwargs?"
What is the difference between batch_size in evaluator_kwargs and batch_size in evaluation_kwargs?

[2021-09-14 07:19] cthoyt commented on #470
We’d definitely welcome a request. Have you seen our implementation of the literal models? I’m curious what the differences are (besides the gating function)

[2021-09-14 08:43] Rodrigo-A-Pereira commented on #470
In terms of the "model architecture" the only difference is the gating mechanism (see [ LiteralE paper](https://arxiv.org/pdf/1802.00934.pdf) equation 4, the current implementation of pykeen tackles the "h" and the rest of the equation is the gating mechanism).
In terms of the implementation on the pykeen library only a few changes where needed mainly in the combinations.py module to not have the

[2021-09-23 07:47] alexis-cvetkov opened #592 "How to implement my own model to leverage numerical triples"
Hello ! I am currently working on a way to adapt KG embedding models so they can handle numerical triples too.
The idea is different from LiteralE (already implemented in pykeen), but simple. I have a transformation that takes as input a number `t`, and outputs a vector `e(t)`, then I can use this vector in the scoring function `f(h, r, t)` of any model, as if it were the embedding of a discrete e

[2021-09-23 08:51] Rodrigo-A-Pereira commented on #592
Hi, @alexis-cvetkov

I not really sure i understood the idea of the model you are trying to implement, however if you are trying to implement an alternative transformation to what LiteralE does I would recommend you to look at the `src/pykeen/nn/combinations.py` file. You can easily add a combination that fits what you are trying to implement, and then it is just a matter of creating a `LiteralMod

[2021-09-23 09:19] Rodrigo-A-Pereira opened #593 "Unexpected behaviour when using split() on a TriplesNumericLiteralsFactory object."
**Describe the bug**

When using the `TriplesNumericLiteralsFactory` split() function, the returned objects are `TriplesFactory` objects, which i think should not be the expected behavior since the literal information is lost in the process.

**To Reproduce**

[code]
Current output:
[code]

**Expected behavior**
The expected behavior would be that the use of the split function on a `TriplesNumeric

[2021-09-23 09:20] Rodrigo-A-Pereira commented on #593
I have an easy fix (not sure if the most efficient) for the problem, if you think its relevant I can open a PR.

[2021-09-23 10:59] mberr commented on #593
Hi @Rodrigo-A-Pereira , your PR would be highly welcome!

[2021-09-24 22:03] chauvu opened #595 "Why are evaluation results (Hits@K) different for the early stopper and the pipeline?"
Hello,

What is the difference between the hits@k from the `metrics` key and the `stopper` key in the results.json? I trained a graph with RotatE with early stopping. Here are excerpts of the results.json:

`"hits_at_k": {
      "both": {
        "optimistic": {
          "1": 0.1972839849351336,
          "3": 0.38009238699937736,
          "5": 0.44285079883793066,
          "10": 0.528403691412

[2021-09-25 01:57] Moon-xm commented on #595
I'm also confused about it，The metric I use is hits@10, but the results of `stopper` and `metrics` in result.json are completely different. Which one should I use as the result of the evaluation?

[2021-09-25 10:51] mberr commented on #595
Hi @chauvu and @Moon-xm ,

by default, the evaluation results of the `pipeline` contain the results for *test* triples:
https://github.com/pykeen/pykeen/blob/f0a167039711c1a4eab7ca89f6829200868a646e/src/pykeen/pipeline/api.py#L701

The early stopper, in contrast, evaluates on the *validation* triples. Hence, the two metrics are computed on two different sets of triples.

[2021-09-25 13:57] chauvu commented on #595
Hi @mberr,

That would explain why the hits@k is different between the stopper and the pipeline evaluation. But when I tried training the same dataset with and without early stopping, the hits@k are different:

With early stopping:
`"hits_at_k": { "both": { "optimistic": { "1": 0.1972839849351336, "3": 0.38009238699937736, "5": 0.44285079883793066, "10": 0.5284036914120543 }`

Without early stoppi

[2021-09-25 14:33] cthoyt commented on #595
I'd suggest running a few times and looking at the distribution of hits@k values for a given k. There are a few things that introduce non-detereminism, including the training/testing/validation split (if you're using the pipeline to do that automatically), the random initialization, and negative sampling. Even if you set a random seed, you'll still see some different results between early stopping

[2021-09-28 09:54] Rodrigo-A-Pereira opened #596 "Question about high GPU memory usage on the evaluation step."
I have a question relative to the evaluate module. Is it normal for the evaluation step to have a much higher GPU memory usage than the training phase even when the evaluation batch size is smaller and has less triples?

More concretely, I am working with a dataset with the following sizes:

Training: 500459 triples
Validation: 59651 triples
Test: 59986 triples

I am using DistMult as the model to

[2021-09-28 11:42] mberr commented on #596
Hi @Rodrigo-A-Pereira ,

depending on which training loop you use, this is expected: The evaluation always uses 1:n scoring, i.e., for a triple `(h, r, t)` computes scores for all possible entities `t'`. Hence, the evaluation's memory requirements are roughly similar to training with the LCWA loop (`O(batch_size * num_entities)` when assuming a constant cost of computing one score). A longer descr

[2021-09-28 13:18] mberr commented on #589
Hi @Moon-xm ,

the error seems to be that you use the default `ResultTracker` (which does not take any parameters), but pass non-empty `tracker_kwargs`. Without more information about your code I cannot tell more about the reason.

@cthoyt we could add an empty constructor to `ResultTracker`, which takes `*args, **kwargs` and warns about unused ones. I am unsure about this, since it might cover so

[2021-09-28 13:30] Rodrigo-A-Pereira commented on #596
Hi @mberr,

Thank you for the quick reply. It now makes sense, i completely forgot about the impact of the training training loop (I am using the sLCWA).

Also thank you for pointing out the existence of the "automatic batch size optimization", i didn't realize its existence, it seems very helpful for my usecase.

[2021-09-28 13:30] #596 closed, assigned to nobody

[2021-09-28 13:31] mberr commented on #567
Hi @fiego ,

*regarding 2.*:

the `pipeline` method is a high-level method which covers most of the usual use cases, and adds convenience methods to instantiate components from given strings / configuration dictionaries.

If you need a more fine-grained control, please consider directly instantiating the necessary components. You can find a tutorial here:
https://pykeen.readthedocs.io/en/latest/tu

[2021-10-04 12:37] Hao-666 opened #598 "How to know the adopted hyper parameter values in a model?"
Hi, take the TransR as an example, how do I know all the adopted values of hypter parameters in this model? Thanks!

[2021-10-06 08:46] mberr commented on #598
The built-in HPO, [pykeen.hpo.hpo_pipeline](https://pykeen.readthedocs.io/en/stable/reference/hpo.html#pykeen.hpo.hpo_pipeline), uses [optuna](https://optuna.readthedocs.io/en/latest/index.html). The returned [HpoPipelineResult](https://pykeen.readthedocs.io/en/stable/reference/hpo.html#pykeen.hpo.HpoPipelineResult) offers an attribute `study` to access the optuna [study](https://optuna.readthedoc

[2021-10-06 09:15] Hao-666 commented on #598
Thanks @mberr. What I mean is not about the parameters in a HPO study. I mean that when I call the model in this library, where can I know the parameters? Let say I call TransR using the codes below, then what are the parameters set in it? How can I check?

[code]

[2021-10-06 09:31] cthoyt commented on #598
Hmm I’ve written code that introspects on the signature of a given model class to build the command line Interface and also to run the pipeline itself, but this isn’t exposed cleanly to the user. It might take a bit of work to do that, can you explain what your use case is, then we could prioritize writing this code or making an example for you to use

[2021-10-06 10:54] mberr commented on #598
As a rule of thumb, if you do not provide `model_kwargs` they should mostly corresponds to their default values from them model's constructor, e.g., for [TransR](https://pykeen.readthedocs.io/en/stable/api/pykeen.models.TransR.html#pykeen.models.TransR). Notice that there are `**kwargs` passed to the super class, some of which are automatically filled.

[2021-10-06 11:38] Hao-666 commented on #598
Thanks @cthoyt . My case is that I am writing a report where TransR in this library is used (many thanks to this great library). I need to write clearly about the adopted hyper parameter values. So I wondered about the checking of the hyper parameter values in the model.

[2021-10-06 11:41] Hao-666 commented on #598
Thanks @mberr . There are some default values such as embedding dim. But it seems that not all of them are clearly written in the doc such as batch size.

[2021-10-08 07:57] tatiana-iazykova opened #599 "Can't get prediction for nodes that were in numeric triplets"
I was trying to get relation prediction for nodes that were in training data in ComplExLiteral model. Is this supposed to be that numeric triples only used in training process but not during the inference?

Code to replicate:
[code]

[2021-10-08 08:26] cthoyt commented on #599
This isn’t really how the literal models work. The literal triples aren’t considered as nodes, so there’s no way to predict a connection to “12”

[2021-10-08 10:46] tatiana-iazykova commented on #599
Ok, got it. Thanks a lot!

[2021-10-08 10:49] cthoyt commented on #599
I'm not sure why you would want to do a relation prediction task for this, but perhaps it would be interesting to do a tail inference for a given node / numeric predicate. I don't think there are any models published on this, so it would be a cool area of research

[2021-10-11 05:50] Diison opened #600 "Question about documentation link"
https://pykeen.readthedocs.io/en/latest/api/pykeen.models.TorusE.html

In this link, the "TorusE" should be TransE, right?

[2021-10-11 07:09] mberr commented on #600
No, this is indeed the page for TorusE. You can find the documentation for TransE here: https://pykeen.readthedocs.io/en/latest/api/pykeen.models.TransE.html

[2021-10-13 12:54] cthoyt commented on #600
@Diison I'm going to close this one - if you have some further questions about the differences between TorusE and TransE after looking into their respective papers (both linked in the docs and here), please feel free to open a new issue or discussion.

| Model | Docs | Paper |
|-------|-------|-------|
| TransE | https://pykeen.readthedocs.io/en/latest/api/pykeen.models.TransE.html | http://papers

[2021-10-13 12:54] #600 closed, assigned to nobody

[2021-10-13 12:56] cthoyt commented on #593
Closed by #594

[2021-10-13 12:56] #593 closed, assigned to nobody

[2021-10-13 22:52] #46 closed, assigned to nobody

[2021-10-13 22:52] #47 closed, assigned to nobody

[2021-10-13 22:58] #554 closed, assigned to cthoyt

[2021-10-13 23:04] cthoyt commented on #550
I'm going to close this since there wasn't a response. Please feel free to reopen if you can provide some more context

[2021-10-13 23:04] #550 closed, assigned to nobody

[2021-10-13 23:35] cthoyt commented on #589
@mberr @Moon-xm I don't think it would be appropriate to start adding a ton of exception handing for malformed input that's handled by the class resolver. As an alternative, I've updated the class resolver package itself to give a better error message and made a new release in https://github.com/cthoyt/class-resolver/releases/tag/v0.1.0. I actually even have a more complicated idea for introspecti

[2021-10-13 23:36] #589 closed, assigned to nobody

[2021-10-14 08:38] mberr commented on #554
@cthoyt the issue description required a `.cff` instead of a `.bib` one.

[2021-10-14 09:13] cthoyt commented on #554
Even after reading through the documentation again I didn’t find a very good explanation of how to do a CFF file automatically. It also suggested bibtex as an alternative

[2021-10-14 09:33] mberr commented on #554
This comment to the tweet linked in the original issue description describes a way how to generate them from a DOI. I have not really tried it myself though.

[2021-10-17 11:21] pmitra01 opened #603 "Unable to reproduce RGCN results on benchmark FB15k237"
Hi, thanks for the continued good work on such a great library!

I recently faced some confusion relating to the RGCN implementation on PyKEEN v1.5.0.

## Issue

I checked the [PyKEEN benchmarking repo](https://github.com/pykeen/benchmarking) to see if there was a RGCN-specific branch documenting PyKEEN benchmark runs on the same, but was unable to find it.

I was wondering if you had tried the be

[2021-10-17 14:02] mberr commented on #603
Hi @pmitra01 ,

RGCN has not been included in the benchmarking study and has not yet been verified thoroughly.

While I am relatively confident that the message passing implementation should be correct, the configuration and also the training approach might differ from the official code, cf. https://github.com/tkipf/relational-gcn

We collected the experimental configuration for FB15k and WN18RR a

[2021-10-18 09:27] #525 closed, assigned to nobody

[2021-10-18 09:27] #526 closed, assigned to nobody

[2021-10-19 22:07] pmitra01 commented on #603
Hi @mberr, thanks for the clarification and pointers. I'll try out pytorch geometric RGCN implementation for now. On comparison, if I stumble upon any fundamental differences with PyKEEN, I'll bring it forth in a fresh issue/contrib.

As for the experiment configuration information for FB15k-237 - I mostly pieced it together from the paper [Schlichtkrull et al 2017](https://arxiv.org/abs/1703.0610

[2021-10-19 22:07] #603 closed, assigned to nobody

[2021-10-20 08:11] mberr commented on #603
@pmitra01 thanks!

[2021-10-23 10:57] cthoyt commented on #487
They dropped pytorch 1.10 today which does indeed include `torch.isin`!

[2021-10-23 15:42] mberr commented on #487
A few points from 1.10 which may be interesting:

## torch.conj

cf. https://pytorch.org/docs/stable/generated/torch.conj.html#torch.conj

afaik, this is used by one of the ComplEx kernels.

## nn.CrossEntropyLoss

replace our custom label smoothing implementation?

## torch.scatter

This may be useful for message aggregation.

[2021-11-01 21:07] ralphabb opened #613 "Introduce BoxE"
Hello, I would like to recommend to add BoxE (NeurIPS 2020 spotlight paper, https://proceedings.neurips.cc/paper/2020/file/6dbbe6abe5f14af882ff977fc3f35501-Paper.pdf) into PyKEEN. Its official implementation is in TF 1.x, and is available at https://github.com/ralphabb/BoxE.

BoxE is a model that naturally scales to higher-arity knowledge bases (which, to my knowledge, is not something currently s

[2021-11-02 00:12] cthoyt commented on #613
@ralphabb thanks for moving discussion over to GitHub. Please feel free to make a draft PR as soon as you start writing code for this (don't wait until you're finished - discussion and iteration is much more practical to start as early as possible)

[2021-11-02 12:18] YojanaGadiya commented on #541
@cthoyt is there any update on this issue?

[2021-11-02 12:32] cthoyt commented on #541
I started #450 to build a better framework for writing unit tests for code that touches ablation studies and HPO, but I haven't been very motivated to revisit that. Would be happy to accept an external PR to address this issue specifically that includes a reproducible unit test that doesn't take a long time to run.

[2021-11-02 12:41] YojanaGadiya commented on #541
Just to clear my confusion, @cthoyt you would like a new PR with the possibility of fixing this bug, or would you like me to look into your PR and see if I can make things work there?

[2021-11-02 12:42] cthoyt commented on #541
My PR #450 does not solve the problem described in this issue, but it lays the groundwork for looking into things like this in the future. I don't need any help on that one.

If you're also experiencing this issue and want to submit a bugfix, that would be great

[2021-11-02 12:44] YojanaGadiya commented on #541
Ah, I see. If I am able to find a solution to fix this I would send a PR for the same. 👍

[2021-11-04 18:15] mberr opened #614 "Improve Graph Sampler performance"
# Problem

* the expensive step in graph sampling is creating the subgraph
* this is currently implemented inside a batch sampler (cf. https://pytorch.org/docs/stable/data.html )
* the batch sampler *always* runs in the main process, irrespective of the number of workers
* only the `__getitem__` method of the dataset is parallelized -> in our case, this operation is very inexpensive (lookup of a s

[2021-11-05 08:16] geo47 opened #615 "Predict Head or Tail candidates using GraphSAGE model"
Hi

How to train GraphSAGE model for prediction tasks, like **TransE, RotateE, ComplEx models** etc.

**For example:** After training GraphSAGE on KG predict **head** or **tail** entities using `get_head_prediction_df` or `get_tail_prediction_df`

Thanks

[2021-11-05 08:56] mberr commented on #615
Hi @geo47 ,

we currently do not have the GraphSAGE encoder implemented in our library. For interaction functions / decoders like TransE, RotatE, ComplEx, please take a look at https://pykeen.readthedocs.io/en/stable/reference/nn/modules.html

[This discussion](https://github.com/pykeen/pykeen/discussions/455) about combining [PyTorch Geometric](https://github.com/pyg-team/pytorch_geometric) and p

[2021-11-05 13:36] mberr opened #617 "Use torch.nn.functional.embedding instead of integer indexing"
**Is your feature request related to a problem? Please describe.**
https://github.com/pytorch/pytorch/issues/15245 suggests to use `torch.nn.functional.embedding` instead of integer indexing to accelerate the backward pass.

**Describe the solution you'd like**
Use this instead of integer indexing (e.g. when looking up representations).

**Describe alternatives you've considered**
It is not clear

[2021-11-05 13:47] cthoyt commented on #617
fascinating. is this because using that call optimizes it?

[2021-11-05 13:58] mberr commented on #617
I am not exactly sure why - maybe because integer indexing allows more than embedding, and thus needs to have some extra code paths.

Reading the full linked PyTorch thread, it seems that the performance difference has much decreased since the initial post, and now is somewhat comparable (although still slower) on the benchmark example given there.

The PyG issue is also pretty old by now.

So eit

[2021-11-05 15:44] #614 closed, assigned to nobody

[2021-11-05 21:15] cthoyt commented on #210
The files for OAG can't be reasonably downloaded - microsoft's server is hella slow and has a timeout. I'm going to give up on this.

[2021-11-05 21:15] #210 closed, assigned to cthoyt

[2021-11-06 15:29] #615 closed, assigned to nobody

[2021-11-08 13:57] mberr opened #622 "Fix epoch loss for reduction != "mean""
I think this is caused by https://github.com/pykeen/pykeen/blob/cbcc3b7c2ffa008e1403ea34aa7d3217a2eb39cf/src/pykeen/training/training_loop.py#L664
where `num_training_instances` is the number of instances rather than the number of batches. So the epoch loss should be off by roughly `batch_size`. Would this explain the difference in your example?

P.S.: for mean reduction, this error does not occur

[2021-11-08 20:35] #424 closed, assigned to cthoyt, mberr

[2021-11-08 23:32] #622 closed, assigned to nobody

[2021-11-09 09:56] mberr commented on #617
I ran a small benchmarking script, but could not observe any coherent advantage. I suggest, we leave it as it is.

[code]

#### RTX 2080 Ti
[code]

#### RTX 8000
[code]

[2021-11-09 10:09] cthoyt commented on #617
Good this is as expected. I’m thinking that the embedding function is just a way to be more functional, but we don’t necessarily need that. Gonna close this

[2021-11-09 10:09] #617 closed, assigned to nobody

[2021-11-09 11:02] cthoyt opened #625 "Second epoch is incorrectly displaying NaN loss"
@cthoyt @mberr 4-5 epochs in and the behavior seems to be replicating now! :) A very good sign.
P.S.: A very petty bug. At epoch 2 it seems that the previous loss is printing out as nan instead of the first epoch loss (which is reported earlier).

_Originally posted by @ralphabb in https://github.com/pykeen/pykeen/issues/618#issuecomment-964038774_

[2021-11-09 11:41] mberr commented on #625
https://github.com/pykeen/pykeen/blob/313c705aec2497c3699a6694d5e2189ab113c2ba/src/pykeen/training/training_loop.py#L672-L677

this should be `>1` ?

[2021-11-09 11:51] cthoyt commented on #625
![](https://www.opi.net/wp-content/uploads/2016/07/1852108-1-eng-GB_staples-easy-button-slider-610.jpg)

[2021-11-09 14:17] cthoyt commented on #529
This was addressed in #534, please let me know if the new documentation at https://pykeen.readthedocs.io/en/stable/reference/training.html is unclear

[2021-11-09 14:17] #529 closed, assigned to cthoyt

[2021-11-09 14:19] cthoyt commented on #499
This should be solved with #500. @pitehu please let me know if the issue persists for you. Thanks for being patient!

[2021-11-09 14:19] #499 closed, assigned to cthoyt

[2021-11-09 14:21] pitehu commented on #499
Thanks you very much! I will let you know if I still find issues.

From: Charles Tapley ***@***.***>
Sent: Tuesday, November 9, 2021 3:20 PM
To: ***@***.***>
Cc: Tiancheng ***@***.***>; ***@***.***>
Subject: Re: [pykeen/pykeen] Getting random dataset partition despite setting random seed (#499)

This should be solved with #500<https://github.com/pykeen/pykeen/pull/500>. @pitehu<https://github.com/

[2021-11-09 14:25] #625 closed, assigned to cthoyt

[2021-11-09 17:05] #613 closed, assigned to nobody

[2021-11-10 13:57] mberr opened #628 "Update file-based trackers"
While revisiting the file-based trackers, I noticed a few issues:

1. `kwargs` in base class are unused
https://github.com/pykeen/pykeen/blob/e8225c066b56bcdd3180ba895ce3e153808e7e38/src/pykeen/trackers/file.py#L60-L61

2. `JSONTracker` does not flush
https://github.com/pykeen/pykeen/blob/e8225c066b56bcdd3180ba895ce3e153808e7e38/src/pykeen/trackers/file.py#L149
For me, the whole result file was no

[2021-11-10 14:00] cthoyt commented on #628
Solution for flushing seems simple, just add `flush=True` in `print()`. Reference: https://stackoverflow.com/questions/230751/how-can-i-flush-the-output-of-the-print-function

[2021-11-10 15:24] #628 closed, assigned to nobody

[2021-11-12 05:40] LostGeorge opened #632 "Why don't all epoch losses get returned when using the early stopper?"
In the training loop, at [line 756](https://github.com/pykeen/pykeen/blob/master/src/pykeen/training/training_loop.py#L756), we reconstruct the state of the best epoch model if an early stopper has derived a best epoch (but didn't stop early due to patience). This changes `self.losses_per_epochs` so that it only goes until the best epoch, which does make sense since we want to reconstruct the stat

[2021-11-12 09:56] cthoyt commented on #632
Hi @LostGeorge, even though you said a line number, it's hard to know what line you meant without a commit hash since this file changes every once and a while. Perhaps next time you can use a permalink with a hash so GitHub can render the exact code. Here's the region you're probably looking at:

https://github.com/pykeen/pykeen/blob/139c3d1db77c9e443d03db5383a163297345adfd/src/pykeen/training/tra

[2021-11-12 09:57] #632 closed, assigned to nobody

[2021-11-14 15:03] cthoyt commented on #487
@mberr even though this issue is going to be closed from #635, do you want to make new issues to look into using the other ones from the last post you made

[2021-11-14 15:52] #487 closed, assigned to nobody

[2021-11-14 15:57] mberr commented on #487
This one seems to only support `add` and `mul` as aggregation, but not, e.g., mean. So currently, I do not directly see a place where we can apply this directly.

The other two may be interesting, though.

[2021-11-14 15:59] mberr opened #636 "Use nn.CrossEntropyLoss label smoothing instead of our own implementation"
cf. [nn.CrossEntropyLoss](https://pytorch.org/docs/stable/generated/torch.nn.CrossEntropyLoss.html)  and [release notes of torch 1.10](https://github.com/pytorch/pytorch/releases/tag/v1.10.0), in particular:

[2021-11-14 16:00] mberr commented on #487
-> label smoothing: #636

[2021-11-14 16:00] mberr commented on #487
`torch.conj` seems to be an improvement in speed where we do not have to adjust anything. We could investigate whether this actually brought us some speed improvement.

[2021-11-15 03:55] alipsgh opened #637 "Load pre-trained embeddings"
Hi,
How can I initialize my entities with pre-trained embeddings obtained from an external task? Just for entities embeddings, but not for relation embeddings.
Thanks,

[2021-11-15 08:55] mberr commented on #637
Hi @alipsgh ,

the easiest way would be to use torch's `load_state_dict` (since every pykeen Model is also a `torch.nn.Module`). For this, you need to get the name of the entity embedding weight, and prepare a dictionary which maps this name to the pretrained embedding.

Here is an example:
[code]

You can find more general information about `torch.load_state_dict` [here](https://pytorch.org/tutor

[2021-11-15 09:08] mberr commented on #637
Update: I'll add a small utility method to simplify the second case in #638

[2021-11-15 10:28] cthoyt commented on #637
See also https://github.com/pykeen/pykeen/issues/356

[2021-11-15 12:36] #356 closed, assigned to cthoyt

[2021-11-15 12:37] cthoyt commented on #637
Hi @alipsgh, we just provided a technical solution for this and a short tutorial in https://github.com/pykeen/pykeen/pull/638

[2021-11-16 05:42] alipsgh commented on #637
Thank you, @mberr and @cthoyt  🙂

I tried your suggestions for my pre-trained embeddings, unfortunately, none of them worked.

## RE: First suggestion

I think the embeddings are reset by the `reset_parameters` function somewhere in the pipeline. To avoid any reset, I had to change the `reset_parameters` and `post_parameter_update` functions by adding the `return` statement before other statements

[2021-11-16 06:13] ahmadpgh opened #640 "Problem with pre-trained embeddings for entity emb. initialization"
Thank you, @mberr and @cthoyt  🙂

I tried your suggestions for my pre-trained embeddings, unfortunately, none of them worked.

## RE: First suggestion

I think the embeddings are reset by the `reset_parameters` function somewhere in the pipeline. To avoid any reset, I had to change the `reset_parameters` and `post_parameter_update` functions by adding the `return` statement before other statements

[2021-11-17 01:43] lmy86263 opened #641 "Documentation about dataset split method: coverage and cleanup"
I am confused about the dataset `split` method which is not documented clearly. when I handle my own dataset,

[code]

I changed the ratio to 0.9, 0.05, 0.05( total size = 46500), but the message shows that:

the ratio is also nearly 0.8:0.1:0.1.

And when I check the train, test, valid, it shows that:

So, there exists detailed documentation about the `split` method?

[2021-11-17 11:59] mberr commented on #640
I re-opened the old issue. Let's continue there.

[2021-11-17 11:59] #640 closed, assigned to nobody

[2021-11-17 15:06] Rodrigo-A-Pereira opened #643 "Question about num_training_instances on loss calculation"
Hi, I have a question on how the loss is calculated, in specific what is this `num_training_instances` variable:

https://github.com/pykeen/pykeen/blob/e33cdc7dd9c52b51f41cb347a7bb1fc4394b345b/src/pykeen/training/training_loop.py#L664-L665

To give a bit of context on the reasoning for my question, at the moment I am trying to log the 'performance' of the model on the validation set during trainin

[2021-11-17 15:32] mberr commented on #643
Hi @Rodrigo-A-Pereira ,

if we use `"mean"` reduction, we want to compute the average loss per sample.

Notice that in case of incomplete last batches in an epoch, computing the mean per batch, and then the mean over batches, would give a higher weight to those samples contained in the last batch. To compensate for this, we add a somewhat hidden compension, where we multiply the mean loss per batc

[2021-11-17 16:11] Rodrigo-A-Pereira commented on #643
@mberr , thank you for the explanation!

I have one other question in the sequence of the use case i described. Is there any "easier" way to make a forward pass with the validation set "through the training_loop" and obtain the loss, while not "train" the model (in mode model.eval()), than to implement an alternative to the `_train()` function?

[2021-11-17 18:29] mberr commented on #643
Yes, by using a [callback](https://github.com/pykeen/pykeen/blob/e33cdc7dd9c52b51f41cb347a7bb1fc4394b345b/src/pykeen/training/callbacks.py#L70-L71).

The following may serve as a starting point:

[code]

[2021-11-17 22:21] Rodrigo-A-Pereira commented on #643
Thank you very much @mberr! I'll try that.

[2021-11-18 07:40] alipsgh commented on #637
Hi @mberr

1️⃣
I debugged the code and changed this part of the code in the `training_loop.py` file:
[code]
I had to move `self.model.post_parameter_update()` into the `if` statement to fix the issue. It was outside the if statement.

2️⃣
❓ I have another question! How can I use your solution within an HPO pipeline if I want to pass pre-trained embeddings with different sizes as a dict to `entity_

[2021-11-18 09:10] mberr commented on #637
@alipsgh thank you for looking into it! Would you mind to open a PR with the changes you suggest?

Regarding your second point:
Do I understand you correctly, that you have a set of different pre-trained embeddings, which have different embedding dimensions?

[2021-11-18 11:59] ahmadpgh commented on #637
Hi @mberr , thanks for your response. @alipsgh and I work on the same project
Yes, we have different pre-trained embeddings of different sizes, let's say 32, 64, 128, 196, and 256, and we want HPO to suggest the best one when a model is initialized with them. Alongside searching for the best pre-trained embeddings we should be able to consider other ranges for other arguments in `model_kwargs_rang

[2021-11-18 15:49] Rodrigo-A-Pereira commented on #643
Hi @mberr, sorry to bother again, but a question surged when i was checking how the callbacks were implemented.

Not sure if this intended, but shouldn't the `kwargs` be transmitted to the multiple registered callbacks on the `MultiTrainingCallback` class, otherwise the registered callbacks can't access any extra arguments.

https://github.com/pykeen/pykeen/blob/e33cdc7dd9c52b51f41cb347a7bb1fc4394

[2021-11-18 16:55] mberr commented on #643
That's a good catch, @Rodrigo-A-Pereira ! Callbacks are quite new in pykeen (#335 ) and thus not as thoroughly tested as other components yet :sweat_smile:

It would be great, if you'd open a PR with your fix for it (except it should be `**kwargs` if I am not mistaken, cf. `pre_step` where it seems to be correct).

[2021-11-18 17:45] leonweber opened #644 "WandB tracker crashes when used with hpo_pipeline"
**Describe the bug**
WandB tracker crashes when used with hpo_pipeline
**To Reproduce**
Steps to reproduce the behavior:

[code]

Crashes with:
[code]

**Environment:**
| Key             | Value                    |
|-----------------|--------------------------|
| **wandb Version** |  0.12.6 |
| OS              | posix                    |
| Platform        | Linux                    |
| Release

[2021-11-19 06:04] alipsgh commented on #637
Max (@mberr) I'll open a PR when we run multiple experiments to ensure it is a safe change.
As to your question, Yes! Just like what Ahmad mentioned above.

[2021-11-19 15:53] Rodrigo-A-Pereira commented on #643
Thanks for taking the time to answering my questions! Keep up the good work.

[2021-11-19 15:53] #643 closed, assigned to nobody

[2021-11-23 10:15] Otamio opened #646 "Unable to reproduce past landmark experiments using curated settings"
**Describe the bug**
I tried to run several experiments with
`pykeen experiments reproduce [model] [paper] [dataset]`
but quite a few of them produce weak results.

**To Reproduce**
For example, I tried to reproduce the `conve` model on the dataset fb15k237 with

`pykeen experiments reproduce conve dettmers2018 fb15k237`

**Expected behavior**
Here is my result (compared with the output from bench

[2021-11-23 16:42] mberr commented on #646
Hi @Otamio ,

thanks for reporting the issue. I can confirm the issue for the current `master` branch (d473afe02914ae1d9e7293666a90cf602068858a) for `ConvE` on `fb15k237`.

I attach the `results.json`

<summary>Results</summary>
<details>

[code]
</details>

Could you provide an overview of the configurations you tested, and where you could reproduce the results (from https://github.com/pykeen/ben

[2021-11-24 10:18] dobraczka commented on #373
Hello, I am trying to get HelloWorld Google Colab to work, however I still have the same problems mentioned here and in #588. I hope it is okay, that I mention this on this issue, since the error message sent me right here.

So the error is still the same:
![Untitled](https://user-images.githubusercontent.com/14311131/143218973-910fc6ed-b7b2-4ff2-9c26-d50d6a644874.png)

Using
[code]

leads to the

[2021-11-24 10:52] Otamio commented on #646
Hi, @mberr. Sure, I would like to provide as much information as I can.

I am still inspecting some of the results I have got (and also the parameters). Here are some of the results of the `reproduce` command. I can also upload the detailed config (same as what pykeen provides) and results later if that helps.
![Screenshot from 2021-11-24 02-31-59](https://user-images.githubusercontent.com/3228393

[2021-11-24 12:07] cthoyt commented on #373
@dobraczka can you check the version of scipy you have installed?

[2021-11-24 12:24] dobraczka commented on #373
Scipy is at 1.7.2 in all cases. Which makes it weird that `require('pykeen')` is complaining about that.

[2021-11-24 13:08] cthoyt commented on #373
I was able to reproduce this issue... `pip freeze` shows the new version of Scipy. I have no idea why the `pkg_resources` is getting the old version :/

[2021-11-24 17:21] mberr commented on #641
Hi @lmy86263 ,

in `pykeen`, we currently support only the transductive setting out-of-the-box (for efforts towards inductive learning cf. #545, #556 ), where all entities are known from the training set.

The split methods we currently provide thus need to make sure that the triples fulfil this. I agree that this is currently not well documented, and try to roughly explain the two methods here:

[2021-11-24 17:57] mberr commented on #644
Hi @leonweber ,

I think the issue should be fixed with #647 but I did not have the chance to check this myself. If you have some time, it would be great if you could check whether the fix works.

[2021-11-24 22:28] mali-git commented on #646
Hi @Otamio,
For the reproduction experiments, we mainly used version 1.0.
Some experiments might have run based on the version 1.1 or 1.2 due to bug fixes/optimizations.
We will run the reproduction experiments based on 1.0-1.X in the next few days in order to trace back the root of the bug and add to each experiment the used pykeen version.

[2021-11-25 03:16] Otamio commented on #646
@mali-git Thanks. I can confirm version 1.5.0 produces similar results on `conve fb15k237`. I will continue to work on other versions to identify the issue.

[2021-11-25 10:27] dobraczka opened #648 "HelloWorld notebook is out-of-date"
**Describe the bug**
The HelloWorld notebook is out-of-date. E.g.
[code]
fails because PairRE does not have this attribute

**To Reproduce**
Steps to reproduce the behavior:
1. Run the cells in the hello world notebook
2. See error

**Expected behavior**
The hello world notebook should work correctly

**Environment:**
Key | Value
-- | --
OS | posix
Platform | Linux
Release | 5.10.0-8-amd64
Time |

[2021-11-26 15:27] cthoyt opened #653 "Use composite actions to reduce duplication of GHA workflows"
there is quite a bit of duplicated code in the different types of GHA yamls. Maybe we could reduce the duplication via [composite actions](https://docs.github.com/en/actions/creating-actions/creating-a-composite-action)?

_Originally posted by @mberr in https://github.com/pykeen/pykeen/issues/650#issuecomment-979307418_

[2021-11-27 15:08] Koenkalle opened #654 "Error when using labeled triples in predict_triples_df() when CUDA is available"
**Describe the bug:**
Gets runtime error when using predict_triples_df() with labeled triples and CUDA enabled.

**To Reproduce Steps to reproduce the behavior:**
Have CUDA enabled.

Run following example given in predict_triples_df() docs:
[code]
Results in:
`RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu! (when checking argument for ar

[2021-11-27 15:49] cthoyt commented on #654
Hi @Koenkalle thanks for the feedback. Your solution would do the job, but more generally I think we can map the triples to the same device as the model or the triples factory so we don't have to consider the device itself at all in this code. We'll take care of this when Thanksgiving break is over!

[2021-11-27 16:17] Koenkalle commented on #654
Hi @cthoyt thanks for the quick response! Yes, a general solution sounds a lot better :)
PyKEEN is a joy to play around with - amazing work!

[2021-11-30 14:16] cthoyt commented on #648
Closed by #649

[2021-11-30 14:16] #648 closed, assigned to nobody

[2021-12-03 08:45] iissomeoneelse opened #657 "None cuda used when peforming Prediction Task but torch.cuda.is_available is True and cuda is free"
**Problem:**
When I am training my models, GPU-Utils is high to 90%. But when peforming Prediction, GPU-Utils is 0 and the task needs unreasonable time to complete(700 hours). Four days ago, similar task just needed 8 hours.

torch.cuda.is_available():True
model.device = 'cuda'  before prediction doesn't work

`        models[i].device = 'cuda'`
`        result = predict.get_head_prediction_df(mod

[2021-12-03 09:32] mberr commented on #657
Hi @iissomeoneelse ,

have you tried using
https://pykeen.readthedocs.io/en/stable/api/pykeen.models.Model.html#pykeen.models.Model.to_device_
yet?

Just modifying the variable does not make sure that all components are moved correctly.

[2021-12-03 14:13] cthoyt commented on #657
A couple notes:
- This is closely related to #654
- I'd suggest upgrading to a more modern version of Python and PyTorch. With the pending release of PyKEEN 1.7, the PyTorch minimum version will become 1.10
- @mberr I'm getting frustrated that people aren't following the instructions on reporting the environment with a full table, I think I will switch this over to using the new GitHub issue templ

[2021-12-04 06:20] #657 closed, assigned to nobody

[2021-12-06 17:30] cthoyt opened #659 "Add UNITE loss"
- Blog post: https://sda.tech/paper-accepted-at-ecir-2021/
- Paper: https://jens-lehmann.org/files/2021/ecir_kgrl_patterns_noise.pdf

[2021-12-06 20:59] migalkin opened #660 "Adding Relation Prediction Loss to LP training"
UCL & FAIR recently showed that adding Relation Prediction loss to standard LCWA / SLCWA can slightly increase the link prediction performance. Implementation seems quite straightforward

Paper: https://openreview.net/pdf?id=Qa3uS3H7-Le
Code: https://github.com/facebookresearch/ssl-relation-prediction

[2021-12-06 21:11] cthoyt commented on #660
@mberr already did some legwork for this in #602

[2021-12-07 02:36] chrislouis0106 opened #661 "TypeError: 'type' object is not subscriptable"
**Describe the bug**
the "type" object is not subscriptable. And, I just try to run the example test but find the error. It seems to relate to the dataset package.

**To Reproduce**
[code]
[code]

**Environment:**
Installing collected packages: pykeen
Successfully installed pykeen-1.6.1.dev0
python 3.8, conda, windows10

**Additional information**
[code]

[2021-12-07 07:51] tatiana-iazykova opened #662 "How to use interactions that require more than one entity representation with the NodePiece model?"
Hi!

I am trying to add Mure Interaction to NodePiece model but get an error, which I don't know how to fix.
I tried specifying the shape an EmbeddingSpecification parameters but that didn't help :(

Code to reproduce:

[code]

Traceback:

[code]

[2021-12-07 08:50] mberr commented on #662
Hi @tatiana-iazykova ,

[MuRE](https://github.com/pykeen/pykeen/blob/16077e7002aa52a8e1e4b2dfa0543c185318ca79/src/pykeen/nn/modules.py#L1184-L1199) requires more than one representation (~vector/matrix) per entity (and relation). More precisely, we need
* for each entity
   * one vector of dimension `d`
   * one head bias (a scalar)
   * one tail bias (a scalar)
* for each relation
   * a multipli

[2021-12-07 08:52] mberr commented on #661
Hi @chrislouis0106 ,

would you please copy the output of `pykeen version` to the issue?

[2021-12-07 09:01] mberr commented on #660
The referenced paper also contains a new dataset, "Aristo-v4" :pick:

EDIT: opened an issue, cf. #664

[2021-12-07 09:41] mberr opened #664 "Add Aristo-v4"
**Describe the benchmark KG dataset**:

Aristo-v4, the 4-th version of Aristo Tuple KB [Mishra et al., 2017], which has more than 1.6k
predicate

from https://openreview.net/pdf?id=Qa3uS3H7-Le

**Dataset is pre-stratified into train/test/valid**
No. https://openreview.net/pdf?id=Qa3uS3H7-Le describe a split, but did not publish it so far.

**Publication(s) or website describing benchmark KG datase

[2021-12-07 11:13] tatiana-iazykova commented on #662
Wow! I haven't expected to get the answer so fast :)
Thanks a lot for your help!

[2021-12-07 20:29] #654 closed, assigned to nobody

[2021-12-07 20:30] cthoyt commented on #654
Hi @Koenkalle thanks for being patient - we had a bit of discussion on how to unit test this that ultimately wasn't successful, but Max was able to manually check that #658 does the job. Please let us know if the problem persists, and thanks again for bringing this up :)

[2021-12-07 20:37] cthoyt commented on #664
How are we supposed to handle the qualifiers and the confidence measures associated with each triple?

[2021-12-07 20:59] cthoyt commented on #599
Hi @tatiana-iazykova, I'm going to close this issue, but if there's any follow-up, please feel free to post here or re-open this issue.

[2021-12-07 20:59] #599 closed, assigned to nobody

[2021-12-08 00:54] chrislouis0106 commented on #661
Yeah, that is,
[code]

[2021-12-08 01:00] cthoyt commented on #661
We're looking for something like this
<img width="682" alt="Screen Shot 2021-12-07 at 20 00 13" src="https://user-images.githubusercontent.com/5069736/145129658-aa3c4cfb-e35e-4669-935a-fd1d95af82e2.png">

[2021-12-08 01:01] cthoyt commented on #661
I think it will show that you've got different version of python installed, and the anaconda installation is using an earlier that did not support generics

[2021-12-08 01:03] cthoyt commented on #661
@chrislouis0106 ohhhh I see what's going on. How about `python -m pykeen version` and `python --version`, to see if your pykeen is really inside the python you think it is

[2021-12-08 01:05] cthoyt commented on #661
Also please report the output of `python -c "import torch; print(torch.__version__)"`, you might be using an old version of pytorch before generics were added to the Dataset object (I think this is all versions < 1.9)

[2021-12-08 05:50] chrislouis0106 commented on #661
I see that, and I use the torch1.6. Thank you.

[2021-12-08 05:54] cthoyt commented on #661
Lucky for you, there are a few years worth of improvements just waiting for your upgrade! I'm sure upgrading Python will be a nice experience too (if you get the new pip, you should also be warned of these kinds of dependency conflicts too). Enjoy!

[2021-12-08 05:54] #661 closed, assigned to nobody

[2021-12-08 08:53] mberr commented on #664
Hm, [the paper](https://openreview.net/pdf?id=Qa3uS3H7-Le) does not provide any details here. I suppose they took `COMBINED-KB.tsv` and only used the three columns `Arg1`, `Quantifier`, and `Arg2`.

[2021-12-09 08:18] #644 closed, assigned to nobody

[2021-12-09 08:19] mberr commented on #644
Hi @leonweber ,

the issue should now be fixed (on `master` branch) after #647 is merged. Thanks for reporting the issue!

[2021-12-09 17:27] mberr opened #671 "Store the number of ranks used to calculate the metrics in `MetricResults`"
A low number of ranks, i.e., a low number of triples, used to compute a metric may indicate an unreliable metric value.

cf. https://github.com/pykeen/pykeen/discussions/670#discussioncomment-1780764

[2021-12-09 19:24] sbonner0 opened #673 "Understanding the optimiser choice in the HPO pipeline"
### What is your question

Hey PyKEEN team,

I'm trying to understand the optimiser choice in the HPO pipeline object. In previous PyKEEN versions, Adagrad was the default optimiser, however now it seems that from some recent runs on version 1.5 that Adam has been switched to be the default. Where in the code is this controlled? I see in the documentation that it seems Adagrad is still listed as t

[2021-12-09 19:29] sbonner0 commented on #673
For example, if I ran the following HPO pipeline object:
[code]
I get the following resulting study.json:
[code]

[2021-12-10 05:17] migalkin opened #674 "🦓 🐒 NeurIPS'21: ConE + 2 new datasets (GO21 + DDB14)"
NeurIPS'21 brought a bunch of KGE models. This issue is for ConE.

### Publication Link
[Modeling Heterogeneous Hierarchies with Relation-specific Hyperbolic Cones](https://papers.nips.cc/paper/2021/file/662a2e96162905620397b19c9d249781-Paper.pdf)

### Reference Implementation
Code: https://github.com/snap-stanford/ConE

### Relevance
Published at NeurIPS, probably smth people will be comparing to

[2021-12-10 05:19] migalkin opened #675 "🦓 🐒 NeurIPS'21: RotPro"
NeurIPS'21 brought a bunch of KGE models. This is for RotPro.

### Publication Link
[Rot-Pro: Modeling Transitivity by Projection in Knowledge Graph Embedding](https://arxiv.org/pdf/2110.14450.pdf)

### Reference Implementation
Code: https://github.com/tewiSong/Rot-Pro

### Relevance
Published at NeurIPS, probably smth people will be comparing to in future

### Additional Context
The codebase is a

[2021-12-10 10:05] Otamio commented on #646
Hi, authors. I am still running experiments to verify the root cause, but this commit may worth checking:
https://github.com/pykeen/pykeen/commit/a007a273ff146107fd1b0c099d561c7b7279965a

[2021-12-10 10:26] #671 closed, assigned to nobody

[2021-12-10 13:29] cthoyt commented on #674
I refuse to add a GO or Drugbank dataset directly to pykeen. There’s no way a set of computer science authors did anything scientifically meaningful with them.

[2021-12-10 13:30] cthoyt commented on #675
How did you manage to subvert the new model issue template?

[2021-12-10 14:15] mberr commented on #674
You mean more scientifically meaningful than predicting who is the coach of a football team (looking at you, `fb15k`)? :wink:

[2021-12-10 14:21] cthoyt commented on #674
Sure, we could probably make good arguments about all of the datasets on why they're not good. But I am an authority on biological knowledge graphs and won't let my opinion be unheard!

E.g., rather than just doing this on DrugBank and GO, why not provide an evaluation on ALL ontologies in OBO?

[2021-12-10 16:23] migalkin commented on #675
Oops, my bad 😬  I was attending the poster session and wrote down a few relevant KGE models. Brought back the original template!

[2021-12-11 15:53] tomasonjo opened #676 "[duplicate] Does the create_inverse_triples uses the same relationship type?"
See #677

[2021-12-11 16:21] #676 closed, assigned to nobody

[2021-12-11 16:37] tomasonjo opened #677 "Does the create_inverse_triples uses the same relationship type?"
### What is your question

When you use create_inverse_triples in the TripleFactory, for example the following example:

[code]

Do the inverted triples have the same relationship type, and you are in essence making the graph undirected or is it also an inverse relationship type like-> Manager : inverse would be Managed by

Thanks

### Environment

| Key             | Value                    |
|-

[2021-12-11 16:47] cthoyt commented on #677
Thanks for opening a new issue, I didn't mean to be rude, but we lose a lot of time to people putting insufficient information in issues and we're just now trying out GitHub's new issue template to help submitters give sufficient information.

The metadata that inverse triples should be created are stored in the `pykeen.triples.triples_factory.TriplesFactory`, but the various classes in `pykeen.tr

[2021-12-11 16:53] tomasonjo commented on #677
Sure, no worries.
Thanks for the swift response and thanks for developing such an awesome and easy to use library. I've just written a blog post that shows how to integrate it with Neo4j, I'll tag you on social media once it's published.

Thanks again!

[2021-12-11 16:53] #677 closed, assigned to nobody

[2021-12-11 16:54] cthoyt commented on #677
That's fabulous! Looking forwards to it :)

Edit: see here https://towardsdatascience.com/knowledge-graph-completion-with-pykeen-and-neo4j-6bca734edf43

[2021-12-12 02:48] cthoyt opened #678 "🥨🕸️ FoodWeb"
**Describe the benchmark KG dataset**:

Which animal eats which animal? Lovely time!

**Dataset is pre-stratified into train/test/valid** Nope

**Publication(s) or website describing benchmark KG dataset**:

Hui, D. (2012). Food Web: Concept and Applications. Nature Education Knowledge 3(12):6. https://www.nature.com/scitable/knowledge/library/food-web-concept-and-applications-84077181/

**URL for

[2021-12-12 13:58] mberr commented on #673
also related: #598

[2021-12-12 14:10] mberr commented on #229
Some of the choices are logged to the result-tracker, e.g., here
https://github.com/pykeen/pykeen/blob/c8f6af64ab1ed75c8ca188eabd8eaa263806057c/src/pykeen/pipeline/api.py#L1032-L1035

A simple work-around would be to always add an additional result tracker, which accumulates all parameters in memory, and adds them to the pipeline result.

Update: here are a few PRs to this end
* [x] #681
* [x] #68

[2021-12-13 16:04] cthoyt opened #684 "Update evaluation interface"
we should definitely rename this evaluator! I just didn't want to shake up even more stuff in this PR, but I'll do that

_Originally posted by @cthoyt in https://github.com/pykeen/pykeen/pull/668#discussion_r767854219_

[2021-12-13 20:58] sbonner0 commented on #229
Thanks @mberr this is pretty much exactly what I was thinking.

[2021-12-15 22:32] mali-git commented on #646
@Otamio, we could set up a joint call in order to discuss this issue.

[2021-12-15 22:48] tomasonjo opened #689 "Seems like the top prediction function is buggy?"
### Describe the bug

Seems like the top K predictions are not always correct. I've tried to run

[code]

![Screenshot 2021-12-15 214735](https://user-images.githubusercontent.com/19948365/146276734-1275dbae-1ac1-45a5-8751-b4341b2cdb2d.png)

and compare that with

[code]

and get different results
![Screenshot 2021-12-15 214753](https://user-images.githubusercontent.com/19948365/146276744-425b2656

[2021-12-16 09:55] mberr commented on #689
Hi @tomasonjo ,

thanks for reporting the issue.

I was able to reproduce the erratic behaviour, even on a smaller dataset, `umls`. using

[code]

which results in
[code]
and
[code]

For this smaller example, it seems that only the `head` columns are incorrect, and the `score` column matches exactly. So maybe there is an error in adding the head ids. :thinking:

[2021-12-16 11:18] mberr commented on #689
I found one error in the calculation of head-ids: https://github.com/pykeen/pykeen/pull/690/commits/152f5e4711fc9d132afb4f3c7ac06f3322758885.
The head ID was set to the within-batch offset, and since the default batch size is 1, this meant we would always see 0s.

[2021-12-16 11:55] mberr commented on #689
This seems to have resolved the issue:
[code]
vs
[code]

[2021-12-16 12:26] tomasonjo commented on #689
Great! Thanks for the swift update!

[2021-12-16 15:05] #689 closed, assigned to nobody

[2021-12-16 15:06] mberr commented on #689
@tomasonjo #690 is now merged.

If you find the time, we would appreciate if you could verify that the issue is also solved on your custom dataset.

Until the next release is pushed to pypi, you need to install directly from GitHub to get access to the fix:
[code]

[2021-12-17 08:56] JothamWong opened #693 "Schlichtkrull sampler fails on large dataset due to upstream PyTorch size restrictions on multinomials"
### What is your question

Here is my current code

[code]

The issue that I get is number of categories cannot exceed 2^24 for the schlichtkrull_sampler. How am I supposed to train on ConceptNet then?

### Environment

 Key             | Value                    |
|-----------------|--------------------------|
| OS              | posix                    |
| Platform        | Linux

[2021-12-17 09:27] mberr commented on #693
Hi @JothamWong ,

would you mind sharing the exact error message, too? If the problem comes from the Schlichtkrull sampler, the following code should also produce the error (while requiring less resources to execute)
[code]

[2021-12-17 09:46] JothamWong commented on #693
Hello,
here is the exact error message. I have used the code that you attached.

[code]

[2021-12-17 10:35] mberr commented on #693
This seems to be https://github.com/pytorch/pytorch/issues/2576, which is still open on `torch` side.

Do you need to use `RGCN`, or are you just interested in training some model on `ConceptNet`?

[2021-12-17 11:01] JothamWong commented on #693
I am interested in training some model on ConceptNet. I tried TransE and ConvE but I ran into some issues related to the model cannot support sub-batching or slicing. What model would be able to train on ConceptNet then? Thanks for the help

[2021-12-17 11:04] mberr commented on #693
All models subclass from the new-style base class `ERModel` have automatic support for sub-batching / slicing. some of the more scalable models (all should be in `O((E + R)d)`) include
* ComplEx
* DistMA
* MuRE
* PairRE

[2021-12-20 22:49] migalkin opened #694 "`load_triples` and `np.loadtxt` might load incorrect data"
### Describe the bug

I am loading a dataset from the txt file where triples are already expressed as integer IDs [Link to the txt file (Google Drive)](https://drive.google.com/file/d/1iuFnePMk_tAnS-OZZPrLiiuxLjEMr4Ba/view?usp=sharing).

I am 100% sure the file has all unique triples w/o repetitions. However, when I load the file with `pykeen.utils.load_triples` and then send the result to `Triple

[2021-12-21 01:00] cthoyt commented on #694
I always had my suspicions about the numpy loader

[2021-12-21 12:57] mberr commented on #694
likely related https://github.com/numpy/numpy/issues/17277 . I encountered a similar error in another project, where I switched to [`pandas.read_csv`](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) instead which did not seem to be affected by the problem.

[2021-12-21 19:25] #694 closed, assigned to nobody

[2021-12-22 19:59] alipsgh commented on #637
Hi @mberr and @cthoyt

I noticed that there's been a migration from the [create_init_from_pretrained](https://github.com/pykeen/pykeen/pull/638#issue-1053387266) function to the [PretrainedInitializer](https://github.com/pykeen/pykeen/blob/e401e96c4400ccdc2ff7d4f7c379f16829f6fe82/src/pykeen/nn/init.py#L128) class.
I checked the class for a few runs and it worked without any issue.

I am going to c

[2021-12-22 19:59] #637 closed, assigned to nobody

[2021-12-28 11:03] mberr opened #696 "Error in result tracker resolution for string"
### Describe the bug

Since
[code]
the following code
https://github.com/pykeen/pykeen/blob/e401e96c4400ccdc2ff7d4f7c379f16829f6fe82/src/pykeen/utils.py#L799-L810

does not convert `"string"` to `["string"]`. Thus,
https://github.com/pykeen/pykeen/blob/e401e96c4400ccdc2ff7d4f7c379f16829f6fe82/src/pykeen/trackers/__init__.py#L63
incorrectly assumes to be provided with a list of result trackers each

[2021-12-29 12:47] mali-git opened #698 "Wrong Relation Mapping During Evaluation When Using Inverse Relations"
### Describe the bug

When using inverse relations, we change the original Id of a relation from `i` to `2i` during training:
https://github.com/pykeen/pykeen/blob/e401e96c4400ccdc2ff7d4f7c379f16829f6fe82/src/pykeen/triples/triples_factory.py#L334-L347

However, we use the original relation id during evaluation:

https://github.com/pykeen/pykeen/blob/e401e96c4400ccdc2ff7d4f7c379f16829f6fe82/src/py

[2021-12-30 11:29] mberr commented on #698
Here are the relevant code parts for the `predict_h` path:
https://github.com/pykeen/pykeen/blob/e401e96c4400ccdc2ff7d4f7c379f16829f6fe82/src/pykeen/models/base.py#L312-L317

https://github.com/pykeen/pykeen/blob/e401e96c4400ccdc2ff7d4f7c379f16829f6fe82/src/pykeen/models/base.py#L524-L531

https://github.com/pykeen/pykeen/blob/e401e96c4400ccdc2ff7d4f7c379f16829f6fe82/src/pykeen/models/base.py#L487

[2021-12-30 18:48] #698 closed, assigned to nobody

[2021-12-31 13:00] mberr opened #700 "TypeError when using 'complex' model in the hpo_pipeline."
### Discussed in https://github.com/pykeen/pykeen/discussions/667

<div type='discussions-op-text'>

<sup>Originally posted by **Shraddha-Mane** December  8, 2021</sup>
Hi,

I am using HPO pipleline on Hetionet dataset. I could run 'transe' and 'rotate' models in hpo_pipeline buf for 'complex' model it throws error. I am using AWS Deep learning AMI machine for executing this code. Code and error a

[2021-12-31 14:11] #696 closed, assigned to nobody

[2021-12-31 14:52] mali-git commented on #646
Hi @Otamio, we [fixed a bug](https://github.com/pykeen/pykeen/pull/699) which is closely related to the issue reported here.

[2022-01-04 07:28] xbc0112 opened #703 "Unable to get satisfactory results by hpo or other published configuration files"
### What is your question

I really appreciate the Pykeen team for develop such a good platform, but I have been troubled by a problem for quite a few days:

Since there are so many hyper-parameters to be chosen from and they have a big impact on the results, when conducting a trail on a new model or a new dataset without a published configuration file like those in [https://github.com/pykeen/benc

[2022-01-04 12:55] mberr commented on #703
Hi @xbc0112 ,

for
[code]
`training_loop` should be `slcwa` (=Stochastic LCWA, with negative sampling).

#704 adds the necessary CE support to SLCWA (not yet in `master`).

[2022-01-04 14:34] mberr commented on #703
I am not an expert in reading `libkge` configurations, so I may miss some points. Some things I noticed which may not be part of the current configuration you run are:

* [ ] https://github.com/tsafavi/codex/blob/3132e426c2a6b643b70bad679905a3a6270be440/models/link-prediction/codex-s/transe/config.yaml#L49 - there seems to be a dropout on entity (and also relation) embeddings. I am not sure what a

[2022-01-05 07:27] xbc0112 commented on #703
Hi @mberr ,
Thank you very much for your patient analysis, I have checked the things you mentioned and conducted a few trails:

1. As the default training type is _KvsAll_ in libkge(https://github.com/uma-pi1/kge/blob/master/kge/config-default.yaml#L164), which is said to be lcwa in https://github.com/pykeen/pykeen/blob/master/src/pykeen/training/lcwa.py, I don't quite understand why here the trai

[2022-01-05 19:34] tomasonjo opened #706 "AttributeError: type object 'TriplesFactory' has no attribute 'from_path_binary'"
### What is your question

I have stored the results from a TriplesFactory using

`tf.to_path_binary('tf.pt')
`
Now I want to load it on another computer using

`tf = TriplesFactory.from_path_binary('tf.pt')
`
but I get an error

How do I solve this?

### Environment

| Key             | Value                    |
|-----------------|--------------------------|
| OS              | posix

[2022-01-05 20:20] tomasonjo opened #707 "IndexError: list index out of range when"
### Describe the bug

I have trained a model, saved it to a directory, and now I want to run it somewhere else.
When I get the model up and running and input a specific head / tail pair, I get the following error:

The same error does not occur on the same machine and session where I trained the model (so no save to directory and load).
I get the following warning, which might be relevant:

So the

[2022-01-05 22:55] cthoyt commented on #706
Hi, this feature has not been released yet. Either you can use the installation instructions to upgrade from 1.6.0 to the development version or sit tight for a few days - PyKEEN 1.7.0 is coming by the end of the week!

[2022-01-05 22:55] #706 closed, assigned to nobody

[2022-01-06 08:05] mberr commented on #707
Hi @tomasonjo ,

do you train the model with inverse relations, i.e., pass `create_inverse_triples=True` to the triples factory (if so, #699 could be relevant)?

[2022-01-06 10:25] mberr commented on #700
Hi @Shraddha-Mane,

I tried your code snippet on the current `master` branch version and could not reproduce the behaviour. Would you mind re-running your script with an updated `pykeen` version and let us know whether the error persists?

[2022-01-06 10:38] cthoyt commented on #700
I was thinking the same ^ this could have been fixed already with a recent PR

[2022-01-06 11:03] tomasonjo commented on #707
No, I kind of get it that the tf for predictions has more or less relationship types than the tf for training, which shouldn't really be true. I'll wait for 1.7.0 and try to load the tf from binary path, but it should be identical. I'll train it locally instead of google colab and test it out.

[2022-01-06 18:09] #684 closed, assigned to nobody

[2022-01-06 22:26] sameeravithana opened #710 "Link prediction with NodePiece, Inductive Ability?"
**Please also take a look at the main discussion on inductive link prediction at https://github.com/pykeen/pykeen/issues/720**

---

### What is your question

The original NodePiece algorithm "represents each node as a set of top-k nearest anchor nodes and m unique relation types around the node. Anchors and relation types are encoded to a node representation that can be used in any downstream ta

[2022-01-06 22:31] cthoyt commented on #710
Correct, PyKEEN does not (currently) implement the inductive version of NodePiece (nor any model). Between NodePiece and StarE published by Michael and Mehdi (respectively) our team has some experience in the game, but the issue is time. Would you be interested in working with us to make an implementation?

[2022-01-07 09:18] #636 closed, assigned to nobody

[2022-01-07 09:55] mberr opened #711 "Add TripleRE"
### Publication Link

https://vixra.org/abs/2112.0095

### Reference Implementation

https://github.com/LongYu-360/TripleRE-Add-NodePiece

### Additional Implementations

_No response_

### Relevance

TripleRE + NodePiece currently holds the first place on the [OGB WikiKG2 leaderboard](https://ogb.stanford.edu/docs/leader_linkprop/#ogbl-wikikg2).

### Additional Context

c/o @migalkin

[2022-01-07 15:16] #641 closed, assigned to nobody

[2022-01-07 20:13] mberr opened #716 "Replace custom broadcast_cat(...) by cat(broadcast_tensors(...))"
There is a function [torch.broadcast_tensors](https://pytorch.org/docs/stable/generated/torch.broadcast_tensors.html) in torch.

I think we can replace

https://github.com/pykeen/pykeen/blob/cb774cf34082bd07cd231777d5cbd2be2d8b3411/src/pykeen/utils.py#L458-L512

by

[code]

[2022-01-07 20:21] #711 closed, assigned to nobody

[2022-01-07 20:22] mberr opened #717 "allow to pass unresolved loss function to ERModel's __init__"
[This](https://pykeen.readthedocs.io/en/stable/extending/models_new.html) should be the place to put it? To slightly modify the example there and create an "anonymous" model instead of declaring a new class:

[code]

_Originally posted by @mberr in https://github.com/pykeen/pykeen/issues/714#issuecomment-1007712435_

[2022-01-07 20:26] cthoyt commented on #716
@mberr should we invite external contributors for this one?

[2022-01-07 20:27] cthoyt commented on #717
Yeah, that's a great place for it!

[2022-01-07 20:31] mberr commented on #717
We could also consider allowing to pass an integer as `{entity,relation}_representations` and create and internally create an `EmbeddingSpecification` with default settings from it. This might make it easier to use of `ERModel` via CLI. 🤔

[2022-01-07 20:41] cthoyt commented on #717
You mean like if you pass an integer it just assumes you want a vanilla embedding spec with that as the dim? Or a sequence of integers would make a sequence of embeddings? Or a sequence of tuples of ints would make fun shaped ones?

[2022-01-07 20:50] mberr commented on #717
Something like this. A shortcut which allows you to create something without having to import `EmbeddingSpecification` if you are not interested in all the possible configurations.

[2022-01-07 20:52] mberr opened #719 "Update type annotations for kwargs"
just made new release with class resolver with it https://pypi.org/project/class-resolver/0.1.1/

_Originally posted by @cthoyt in https://github.com/pykeen/pykeen/pull/718#discussion_r780516153_

`Optional[Mapping[str, Any]]` to `OptionalKwargs`

[2022-01-07 20:59] cthoyt commented on #719
Ehh I wouldn't say we need to go back and spend a lot of effort on updating these, but it's good to know it's a shortcut for later

[2022-01-08 01:26] migalkin commented on #710
NodePiece author here - bringing inductive reasoning into PyKEEN would require significant improvement of TripleFactories since in the inductive case the validation and/or test graphs can be totally new graphs (ie, their own TripleFactories) and it would need some proper handling of those factories in the training and evaluation steps. That said, I do have the first ugly implementation of inductiv

[2022-01-08 10:34] cthoyt opened #720 "Inductive link prediction on unseen entities"
This is the hub issue for all inductive link prediction questions. Let's aggregate relevant information here so we don't have to keep re-writing the same answers

[2022-01-08 22:47] migalkin commented on #720
Started #722

[2022-01-10 07:59] EvanSongkkk opened #723 "How to fit in my own dataset?"
### What is your question

Hi,

I have a set of triples, like (A, dislike, B), and want to fit them into the pipeline.

However, I'm not sure how to embed my triples, because the instructions of 'Bring Your Own Data' are all based on the existing dataset like pykeen.datasets.nations.

Could you please teach me how to embed triples based on my own new dataset?

Thank you very much!

Best,
Evanna

#

[2022-01-10 09:34] cthoyt commented on #723
Have you read this section https://pykeen.readthedocs.io/en/stable/byo/data.html#unstratified-dataset? While the example path is indeed for nations, it's up to you to provide your own path to a file. Alternatively, there are many ways to construct a [triples factory](https://pykeen.readthedocs.io/en/stable/reference/triples.html#pykeen.triples.TriplesFactory) in case you already have your triples

[2022-01-10 19:15] cthoyt commented on #723
https://github.com/pykeen/pykeen/blob/master/notebooks/results_plots/results_plots.ipynb also gives a demo on how you can use your own triples, staring from an in-memory list of 3-tuples

[2022-01-10 21:23] #717 closed, assigned to nobody

[2022-01-11 05:37] EvanSongkkk commented on #723
Thank you for your help!
Following your guidance, I've successfully load my own data with txt file :)

[2022-01-11 09:46] #723 closed, assigned to nobody

[2022-01-11 09:47] cthoyt commented on #723
Glad it all worked out!

[2022-01-11 12:13] tomasonjo commented on #707
Was some weird bug during transfer of TF data.

[2022-01-11 12:13] #707 closed, assigned to nobody

[2022-01-11 12:25] #541 closed, assigned to nobody

[2022-01-11 12:35] mberr commented on #541
Hi @Hao-666 , @YojanaGadiya ,

with #724 being merged this issue should be resolved. It will also be distributed with upcoming 1.7 release :rocket:

[2022-01-14 08:32] #719 closed, assigned to nobody

[2022-01-15 18:45] tomasonjo opened #727 "Train on GPU, run on CPU"
### Describe the bug

I have successfuly trained a model on GPU and transferred it to a server, where the predictions will be made using CPU.
I get the following error when I try to make a prediction:

How do I tell it to use CPU, I have used the map_location to load the model, not sure what more can I do.

### How to reproduce

Train a model on GPU.
Save the directory folder and triples and copy

[2022-01-15 18:52] cthoyt commented on #727
Can you please provide the full traceback?

[2022-01-15 19:01] tomasonjo commented on #727
[code]

[2022-01-15 19:08] cthoyt commented on #727
Is `map_location` the right way to do this in `my_pykeen_model = torch.load('rotate-small/trained_model.pkl', map_location=device)`? Shouldn't it be the following?

[code]

[2022-01-15 19:11] tomasonjo commented on #727
this produces an error during loading:

[code]

And using both:

[code]

produces the same error as in the start

[code]

[2022-01-15 19:26] cthoyt commented on #727
Maybe you also need to map the device of the Triples factory? Unfortunately I just looked through the api documentation ans it doesn’t look like there’s a way to specify it explicitly with the from_labeled_triples constructor

[2022-01-15 19:33] tomasonjo commented on #727
There was no problem when training was done on CPU and then transferred to a CPU machine. It specifically doesn't work with a combination of training GPU and running on CPU. Luckily, the dataset is not that big and I'll just train it on CPU and let it run over night, but for future it would be nice if this would be possible.

Thanks for swift replies and great library!

[2022-01-15 19:37] cthoyt commented on #727
@mberr mentioned he might have an idea to address this. See #730 for our potential solution.

[2022-01-17 10:35] cdpierse commented on #373
Hi there, I'm running into the same issues as described above on both Colab and Kaggle. Interestingly, the version conflict I get is different from each on Colab I get a complaint regarding scipy, even though `pip freeze` is showing I have the latest installed. In the Kaggle notebook, the complaint seems to be with pytorch versions. I know in both instances Colab and Kaggle notebooks come with a s

[2022-01-17 14:16] sbonner0 commented on #727
@tomasonjo I wanted to comment on this (hope you don't mind) as I primarily use pykeen in way you are describing (train on GPU, eval on CPU). This is the code I use when loading my cuda model back onto a cpu machine:

[code]

Obviously a very small difference to your current approach so I would be interested to see if this works for you.

[2022-01-17 14:28] tomasonjo commented on #727
@sbonner0 this works for me as well, thanks!

Probably best to add something in the docs to let other people know.

[2022-01-17 15:10] Rodrigo-A-Pereira opened #731 "Log loss parameters on pipeline's ResultTracker"
**Is your feature request related to a problem? Please describe.**
Hi, I am currently using **hpo_pipeline** to optimize my model. I use a **ResultTracker** (in my case wandb) in order to keep a log of my runs, and more easily compare them side by side. However one thing i noticed is that both the loss (the class) and loss_kwargs are not being logged.

**Describe the solution you'd like**
I think

[2022-01-18 14:15] mberr commented on #731
Hey @Rodrigo-A-Pereira ,

thanks for your suggestion. We would highly welcome your PR!

[2022-01-20 08:39] mberr opened #735 "Investigate _get_representations"
Pushed a draft on the Inductive NodePiece with a GNN encoder with a surprising finding - I got lost in all the Representation Modules and reshaping happening in the forward pass 😞  and just applied index_select + unsqueezing to GNN outputs, and found that it actually works >2x faster than plain InductiveNodePiece w/o GNN 👀

On a M1 laptop, both models 64d, 32 negative samples, 100 epochs:
* `Induc

[2022-01-20 08:40] mberr commented on #735
Current `master` code
https://github.com/pykeen/pykeen/blob/9958de424c9354ae21646af4c8a078de17346dc2/src/pykeen/models/nbase.py#L501-L520

Updated code by @migalkin
https://github.com/pykeen/pykeen/blob/b0d8c6dd164426009b48cfc59ddd65dc5b7f217b/src/pykeen/models/unimodal/inductive_nodepiece_gnn.py#L93-L132

[2022-01-20 08:43] mberr commented on #735
The relevant part should be to compare
[code]
against
[code]

@migalkin what was the `representation` you compared against?

[2022-01-20 10:15] mberr commented on #735
Here some measurements on `Embedding` representation on GPU

<summary>Code</summary>
<details>

[code]
</details>

[code]

[2022-01-20 12:45] Jean-KOUAGOU opened #737 "How do I avoid running out of GPU memory when training on a big dataset?"
### Describe the bug

I am trying to use Pykeen pipeline to embed DBpedia (28 million triples). Unfortunately, I encounter insufficient gpu memory error. I tried to fix this by adding model_kwargs={'automatic_memory_optimization': True} in the pipeline. However, the error still remains. I am using TransE.

Is there a way I can specify the batch size in the pipeline directly?

### How to reproduce

[2022-01-20 15:17] mberr commented on #737
Hi @Jean-KOUAGOU ,

you can set the batch size via the `training_kwargs` parameter (cf. https://pykeen.readthedocs.io/en/stable/api/pykeen.pipeline.pipeline.html#pykeen.pipeline.pipeline)

[code]

It may still happen that you encounter a memory error: the TransE model needs to store `(num_entities + num_relations) * embedding_dim` parameters. You can try to reduce the `embedding_dim`, which by def

[2022-01-20 15:30] Jean-KOUAGOU commented on #737
Thank you very much. I will try your suggestion

[2022-01-20 18:17] migalkin commented on #735
Ah so there is indeed a big performance gap on small (but most widely used) batch sizes!

It was `NodePieceRepresentation` used in the default NodePiece and Inductive NodePiece

[2022-01-21 10:45] cthoyt opened #739 "Upgrade KG2E, SimplE, and TransD to new-style model"
As a follow-up to  #736, these three models should be upgraded to ER models and the `pykeen.nn.emb.RepresentationModule.get_in_canonical_shape` function can be retired.

* [ ] upgrade KG2E
* [ ] upgrade SimplE
* [ ] upgrade TransD
* [ ] remove `pykeen.nn.emb.RepresentationModule.get_in_canonical_shape`

#### Dependencies
* [x] #736

[2022-01-21 12:11] Jean-KOUAGOU commented on #737
I have reduced the batch size to 16 and the embedding dimension to 5, and it still does not run. I encounter the same memory issue

[2022-01-21 12:42] mberr commented on #737
@Jean-KOUAGOU

what is

* the number of entities,
* the number of relations, and
* your GPU memory size?

[2022-01-21 13:06] Jean-KOUAGOU commented on #737
There are 6,380,141 entities and 552 relations

GPU memory: vmem usage 87805080k exceeded limit 75497472k on host gpu004

[2022-01-21 13:13] mberr commented on #737
With `embedding_dim=5` this would lead to `4 * embedding_dim * (num_entities + num_relations) = 127,613,860` (the factor of 4 for using the default data type `float32`), i.e., approx. `127MByte` of required memory to store the embeddings, and a negligible amount for the batch of scores. So with your GPU with ~75GiB you should not have any problems :thinking:

Are you sure you are the only one usin