[2022-01-21 13:25] Jean-KOUAGOU commented on #737
I am not sure if someone is using the same gpu or not.

[2022-01-21 17:40] mberr commented on #735
The `_get_representations` part seems to have been accelerated. The overall training speed does not seem to change much, though.

<summary>Code</summary>
<details>

[code]
</details>

<summary>Times</summary>
<details>

[code]
</details>

[2022-01-22 23:33] migalkin commented on #735
More discoveries on the speed pertaining particularly to NodePiece: NodePiece passes to the aggregator the whole batch of entities `entity_size` which is in the sLCWA case of size `batch_size x num_negatives` , so in the case of 256*32 it encodes 8192 entities. If `bs x num_negs` > `total_num_entities` this leads to performance issues as the batch contains **many** duplicates and we do unnecessary

[2022-01-22 23:48] cthoyt commented on #660
More follow-up in #728

[2022-01-22 23:52] cthoyt commented on #48
NSSA loss now properly inherits from the Set-wise base class. Would be happy to add another set-wise loss to complement these, but it's time to close this issue.

[2022-01-22 23:52] #48 closed, assigned to nobody

[2022-01-24 12:50] #735 closed, assigned to nobody

[2022-01-24 19:56] #739 closed, assigned to nobody

[2022-01-24 21:00] abhi8569 opened #748 "Evaluating Trained Model on CUDA"
I have trained a model on a remote server and now I am trying to evaluate the model by loading back the model.pkl file. Here is the sample code:
[code]

This works fine when I am evaluating the model on CPU, but is extremely slow. When I am trying to evaluate on CUDA I am getting the below error:
`RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0 a

[2022-01-24 21:23] mberr commented on #748
Hi @abhi8569 ,

does this help you? https://github.com/pykeen/pykeen/issues/727#issuecomment-1014592215

[2022-01-24 21:32] #748 closed, assigned to nobody

[2022-01-24 21:33] abhi8569 commented on #748
Thanks, It worked!
May I know why specify .device when already stated the device in load function? I thought both do the same thing.

[2022-01-25 09:19] mberr commented on #748
We store the device as an attribute inside the Model class, which essentially allows pykeen to infer the device as you did with
[code]

However, we are not very happy with this, and there is some work on changing it, cf. https://github.com/pykeen/pykeen/pull/730

[2022-01-25 11:52] mberr opened #749 "Encapsulate inverse relations inside Model"
**Is your feature request related to a problem? Please describe.**
The inverse triples usage is currently somewhat inconsistent, e.g., we expected the training instances to contain inverse triples, but do require evaluation triples to *not* contain them.

**Describe the solution you'd like**
Encapsulate inverse triples logic into `Model` class. This also would be coherent with our description in t

[2022-01-25 11:55] mberr opened #750 "NodePiece representations with anchor nodes"
**Is your feature request related to a problem? Please describe.**
The current implementation of NodePiece representations only provides the relation tokenization, but not the variant with anchor nodes. E.g., for #715 , we need the anchor node variant.

**Describe the solution you'd like**
Implement the anchor node variant as part of the existing `NodePiece` representations. The current implementa

[2022-01-25 12:04] mberr commented on #737
Please take a look whether someone else is using the GPU at the same time / whether there is sufficient memory available. You may find one of the following links useful:
* https://pytorch.org/docs/stable/notes/cuda.html#memory-management
* https://pypi.org/project/gpustat/
* https://unix.stackexchange.com/questions/38560/gpu-usage-monitoring-cuda

[2022-01-25 16:21] #258 closed, assigned to nobody

[2022-01-25 18:27] migalkin commented on #750
Some external library will definitely be needed here (please no networkx 😅 ) as the speed is crucial for larger graphs.
The core procedure for anchor mining is BFS, so some scalable parallel way would be most preferable.

* With `igraph`(original implementation) datasets up to YAGO 3-10 (123k nodes) can be tokenized relatively fast (5 min on a laptop for yago, 1 min for Fb15k-237), but igraph is a

[2022-01-26 01:10] cthoyt commented on #727
Max has kindly solved this issue in #730. @tomasonjo please let us know if there are any more hiccups

[2022-01-26 01:10] #727 closed, assigned to nobody

[2022-01-26 06:45] davidshumway commented on #373
Also seeing this issue in Colab.

[2022-01-26 13:01] mberr commented on #750
For a limited functionality, e.g., anchor node selection by degree only, https://docs.scipy.org/doc/scipy/reference/sparse.csgraph.html may also be a viable alternative.

[2022-01-31 11:09] #731 closed, assigned to nobody

[2022-02-01 08:39] #750 closed, assigned to nobody

[2022-02-01 15:39] cthoyt opened #766 "NodePiece with joint relation and anchor tokenization"
Relation *or* anchor tokenization should work now (but not both at once :sweat_smile: )

_Originally posted by @mberr in https://github.com/pykeen/pykeen/issues/755#issuecomment-1025571144_

[2022-02-01 18:17] yihong-chen commented on #664
Hi @cthoyt and @mberr, thank you for your awesome work on this repo. I am one of the authors of the paper. I just wrapped up the dataset and you can download it from [here](https://dl.fbaipublicfiles.com/ssl-relation-prediction/ds/aristo-v4.zip).

[2022-02-01 18:26] cthoyt commented on #664
@yihong-chen excellent! Will add it to pykeen later this week :)

[2022-02-01 18:26] cthoyt commented on #664
However @yihong-chen I'm skeptical about the longevity of the link you gave. Can you post the data to Zenodo instead?

[2022-02-01 21:32] yihong-chen commented on #664
Sure, [here](https://zenodo.org/record/5942560/files/aristo-v4.zip) it is.

[2022-02-04 12:07] mberr opened #772 "MixtureAnchorSelection contains duplicates"
I found a problem in the `MixtureAnchorSelection`:

https://github.com/pykeen/pykeen/blob/78013e1f2a0fa43e49550422a77b0683d4653902/src/pykeen/nn/node_piece.py#L273-L274

Those lines do not guarantee unique anchors, that is, if a node is in the top-K degree and simultaneously is in the top-k PageRank, it would be counted twice as an anchor, and that is an error - anchors have to be unique nodes.

T

[2022-02-04 21:44] #766 closed, assigned to nobody

[2022-02-05 11:31] mberr opened #773 "ValueError: Ambiguous device for some reproducibility configurations"
### Describe the bug

Running, e.g., `pykeen experiments reproduce quate zhang2019 fb15k237` on master (73edddf747987f23c22fa5242a5569363282d7fd) on GPU results in a ValueError due to mixed devices. This seems to be caused by

https://github.com/pykeen/pykeen/blob/73edddf747987f23c22fa5242a5569363282d7fd/src/pykeen/training/training_loop.py#L520-L521

where

https://github.com/pykeen/pykeen/blob/7

[2022-02-05 18:59] #773 closed, assigned to nobody

[2022-02-10 11:19] jas-ho opened #777 "How to run replicate_best_pipeline with custom dataset?"
### What is your question

First of all: Thanks a lot for this awesome library :hugs:

I'm confused by the API of `HpoPipelineResult.replicate_best_pipeline`: How am I supposed to pass in the training data it wants?

The following minimal example illustrates my confusion:

[code]
Hyper-parameter optimization finishes successfully ("...Trial 1 finished with value: 0.06748466257668717 and parameters

[2022-02-10 11:20] jas-ho commented on #777
The full stacktrace is here
[code]

[2022-02-10 11:25] cthoyt commented on #777
The HPO pipeline was originally written to support our large-scale benchmarking study, so it's mostly tailored to built-in datasets. We've added some support for custom datasets, but tbh it's quite complicated since we had to do a lot of tricks to get the original architecture not to leak memory when running on a potentially shared GPU.

Note that the replication pipeline tries to reload the confi

[2022-02-10 11:29] jas-ho commented on #777
Awesome, thanks a lot for the quick response! I've just been starting to use pykeen so I'll first look around a bit and see how far I get with your suggestion 1.

[2022-02-10 11:32] jas-ho commented on #777
I'll close for now and reopen in case I find an easy fix or, maybe, an improvement to the docs which would help someone in my position

[2022-02-10 11:32] #777 closed, assigned to nobody

[2022-02-10 16:38] jas-ho opened #778 "Checkpointing in HPO pipeline"
### What is your question

I wanted to turn on checkpointing on an hpo_pipeline run to be able to later inspect some of the more promising models by hand. Can this be done and if so how?

My naive attempt at doing it translates to this minimal reproducing example:
[code]
**Actual behavior**
First trial passes and produces a checkpoint at `~/.data/pykeen/checkpoint/nations_transh_ckpt.pt`.
Second t

[2022-02-10 16:39] jas-ho commented on #778
Full stack trace for completeness:
[code]

[2022-02-11 03:50] ksj20 opened #779 "Is the data being updated"
### What is your question

I would like to know if the datasets that could be loaded through PyKEEN is constantly being updated

Thanks

### Environment

python

### Issue Template Checks

- [X] This is not a bug report (use a different issue template if it is)
- [X] This is not a feature request (use a different issue template if it is)
- [X] I've read the text explaining why including environmen

[2022-02-11 08:36] mberr commented on #779
I am not sure whether I get your question correctly.

Are you wondering whether new datasets get added to pykeen from time to time? If yes, yes, You can look at the history of already added and pending datasets [here](https://github.com/pykeen/pykeen/issues?q=label%3A%22%F0%9F%92%BE+Dataset%22+is%3Aclosed) by filtering for the "💾 Dataset" label.

If you were wondering whether the already included

[2022-02-13 01:32] cthoyt commented on #710
Inductive NodePiece was added in https://github.com/pykeen/pykeen/pull/722. We'll make a 1.8 release soon!

[2022-02-13 01:32] #710 closed, assigned to nobody

[2022-02-13 01:33] cthoyt commented on #545
Inductive NodePiece was added in https://github.com/pykeen/pykeen/pull/722. We'll make a 1.8 release soon!

[2022-02-13 01:33] #545 closed, assigned to nobody

[2022-02-13 01:35] cthoyt commented on #562
Inductive NodePiece was added in https://github.com/pykeen/pykeen/pull/722. We'll make a 1.8 release soon!

If you're able to answer my follow-up question, we might be able to suggest alternate ways to do this kind of "online learning". Please feel to clarify and re-open this issue or start a new one :)

[2022-02-13 01:35] #562 closed, assigned to nobody

[2022-02-13 01:35] cthoyt commented on #720
Good enough for me!

[2022-02-13 01:35] #720 closed, assigned to nobody

[2022-02-13 14:44] ksj20 commented on #779
My question was more of the latter one,
in particular, I am interested in the clinical knowledge graph (aka CKG) dataset.
ever since its first release, there has been two updates, thus [the latest version of the dataset is 3.0](https://data.mendeley.com/datasets/mrcf7f4tc2/1) .
Have you guys managed to update CKG datasets to version 3.0, or should I load it manually?
Thanks

[2022-02-13 16:06] mberr commented on #779
CKG has been added by @cthoyt in https://github.com/pykeen/pykeen/pull/213 and merged to `master` on 13 Dec 2020. afaik, there was no further update (in PyKEEN) since then.

This is the source URL
https://github.com/pykeen/pykeen/blob/9cf6da4e1ea9430f48e4ef42366effb0b0fa7c86/src/pykeen/datasets/ckg.py#L23

EDIT: according to https://github.com/MannLabs/CKG/issues/42, this is version 2.

[2022-02-13 16:30] cthoyt commented on #779
I remember the whole experience of CKG to be frustrating in several ways:

1. the technical means through which the data was distributed
2. the huge mismatch between what was described in their pre-print (recently accepted for publication iirc) and what was actually made available
3. the opaqueness in the KG generation due to the difficulty of navigating their code

Maybe at minimum we should do a

[2022-02-14 04:00] ksj20 commented on #779
I might get my hands dirty with their code, then.
Thanks for the answer!

[2022-02-14 13:54] dobraczka opened #783 "Add OpenEA Datasets"
**Describe the benchmark KG dataset**: These are benchmark datasets for the task of entity alignment, i.e. matching the same entities across different sources. The datasets contain samples from DBpedia, Wikidata and Yago with varying sizes, connectivity. Furthermore in some cases they contain a cross-lingual setting.

**Dataset is pre-stratified into train/test/valid**: Only for the entity alignme

[2022-02-14 13:59] mberr commented on #783
@dobraczka in addition to #403 , it might be interesting to retain some of the alignment information, e.g., by allowing to have the "joint" graph, and a special alignment relation. This may also be part of a future, separate PR though.

[2022-02-14 14:10] dobraczka commented on #783
This is a good idea. But might be better suited for a future PR, where the datasets from #403 could be adapted as well? If it's fine by you I would then start working on the PR to integrate the datasets.

[2022-02-14 14:47] cthoyt commented on #783
@dobraczka in the mean time, do you think you could petition the authors of this dataset to put it in a more stable location (e.g., Zenodo or FigShare)? Datasets on dropbox can disappear at anytime at the author's (or their institution's) discretion.

[2022-02-15 07:20] #772 closed, assigned to nobody

[2022-02-15 10:05] jas-ho commented on #777
Linking the relevant part of the documentation here for reference: https://pykeen.readthedocs.io/en/stable/extending/datasets.html

[2022-02-16 10:38] #783 closed, assigned to cthoyt

[2022-02-17 17:47] hareentej2 commented on #485
### RuntimeError: Datasets have been loaded with entrypoints since PyKEEN v1.0.5, which is now a
very old version of PyKEEN

### Steps to reproduce the behavior:

1) Create a new conda env and Install pykeen - pip install pykeen
2) copy the code from the quickstart and paste into a jupyter notebook cell and run it
[code]
output :

[code]
Environment: Conda

### Additional information:

[code]
outp

[2022-02-17 18:07] hareentej2 opened #790 "RuntimeError: Datasets have been loaded with entrypoints since PyKEEN v1.0.5, which is now a very old version of PyKEEN"
### Describe the bug

I started exploring pykeen, and after installing pykeen and tried out the sample code provided in quickstart, I get below  error
[code]

### Expected behavior
started exploring this library, but stuck at the sample provided in the quick start, hence doesnt know the expected behavior

### How to reproduce

1) Create a new conda env and Install pykeen - pip install pykeen
2) co

[2022-02-17 18:42] cthoyt commented on #790
Nobody on the pykeen team is using windows nor conda so we probably won’t be able to give much help with your setup. Have you tried using the direct windows installation instructions?

[2022-02-17 18:53] hareentej2 commented on #790
Yes it's working in dev mode, when i tried using direct windows installation

[2022-02-18 02:45] migalkin opened #791 "ResultTracker tracks only hits_at_k"
### Describe the bug

I am running a training script from the inductive LP tutorial with the wandb tracker and see only hits_at_k metrics.
Tracing the logging in the debugger it seems that `_iter_rows()` is not working properly:

https://github.com/pykeen/pykeen/blob/c39713588cb21bb8a0ab0f695fd405edf514fe75/src/pykeen/evaluation/rank_based_evaluator.py#L257-L265

Particularly, this condition is ne

[2022-02-18 08:47] mberr commented on #791
MWE
[code]

[2022-02-18 13:11] #791 closed, assigned to nobody

[2022-02-18 18:18] cthoyt commented on #790
So the issue is with only with conda?

[2022-02-18 21:18] migalkin opened #794 "SubsetRepresentationModule default indices are always on CPU"
### Describe the bug

When running `InductiveNodePieceGNN` or any other model with SubsetRepresentationModule on a GPU, there is a CUDA error:
[code]

I found the reason is that default `indices` created in the `None` case are kept always on a CPU:
https://github.com/pykeen/pykeen/blob/09f8b49637bab55c14febb16f29eebe81eeedb73/src/pykeen/nn/emb.py#L169-L171

### How to reproduce

Running a inductiv

[2022-02-18 21:22] migalkin commented on #794
Not relevant to this issue, but ideally we'd need a GPU-enabled CI/CD pipeline for catching all those device issues 🤔

[2022-02-18 21:33] migalkin opened #795 "`get_preferred_device` always returns CPU"
### Describe the bug

It looks like that by default any created model is placed on a CPU.
This leads to the error when the following code always returns CPU since all model parameters are on a CPU

https://github.com/pykeen/pykeen/blob/09f8b49637bab55c14febb16f29eebe81eeedb73/src/pykeen/models/base.py#L156-L173

It never reaches line 170 resolving any CUDA devices

### How to reproduce

Running an

[2022-02-19 10:41] mberr commented on #795
Hm, I think this is intended behaviour: if nothing is provided, the model resides on `cpu`.

It was introduced with https://github.com/pykeen/pykeen/pull/730 and fixes a few issues of reloading a model for CPU inference (https://github.com/pykeen/pykeen/issues/748 https://github.com/pykeen/pykeen/issues/727).

EDIT: the pipeline does handle this for you.
https://github.com/pykeen/pykeen/blob/09f8b

[2022-02-19 10:44] mberr commented on #794
This would only work, if we have `Embedding` as base representations, right? Maybe we should add a device property to `RepresentationModule` similar to what we have in `Model`
https://github.com/pykeen/pykeen/blob/09f8b49637bab55c14febb16f29eebe81eeedb73/src/pykeen/models/base.py#L151-L173

[2022-02-19 15:51] sbonner0 opened #796 "Add PharmKG-8k Dataset"
**Describe the benchmark KG dataset**:

The dataset is a small biomedical KG comprising genes, compounds and diseases.

**Dataset is pre-stratified into train/test/valid** [x ]

**Publication(s) or website describing benchmark KG dataset**: https://doi.org/10.1093/bib/bbaa344

**URL for downloading the benchmark KG dataset**: https://github.com/biomed-AI/PharmKG/tree/master/data/PharmKG-8k

[2022-02-19 23:55] migalkin commented on #795
I see, yes the script has separate components, so I'll consider this an expected behavior.

Closing the issue then!

[2022-02-19 23:55] #795 closed, assigned to nobody

[2022-02-20 00:04] migalkin commented on #794
Right, `base` should have some `_embedding` with known device

[2022-02-20 10:51] mberr commented on #794
We could also fix that by letting `Embedding` move the indices to its device 🤔

[2022-02-21 02:35] sawyerfeng commented on #794
When I tried to set negative_sampler_kwargs=dict(filtered=True), the same bug appear.
[code]

[2022-02-21 03:31] sawyerfeng opened #798 "Predict top-k cost lot of time"
### Describe the bug

When I try to use `get_all_prediction_df` function on gpu, It seems to cost such a long time to finish ,nearly over 4000 hours, and the gpu usage is nearly full. And use my own dataset,which `num_tripple` is 301562,and `num_entities` is 81823. It's that normal?  Or is that caused by my GPU?

### How to reproduce

[code]

### Environment

| Key             | Value

[2022-02-21 04:52] migalkin commented on #798
Yes, that's expected behavior - you are calling a function to score _all_ possible triple combinations, which is equivalent to `|E| x |R| x |E|` with E entities and R relation types. The `k` parameter will keep the top scores, but it would still need to compute all possible scores. In your case you'd have at least 6.5 * |R| **billion** possible triples - is that really what you want? :)

Btw there

[2022-02-21 07:19] sawyerfeng commented on #798
Thank you for asking me so quickly and  clearly. I still have some other stupid questions.
Firstly,  how I just get predict triple on testing data, not the hole data? Predict their head and tail separately?  Should I use `predict` method or use `get_head_prediction` and `get_tail_prediction` in a for loop to traversal the testing data?
Secondly, I try to use 5% `yago` dataset to train a model, but

[2022-02-21 08:29] mberr commented on #794
Hi @lovefxyo ,

this seems to be a different (yet similar) issue. Would you mind opening a separate bug report for that please?

[2022-02-21 08:31] sawyerfeng commented on #794
My pleasure. I'll do it right away.

[2022-02-21 08:39] sawyerfeng opened #799 "Device error for filtered negative samples"
### Describe the bug

When I follow the guide[https://pykeen.readthedocs.io/en/v1.7.0/reference/negative_sampling.html#identifying-false-negatives-during-training](url) to add `negative_sampler_kwargs=dict(filtered=True)` at pipeline, this error caused. When I remove it, it seems back to work well.

### How to reproduce

[code]

### Environment

| Key             | Value                    |
|----

[2022-02-21 08:51] mberr commented on #798
If you only want to see the scores for a given set of test triples, you can use [`pykeen.models.predict.predict_triples_df`](https://pykeen.readthedocs.io/en/stable/api/pykeen.models.predict.predict_triples_df.html).

[2022-02-21 08:59] sawyerfeng commented on #798
I  want to get the testing data predict head and tail and get the topk of them. Just like`  h ,r , t` from testing data ,predict the top k` h,r,t' `and` h',r t`.
Maybe I already know how to do,  thank you very much for providing me such a helpful advice.

[2022-02-21 09:44] mberr commented on #798
Okay, in that case, [`get_head_prediction_df`](https://pykeen.readthedocs.io/en/stable/api/pykeen.models.predict.get_head_prediction_df.html) and [`get_tail_prediction_df`](https://pykeen.readthedocs.io/en/stable/api/pykeen.models.predict.get_tail_prediction_df.html) are what you are looking for.

[2022-02-21 12:14] #799 closed, assigned to nobody

[2022-02-21 12:26] mberr commented on #799
@lovefxyo

this should be fixed with #801 being merged. Until our next release, you need to install directly from GitHub, cf. https://github.com/pykeen/pykeen#installation--

[2022-02-21 13:06] #794 closed, assigned to nobody

[2022-02-21 21:24] #796 closed, assigned to cthoyt

[2022-02-22 13:42] sawyerfeng commented on #798
Thanks a lot. You can close this issue.

[2022-02-22 13:48] #798 closed, assigned to nobody

[2022-02-23 09:13] mberr opened #802 "Bootstrapping Ranks for Confidence Estimates"
**Is your feature request related to a problem? Please describe.**
While we can get variances in (rank-based) metrics by repeated training of a model, there is a cheaper alternative which only needs a single trained model.

**Describe the solution you'd like**
The rank-based evaluator stores the ranks for each triple. In the finalization stage, it then computes several aggregation metrics. We coul

[2022-02-27 15:20] sbonner0 opened #805 "Add PharmKGFull"
**Describe the benchmark KG dataset**:

The dataset is a small biomedical KG comprising genes, compounds and diseases.

**Dataset is pre-stratified into train/test/valid** []

**Publication(s) or website describing benchmark KG dataset**: https://doi.org/10.1093/bib/bbaa344

**URL for downloading the benchmark KG dataset**: https://zenodo.org/record/4077338

[2022-02-28 05:26] Yansera opened #808 "Question on the OOM issue and accelerating the model"
### What is your question

Hello,

I'm trying to use Pykeen for training a large graph that contains about 85m entities/relations.
My dimension is 10 and ideally, it should takes about 4 * 85m * 10 = 3,400,000,000, nearly 3G of storage.
My RAM is 250G and I have 20G in GPU.
I've tried to reduce the dimension and the batch size.
However, I always got this return after it loads about 200G in RAM:
[c

[2022-02-28 08:39] Yansera commented on #808
Update:

I've re-configurate the dimension to 5 and the batch size to 8.
Now it works.
However, it will need more than 100 days to finish the training.
Is there some configurations to accelerate it?

[code]

[2022-02-28 09:02] mberr commented on #808
Hi @Yansera ,

would you mind to share the full traceback of the `MemoryError` you received, as well as the size of your triples factories?

By default, `pykeen` uses the filtered rank-based evaluation, in which the scores of true triples known from training are excluded in evaluation. To this end, it moves all known true triples to GPU here
https://github.com/pykeen/pykeen/blob/ef456cde3f02c52ad4

[2022-02-28 09:09] Yansera commented on #808
Thanks for your feedback!
I will look at that model!

My task is to compare different models, hence, I also need to training more models, that's the problem :)

And for the error traceback, I've got this:

[code]

[2022-02-28 13:59] mberr commented on #808
@Yansera could you try the following snippet?

[code]

TL;DR: These kind of models should always support slicing. Since you are already using SLCWA, I am not sure whether this will actually help you, but it's worth a try.

_Long Version_:
When training with the given batch-size fails due to memory reasons, PyKEEN tries the following two techniques to perform an equivalent training in terms of the

[2022-02-28 14:51] Koenkalle commented on #790
I am pretty sure this is related to using jupyter notebook, and is not caused by windows or conda.

I have recently played around with pykeen on colab where this error shows up quite often.

[2022-03-01 21:39] mberr commented on #337
This may have been closed by #765 , right @migalkin ?

[2022-03-01 22:12] migalkin commented on #337
Right, can be closed now

[2022-03-01 22:12] #337 closed, assigned to nobody

[2022-03-02 10:11] #583 closed, assigned to cthoyt

[2022-03-02 10:22] cthoyt commented on #583
Hi @raifthenerd, thanks for being patient. We just pushed an update to solve this

[2022-03-02 10:27] Yansera commented on #808
Thanks for the entire explanation and the proposition! :)
I will take the time to read your recommendations.
I've tried the new script and it always does not work with the same error traceback. Sorry for that

[2022-03-02 10:29] cthoyt commented on #790
I have an idea on how to update the class-resolver to address this (once and for all): https://github.com/cthoyt/class-resolver/issues/35

[2022-03-02 11:02] #805 closed, assigned to cthoyt

[2022-03-07 08:26] Koenkalle opened #815 "Reproducing Kazemi et al (2018) results for SimplE"
### Describe the bug

I have been trying to reproduce the results from [kazemi2018](https://arxiv.org/pdf/1802.04868.pdf), without luck.
I have used both homemade pipelines and the one provided in [Experiments](https://github.com/pykeen/pykeen/blob/493ef68942a8482a993a12ca749ca5f4e7bbf07e/src/pykeen/experiments/simple/kazemi2018_simple_wn18.json).

### How to reproduce

run `$ pykeen experiments r

[2022-03-07 09:36] mberr commented on #815
Hi @Koenkalle , this is in-line with our results - we could not reproduce the results either, cf. https://ar5iv.labs.arxiv.org/html/2006.13365#Ax1.T10 and https://ar5iv.labs.arxiv.org/html/2006.13365#S6.SS5.

[2022-03-07 10:27] Koenkalle commented on #815
Thank you for the links, I had missed those tables.

 I have been comparing my results with one of the other SimplE implementations linked in the documentation. (https://github.com/baharefatemi/SimplE).

That implementation is able to reproduce the results, but I have been unable to find impactful differences compared to the PyKEEN implementation.

[2022-03-07 11:42] mberr commented on #815
We also noticed that SimplE's result where sometimes unstable, likely due to the score clamping: when the score is outside of the clamping interval, it will not receive any gradients, and thus can only improve indirectly when the entities' embeddings are updated by a different triple.

[2022-03-07 16:32] AlejandroTL opened #819 "ValueError: need at least one array to concatenate in rank_based_evaluator.py"
### Describe the bug

When running a pipeline to train a model it calls to the `rank_based_evaluator.py script`. There, the line `c_ranks = np.concatenate([ranks_flat[side, rank_type] for side in sides])` outputs the following error:

[code]

### How to reproduce

I haven't developed a script to make the error reproducible, but it happens when calling the pipeline function:

[code]

### Environmen

[2022-03-07 16:49] mberr commented on #819
Hi @AlejandroTL ,

could you please post the full traceback so we can see the call stack?

Also, is one of the evaluation triples factories empty?

[2022-03-07 18:21] AlejandroTL commented on #819
Hello @mberr, here it's the full traceback. I've just removed some paths for privacy.

[code]

And no, none of the evaluation triples factory is empty.

[2022-03-07 18:26] mberr commented on #819
@AlejandroTL so the error comes from the early stopper's call to the evaluator. Could you verify that this script runs smooth in your setup? It should be mostly the same without a result tracker, and with a (small) builtin dataset instead of your local one.

[code]

[2022-03-08 08:44] AlejandroTL commented on #819
@mberr it appears exactly the same error. I do not copy the full trace because it's exactly the same as the one I copied yesterday.

[2022-03-08 08:49] mberr commented on #819
You seem to have installed PyKEEN from source - could you update your installation with the current `master`, and see again whether https://github.com/pykeen/pykeen/issues/819#issuecomment-1060995463 works?

[2022-03-08 09:02] AlejandroTL commented on #819
I have run `pip install git+https://github.com/pykeen/pykeen.git`. Is this the way to update the installation with the current `master`? I installed PyKeen in this way before too. If you mean something else, please indicate me how to do it (even if it's so silly, sorry).

[2022-03-08 09:19] mberr commented on #819
I am not sure whether you need to provide the `-U` flag for updating the installation :thinking:
[code]

You should see from the `pip` output whether it installs something or skips installation.

[2022-03-08 09:27] AlejandroTL commented on #819
Already done it with the `-U` flag. Nothing installed, everything up to date.
Same error :(

[2022-03-08 09:37] MatthewCorney commented on #778
Hi did this get solved? Facing the exact same issue!

[2022-03-08 09:47] mberr commented on #819
Okay, then let's try to explicitly uninstall PyKEEN first:
[code]

[2022-03-08 09:53] AlejandroTL commented on #819
Same error :(

[2022-03-08 09:55] mberr commented on #778
Hi @jas-ho  / @MatthewCorney ,

sorry for the delay.

This might not be exactly what you are looking for, but if you provide a path to the parameter `save_model_directory` of `hpo_pipeline`, the final models of each trial will be saved in sub-directories (cf. https://pykeen.readthedocs.io/en/stable/reference/hpo.html#pykeen.hpo.hpo_pipeline).

Example:
[code]

EDIT: It seems like `save_model_direc

[2022-03-08 10:46] mberr commented on #819
For reference: this is the output of `pykeen.env()` where the script from https://github.com/pykeen/pykeen/issues/819#issuecomment-1060995463 runs smoothly.

| Key             | Value                    |
|-----------------|--------------------------|
| OS              | posix                    |
| Platform        | Linux                    |
| Release         | 5.13.0-30-generic        |
| Time

[2022-03-08 11:34] Koenkalle commented on #819
Hello, I hit the same error when using 1.7.1-dev. All is good with 1.7.0.
Envs. for reference:
| Key             | Value                             |
|-----------------|-----------------------------------|
| OS              | posix                             |
| Platform        | Linux                             |
| Release         | 5.10.16.3-microsoft-standard-WSL2 |
| Time            | Tue M

[2022-03-08 12:09] AlejandroTL commented on #819
I updated from 1.7.0 to 1.7.1 because with 1.7.0 I get the following error:

[code]

[2022-03-08 12:18] Koenkalle commented on #819
You can downgrade class-resolver to 0.3.3 to get 1.7.0 working again

[2022-03-08 13:49] mberr commented on #819
Okay, I think I got the difference: In my test runs I did not run a GPU machine, and thus, no automatic memory optimization was happening. When I run the snippet on a GPU server, I encounter the same issue during the size probing.

[2022-03-08 15:28] AlejandroTL commented on #819
Thank you, now it's working!

[2022-03-08 15:37] Koenkalle commented on #819
Seems you are right - I have no issues with GPU disabled.

[2022-03-08 17:51] #819 closed, assigned to nobody

[2022-03-09 16:42] Jeffrey-Sardina opened #824 "ImportError: cannot import name 'Hint' from 'class_resolver.api'"
### Describe the bug

Whenever importing PyKEEN (on both Python 3.7 and 3.9) I get the error

[code]

This occurs both when training a model, and when running `ython -m pykeen version`

### How to reproduce

The error will occur whenever PyKEEN is invoked, as in:
`$ python -m pykeen version`

Or when it is imported, as in:
`$ python temp.py`

where temp.py contains
[code]

### Environment

I am ru

[2022-03-09 17:22] migalkin commented on #824
Sometimes happens with me as well - I just update the `class_resolver` package via pip:

[code]

[2022-03-09 18:06] cthoyt commented on #824
@Jeffrey-Sardina I notice you deleted the section of the issue that asked to report the information about your installation of PyKEEN. this would be obviously helpful to figure out if you're using an old version of PyKEEN that hasn't been updated to reflect the newest version of class resolver. Please add that ASAP then we can continue discussion

[2022-03-09 18:10] Jeffrey-Sardina commented on #824
Ah right! Sorry yes; that is because `python -m pykeen version` itself would not run. I am on PyKEEN 1.7.0

[2022-03-09 18:20] Jeffrey-Sardina commented on #824
Oddly enough that is not working for me; it's saying I'm up to date. What version of the class_resolver do you have?
For reference;
[code]

[2022-03-09 18:22] Koenkalle commented on #824
You should likely downgrade class-resolver to 0.3.3 to get PyKEEN 1.7.0 working

[2022-03-09 18:25] cthoyt commented on #824
@Koenkalle is correct. We recently made some updates to the class-resolver to facilitate even more powerful functionality we'll be releasing in PyKEEN 1.8.0 hopefully this weekend! Sorry about the confusion

[2022-03-09 18:30] Jeffrey-Sardina commented on #824
Aha! That worked perfectly. For ease of reference to anyone else encountering this, I ran:

[code]

Thank you both very much!

[2022-03-09 18:30] #824 closed, assigned to nobody

[2022-03-09 19:06] Koenkalle opened #825 "Performance regression for negative sampling (cf. #417)"
### What is your question

Would it be possible to get some insights/info about the benchmarks discussed in #417 and how the different datasets/settings were affected?

I have noticed some big runtime increases after this change. 15 min. experiments turning into 5 hour adventures!

### Environment

| Key             | Value                    |
|-----------------|--------------------------|
| OS

[2022-03-09 19:12] cthoyt commented on #825
They're in https://github.com/pykeen/collation-benchmark. This seemed to show that it didn't make a difference, but we also happened to notice the performance regression recently too

[2022-03-09 19:38] Koenkalle commented on #825
Thank you! Closing this issue, but I will update you if I find something regarding the performance

[2022-03-09 19:48] mberr commented on #825
@Koenkalle Can you provide a setting (preferably including one of the pre-packaged datasets) where you experienced the run-time increase?

[2022-03-09 20:18] Koenkalle commented on #825
@mberr I have a noticeable difference in runtime between bcda4d2cdf327044b73e1b3aa6dd4d0cf6d16061 and  99a4ab83af98600c7414ba552486ff0e7e449e41 on this small example:
[code]

[2022-03-09 20:33] Koenkalle commented on #825
I made an upscaled version to make the difference more clear:
[code]

[2022-03-09 23:01] cthoyt commented on #825
Just checked the CI logs and it's definitely the case that the time jumped up on #417
<img width="963" alt="Screen Shot 2022-03-10 at 00 00 16" src="https://user-images.githubusercontent.com/5069736/157553489-c831695e-8fba-42f5-bd62-77f3147839cf.png">

[2022-03-10 08:49] mberr commented on #825
I re-opened the issue, so we can use it to discuss the performance regression.

[2022-03-10 12:43] mberr commented on #825
I ran the following code snippet
[code]

for f04bd4f8201e2fc861a83a2a141df29271cd48ac (`master`), bcda4d2cdf327044b73e1b3aa6dd4d0cf6d16061 (just before #417 was merged), and 11dcb42a836534ecd3cfd83a1866d050f11ca231 (`batch-data-loader`, cf. #817 ) .

| commit | epoch time (negs=1) [sec] | epoch time (negs=256) [sec] |
| -- | --: | --: |
| f04bd4f8201e2fc861a83a2a141df29271cd48ac | 24.07 | 23.86 |

[2022-03-10 13:00] mberr commented on #825
@Koenkalle could you check what happens if you increase the number of workers, by passing `num_workers=X`  (for 0 < X < number of cpu cores) as `training_kwargs`?

[2022-03-10 14:20] abhi8569 opened #828 "UnboundLocalError: local variable 'batch' referenced before assignment"
### Discussed in https://github.com/pykeen/pykeen/discussions/826

<div type='discussions-op-text'>

<sup>Originally posted by **abhi8569** March 10, 2022</sup>
Hello All,

I am trying to run an ablation study but facing this error:
[code]
Environment specifications are as follow:
OS: Pop OS 21.10
Python: 3.8.8
Pytorch: 1.10.2+cu113
Pykeen; 1.7.0

Code can be found [here](https://codeshare.io/km3Z

[2022-03-10 15:05] mberr commented on #828
Hi @abhi8569 ,

thanks for looking into this! Would you mind opening a PR with your suggested change?

[2022-03-10 15:20] Koenkalle commented on #825
Using your setup:
| commit                                   | epoch time (negs=1) [sec] | epoch time (negs=256) [sec] |
|------------------------------------------|---------------------------|-----------------------------|
| f04bd4f8201e2fc861a83a2a141df29271cd48ac | 24.88                     | 26.79                       |
| 11dcb42a836534ecd3cfd83a1866d050f11ca231 | 14.99                     |

[2022-03-10 16:06] mberr commented on #825
should be fixed with 169a35b15a511312b2f9d442047df607ee96c905

[2022-03-10 17:27] abhi8569 commented on #828
Hello @mberr,
I am sorry but I am not really familiar with VCS. I have never really made a pull request or worked with branches and all.

[2022-03-10 18:03] Koenkalle commented on #825
New tables with fix from https://github.com/pykeen/pykeen/commit/169a35b15a511312b2f9d442047df607ee96c905:
`num_workers=1`
| commit                                   | epoch time (negs=1) [sec] | epoch time (negs=256) [sec] |
|------------------------------------------|---------------------------|-----------------------------|
| f04bd4f8201e2fc861a83a2a141df29271cd48ac | 24.56

[2022-03-10 19:03] cthoyt commented on #825
@Koenkalle if you want to join our PyKEEN slack, please shoot me an email at cthoyt@gmail.com

[2022-03-12 20:12] #790 closed, assigned to nobody

[2022-03-12 20:14] cthoyt commented on #790
Hi @hareentej2 this should be fixed with #832. It’ll make it into pykeen v1.8.0 which we’ll release as soon as we figure out the recent performance regression, or you can install from GitHub

[2022-03-13 06:06] hareentej2 commented on #790
@cthoyt I have used pykeen on WSL(windows subsystem for linux) which didn't give any issues. However in our POC(proof of concept), it didn't solve our requirement or maybe we still havent figure out the power of graphs. But, Thanks alot for making the fix into the next release and it is a good learning curve

[2022-03-13 10:12] cthoyt commented on #790
I’m not familiar with the acronyms WSL or POC in this context. Could you please update your comment with them expanded in full

[2022-03-14 01:57] #779 closed, assigned to nobody

[2022-03-14 12:18] Jeffrey-Sardina opened #836 "Grid search HPO: "TypeError: __init__() missing 1 required positional argument: 'search_space'""
### Describe the bug

Hello,

I encountered an issue running HPO with grid search. When running the example from here (https://pykeen.readthedocs.io/en/stable/tutorial/running_hpo.html?highlight=GridSampler#choosing-a-search-algorithm), I get the error `Grid search HPO: "TypeError: __init__() missing 1 required positional argument: 'search_space'"`

The full stack trace is shown below:
[code]

###

[2022-03-14 13:10] mberr commented on #828
@abhi8569 , after looking into the code again, this should only happen if the training loader is empty, i.e., there is not a single batch. Could you check whether this is the case for you?

[2022-03-16 16:33] mberr commented on #825
Closed by #817

[2022-03-16 16:33] #825 closed, assigned to nobody

[2022-03-16 21:19] alipsgh opened #839 "DCG and Normalized DCG"
Hi @mberr / @mali-git

I couldn't find the implementation of DCG and NDCG in PyKeen. That is a nice measure to have as many research papers report their results based on that.

NDCG Wiki: https://en.wikipedia.org/wiki/Discounted_cumulative_gain#Normalized_DCG
NDCG Scikit: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.ndcg_score.html

Thanks,

[2022-03-16 21:23] cthoyt commented on #839
Could you give some examples of papers using knowledge graph embedding models that report one or both of these?

[2022-03-16 21:39] alipsgh commented on #839
Hi @cthoyt

Here there are some examples:

- https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7273238/
- https://arxiv.org/pdf/2006.07331.pdf
- https://dl.acm.org/doi/10.1145/3460231.3474272
- https://enricopal.github.io/publications/Translational_Models_for_Item_Recommendation.pdf

Cheers,

[2022-03-17 10:15] cthoyt commented on #839
I'm not super convinced by this list:

- https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7273238/ - I'm going to ignore this article because it seems to be done in a very uninformed way (in 2020 it's not acceptable to compare your models against TransE and family, even less to apply it to a biomedical knowledge graph)
- https://arxiv.org/pdf/2006.07331.pdf - I'm not convinced that DCG is a good metri

[2022-03-17 10:50] ahmedibatta opened #840 "AttributeError: 'NoneType' object has no attribute 'mapped_triples' with stopper = 'early'"
### Describe the bug

I am using Pykeen with my own data , it works well but when using stopper = 'early' it gave an error

[code]

### How to reproduce

My code :
[code]

### Environment

### Additional information

_No response_

[2022-03-17 10:53] cthoyt commented on #840
You can't use early stopping in the pipeline without providing the `validation` keyword argument. The bug here is that it doesn't show a more helpful - but this is desired functionality

[2022-03-17 13:00] ahmedibatta commented on #840
Thanks for reply

[2022-03-17 13:05] Koenkalle commented on #815
@mberr something in the resent changes seems to have affected the results from this experiment.

The provided experiment now produced this odd output:
[code]
But using my own pipeline, based on https://github.com/baharefatemi/SimplE:
[code]
I now get:
[code]

Which is a lot better than my earlier observed results.

[2022-03-17 13:08] cthoyt commented on #840
You can change the split line to be something like this:
`training, testing, validation = tf.split([0.8, 0.1, 0.1], random_state=1234)`

[2022-03-17 13:44] lzhang12 opened #841 "How to interpret the state of my GPU cluster when I get a CUDA OOM error?"
I run into a out-of-memory issue when I try a simple training on the sample Nations dataset on our on-premise GPU cluster.

I have carefully checked the GPU memory usage before I start the training. I choose cuda:2, which in principle has a GPU Memory of 11019MiB.

The code I attach can run, but will throw the out-of-memory error during the training:

![image](https://user-images.githubusercontent

[2022-03-17 14:53] Koenkalle commented on #841
For some reason a small amount of memory is reserved on cuda:0 as well. In your nvidia-smi output most other devices are already in heavy use, so I suspect that is why it fails.

[2022-03-17 14:58] mberr commented on #815
The odd output seems okay. The second column is the *difference* between obtained and expected result, e.g., for MRR, you obtained 0.74, which is ~0.14 below the published result. After looking into you comment I re-read your initial text again, and noticed that there you got positive differences, i.e., values above the reported results.

[2022-03-18 01:48] lzhang12 commented on #841
@Koenkalle yes, you are totally right. I can confirm that if memory of CUDA:0 is enough. The error is gone.

Actually I notice that pykeen creates two processes, one on CUDA:2, one CUDA:0 (seems only created for evaluation), which is the cause of the out-of-memory error.

[2022-03-18 09:39] mberr commented on #841
The latter sounds like a bug in the device resolution during evaluation.

As a hotfix, you can set the environment variable `CUDA_VISIBLE_DEVICES` to the GPU you want to use, e.g.,

[code]

In this case, you would also need to adapt your code to use `cuda:0`, or simply `cuda`, cf. https://pytorch.org/docs/stable/tensor_attributes.html#torch.torch.device.

You can also pass `device=None` (which is

[2022-03-18 10:48] Koenkalle commented on #815
Thank you for the clarification - I should have realized that last time I was looking at this...

Based on this, I do still notice a change in behavior based on different pykeen versions:

Using 1.7.0: the experiment can reproduce the published results, but my own pipeline's result is close to 0.
Using the latest commit: the experiment and my pipeline get matching results, but they are below the p

[2022-03-18 10:57] mberr commented on #815
Not really :confused: Most changes since 1.7 should be visible from https://github.com/pykeen/pykeen/milestone/6?closed=1 although I am not sure if that includes 100% of them. The [diff](https://github.com/pykeen/pykeen/compare/v1.7.0...master) is quite big :sweat_smile: the most relevant changes should be moving to data loaders, refactoring the evaluation code, and maybe something we changed when

[2022-03-20 17:41] lukassanting opened #843 "On Colab, error when importing from `pykeen.datasets.ogb`"
### Describe the bug

After installing PyKeen using Google Colab, when trying to run the code:
"from pykeen.pipeline import pipeline"
I get the following error:
[code]

### How to reproduce

[code]

### Environment

1.7.0

### Additional information

_No response_

[2022-03-20 18:11] cthoyt commented on #843
I just fired up a new notebook and ran

[code]

and got the expected path printed out, so this is probably an issue with the way your colab environment is set up. I'd suggest pinning the commit hash in the version of PyKEEN you're installing. Note we're also planning on the 1.8.0 release as soon as we finish up #835

[2022-03-22 16:41] andreasala98 opened #845 "Small typos in docs"
### Describe the bug

In the Pykeen documentation, in the [First Steps](https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html) section there is a call to the method

https://github.com/pykeen/pykeen/blob/205af6c2604b3882bf0adf275610bceb6ac53c0c/docs/source/tutorial/first_steps.rst#L43

The method name is actually `entities_to_ids`

### How to reproduce

-

### Environment

-

### Addit

[2022-03-22 17:00] cthoyt commented on #845
Thanks for pointing this out! Would you be interested in submitting a PR to fix this?

[2022-03-22 17:12] andreasala98 commented on #845
Do you want me to create  a whole new branch for this and then merge it?

[2022-03-22 17:36] cthoyt commented on #845
Yup, typically for a PR you create a fork, make a branch in it, then issue a pull request from your branch.

You can even use the GitHub interface to directly edit a file which takes care of the forking, branching, and then generation of the PR for you by starting at this link: https://github.com/pykeen/pykeen/edit/master/docs/source/tutorial/first_steps.rst

[2022-03-23 16:39] #845 closed, assigned to nobody

[2022-03-24 18:24] fotais opened #847 "How to retrieve tensors of nodes and relations from PyKEEN TriplesFactory?"
### What is your question

Hi,
I am following the instructions found in the documentation here:
https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html#mapping-entity-and-relation-identifiers-to-their-names

trying to get tensors of entity identifiers by running:
`entity_ids = torch.as_tensor(triples_factory.entity_to_ids([id1, id2]))`

however I am getting the following error:
**Attribu

[2022-03-25 00:21] cthoyt commented on #847
Nice catch finding this typo, in fact it was just reported and fixed yesterday in https://github.com/pykeen/pykeen/pull/846. You can find the updated docs in https://pykeen.readthedocs.io/en/latest.

With respect to actually getting the embedding values, scroll about 1 paragraph down from where you found the typo to https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html#using-learned-em

[2022-03-25 00:21] #847 closed, assigned to nobody

[2022-03-25 11:51] fotais commented on #847
Thank you very much for the quick and efficient reply!

I have one more thing that is not clear to me in the documentation that you have shared:
`entity_embedding_tensor: torch.FloatTensor = entity_embeddings(indices=None)
...
If you’d like to only look up certain embeddings, you can use the indices parameter and pass a torch.LongTensor with their corresponding indices.`
But how can you get the em

[2022-03-25 12:11] cthoyt commented on #847
if you have the IDs, you can directly look them up from the embedding by passing them as a tensor to the `indices` argument. If you have the labels, you can use the example (that was the original subject of this issue) to convert to IDs then do the same. We can add another example of doing this

[2022-03-27 15:33] mberr commented on #815
#849 might be related

[2022-03-28 10:45] fotais commented on #847
Hi again,

I am still experiencing a weird error, while trying to get the id (my_id) of a single node.

In specific I am running the following code:
[code]

From what I understand this will retrieve the embedding of the entity with label=my_label, id=my_id.
The error that I get from this execution (even if I run this in a GPU server) is:

[code]

Thank you!

[2022-03-28 11:09] mberr commented on #847
Hi @fotais ,

you do not need to call
[code]
but rather directly use `my_tensor`. the `indices` method is a built-in method from PyTorch *only available for sparse tensors*, cf. https://pytorch.org/docs/stable/generated/torch.Tensor.indices.html#torch.Tensor.indices

[2022-03-29 16:48] alipsgh commented on #839
Hey,

Sorry for my late reply. Assume that we want to use link prediction for a recommendation task. Although I agree that nDGC may not be often used in other KG-based tasks, it is a well-known measure in the recommendation world. It is also a ranking measure. You may like to have a look at this: https://arxiv.org/abs/1304.6480

I will implement it myself and share the code with you later.

Thanks

[2022-03-31 16:07] #664 closed, assigned to cthoyt

[2022-04-01 14:42] jas-ho commented on #778
Hi @mberr ,

thanks a lot for your reply (and sorry for not getting back to it until now).

Thanks for pointing that out! That's good to know. But as far as I understand it does not solve checkpointing since checkpointing would mean that also unfinished trials could be resumed.

Note that this has not been a big problem for me in practice. Just wanted to point out that the API seemed a bit inconsi

[2022-04-04 15:44] thtang opened #858 "How to upgrade PyKEEN<1.8.0 code that uses `EmbeddingSpecification`?"
### Describe the bug

It seems that `EmbeddingSpecification` is no longer under `pykeen.nn.representation`.

### How to reproduce

`from pykeen.nn.representation import EmbeddingSpecification`

### Environment

PyKEEN          | 1.8.0

### Additional information

_No response_

[2022-04-04 16:11] cthoyt commented on #858
The `EmbeddingSpecification` was removed in PyKEEN 1.8.0. You can now just use a dictionary directly in places where you might have used `EmbeddingSpecification`. If you can post a full code example, we could try to help you adapt it. Otherwise, I will close this issue.

[2022-04-04 16:14] thtang commented on #858
Hi here is my full code example

[code]

[2022-04-04 16:17] thtang commented on #858
Moreover, I will get `AttributeError: 'dict' object has no attribute 'max_id'` if I replace **EmbeddingSpecification** to **dict**

Many thanks for your help!

[2022-04-04 16:19] cthoyt commented on #858
So inside the `model_kwargs` you want to use the `relation_representations_kwargs` - by default you don't have to pass the `relation_representations` since it defaults to the normal `pykeen.nn.Embedding`. Otherwise you can explicitly pass `None` or even directly `"embedding"`:

[code]

[2022-04-04 16:29] thtang commented on #858
Got it! Then I got the error `UnboundLocalError: local variable 'batch' referenced before assignment
`  by running below code:
[code]

Stack trace:

[code]

[2022-04-04 16:33] thtang commented on #858
On the other hand, if I try to reproduce the sample code in the document with above modifications:
[code]
It will raise ```RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu! (when checking argument for argument index in method wrapper__index_select)```

[code]

[2022-04-04 16:52] mberr commented on #858
This is https://github.com/pykeen/pykeen/issues/828

[2022-04-04 17:07] thtang commented on #858
My training is `TriplesFactory(num_entities=309, num_relations=3, num_triples=200, inverse_triples=False, path="/data/jason.tangth/codebase/label_synonyms_pair/train_global_tree.txt")`
I think it's not empty.
Besides, if I set
[code]
then it seems to be fixed with another error same as using nations dataset (```RuntimeError: Expected all tensors to be on the same device, but found at least two dev

[2022-04-04 17:12] mberr commented on #858
@thtang could you try setting

[code]
A full documentation of all `training` parameters can be found at https://pykeen.readthedocs.io/en/stable/api/pykeen.training.TrainingLoop.html#pykeen.training.TrainingLoop.train.

In particular:

The problem occurs if `batch_size>200` since you only have 200 training triples.

btw, `drop_last` gets passed to `torch.utils.data.DataLoader`, cf. https://pytorch.

[2022-04-04 17:20] thtang commented on #858
Got it. btw, do you have idea about the error `RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu! (when checking argument for argument index in method wrapper__index_select)`

Is there an option to pass ERModel to cuda? The entity_representations.device is device(type='cuda', index=0)

Or it's not necessary.

[2022-04-04 17:25] mberr commented on #858
It looks like the entity *indices* are not on the correct device, but rather stayed on CPU - I would need to closer investigate the underlying issue.

Update: Likely it is an error in
[code]
where the result of the tokenizer is not moved to the representation module's device.

[2022-04-04 17:40] thtang commented on #858
Cool. Is there any way I can fix it in my local pykeen src?

[2022-04-04 20:48] mberr commented on #858
you can install PyKEEN from source in editable mode

[code]

and then modify the code. If you find a solution, we are happy to accept a PR (or your comments on how you fixed it).

[2022-04-05 02:42] thtang commented on #858
Do all the models that can pass pre-trained embedding encounter the same issue?

[2022-04-05 07:11] mberr commented on #858
No, I do not think so.

[2022-04-05 07:17] thtang commented on #858
Could I use the latest code via
[code]
?

[2022-04-05 08:31] mberr commented on #858
cf. https://github.com/pykeen/pykeen/pull/861#issuecomment-1088420185.

It would be nice to only comment in one place though.

[2022-04-05 08:58] #828 closed, assigned to nobody

[2022-04-05 11:22] mberr commented on #828
@abhi8569 , the error should be fixed now (more precisely, still error out, but provide information about recovering) with #860 being merged.

[2022-04-05 11:44] #858 closed, assigned to nobody

[2022-04-05 11:44] mberr commented on #858
@thtang , should be fixed now on `master`

[2022-04-05 11:48] thtang commented on #858
It works. Many thanks.

[2022-04-06 04:27] ahmadpgh opened #863 "Evaluate and Measure MRR, Hit@K, etc. against Specific Entities"
### What is your question

Hi,

Is it possible to set the pipeline to evaluate a model against a specific entity type(s) instead of all?
For example, in a biomedical knowledge graph, we want to limit the object/tail just to be the chemical compound entity type and not all the entities in the KG.

Thanks,

### Environment

| Key             | Value                    |
|-----------------|----------

[2022-04-06 06:53] mberr commented on #863
Hi @ahmadpgh ,

there is a way to restrict evaluation to a certain subset of entities / relations - please take a look at
* https://pykeen.readthedocs.io/en/stable/tutorial/understanding_evaluation.html#entity-and-relation-restriction
* https://pykeen.readthedocs.io/en/stable/api/pykeen.evaluation.evaluate.html#pykeen.evaluation.evaluate

If I understand you correctly, you are asking for only rest

[2022-04-07 15:31] alipsgh commented on #839
I share a function for calculating the binary version of nDCG:

[code]

I close this issue.

[2022-04-07 15:31] #839 closed, assigned to nobody

[2022-04-11 03:15] lzhang12 opened #867 "How to set evaluation sidedness ?"
### What is your question

I have a dataset with only single type of relationship between head entities and tail entities. And what I want to do is simply a link prediction task that given a head, predict the possible tails, which is the [right-side evaluation ](https://pykeen.readthedocs.io/en/stable/tutorial/understanding_evaluation.html)

However, pykeen by default uses both the right- and left

[2022-04-11 09:09] mberr commented on #836
I could locally verify the issue. The main problem seems to be that you need to provide the grid you want to search through as `search_space` inside `sampler_kwargs`. For instance, the snippet below works. Determining this dictionary is a bit tedious though, since I essentially re-run the snippet to see which keys were missing. Moreover, it seems as if we need to provide a relatively large grid, e

[2022-04-15 07:35] #716 closed, assigned to nobody

[2022-04-19 11:30] sawyerfeng opened #878 "Load trained model error"
### Describe the bug

When I tried to load a well trained RotatE model for link predict, this error appear.

### How to reproduce

[code]

### Environment

| Key             | Value                    |
|-----------------|--------------------------|
| OS              | posix                    |
| Platform        | Linux                    |
| Release         | 4.15.0-163-generic       |
| Time

[2022-04-19 11:35] mberr commented on #878
Hi @lovefxyo ,

directly loading the model is only guaranteed to work in same version. If you switch version, there *may* be conflicts. You can fix that, by saving the weights only using [pykeen.models.Model.save_state](https://pykeen.readthedocs.io/en/stable/api/pykeen.models.Model.html#pykeen.models.Model.save_state) from the old version of PyKEEN, and loading the weights again in the new versio

[2022-04-19 11:43] sawyerfeng commented on #878
Thank you for your patient answer, I will try your method.

[2022-04-19 11:43] #878 closed, assigned to nobody

[2022-04-20 02:43] luckycucu opened #880 "ValueError: math domain error when using TransE or ComplEx to train YAGO3-10 dataset"
### Describe the bug

My GPU is 2080Ti

error
[code]

### How to reproduce

training code

[code]

### Environment

| Key             | Value                    |
|-----------------|--------------------------|
| OS              | nt                       |
| Platform        | Windows                  |
| Release         | 10                       |
| Time            | Wed Apr 20 10:35:01 2022 |
|

[2022-04-20 08:41] mberr commented on #880
The first message seems to be unrelated.
[code]

The error from
https://github.com/pykeen/pykeen/blob/12c3da815f03d17bca78d5255c7c4141625b9de7/src/pykeen/metrics/ranking.py#L857-L858
looks strange, since the range is only over strictly positive numbers. So maybe some overflow happens there.

[2022-04-20 09:02] mberr commented on #880
@MGzhou can you also reproduce the error on a smaller dataset, e.g., `nations`?

[2022-04-20 09:15] luckycucu commented on #880
This error does not occur in the small data set (nations,FB15k-237)（我在nations,FB15k-237这两个小数据集运行是正常的，没有抛出异常）

[2022-04-20 09:42] mberr commented on #880
Okay, I think it might be caused by differences in the default numpy `dtype` for `np.arange`.

The number of entities in YAGO3-10, and thus also the maximum number of candidates for ranking, is `123143`, and thus its square `15164198449`, which is slightly larger than `2**31` since `math.log2(15164198449) ~33.81`. On my machine, `arange` uses `int64` for integer boundaries by default which can sti

[2022-04-20 10:58] luckycucu commented on #880
thanks

[2022-04-20 11:08] #880 closed, assigned to nobody

[2022-04-20 11:17] mberr commented on #880
should be fixed now - we'll make a patch release soon - afterwards you should be able to install the fixed version via
[code]

[2022-04-20 13:54] handychimp opened #882 "Pipeline: Unable to change dimensions of embedding in instance of RotatE model"
### Describe the bug

The RotatE model allows for the dimensions of entity and relationship representations to be passed as a model parameter `embedding_dim`, and the pipeline function allows the passing of model parameters using `model_kwargs`.

Using the following code segment (nb: epochs set to 1 just to demonstrate the bug):

[code]

The embeddings that are accessible through `results.model.en

[2022-04-20 13:59] cthoyt commented on #882
@cosmiccreepers could you please update to the newest version of PyKEEN (v1.8.1) and see if this issue persists?

[2022-04-20 14:00] mberr commented on #882
Hi @cosmiccreepers ,

on the current `master` (and thus with `pykeen==1.8.1`), I cannot reproduce the erratic behaviour. The following MWE works fine
[code]

[2022-04-20 14:10] cthoyt commented on #882
I think it's also worth noting that RotatE uses complex embeddings, so the dimension of the embedding object is 2x what you put in - these can be converted into proper complex floating point numbers in several ways (maybe we need some docs for this though e.g., to piggy back on #877)

[2022-04-20 14:13] handychimp commented on #882
Updating to `pykeen==1.8.1` appears to have resolved it.

Thank you! :)

[2022-04-20 14:13] #882 closed, assigned to nobody

[2022-04-21 02:20] luckycucu commented on #880
okay，thanks

[2022-04-23 19:39] MatthewCorney commented on #863
I wanted to do something similar where after training the model I wanted to see how well it performed for both each given relationships as well as based on given node types, using the exact same logic as  https://github.com/pykeen/pykeen/discussions/670 I did something like this.

[code]

[2022-04-25 16:24] sawyerfeng opened #884 "Pykeen 1.7.0 version loading fail."
### Describe the bug

When I tried to ``` from pykeen.pipeline import pipeline ``` or ``` python -m pykeen version``` on version 1.7.0, these bug appear.
[code]

### How to reproduce

I  install it from source code or ```pip install pykeen==1.7.0```.

### Environment

load fail.

### Additional information

I also found pykeen==1.8.1 ```RotatE``` model  results are significantly lower than 1.7.0 o

[2022-04-25 16:29] cthoyt commented on #884
@lovefxyo thanks for your interest, but we're not going to provide fixes for old versions of PyKEEN, so if you want to chat about evaluation results changing, it would be better to open a new issue.

[2022-04-25 16:29] #884 closed, assigned to nobody

[2022-04-25 16:36] sawyerfeng opened #885 "Understanding differences in RotatE performance between version 1.7.0 and 1.8.1"
### Describe the bug

When I tried to use new version pykeen=1.8.1 to train and get result, same dataset, same parameters, but the result are really lower than 1.7.0 or 1.6.0. Such as in 1.6.0 the result are hit@10=0.30, but at 1.8.0 the hit@10 are reaching 10-5 or even lower.

### How to reproduce

Train a model in same dataset and parameters. Train at 1.8.1 and 1.6.0, the result are really diffe

[2022-04-25 16:39] cthoyt commented on #885
@mberr can you remember which things might have changed evaluation? I doubt this is a RotatE - specific.

Might also want to see https://github.com/pykeen/pykeen/pull/877

[2022-04-25 17:59] mberr commented on #885
@lovefxyo , would you mind sharing a (small) code example where you encounter the behaviour?

[2022-04-26 01:10] sawyerfeng commented on #885
Of course. Just a simple pipeline and a few parameters.
[code]

[2022-04-26 08:39] mberr commented on #885
I tried to reduce the script further and use one of the built-in datasets:

[code]

Here are the results for 1.7.0 and 1.8.1.: [results.zip](https://github.com/pykeen/pykeen/files/8561306/results.zip) They differ indeed by quite a large margin, e.g.,

| metric | 1.7.0 | 1.8.1 |
| -- | -- | -- |
| `inverse_harmonic_mean_rank.both.realistic` | 0.2244552597701484 | 0.016628838566273833 |
| `hits_at_1

[2022-04-26 09:04] mberr opened #887 "PipelineResult.save_to_directory's log call fails for relative pathlib.Path"
### Describe the bug

When passing a relative `pathlib.Path` to `PipelineResult.save_to_directory`, the logging message fails as it tries to convert the relative path to an URI.
[code]
The results are still saved prior to this error.

### How to reproduce

[code]

### Environment

| Key             | Value                    |
|-----------------|--------------------------|
| OS              | posi

[2022-04-26 09:16] cthoyt commented on #887
solution might be to call path.resolve() somewhere

[2022-04-26 09:17] sawyerfeng commented on #885
What can I do to solve this question? Thank you for spending so much time helping me.

[2022-04-26 09:43] mberr commented on #887
It seems to be done already if we pass a string.

[2022-04-26 09:47] dobraczka opened #889 "Scipy version needs to be >=1.7"
### Describe the bug

Using PyKEEN with scipy < 1.7 leads to bugs, but the setup.cfg specifies the required scipy version as >= 1.5.

### How to reproduce

Inside virtualenv:
[code]

But there is no error after upgrading scipy:

[code]

### Environment

| Key             | Value                    |
|-----------------|--------------------------|
| OS              | posix                    |
| Pla

[2022-04-26 09:48] mberr commented on #885
The issue will hopefully be resolved by #888 . If you already want to give it a try, you can already install the version on this branch
[code]
and re-try your code to see whether this resolves your issue.

[2022-04-26 14:10] #889 closed, assigned to nobody

[2022-04-26 14:11] mberr commented on #889
Thanks for reporting the issue, @dobraczka ! 🙂

[2022-04-26 17:12] mberr commented on #885
Too large initialization (as mistakenly was done prior to the fix in #888) appears to be quite harmful. Here, I took your configuration, switched to use vanilla torch `uniform_` initializer and varied the symmetric range logarithmically from `[-2^0, 2^0]` to `[-2^(-9), 2^(-9)]`. The "correct" value from the `xavier_normal` adaption used by RotatE would be at `2^(-4)`. Too small values do not reall

[2022-04-28 16:33] #885 closed, assigned to nobody

[2022-04-28 16:39] mberr commented on #885
@lovefxyo this PR is now merged to `master`. Until the next release, you still need to install from Github (cf. https://github.com/pykeen/pykeen#installation--) if you already want to use the fixed version.

[2022-04-29 05:42] migalkin opened #895 "New init_phases doesn't work with NodePiece"
### Describe the bug

After #888 changed the `init_phases` function, I get the error while creating a standard documented NodePiece model

[code]

`x` here is the matrix of relations of shape `[num_relations, embedding_dim]`

### How to reproduce

[code]

### Environment

| Key             | Value                    |
|-----------------|--------------------------|
| OS              | posix

[2022-04-29 06:45] mberr commented on #895
This seems to be caused by the switch to `torch.cfloat`, and [torch's definition](https://pytorch.org/docs/stable/complex_numbers.html#transition-from-the-old-representation) of a the "real" format of complex numbers as having shape `(..., 2)`.

What we would need for (at least the init) to work, is to add `dtype=torch.cfloat` here
https://github.com/pykeen/pykeen/blob/1394434ff2c9f321d86654540ac0

[2022-05-02 11:11] mberr commented on #895
Smaller MWE:
[code]

[2022-05-02 11:12] #887 closed, assigned to nobody

[2022-05-03 09:47] alishiba14 opened #901 "Get individual embeddings of an entity or relation"
### What is your question

Maybe a very silly question. I tried looking through the code and examples but couldn't find a way to get pure embeddings for a given entity. Is there a way to get embeddings for an entity or relation after the model has been trained?

### Environment

<html>
<body>

Key | Value
-- | --
OS | posix
Platform | Linux
Release | 3.10.0-1160.53.1.el7.x86_64
Time | Tue May 3 11

[2022-05-03 10:00] mberr commented on #901
Hi @alishiba14 ,

did you already see https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html#mapping-entity-and-relation-identifiers-to-their-names and https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html#using-learned-embeddings ?

[2022-05-03 10:07] alishiba14 commented on #901
Thanks a lot! Found it now.

[2022-05-03 10:07] #901 closed, assigned to nobody

[2022-05-04 06:58] #840 closed, assigned to nobody

[2022-05-04 08:36] mberr commented on #700
Closing this issue for now.

[2022-05-04 08:36] #700 closed, assigned to nobody

[2022-05-04 10:27] #895 closed, assigned to nobody

[2022-05-04 10:33] mberr opened #906 "TypeError when loading WK3l15k, en-de"
### Describe the bug

[code]

### How to reproduce

[code]

### Environment

| Key             | Value                    |
|-----------------|--------------------------|
| OS              | posix                    |
| Platform        | Linux                    |
| Release         | 5.4.0-72-generic         |
| Time            | Wed May  4 12:32:48 2022 |
| Python          | 3.8.10

[2022-05-04 15:14] #836 closed, assigned to nobody

[2022-05-07 14:05] #906 closed, assigned to nobody

[2022-05-07 20:06] chenxran opened #910 "Why FB15k-237 / WN18RR dataset is slightly different from the other versions?"
### Why FB15k-237 / WN18RR dataset is slightly different from the other versions?

I find out that the dataset statistics of FB15k-237 is
[code]
However, the number of entities, validation split, and testing split in another version of the dataset (widely used in many recent works) is 14541, 17535, and 20466, respectively (See the [original paper](https://aclanthology.org/W15-4007.pdf)  of FB15k-2

[2022-05-08 02:57] sawyerfeng opened #911 "Predict Problem"
### What is your question

When I want to get some number of predictions，I found these function really cost a lot.
I tried to get 100000 triples, I tried to use ` predict.get_all_prediction_df`, but it cost  a lot  of gpu memory and time.
I also tried to run `get_tail_prediction_df` or `get_head_prediction_df` for 100000 loop, and also cost a lot of time.
 I wonder if you could know  easy way to a

[2022-05-08 09:27] mberr commented on #911
Hi @lovefxyo ,

the different prediction methods are summarized here: https://pykeen.readthedocs.io/en/stable/tutorial/making_predictions.html

From your question, it seems like you want to calculate scores _for a given set of evaluation triples_, correct? In that case, https://pykeen.readthedocs.io/en/stable/api/pykeen.models.predict.predict_triples_df.html might be what you are looking for.

[2022-05-08 09:44] mberr commented on #910
Hi @chenxran ,

some of the benchmark datasets contain entities in the validation/test set, which are not present in the training set. For PyKEEN, we remove these entities when mapping the triples. In the output of your script, you should also see a message about this, from here

https://github.com/pykeen/pykeen/blob/8fdceb7e32fb2a3912d09b5c9e694f9a21d2b70d/src/pykeen/triples/triples_factory.py#L1

[2022-05-08 13:40] handychimp opened #913 "Load Model - But what about the triples factory?"
### How to load a Triples Factory used to train a loaded Pre-trained model?

Hello,

I am training an embedding model using a pipeline, and then saving the model using the pipeline's `save_to_directory()` method. When I am looking to load the model again for use, I follow the documentation's guidance by using `torch.load('trained_model.pkl')`.

This part works fine, I am able to save the model and

[2022-05-08 16:19] mberr commented on #913
Hi @cosmiccreepers ,

does https://github.com/pykeen/pykeen/discussions/909 already help you?

We'll try to update our documentation soon, too.

[2022-05-08 17:11] sbonner0 opened #914 "Add PrimeKG"
**Describe the benchmark KG dataset**:

New biomedical KG from Harvard called the Precision Medicine Knowledge Graph (PrimeKG).

**Dataset is pre-stratified into train/test/valid** []

**Publication(s) or website describing benchmark KG dataset**: https://doi.org/10.1101/2022.05.01.489928

**URL for downloading the benchmark KG dataset**: https://dataverse.harvard.edu/dataset.xhtml?persistentId=do

[2022-05-09 07:03] #914 closed, assigned to cthoyt

[2022-05-09 12:07] handychimp commented on #913
Hello,

Yes, thanks! It was definitely what I was looking for in terms of guidance for loading the triples. I seem to still be having some trouble with the mappings, I get a KeyError when using `get_tail_prediction_df()` now, but from a couple of checks I've run this also occurs when i run it direct from training, so i suspect the problem is elsewhere.

Thanks for the help, I do think having some

[2022-05-09 12:39] mberr commented on #913
If you created the triples factories yourself, did you check that you use the _same_ label-to-id for training & evaluation factory? This issue may also be related: https://github.com/pykeen/pykeen/issues/105

[2022-05-09 13:58] handychimp commented on #913
Hello,

I resolved the bug, it was an error on my part. It was loading a model that had been trained on a different set of triples by error.

Thanks for your help!

[2022-05-09 13:58] #913 closed, assigned to nobody

[2022-05-13 13:33] #910 closed, assigned to nobody

[2022-05-15 09:44] cthoyt opened #922 "InfoNCE Loss"
The InfoNCE loss was defined in ["SimKGC: Simple Contrastive Knowledge Graph Completion with Pre-trained Language Models" from Wang *et al*, 2022](https://arxiv.org/abs/2203.02167) as:

<img width="308" alt="Screen Shot 2022-05-15 at 11 43 05" src="https://user-images.githubusercontent.com/5069736/168466613-232febdf-81af-432f-bafe-4d9f901b6b4a.png">

Context:

φ(h, r, t) is the score function for

[2022-05-15 10:38] mberr commented on #922
This looks almost like [CrossEntropyLoss](https://pytorch.org/docs/stable/generated/torch.nn.CrossEntropyLoss.html) on transformed scores
[code]
except for the last term in the denominator 🤔

The [official code](https://github.com/intfloat/SimKGC) also uses [CrossEntropyLoss](https://pytorch.org/docs/stable/generated/torch.nn.CrossEntropyLoss.html), cf.
https://github.com/intfloat/SimKGC/blob/4388

[2022-05-15 22:31] ahmedibatta opened #923 "New feature in the prediction of heads or tails"
**Is your feature request related to a problem? Please describe.**
Suggestion

**Describe the solution you'd like**

I used PyKEEN and I think it may be good to add a new argument to the two function `get_tail_prediction_df()` and `get_head_prediction_df()` to just produce the new entities with heads or tails with the new relation, for example, if I ask about tails increases by X and not in the tr

[2022-05-15 23:12] ahmedibatta opened #924 "PairRE model and self-adversarial negative sampling"
### What is your question

I have a question related to PairRE model in general and How you implement in Pykeen.

As in the paper of PairRE and RotatE , they used self-adversarial negative sampling loss function to produce negative samples which is  NSSALoss in the Pykeen.

paper of PairRE: https://arxiv.org/abs/2011.03798

I think Pykeen use uniform negative sampling (negative_sampler) with Margi

[2022-05-16 07:36] mberr commented on #924
Hi @Ahmed-fub ,

this should be fixed with #925.

In general, the implementations in `pykeen.models` should be some sensible default configurations for using the interaction functions. However, since settings differ for datasets, we cannot guarantee that they are suitable for a particular dataset at hand. For reproducing results from publications, we curate *some* experimential configurations unde

[2022-05-16 07:37] mberr commented on #923
For my understanding: Let's assume there is another training triple `(X, contains, Y)`, then you want to filter out `Y` from the predictions of `(X, increases, ?)`?

[2022-05-16 07:46] ahmedibatta commented on #923
Yes , exactly

[2022-05-16 08:02] mberr commented on #923
Okay, I think this is a rather unusual use case for KG link prediction, since KG allow having more than one statement about a pair of entities.

However, since the output of the `predict_*` functions is a pandas dataframe, you can easily remove the unwanted triples, e.g., using https://stackoverflow.com/a/40209800

[2022-05-16 08:04] #924 closed, assigned to nobody

[2022-05-16 08:09] ahmedibatta commented on #923
Sure , I did it already, but I think it may be helpful to add it  to Pykeen because I thought it is more meaningful.

Furthermore , I used this point after that to implement another function to predict all prediction related to just one entity with all relations instead of the function (get_all_prediction_df) which takes high memory for entities with all relations.

[2022-05-16 08:20] mberr commented on #923
So here you were looking to predict `(e, ?, ?)`, or at least the top-k scored triples?

[2022-05-16 08:30] ahmedibatta commented on #924
Thanks @mberr for your quick reply.

I am not sure if here is a suitable question here or not, but I misunderstand something about the negative sampling in PairRE.

Why use uniform sampling with self-adversarial negative sampling loss function?
I thought that SAN is alternative to uniform sampling.

SO , Generally, the idea of PairRE as I mentioned in the two points in my first post or Not ? Could

[2022-05-16 08:36] ahmedibatta commented on #923
Yes , but in both cases head or tail `(e, ? , ?) and (?,? , e)`

[2022-05-16 08:44] mberr commented on #924
Hi @Ahmed-fub ,

the [original paper](https://arxiv.org/abs/1902.10197) discusses it in chapter 3.3.

In particular, the first propose that we should sample negatives non-uniformly

But afterwards they note that this would be too costly, and thus they continue to use the uniform samples, but re-weight them according to the probability in the self-adversarial distribution

[2022-05-16 08:51] mberr commented on #923
It might also be possible to adapt the utility function
https://github.com/pykeen/pykeen/blob/13cf5cdfe831029b7e48c98849536bd78f2546e7/src/pykeen/models/predict.py#L461-L464
to only loop over those triples you are interested in, and write a appropriate score consumer here.

[2022-05-16 09:11] ahmedibatta commented on #924
Thanks @mberr

So they first used uniform sampling and then take the sample with higher probability from the self-adversarial distribution and consider its probability as a score to calculate the loss function with the positive sample

[2022-05-16 09:16] mberr commented on #924
They keep all negative samples, but weight them differently based on how likely the would have been sampled from the self-adversarial distribution. It is somewhat similar to [importance sampling](https://en.wikipedia.org/wiki/Importance_sampling).

[2022-05-16 09:30] ahmedibatta commented on #924
Okay, it is more clear now. Thanks

[2022-05-16 09:31] LucaCappelletti94 opened #927 "Use of LongTensors instead of IntTensor for MappedTriples"
### Describe the bug

In the [CoreTriplesFactory](https://github.com/pykeen/pykeen/blob/3616656d3a95f6529f81e3e5bf4b81753d2f8cf6/src/pykeen/triples/triples_factory.py#L186) and generally speaking as type for the [MappedTriples](https://github.com/pykeen/pykeen/blob/3616656d3a95f6529f81e3e5bf4b81753d2f8cf6/src/pykeen/typing.py#L47) a [torch.LongTensor](https://pytorch.org/docs/stable/tensors.html)

[2022-05-16 14:48] mberr commented on #927
Hi @LucaCappelletti94 (and @zommiommy) ,

thanks for the suggestion. We currently stick with long tensors, since this is the default index data type, PyTorch uses internally, e.g., as return-type of [torch.nonzero](https://pytorch.org/docs/stable/generated/torch.nonzero.html), [torch.Tensor.scatter_](https://pytorch.org/docs/stable/generated/torch.Tensor.scatter_.html#torch.Tensor.scatter_), [torc

[2022-05-16 14:52] #922 closed, assigned to nobody

[2022-05-17 20:35] ahmedibatta commented on #923
May I can try this also, but I implemented it separately  to find over all relations and over all entities with a specific entity  and then choose for each predicted entity the relation with the highest score and then sort them All.

[2022-05-21 07:29] cthoyt opened #931 "Intersphinx links to huggingface"
https://github.com/huggingface/transformers/issues/14728#issuecomment-1133521776

[2022-05-22 00:23] vsocrates opened #934 "LCWATrainingLoop vs SLCWATrainingLoop"
### What is your question

I believe the documentation is incorrect where [it](https://pykeen.readthedocs.io/en/stable/api/pykeen.training.LCWATrainingLoop.html#pykeen.training.LCWATrainingLoop) claims that "[[ruffinelli2020]](https://pykeen.readthedocs.io/en/stable/references.html#ruffinelli2020) call the LCWA _KvsAll_ in their work." From reading the relevant [section](https://openreview.net/pdf

[2022-05-22 09:31] mberr commented on #934
Hi @vsocrates ,

thanks for checking our documentation. From ["You CAN Teach an Old Dog New Tricks! On Training Knowledge Graph Embeddings", Ruffinelli et al., 2020](https://openreview.net/forum?id=BkxSmlBFvr) we have

Compared to the implementation of creating LCWA instances [here](https://github.com/pykeen/pykeen/blob/e26fb956c96528c0d12c63cf6de05b0cf4bf71c4/src/pykeen/triples/instances.py#L341-

[2022-05-23 01:02] vsocrates commented on #934
Apologies, I should have checked the code before opening an issue.

I think that's right, I was a bit confused by the description in the docs but following through to the description of the 1-N scoring function in [Dettmers 2018](https://pykeen.readthedocs.io/en/stable/references.html#dettmers2018) cleared it up!

[2022-05-23 01:02] #934 closed, assigned to nobody

[2022-05-23 01:16] vsocrates opened #935 "Device error for filtered negative samples for CrossEntropy and NSSALoss"
### Describe the bug

Ran into an issue that wasn't fixed with #801. Still getting the two device error referenced in #799 when using CrossEntropyLoss or NSSALoss due to tensor device mismatches at `prepare_negative_scores_for_softmax` in [losses.py](https://github.com/pykeen/pykeen/blob/d7ee986026065997398ab72152f0365224d9e374/src/pykeen/losses.py#L1056)

[code]

### How to reproduce

[code]

###

[2022-05-23 01:16] vsocrates commented on #935
Fixed this, will submit a PR request in a few minutes!

[2022-05-23 13:03] mberr commented on #934
No worries. If you have any suggestions how to improve the doc, feel free to suggest it :slightly_smiling_face:

[2022-05-25 08:20] mberr commented on #935
closed by #936

[2022-05-25 08:20] #935 closed, assigned to nobody

[2022-05-25 10:22] ahmedibatta opened #939 "Know the entities in the testing set"
### What is your question

Is there function to know what are the testing triplets (not just the embedding ids)  after using  `tf.split()`   because I need to perform other validations on the testing data ?

### Environment

Key	Value
OS	posix
Platform	Linux
Release	5.10.107+
Time	Wed May 25 08:41:44 2022
Python	3.7.12
PyKEEN	1.8.1
PyKEEN Hash	UNHASHED
PyKEEN Branch
PyTorch	1.11.0
CUDA Available?

[2022-05-25 10:28] mberr commented on #939
The `TriplesFactory` has a method [`label_triples`](https://pykeen.readthedocs.io/en/stable/reference/triples.html#pykeen.triples.TriplesFactory.label_triples) which can convert the ID-based triples back to their labeled format.

If you want to perform your operations on the ID-based triples (which can be faster), you can also convert the entity/relation labels of interest to IDs via [TriplesFacto

[2022-05-25 11:09] ahmedibatta commented on #939
Thanks for your quick reply ,
how can I use :

[code]

[2022-05-25 11:14] cthoyt commented on #939
would be nice if you sent the error messages along with comments, I think it will become obvious from reading it carefully what the issue is

[2022-05-25 11:41] ahmedibatta commented on #939
yeah, the error message

In general , I want to try something like Mrr and hits@N but on the relations and not just the head or tail. I am not sure if it already available in Pykeen or not

[2022-05-25 11:44] mberr commented on #939
`label_triples` is a non-static method, so you need to call it from an *instance* of a TriplesFactory, rather than as a class method.

From you example
[code]
the last line should be
[code]

[2022-05-25 11:47] mberr commented on #939
Regarding

You may want to take a look at the `targets` parameter of [pykeen.evaluation.evaluate](https://pykeen.readthedocs.io/en/stable/api/pykeen.evaluation.evaluate.html#pykeen.evaluation.evaluate), which can be set to `(pykeen.typing.LABEL_RELATION,)`.

There is an issue with passing this through the pipeline, cf. https://github.com/pykeen/pykeen/issues/867, which may be fixed with  #938. Unt

[2022-05-25 12:07] ahmedibatta commented on #939
Great, thanks

[2022-05-25 19:16] Nasreddine opened #941 "Load saved training result"
### What is your question

1. I've created a new dataset using TriplesFactory :

[code]

2. I've splitted it and saved the result using

[code]

3. training the model
[code]
The results are stored in a "results" directory.

Now I want to load the results from "results" directory but I cannot find a method like `from_path_binary()` to do that.
I found that it is possible to load the pipeline from t

[2022-05-25 19:48] mberr commented on #941
Currently, we do not have a method to load the results back into a `PipelineResults` object, since depending on the choices when saving the result, not all components are saved. However, you can load all individual components with the structure of the serialization format being described here: https://pykeen.readthedocs.io/en/stable/api/pykeen.pipeline.PipelineResult.html#pykeen.pipeline.PipelineR

[2022-05-26 08:13] Nasreddine commented on #941
Thank you @mberr.
I already use `torch. load` to load the model, but I want to access to the results also.
I wonder if the checkpoint might be used to reload the results whenever needed?

[2022-05-26 08:37] mberr commented on #941
With results you are referring to the calculated metrics, e.g. hits@k, etc, ? If yes, they should be in `results.json` just next to the saved model.

[2022-05-27 10:23] #867 closed, assigned to nobody

[2022-05-27 14:14] mberr commented on #867
Hi @lzhang12 ,

with #938 being merged this should be fixed now. For instance, the following snippet works for me
[code]

Notice that `targets` needs to be a *collection* of target names, e.g., a tuple or list, rather than a single entry.

[2022-05-27 15:29] Nasreddine commented on #941
Thank you.
For now, I'm using checkpoints to save results.

[2022-05-27 15:29] #941 closed, assigned to nobody

[2022-05-27 21:46] vsocrates opened #944 "plot_er reducer arguments crash plots on non-string values"
### Describe the bug

In [L181](https://github.com/pykeen/pykeen/blob/a4a150ff40430d5349d982c90efb05f199ab1444/src/pykeen/pipeline/plot_utils.py#L181) of `plot_er`, when a non-string character is passed as a named argument to be sent to the reducer class function (PCA, t-SNE, etc.) the plotting function crashes.

### How to reproduce

[code]

### Environment

| Key             | Value

[2022-05-28 08:58] #944 closed, assigned to nobody

[2022-05-28 09:53] #931 closed, assigned to cthoyt

[2022-05-29 11:18] #678 closed, assigned to cthoyt

[2022-05-31 07:33] mberr opened #950 "Add HousE"
### Publication Link

https://arxiv.org/abs/2202.07919

### Reference Implementation

https://github.com/anrep/HousE

### Additional Implementations

_No response_

### Relevance

[accepted](https://icml.cc/Conferences/2022/Schedule?showEvent=17408) at ICML’22

### Additional Context

The model is defined [here](https://github.com/anrep/HousE/blob/main/codes/model.py). In paper the discuss in tota

[2022-05-31 14:10] PhaelIshall opened #956 "Reproduce Transe experiment"
### Describe the bug

Transe experiment files not in the correct folder, they are placed with convkb and therefore cannot be executed

### How to reproduce

[code]

This will work once the files are moved

### Environment

| Key             | Value                    |
|-----------------|--------------------------|
| OS              | posix                    |
| Platform        | Linux

[2022-06-01 08:05] mberr commented on #956
Closed by #957

[2022-06-01 08:05] #956 closed, assigned to nobody

[2022-06-01 12:23] jas-ho opened #960 "Load models trained in older pykeen versions"
### What is your question

After upgrading pykeen I cannot load models trained in previous versions because some of the pickled dependencies have changed. I'm pretty sure that this is a typical pickle annoyance so I hesitate to count this as either bug / feature request. But I'm very curious how you guys deal with this issue in practice!

#### how to reproduce
- checkout pykeen v1.7.0
- produce a

[2022-06-01 13:05] mberr commented on #960
Hi @jas-ho ,

by default we save the full model, as it allows to simply load the file and directly run the model. However, this leads to failures when the model classes' structure has changed.

The next option you can try saving only the state dict, i.e., the model's weights (cf. https://pytorch.org/docs/stable/notes/serialization.html#saving-and-loading-torch-nn-modules )
1. with old PyKEEN versi

[2022-06-02 08:19] jas-ho commented on #960
Hi @mberr,

many thanks for the super quick response and providing some snippets. Unfortunately, the issue regarding renaming of model weights seems to affect already the transition 1.7 to 1.8.2 (at least for RotatE). Running your snippet 1 on 1.7.0 and snippet 2 on 1.8.2 gives (on my machine):
[code]

[2022-06-02 08:30] jas-ho commented on #960
Do you know of any principled approaches to this issue?

It seems kind of similar to schema migrations in databases. Are there best practices such that model migrations becomes easy / automatic? Or do you think it's just not a big issue in practice for most people?

[2022-06-02 08:43] mberr commented on #960
From our side, we do not have the resources to maintain these migrations, and only *guarantee* that you can reload model's from the same version :confused: the weight structure does not change too often though, so most of the time you might be lucky. This time, the migration from old-style RotatE to new-style happened in between (cf. https://github.com/pykeen/pykeen/pull/877).

The principled appr

[2022-06-02 08:50] jas-ho commented on #960
very helpful information, thank you! do you think it's worth adding to the documentation?

I imagine somewhere in between https://pykeen.readthedocs.io/en/stable/tutorial/checkpoints.html#word-of-caution-and-possible-errors and https://pykeen.readthedocs.io/en/stable/tutorial/checkpoints.html#word-of-caution-and-possible-errors
I can volunteer a PR for that if you think that's the correct place fo

[2022-06-02 09:10] mberr commented on #960
That would be very much welcome!

We could also consider putting that in an extra section, since it is not only valid for training checkpoint, but also for saving models e.g., via [pykeen.pipeline.PipelineResult.save_model](https://pykeen.readthedocs.io/en/stable/api/pykeen.pipeline.PipelineResult.html?#pykeen.pipeline.PipelineResult.save_model).

[2022-06-03 09:50] jas-ho commented on #470
the mentioned `MultimodalInstances` class has been removed in [bbd69546445f45fb815ebbdc5f213f0ba1f5a834](https://github.com/pykeen/pykeen/commit/bbd69546445f45fb815ebbdc5f213f0ba1f5a834), right?  If I wanted to create a multi-modal (including text) dataset for pykeen now: what baseclass should I use? sorry in case that's obvious to you guys :sweat_smile:

[2022-06-03 10:07] mberr commented on #470
This somewhat depends on how you want to use the text.

If you encode the text (e.g. using SBERT) in a preprocessing step, you could use `TriplesNumericLiteralsFactory`.

A somewhat more flexible variant is described [here](https://pykeen.readthedocs.io/en/stable/tutorial/representations.html#label-based), where you create representations for the text with a trainable encoder; notice that this req

[2022-06-03 10:19] jas-ho commented on #470
Hmm, I see.. doesn't the linked description to label-based representations assume that the text I want to use are the node IDs?  what if the text I want to use is not and cannot be the node ID?

For example, I might want to add information from a "note" attribute in the original knowledge graph into the representation where the "note" field might not be unique.

[2022-06-03 10:47] mberr commented on #470
[code]
creates representations for the entities labels. In some cases, e.g. for `Countries`, there are meaningful; in other cases, e.g., CodexSmall, these are just some IDs.

However, we can also directly use the constructor of [LabelBasedTransformerRepresentation](https://pykeen.readthedocs.io/en/stable/reference/nn/representation.html#pykeen.nn.representation.LabelBasedTransformerRepresentation)

[2022-06-04 07:57] jas-ho commented on #960
@mberr opened a PR https://github.com/pykeen/pykeen/pull/963

[2022-06-07 08:55] mberr opened #967 "Add LineaRE"
### Publication Link

https://arxiv.org/abs/2004.10037

### Reference Implementation

https://github.com/pengyanhui/LineaRE

### Additional Implementations

_No response_

### Relevance

Has been published on [ICDM2020](http://icdm2020.bigke.org/), and seems very easy to implement.
It can be seen as a mixture of PairRE (relation-specific head/tail Hadamard product) & TransE (additive relation term

[2022-06-08 20:03] #960 closed, assigned to nobody

[2022-06-09 13:14] #967 closed, assigned to nobody

[2022-06-09 14:11] mberr commented on #441
closed by https://github.com/pykeen/pykeen/pull/837

[2022-06-09 14:11] #441 closed, assigned to nobody

[2022-06-09 22:43] cthoyt commented on #494
closing because no response

[2022-06-09 22:43] #494 closed, assigned to nobody

[2022-06-09 22:44] cthoyt commented on #27
@mberr this is probably done

[2022-06-09 22:44] #27 closed, assigned to mberr

[2022-06-09 22:44] cthoyt commented on #22
It's probably gucci now since we've made lots of nice updates

[2022-06-09 22:44] #22 closed, assigned to sharifza

[2022-06-10 08:40] mberr commented on #494
If the root cause was differing PyKEEN versions, https://github.com/pykeen/pykeen/pull/963 might also solve the issue.

[2022-06-10 19:27] sbonner0 opened #974 "Passing a dropout value to a model through the pipeline API"
It would be great to be able to pass a dropout value to all models, thus enabling dropout, via the pipeline api, rather than having to create a new `ERModel` instance of existing models with dropout added in.

For example, say I wanted to add dropout to the model ComplEx to make use of the uncertainty code you have available. I can do the following to achieve this:

[code]

I thought I could overw

[2022-06-13 17:35] ahmedibatta commented on #867
Hi @mberr ,
I am trying to evaluate Mrr to relations also.

but still same error for me `evaluate() got an unexpected keyword argument 'targets'`

my code :
[code]
Note may be important,
I am using pykeen by installation through pip  and not Github since install through Github gave error message

`import pykeen`
( No module named 'pykeen' )

[2022-06-13 17:47] ahmedibatta opened #976 "Results of HPO"
### What is your question

I am using HPO to optimize  (Epoch, batch size, embedding dimension, neg_per-positive, learning rate)
I got the best model with the best hyperparameters with highest Mrr.
but when I am trying the same results of hyperparameter and build the mode , I got MRR value higher than I got in the results of HPO itself. Is this normal ?
 why some trials have much higher Mrr  in HP

[2022-06-13 21:34] cthoyt commented on #867
Sounds like you need pip install —upgrade

[2022-06-14 11:49] mberr commented on #974
You can directly use `ERModel` with the pipeline, e.g.,

[code]

Notice that you may need to provide more parameters than usual, as the generic `ERModel` does not know that the ComplEx interaction needs entity and relation representations with same shape.

On another note, the formulation above will not use "proper" complex embedding, but rather rely on a reshaping operation in the interaction fun

[2022-06-14 12:18] mberr commented on #976
I got the best model with the best hyperparameters with highest Mrr.
but when I am trying the same results of hyperparameter and build the mode , I got MRR value higher than I got in the results of HPO itself. Is this normal ?

I am not exactly sure about your procedure, but one thing you could check is that those MRRs are on the same set of evaluation triples: for selecting hyperparameter we typi

[2022-06-14 12:31] hanzy1110 opened #977 "Entity and relation representation advice"
### What is your question

Hi! I'm working on producing a KG embedding on a text corpus. My main doubt is about the best practice for storing/using the embeddings produced by PyKEEN.
Should I:
Save the entity and relation embeddings in a file in the GloVe style? If so how do I recover the mapping between embeddings and words? (This wasn't clear from the documentation)
Use the BERT model to transfo

[2022-06-14 12:40] cthoyt commented on #977
The first steps tutorial has some specific examples on how to save a model https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html#training-a-model and loading a pre-trained model (i.e., after you saved it) https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html#loading-a-pre-trained-model

The embeddings are inside the model, but you can feel free to access them and save them

[2022-06-14 14:12] cthoyt commented on #974
despite the promise of more complex tensor support in the last few versions of PyTorch, there are still many features missing that make it not yet possible. Let's relegate that discussion to the pre-existing issue at https://github.com/pykeen/pykeen/issues/82

[2022-06-14 18:35] sbonner0 commented on #974
Thanks @mberr - I'll make a custom ERModel for now then :)
I do however think it would be nice to be able to request dropout for all models from the main pipeline api without the need to remake the model every time, especially as the functionality seems to be already in place and it would appear to be just a matter of passing the right args through.

[2022-06-15 08:05] ahmedibatta commented on #867
Thanks for your reply, Still same problem after upgrading` TypeError: evaluate() got an unexpected keyword argument 'targets'`

<html>
<body>

Key | Value
-- | --
OS | posix
Platform | Linux
Release | 5.10.107+
Time | Wed Jun 15 07:59:28 2022
Python | 3.7.12
PyKEEN | 1.8.1
PyKEEN Hash | UNHASHED
PyKEEN Branch |  
PyTorch | 1.11.0
CUDA Available? | true
CUDA Version | 11.0
cuDNN Version | 8005

</b

[2022-06-15 08:20] cthoyt commented on #867
Still looks like you’re on an old version of pykeen - 1.8.2 is the newest and you need python 3.8

[2022-06-15 08:22] ahmedibatta commented on #976
Thanks for your reply and this good tip, I will try multiple times.

In the final results of HPO in file(trials.TSV), there are values(Mrr) for some trials are higher than the final best model, but the status of these trials are PRUNED.  Even I do not  indicate any value for `pruner `  in hpo_pipeline()

[2022-06-15 08:34] cthoyt commented on #976
Can't provide any more help without full code example

[2022-06-15 14:27] ahmedibatta commented on #976
My code

[code]

[2022-06-15 14:31] arita37 commented on #977
@cthoyt :
Thanks for your details.

More interesting to extracting the embedding for each node.
It seems that
  the embeddings are under model.entity/relation_representations
  the thing that lacks is a mapping between which entity/relation corresponds to each embedding.

  is there a way to extract it smoothly ? (some idea of code) ?

[2022-06-15 15:09] cthoyt commented on #977
I'd highly suggest reading the tutorials in full as well as looking at past questions that match yours.

The section you're probably looking for is https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html#using-learned-embeddings

[2022-06-15 15:09] #977 closed, assigned to nobody

[2022-06-15 15:42] mberr commented on #976
To select a pruner, we use `class_resolver.contrib.optuna.pruner_resolver`, which defaults to `MedianPruner`, cf.
https://github.com/cthoyt/class-resolver/blob/8e56e153513cae1a13b9fc12b57cbcd4ade79948/src/class_resolver/contrib/optuna.py#L49-L54 If you want to disable pruning, use `pruner="Nop"` instead. Notice that not pruning trials will likely increase the runtime of the HPO.

Could you also sh

[2022-06-15 15:43] mberr commented on #977
This is the part regarding mapping entity/relation labels to their integer IDs: https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html#mapping-entity-and-relation-identifiers-to-their-names

[2022-06-15 16:38] ahmedibatta commented on #976
I do not know how to share all file with you here so I just take trials with highest Mrr (0.45) value but PRUNED (trial 80). However, the hpo at the end chose another trial (trial 80) with Mrr = 0.36.

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<me

[2022-06-16 10:55] ahmedibatta commented on #976
There is also another issue in HPO results

1- I saved all models from HPO and when I tried the best values of best trial (from` trials.csv or best_pipline)` I got almost same Mrr as mentioned in (Trials.csv) 0.37  but when I tried the saved model to evaluate the Mrr, I got higher Mrr 0.44.

this my code for evaluation
### try best model
[code]

[2022-06-16 12:13] mberr commented on #976
How big is your custom dataset?

[2022-06-17 11:25] cthoyt opened #982 "Add max_id to all representations"
another option, I intend to add later on, is to have `max_id` / `shape` be in the `__init__` parameters any time, and use that for verifying inferred ones.

_Originally posted by @mberr in https://github.com/pykeen/pykeen/pull/980#discussion_r900026645_

[2022-06-17 18:28] #982 closed, assigned to nobody

[2022-06-18 18:13] ahmedibatta commented on #976
About 12000 triples, 4296 entities and 12 relations

[2022-06-18 19:16] mberr commented on #976
Assuming that you use a sufficiently large portion of that as validation/test, the results should be somewhat stable 😕

So right now, my best guess is that your metrics fluctuate based on the random initialization.

[2022-06-18 19:43] ahmedibatta commented on #976
Okay, I will try with different random seeds

my question exactly why the same model I saved through HPO have different result than the model I am trying with the values mentioned in the best_pipline file. In both cases, I used the same testing set, so the fluctuation does not depend on testing set or split of data.

[2022-06-18 19:48] mberr commented on #976
In HPO, the model is always evaluated on *validation* data (which is intended). From your script, it looks like you evaluate on *test* data instead.

[2022-06-18 20:01] ahmedibatta commented on #976
Firstly, thanks for your quick reply.

yeah I know, I mean I used during HPO ` save_model_directory= './models/',` to save model of trials.
and from the best_pipline file I got for example trial number 82 is the best so I just load the model from trial 82
` paire_model = torch.load('./models/82/trained_model.pkl')` that I mentioned in my above code and then evaluate the model.

And also, from the

[2022-06-19 07:59] mberr commented on #976
Okay, so then you have two different model (with same hyperparameters), correct?

[2022-06-19 09:28] ahmedibatta commented on #976
yes, I thought I will get almost the same MRR or in the same range but I forgot that HPO does not have random seed  to fix so the randomness of two model are different so this may be the cause of difference.

[2022-06-20 21:05] felipemello1 opened #987 "How to select which edges to train in heterogeneous graph"
### What is your question

Hi, in a knowledge graph many times there are multiple relations, but predicting only some specific type (e.g. gene-disease) is desirable. I have a graph with over 1MM edges, but I am interested in only 10k of them.

I couldn't figure out how add to the pipeline my whole dataset, with all edges, but only have the model (RGCN) train a specific edge type. Any ideas would b

[2022-06-20 21:20] cthoyt commented on #987
Hi @fmellomascarenhas, I'd suggest carefully reading through the documentation and other similar issues in this repo, such as:

- https://pykeen.readthedocs.io/en/stable/tutorial/making_predictions.html
- https://github.com/pykeen/pykeen/issues/863
- https://github.com/pykeen/pykeen/issues/337
- https://github.com/pykeen/pykeen/issues/84

Are you looking into this in a capacity as an industrial re

[2022-06-20 22:07] felipemello1 commented on #987
Hi @cthoyt , I am sorry, I should have expressed myself better. I understand how to evaluate the model on a specific edge set. I believe that my questions is related to **training**.

I want to minimize the loss of the 10k DRUG-DISEASE edge pairs in the data, and not all 1 million edge pairs that exist in the whole dataset.

My question does not make sense for an algorithm like TransE, because If

[2022-06-20 22:56] cthoyt commented on #987
Hi @fmellomascarenhas, thanks for making it a bit more clear. It's for sure an interesting question that has a potential answer, but right now our team isn't yet sure about the best way to respond to industrial requests for support outside of the context of paid consulting.

In the mean time, you can sit tight and we might be able to focus on this if there's wide community interest, you could take

[2022-06-20 23:17] migalkin commented on #987
Don't have an MWP at hand, but conceptually it should be easy:
1. Initializing the GNN encoder with the full graph from the whole set of training edges
2. Limiting the training set (sent to the training loop over which the loss will be computed) to only those desired 10k, can be done in 1-2 lines with edge masking by relation type

This way, the forward pass will consider all edges in a graph, but

[2022-06-20 23:20] felipemello1 commented on #987
Thanks @migalkin and @cthoyt. I will investigate it and let you know how it went. Thank you very much!

[2022-06-21 12:34] #927 closed, assigned to nobody

[2022-06-22 14:29] #987 closed, assigned to nobody

[2022-06-22 23:38] #911 closed, assigned to nobody

[2022-06-23 11:35] ahmedibatta commented on #934
From my reading to doc  of Pykeen and [Dettmers 2018](https://pykeen.readthedocs.io/en/stable/references.html#dettmers2018)  and training section in this  [paper](https://openreview.net/pdf?id=BkxSmlBFvr). I have question about difference between LCWA and SlCWA ?

As I understood, **LCWA**: take  all possible entities as tail for example to this positive triple (h,r,*) .The main issue in calculate

[2022-06-23 11:38] cthoyt commented on #934
can you please bring this question to a new thread in https://github.com/pykeen/pykeen/discussions and provide full context? It's important to keep each thread focused, and we only have limited time for support

[2022-06-23 11:42] ahmedibatta commented on #934
can you please bring this question to a new thread in https://github.com/pykeen/pykeen/discussions and provide full context? It's important to keep each thread focused, and we only have limited time for support

and my question related to the difference between them?

[2022-06-23 13:05] #237 closed, assigned to nobody

[2022-06-23 13:06] #298 closed, assigned to lvermue

[2022-06-23 17:56] #939 closed, assigned to nobody

[2022-06-27 05:35] migalkin opened #996 "`AdversarialBCEWithLogits` seems to not work properly"
### Describe the bug

The current implementation of the `AdversarialBCEWithLogits` degrades the performance with the growing number of negative samples (see the illustration) - presumably because of incorrect weighting?

Some basic analysis:
* pink - the NSSA baseline
* orange - current AdvBCE implementation with 1 negative sample
* purple - current AdvBCE implementation with 128 negative samples

[2022-06-27 09:43] mberr commented on #996
Could you also run new with 1/128 negatives, or old with 64? Just to rule out that there is something special about 64 samples 😉

Also, having the new implementation as (draft) PR would make it easier to directly compare the two variants.

[2022-06-27 17:40] migalkin commented on #996
Yes, added a few runs with the same temperature:
* Green - old with 64 negs (very bad perf either)
* Blue - new with 1 neg
* Red - new with 128 negs

New version is consistently better, I'll draft a PR

![Screen Shot 2022-06-27 at 1 37 50 PM](https://user-images.githubusercontent.com/4430986/176002460-b88bfc97-d67f-49e4-95f1-47cff23c751a.png)

[2022-06-29 13:42] handychimp opened #999 "Skipping Validation step of Pipeline AND loading from Checkpoints"
### What is your question

Hello, strictly speaking these are two questions that have arisen from trying to deal with the same issue. I'd appreciate any input anyone can give.

I am trying to train a number of different models on a set of triples with parameters passed. The pipeline is successful for smaller dimensions of embeddings (100). Ideally I wanted to train with a larger embedding dimensio

[2022-06-29 16:59] handychimp commented on #999
As additional info:

It seems that the out of memory error on CPU when running the tail predictions was only occurring when I was trying to use the ConvKB model.

The out of memory on evaluation is happening for all models I have tried (currently using RotatE, ProjE, AutoSF and TuckER), but I am able to successfully load the checkpoints and make tail predictions. I noticed I did not specify the `e

[2022-06-29 22:12] fanbomeng opened #1000 "get_relation_prediction_df not having ok results"
### What is your question

Hi,

Thanks a lot for the pykeen package, it is great. I have followed the pykeen published paper, and tried extensively training on FB15k-237, the test score can match the best one on the paper. But when I tried to predict the relation,  get_relation_prediction_df, with different models, I can not get the "True" score on top 10 ranking even with training data. It works

[2022-06-30 00:47] #1000 closed, assigned to nobody

[2022-06-30 00:47] #999 closed, assigned to nobody

[2022-06-30 00:48] #976 closed, assigned to nobody

[2022-07-01 12:58] DimitrisAlivas opened #1004 "BioKG - Benchmark Datasets"
### What is your question

Hello team PyKEEN,

I have a question regarding the [BioKG](https://pykeen.readthedocs.io/en/stable/api/pykeen.datasets.BioKG.html) dataset (Welsh et al), that is included in `pykeen.datasets`.

Specifically, I wanted to know whether the benchmark datasets (FDA-DPI, DDI-efficacy etc) were included in your `train`, `validation` and `test` splits or whether you performed s

[2022-07-01 13:13] cthoyt commented on #1004
The PyKEEN dataset uses https://github.com/dsi-bdi/biokg/releases/download/v1.0.0/biokg.zip and randomly splits it using the same procedure that's applied to all datasets that aren't pre-split, which is detailed in https://pykeen.readthedocs.io/en/stable/api/pykeen.datasets.base.CompressedSingleDataset.html and relies on the [`TriplesFactory.split()`](https://pykeen.readthedocs.io/en/stable/refere

[2022-07-01 20:30] DimitrisAlivas commented on #1004
Alright! Thank you for the pointers :)

[2022-07-01 20:30] #1004 closed, assigned to cthoyt

[2022-07-03 10:48] ks2022ml opened #1005 "exporting triplets"
### What is your question

Hi I was wondering if I can export some of the pykeen datasets as triples/edge list format to be used in [CLEP](https://github.com/hybrid-kg/clep) as well?

Source | Relation | Target
-- | -- | --
HGNC_ID_1 | association | HGNC_ID_2
HGNC_ID_2 | decreases | HGNC_ID_3
HGNC_ID_3 | increases | HGNC_ID_1

Thank you.

### Environment

| Key             | Value

[2022-07-03 11:04] mberr commented on #1005
@cthoyt might know better than me about CLEP 😉

[2022-07-03 11:05] mberr commented on #1005
For converting ID-based triples back to the label-based format, please take a look at https://pykeen.readthedocs.io/en/stable/reference/triples.html#pykeen.triples.TriplesFactory.label_triples

[2022-07-03 12:01] #1005 closed, assigned to nobody

[2022-07-03 15:14] #472 closed, assigned to nobody

[2022-07-03 15:15] cthoyt commented on #560
More information is also posted here with a more specific solution for this, since a lot of people requested similar things https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html#training-callbacks

[2022-07-03 15:15] #560 closed, assigned to nobody

[2022-07-03 15:15] #488 closed, assigned to nobody

[2022-07-03 15:20] #567 closed, assigned to nobody

[2022-07-03 15:20] #590 closed, assigned to nobody

[2022-07-04 00:45] #662 closed, assigned to nobody

[2022-07-04 00:45] #841 closed, assigned to nobody

[2022-07-04 00:45] #580 closed, assigned to nobody

[2022-07-04 00:57] #518 closed, assigned to nobody

[2022-07-04 00:59] cthoyt commented on #96
Multi gpu support is now possible with the pytorch lightning plugin - you can find it in https://pykeen.readthedocs.io/en/stable/contrib/lightning.html

[2022-07-04 00:59] #96 closed, assigned to nobody

[2022-07-04 00:59] #105 closed, assigned to nobody

[2022-07-04 01:00] #119 closed, assigned to nobody

[2022-07-04 01:01] cthoyt commented on #304
The training callbacks are quite extensible for this kind of thing now - see https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html#training-callbacks

[2022-07-04 01:01] #304 closed, assigned to nobody

[2022-07-04 01:02] #703 closed, assigned to nobody

[2022-07-04 01:03] #108 closed, assigned to nobody

[2022-07-04 01:04] #592 closed, assigned to nobody

[2022-07-04 01:05] #598 closed, assigned to nobody

[2022-07-04 01:06] #863 closed, assigned to nobody

[2022-07-04 01:07] #595 closed, assigned to nobody

[2022-07-04 01:07] cthoyt commented on #576
See pytorch lightning support for multi gpu in https://pykeen.readthedocs.io/en/stable/contrib/lightning.html

[2022-07-04 01:07] #576 closed, assigned to nobody

[2022-07-04 01:08] #365 closed, assigned to nobody

[2022-07-04 01:09] #808 closed, assigned to nobody

[2022-07-04 01:10] #737 closed, assigned to nobody

[2022-07-04 01:12] #673 closed, assigned to nobody

[2022-07-04 01:12] #339 closed, assigned to nobody

[2022-07-04 01:13] #477 closed, assigned to nobody

[2022-07-04 13:00] cthoyt commented on #518
As of https://github.com/pykeen/pykeen/pull/964, it's also much more straightforward to include a pre-trained embedding.

[2022-07-04 13:01] cthoyt commented on #506
As of https://github.com/pykeen/pykeen/pull/964, it's much more ergonomic to include external representations in a KGEM.

[2022-07-04 13:01] #506 closed, assigned to nobody

[2022-07-04 13:02] cthoyt commented on #843
1.8 is already out, since there wasn't any more feedback I'm going to close this

[2022-07-04 13:02] #843 closed, assigned to nobody

[2022-07-04 13:03] #815 closed, assigned to nobody

[2022-07-04 13:11] #236 closed, assigned to nobody

[2022-07-04 13:12] cthoyt commented on #646
No response, so marking as stale

[2022-07-04 13:12] #646 closed, assigned to nobody

[2022-07-04 13:19] cthoyt commented on #470
I believe this is now implemented as of https://github.com/pykeen/pykeen/pull/966, https://github.com/pykeen/pykeen/pull/969, and https://github.com/pykeen/pykeen/pull/964

[2022-07-04 13:19] #470 closed, assigned to nobody

[2022-07-04 13:20] #283 closed, assigned to nobody

[2022-07-04 13:23] cthoyt commented on #974
After a second look, I'm leaning on the side of rejecting this. It would add more complexity for a special use case - and ultimately make the pipeline less usable for newcomers.

[2022-07-04 15:10] #229 closed, assigned to nobody

[2022-07-04 15:25] sbonner0 commented on #974
Sure no problem at all, thanks for considering it.

I guess I had hoped specifying a dropout value could just be an additional argument passed into `model_kwargs` and thus hopefully would not have caused too much added complexity but totally get your point about it being a niche use-case.

[2022-07-04 15:45] francesco-tuveri opened #1020 "Possible issue in loss scaling"
Hi everyone,

while testing the training loop I realised that this `if-else` condition might be incorrect:
https://github.com/pykeen/pykeen/blob/b0a9abd949a9751d7afa2d8e1fe0f2c006c94519/src/pykeen/training/training_loop.py#L688-L691

If the loss has has a `mean` reduction, then the loss of each minibatch is already scaled by the number of samples in the minibatch because the loss function calls `s

[2022-07-04 16:32] mberr commented on #1020
The batch losses get rescaled in the `_forward_pass` by the individual `batch_size`, cf.

https://github.com/pykeen/pykeen/blob/b0a9abd949a9751d7afa2d8e1fe0f2c006c94519/src/pykeen/training/training_loop.py#L830-L833

Thus, we need to divide by the sum of batch sizes, i.e., the number of training instances.

[2022-07-04 16:35] francesco-tuveri commented on #1020
Thank you @mberr. Isn't that code needed to handle the case where `sub_batch_size` is not `None`?
In my test case `this_sub_batch_size` ends up being equal to `current_batch_size`, so there is no scaling.

[2022-07-04 16:36] migalkin commented on #1020
Wouldn't this line in normal circumstances always return 1?
[code]

So loss would indeed become way too small - I generally observe that losses in pykeen are 1-2 orders of magnitude smaller than in other libraries (while the final performance is comparable)

[2022-07-04 16:39] mberr commented on #1020
You are right, the current version is indeed incorrect.

For calculating the true epoch loss, we would need to rescale the batch-losses by the batch size, and then finally divide by the number of instances, to account for the possiblity of the last batch being smaller than the rest.

This should be a marginal difference though, since typically `batch_size << num_instances`.

In any way, this error

[2022-07-04 16:49] francesco-tuveri commented on #1020
To be honest, I suspect that even with incomplete minibatches everything should work fine. The reduction function uses the true batch size (not the config parameters), so it seems like the batch loss is always averaged correctly.

<del>It seems like there would be an issue only if `sub_batch_size` is not a multiple of `batch_size` for one (or more) of the minibatches.

EDIT: actually even incomple

[2022-07-04 16:55] mberr commented on #1020
I meant a problem like this:

| i | sample loss |
| - | ----: |
| 0 | 2 |
| 1 | 1 |
| 2 | 1 |

with batch_size = 2

**Average of batch averages**
[code]

**Average of sample losses**
[code]

[2022-07-04 17:04] francesco-tuveri commented on #1020
@mberr thanks for clarifying, that makes sense.

Anyway, I guess that users can also avoid this kind of corner case by using the `drop_last` option if they need to.

[2022-07-05 12:50] AntonyJia159 opened #1022 "CheckpointMismatchError triggered with no change to training configurations"
### Describe the bug

I was training an AutoSF model on the following setup :

[code]

In a Jupyter notebook, on a server provided by openbayes.com. A server disconnection occured, and I tried to resume training through the "simple re-run" feature. Though, before doing this, I made another precaution by using "checkpoint = torch.load(PYKEEN_CHECKPOINTS.joinpath('/home/checkpoint/XYcp.pt'))" to loa

[2022-07-05 12:54] cthoyt commented on #1022
We'll need the full stack trace to go along with the error you're getting otherwise it's not possible to give feedback.

Additionally, please either provide either the files you used for training, or try and come up with a minimal example demonstrates using one of the built-in datasets.

[2022-07-06 07:28] tatiana-iazykova opened #1023 "Error while inferencing transformer interaction"
### Describe the bug

Running prediction for transformer interaction produces grad error

### How to reproduce

[code]

[code]

### Environment

| Key             | Value                    |
|-----------------|--------------------------|
| OS              | posix                    |
| Platform        | Linux                    |
| Release         | 5.4.0-58-generic         |
| Time            |

[2022-07-06 16:45] #1023 closed, assigned to nobody

[2022-07-07 02:40] #1020 closed, assigned to migalkin, mberr

[2022-07-07 16:27] #996 closed, assigned to nobody

[2022-07-08 07:39] PhaelIshall commented on #910
@mberr  What if we need those filtered testing triples for some additional evaluation. At the moment I am loading them manually after making prediction with pykeen because they get filtered out. Is there a more straightforward way?

[2022-07-08 08:14] mberr commented on #910
You would need to ensure that here
https://github.com/pykeen/pykeen/blob/63c40ba188c332d47c0beca02233165ea1513c4d/src/pykeen/datasets/base.py#L659

the entity/relation to Id mapping include the non-train entities.

[2022-07-08 13:51] DimitrisAlivas opened #1028 "CoreTriplesFactory.get_most_frequent_relations() not working"
### Describe the bug

After trying out loading a (numpy) array of shape (n, 3) I realised that the CoreTriplesFactory cannot:
a) generate splits
b) get_most_frequent_relations

throwing the following error.

[code]

After spending some time on it, I realised that the problem is that `mapped_triples` cannot be a np.array but **only/strictly** a Tensor. Which is not conveyed in the source doc linked

[2022-07-08 13:53] cthoyt commented on #1028
@DimitrisAlivas thanks for point this out. could you update the MWE to have the right imports and be directly runnable (missing some variable definitions)

[2022-07-08 13:55] DimitrisAlivas commented on #1028
How is it looking now @cthoyt ? I added the `num_entities`, `num_relations` that were missing

[2022-07-08 14:12] cthoyt commented on #1028
You should pass a LongTensor to this construct, not a numpy array. Maybe we should be type checking and converting inside here to guard against this. The following works:

[code]

[2022-07-08 14:23] mberr commented on #1028
We could think about using [`torch.as_tensor`](https://pytorch.org/docs/stable/generated/torch.as_tensor.html) to normalize the triples passed to `CoreTriplesFactory`

[2022-07-13 10:00] ahmedibatta commented on #867
Updating Pykeen 1.8.3-dev and same error

`TypeError: __init__() got an unexpected keyword argument 'targets`

My code:

[code]
`pykeen.env()`
Key	Value
OS	nt
Platform	Windows
Release	10
Time	Wed Jul 13 11:45:14 2022
Python	3.8.5
PyKEEN	1.8.3-dev
PyKEEN Hash	UNHASHED
PyKEEN Branch
PyTorch	1.12.0+cpu
CUDA Available?	false
CUDA Version	N/A
cuDNN Version	N/A

[2022-07-13 10:21] ahmedibatta opened #1030 "TypeError in Pipline in Pykeen1.8.1 (TypeError: gmean() got an unexpected keyword argument 'weights)"
### Describe the bug

I have been using Pykeen 1.8.1with pipeline. It worked well without any problem, but today I am trying to rerun my code with BoxE or PairRE models, but I got this error

`TypeError: gmean() got an unexpected keyword argument 'weights'`

Error:

[code]

### How to reproduce

[code]

### Environment

<html>
<body>

Key | Value
-- | --
OS | posix
Platform | Linux
Release | 5.4.1

[2022-07-13 11:22] mberr commented on #1030
This is related to an too old version of `scipy`, cf. https://github.com/scipy/scipy/issues/13065. Please upgrade it. With the latest version of PyKEEN, this should be done automatically, cf. https://github.com/pykeen/pykeen/pull/891

[2022-07-13 11:22] #1030 closed, assigned to nobody

[2022-07-13 11:23] mberr commented on #867
Notice the difference between `evaluation_kwargs` and `evaluator_kwargs`. The latter is used to instantiate the evaluator, while the former is passed to the `evaluate` method.

[2022-07-13 11:46] ahmedibatta commented on #867
Thanks, I did not notice that.

I am trying and still same error

[code]
code:
[code]
env:
<html>
<body>

Key | Value
-- | --
OS | posix
Platform | Linux
Release | 5.4.0-89-generic
Time | Wed Jul 13 11:14:39 2022
Python | 3.9.13
PyKEEN | 1.8.2
PyKEEN Hash | UNHASHED
PyKEEN Branch |  
PyTorch | 1.12.0+cu116
CUDA Available? | true
CUDA Version | 11.6
cuDNN Version | 8302

</body>
</html>

[2022-07-13 12:20] mberr commented on #867
I reduced your example to a minimum working example, which is executable without your custom data:
[code]

I get the following error on the current `master` (63c40ba188c332d47c0beca02233165ea1513c4d)
[code]

So, it seems that while we support training with relation corruption, evaluation is not yet implemented. The error message refers to #728 .

iirc, it is mostly blocked by the https://github.co

[2022-07-13 13:35] jhrsya opened #1031 "Run "Getting Started with NodePiece"-Using NodePiece with pipeline"
### Describe the bug

I get a bug: Base representations comprise only 475 representations, but at least 948 are required.

### How to reproduce

[code]

### Environment

python -m pykeen 1.8.2

### Additional information

_No response_

### Issue Template Checks

- [X] This is not a feature request (use a different issue template if it is)
- [X] This is not a question (use the [discussions](https:

[2022-07-13 13:52] mberr commented on #1031
Hi @jhrsya ,

could you please provide the full traceback and environment information?

[2022-07-14 03:16] #1031 closed, assigned to nobody

[2022-07-14 03:29] jhrsya opened #1033 "Run docs "Getting Started with Nodepiece"-Using Node piece with pipeline"
### Describe the bug
[code]
### How to reproduce
[code]

### Environment

|Key| Value|
|---|---|
|pytorch|1.11.0|
|pykeen| 1.8.3.dev0|
|os|linux|
|python| 3.9.12|
|CUDA Available|Yes|
|CUDA Version|11.3|
|cudnn Version| 8200|

### Additional information

_No response_

### Issue Template Checks

- [X] This is not a feature request (use a different issue template if it is)
- [X] This is not a quest

[2022-07-14 06:23] migalkin commented on #1033
Can reproduce this error on the master branch.
@mberr I traced the error and it turns out, the reason is in the cached dataset - if it was cached already with inverse relations, then loading the cached version will forcefully create x2 relations again:

https://github.com/pykeen/pykeen/blob/63c40ba188c332d47c0beca02233165ea1513c4d/src/pykeen/datasets/utils.py#L212-L217

That's why for fb15k237 it

[2022-07-14 16:44] mberr commented on #1031
closed in favour of #1033

[2022-07-14 17:13] mberr commented on #1033
I opened a PR to fix this issue in #1034

[2022-07-14 21:37] #1033 closed, assigned to nobody

[2022-07-14 21:39] mberr commented on #1033
@jhrsya the bug should be fixed on the current `master` branch. You can install this version via
[code]
until we make our next release. Please note that you may have to manually delete the cached files (the file paths show up if you set the logging level large enough), or pass `dataset_kwargs=dict(..., force=True)`.

[2022-07-15 02:48] jhrsya commented on #1033
Thanks!

[2022-07-18 17:55] sbonner0 opened #1035 "`_safe_evaluate` still calls `model.to_cpu_()` and thus crashes when falling back to CPU if GPU OOMs"
### Describe the bug

It seems the function `_safe_evaluate` still calls `model.to_cpu_()` to fallback to CPU when required. However this function no longer seems to be there in any of the base model classes and thus will fail if an out of memory error occurs on a GPU and evaluation fallback is set. I guess it should probably just be `.cpu()`?

### How to reproduce

[code]

### Environment

| Key

[2022-07-18 19:46] mberr commented on #1035
Hi @sbonner0 ,

thanks for catching the issue - we still have no automated way to test on GPUs 😕

That should already fix it - would you mind to open a PR for it, and maybe give the fix a try with the code you encountered the error in? 🙂

[2022-07-19 14:23] sbonner0 opened #1036 "NodePiece with the `SparseBFSSearcher` search crashes when defined in a pipeline object"
### Describe the bug

Hey - really excited to see the METIS tokenizer for large graphs has been added for NodePiece! However when I try to run it with NodePiece defined as part of the pipeline, I get the following error:

[code]

This error doesn't occur if I predefine NodePiece and use that as part of the pipeline instead.

### How to reproduce

This code will crash with the error listed above:

[2022-07-19 15:10] mberr commented on #1036
The first sample code uses `AnchorTokenizer` instead of `MetisAnchorTokenizer`

[2022-07-19 15:13] sbonner0 commented on #1036
Ah you are right - sorry @mberr ! The heatwave in the UK must be getting to me. Sorry!

[2022-07-19 15:13] #1036 closed, assigned to nobody

[2022-07-23 07:56] YBAgg opened #1037 "The example error in Docs/GETTING STARTED/Representations/Lable-based"
### Describe the bug

Can't import  EmbeddingSpecification
[code]

### How to reproduce

Run the example.

### Environment

| Key             | Value                    |
|-----------------|--------------------------|
| OS              | nt                       |
| Platform        | Windows                  |
| Release         | 10                       |
| Time            | Sat Jul 23 15:54:22 2

[2022-07-23 09:58] mberr commented on #1037
Hi @YBAgg ,

this error is already fixed on the `master` branch. You can also see at readthedocs by selecting "latest" instead of stable, i.e., https://pykeen.readthedocs.io/en/latest/tutorial/representations.html

It will be updated in the default view, once we make our next release.

[2022-07-23 10:01] #1028 closed, assigned to nobody

[2022-07-23 10:02] mberr commented on #1028
Took a while, but now the update has been merged to `master` 🙂

[2022-07-23 10:08] mberr commented on #466
Seems to have been fixed by #724, too.

[2022-07-23 10:08] #466 closed, assigned to nobody

[2022-07-23 12:24] YBAgg commented on #1037
Thanks a lot!!!
One more question，I need KG's embedding result for downstream tasks, but I did not find the example how to do that in docs,  it would be very helpful if you could give me the relevant  link.@mberr

[2022-07-23 16:36] YBAgg commented on #1037
Hi @mberr
I have find how to get KG's embedding result in docs
[https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html?highlight=embedding#using-learned-embeddings](url)
But I still don't kown how to get specific entity's or relation's embedding result, can you give me a demonstration in the code below？Like get the embedding of "uk".

[code]

[2022-07-25 08:21] mberr commented on #1037
You need to get the (integer) IDs for the given label. You can find examples on the section just above the one you linked ( https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html?highlight=embedding#mapping-entity-and-relation-identifiers-to-their-names ).

e.g.:
[code]

[2022-07-25 08:32] RaoTianlong commented on #505
After install or reinstall matplotlib, python kernel need restart.

[2022-07-25 20:39] cthoyt commented on #1037
Closing this as the issues seem to be originating from a very old version of pykeen and the answers are already in the docs

[2022-07-25 20:39] #1037 closed, assigned to nobody

[2022-07-25 20:51] ahmedibatta opened #1040 "Removing validation set with (remove_known = True) in predict"
### Problem Statement

In prediction tails or heads  such as `get_head_prediction_df`, the option of (`remove_known=True`), it removes just the well known triples from training only and not validation set

### Describe the solution you'd like

I think it should Remove the known validation triples available with `remove_known` in `get_head_prediction_df` or `get_tail_prediction_df`

### Describe al

[2022-07-25 20:54] cthoyt commented on #1040
Can you please provide an example? It's not so easy to understand what you want from what you wrote.

[2022-07-26 16:37] ahmedibatta commented on #1040
In the `get_tail_prediction_df ` documentation

`remove_known: – Should non-novel triples (those appearing in the training set) be shown with the results?`

My argument why you do not also include validation triples which they are also non-novel to model.

In `remove_known= True`: it excludes the training triples from the prediction, is this right?
If yes, I think it should exclude also the valida

[2022-07-28 00:42] avitrost opened #1044 "`LabelBasedInitializer` endlessly loops on large dataset when using transformer encoder"
### Describe the bug

When using `LabelBasedInitializer` with the transformer encoder to initialize entities, the initialization never terminates when used with a large dataset (Wikidata5M). As indicated by `tqdm`, it seems to iterate through all the entities, but always restarts when it reaches the end of the entities. It does this continuously. This issue doesn't occur when using `LabelBasedInit

[2022-07-28 17:28] #1035 closed, assigned to nobody

[2022-07-28 21:08] mberr commented on #1044
@avitrost

could you run your snippet with logging set to DEBUG level? i.e.
[code]

[2022-07-28 21:38] mberr commented on #1044
As another note: `Wikidata5M`'s entity labels are their Wikidata IDs. Thus, encoding those via BERT base will likely not result in meaningful representations.

You may instead want to take a look into `WikidataTextRepresentation`, which retrieves entity labels and descriptions for all used Wikidata IDs and encodes those texts instead of the IDs. A usage example can be found in its docstring.

[2022-07-28 21:55] avitrost commented on #1044
@mberr Thank you, I now see that there was a memory issue with my setup:
[code]
The restarting is it trying again with a lower batch size.

[2022-07-28 21:55] #1044 closed, assigned to nobody

[2022-07-29 13:47] AmartyaCSB opened #1046 "Automatic Memory Optimization Unexpected keyword"
### Describe the bug

Hi, I am fairly new to pyKEEN. I am trying to run the hpo_pipeline from pykeen.hpo.hpo module with a TransE model. I am encountering the following issue: TypeError: __init__() got an unexpected keyword argument 'automatic_memory_optimization' in the models/base.py

[code]

This is the traceback:
[code]

### How to reproduce

This is the function I am trying to run
[code]
This

[2022-08-02 07:58] mberr opened #1049 "Add Freebase86M"
**Describe the benchmark KG dataset**:

The dataset is shipped as part of [DGL-KE](https://github.com/awslabs/dgl-ke/tree/master/examples).
It is a subset of the Freebase KG.
It comprises around 86M entities, 15k relations and 338M triples.

* [x]  **Dataset is pre-stratified into train/test/valid**

**Publication(s) or website describing benchmark KG dataset**:
https://arxiv.org/abs/2004.08532

*

[2022-08-03 12:36] kouteisang opened #1050 "How to use the model to get the embedding of new triples?"
How to use the model to get the embedding of new triples?

[2022-08-03 13:00] cthoyt commented on #1050
Please check out the documentation https://pykeen.readthedocs.io (the answer to your question is in the getting started tutorial). If you have follow-up questions, the discussion board (https://github.com/pykeen/pykeen/discussions) is the appropriate place to go.

[2022-08-03 13:00] #1050 closed, assigned to nobody

[2022-08-03 13:19] kouteisang commented on #1050
Thanks for your quick answer. But I think you may misunderstand my question.
For example, I train my model with triples <a, b, c>, <c, d, e>. After I trained this model and I want to use this model to predict the embedding of new triples like <m, o, n>. How can I get the embedding of <m, o, n> ? Does pykeen support this?

[2022-08-03 13:26] cthoyt commented on #1050
It sounds like you're looking for inductive models. There's also a whole article on that in the tutorial section at https://pykeen.readthedocs.io/en/stable/tutorial/inductive_lp.html. Again, please carefully read through all of the documentation to try and address your problem before opening an issue, or better, you can go to to the discussion board and see if someone in the community wants to hel

[2022-08-04 17:12] asmita-mukherjee opened #1052 "Pykeen.pipeline import error"
### Describe the bug

In pykeen 1.8.3-dev and python version 3.8.10 after successful installation (verified by doing import pykeen and pykeen.env), import error "ImportError: cannot import name 'last' from 'more_itertools' " on doing "from pykeen.pipeline import pipeline"

### How to reproduce

[code]

### Environment
[code]
### Additional information

_No response_

### Issue Template Checks

- [

[2022-08-04 17:22] cthoyt commented on #1052
It's not possible to install PyKEEN 1.8.3-dev via `pip`  (by virtue of the dev versions only being installable directly from GitHub), so I don't think this is possible to reproduce in the way you said.

I tried installing more-itertools in a clean environment to see if it's possible that they removed this function, and it doesn't seem that's the case.

I think you should do some more careful looki

[2022-08-04 17:22] #1052 closed, assigned to nobody

[2022-08-10 01:58] jasper881108 opened #1059 "Node Piece cannot work with PairRE & TripleRE"
### Describe the bug

It seems like Node Piece isn't work with PairRE and TripleRE interaction
[code]
In [Node Piece Module](https://github.com/pykeen/pykeen/blob/master/src/pykeen/models/unimodal/node_piece.py) file, some change may solve the problem, but I take only distance-based interaction into consideration

for line 124 - 132
[code]

for line 168 - 171
[code]

### How to reproduce
[code]

#

[2022-08-10 02:30] jasper881108 opened #1060 "Add TripleRE Model"
### Publication Link

https://vixra.org/pdf/2112.0095v1.pdf

### Reference Implementation

_No response_

### Additional Implementations

_No response_

### Relevance

In our company, we are facing CPU memory limitations, and is not suitable for using Node Piece. I wonder why there is no implementation of TripleRE Model but only TripleRE Module and Interaction.

### Additional Context

It seems ea

[2022-08-10 06:54] mberr commented on #1060
cf. https://github.com/pykeen/pykeen/pull/715

[2022-08-10 11:35] Allaway11 opened #1061 "MacroRankBasedEvaluator erroring in early stopper"
### Describe the bug

When using MacroRankBasedEvaluator with early stopping in the pipeline, the weights dictionary is cleared after each post epoch evaluation when MacroRankBasedEvaluator.finalize() method is called. This results in a `KeyError` when the evaluation is run again after the next epoch as the `head` key has been removed.

### How to reproduce

[code]

### Environment

| Key

[2022-08-10 11:39] cthoyt commented on #1061
@Allaway11 would you please attach the full stack trace?

[2022-08-10 11:44] Allaway11 commented on #1061
Sure:

[code]

[2022-08-10 11:44] xiujiesong opened #1062 "Python version problem"
Hi,

Thanks for the wonderful package. However, it seems that pykeen 1.9.0 needs python 3.8+, I believe it will be helpful if you add this  requirement in your README :)

[2022-08-10 13:46] mberr commented on #1061
@Allaway11 thanks for reporting the issue. Your suggested changes sound good to me. Would you mind creating a PR with them? :slightly_smiling_face:

[2022-08-10 14:11] Allaway11 commented on #1061
Awesome, happy to make a PR! 🙂

[2022-08-10 14:34] LucaCappelletti94 opened #1063 "IndexError: tensors used as indices must be long, byte or bool tensors"
### Describe the bug

When I instantiate a TriplesFactory on COLAB, I get the above error.
I see that it runs nomically on my local system, so I am not sure what this is about.

Still, I thought it warranted some attention.

### How to reproduce

COLAB link: https://colab.research.google.com/drive/10oqSFPj5UXvig9I5QHi7IwxmQnC0wxEE?usp=sharing

Do note that at the provided COLAB link there is also

[2022-08-10 14:38] mberr commented on #1063
Hi @LucaCappelletti94 ,

we only support Python >= 3.8.

Moreover, without being familiar with GRAPE, it is hard to tell from the small snippet how it interacts with PyKEEN, and thus where the error comes from.

[2022-08-10 14:40] LucaCappelletti94 commented on #1063
GRAPE only works as a wrapper; shortening the code is required to get the error. Does the `Python >= 3.8` requirement mean that currently, PyKEEN does not run on COLAB? I hoped to write some tutorials.

[2022-08-10 15:06] jasper881108 commented on #1060
Sorry, It must be model, not module

[2022-08-10 15:41] cthoyt commented on #1060
Hi @jasper881108, can you give more context about the company where you work and how you're using PyKEEN?

[2022-08-11 00:11] xiujiesong opened #1066 "Bug in tutorial: 'TriplesFactory' object has no attribute 'relation_to_ids'"
Hi,

In Mapping Entity and Relation Identifiers to their Names of this tutorial: https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html
when I use, triples_factory.relation_to_ids, AttributeError is reported. After I change it to triples_factory.relations_to_ids, problem is solved. I am wondering if there is a typo in this tutorial?

[2022-08-11 01:50] jasper881108 commented on #1060
I'm working at Cathay Financial Holdings, we are trying to use CFKG ( Collaborate Filtering through Knowledge Graph ) to recommend fund. We have used Tensorflow to build an TransE prototype and it works well on fund recommendation. We hope that pykeen can boost our current performance

[2022-08-11 07:14] mberr commented on #1066
Yes, you are right. Thanks for opening the issue. I pushed a fix under #1067 .

[2022-08-11 11:45] #1066 closed, assigned to nobody

[2022-08-11 12:36] cthoyt commented on #1063
does colab only run python 3.7? it's awfully hard for us to keep up with the downstream environments where people are trying to run PyKEEN, let us know if/when you figure it out or join the discussion here https://github.com/pykeen/pykeen/issues/843

[2022-08-11 13:01] LucaCappelletti94 commented on #1063
It functionally only runs 3.7. [There are gimmicks to make it run 3.8 ](https://stackoverflow.com/questions/60775160/install-python-3-8-kernel-in-google-colaboratory), but it is pretty safe to assume that the average user will not be knowledgeable enough to find and run such things.

For the model wrappers I use in GRAPE, I have added a clear exception that tells the user that the PyKEEN models ar

[2022-08-11 15:40] mberr commented on #1066
You can already see the fix by changing from "stable" to "latest", i.e., https://pykeen.readthedocs.io/en/latest/tutorial/first_steps.html

[2022-08-12 07:32] LucaCappelletti94 commented on #1063
Closing as this is not an error of PyKEEN but mostly a limitation of COLAB.

[2022-08-12 07:32] #1063 closed, assigned to nobody

[2022-08-12 13:26] ChrisDelClea commented on #2
Hey guys, i couldn't find any good example yet. Is there support to load RDF graphs (from_rdflib)?

[2022-08-12 13:34] cthoyt commented on #2
@ChrisDelClea would suggest checking the updated docs for PyKEEN 1.9 https://pykeen.readthedocs.io/en/stable/byo/data.html and especially the TriplesFactory creation functions like https://pykeen.readthedocs.io/en/stable/reference/triples.html#pykeen.triples.TriplesFactory.from_labeled_triples

Keep in mind that just because RDF is represented in triples, that you can't just consider content in th

[2022-08-12 14:25] ChrisDelClea commented on #2
Thank you, @cthoyt. Can you can you elaborate a bit on why you think content in RDF format is not a meaningful knowledge graph? I am also trying to use NodePiece to embedd unseen nodes and get the embeddings for downstream KNN. Do you have any tutorials at hand?

[2022-08-12 14:31] cthoyt commented on #2
RDF often is used to model data. Consider the following scenarios:

1. A triple store that has chosen to use reified edges (i.e., where an triple is represented with a node, and predicates for the "subject", "predicate", and "object" of that triple comprise three additional triples). This wouldn't be meaningful to learn on.
2. The RDF representing an ontology encoded in the OWL format. This has to

[2022-08-12 15:01] ChrisDelClea commented on #2
My Use-Case is Embedding a graph with persons and companies as nodes and common relations between them. Thus, i guess it would work. From the front-page, right. Thank you anyways.

[2022-08-13 06:25] xiujiesong commented on #1066
ok, thx!

[2022-08-13 07:00] #1062 closed, assigned to cthoyt

[2022-08-14 14:13] xiujiesong opened #1071 "AttributeError: 'TransE' object has no attribute 'entity_embeddings'"
Hi,

When i ran Toy Example
results.plot(er_kwargs=dict(plot_relations=True))
 in results_plots.ipynb with pykeen 1.9.0, I got
AttributeError: 'TransE' object has no attribute 'entity_embeddings'

Do u know what is going on here?

[2022-08-14 15:16] miferroudjene commented on #1071
Hello, thanks for opening the issue. I noticed the same thing too few days ago. I was about to open an issue for it, but preferred to investigate the problem deeply and be sure to describe the problem correctly and propose a solution or modifications.

For best practices, we always need to follow instruction in the repo on how to post an issue, let's first do that :

## 1. How to reproduce the err

[2022-08-15 00:59] xiujiesong commented on #1071
Thx for ur reply, I do learned a lot from it ;)

[2022-08-16 12:12] cthoyt opened #1074 "Add 1-1 restrictions to prediction pipeline"
### Problem Statement

The prediction pipeline currently allows you to filter out known triples from the training, testing, and validation sets. This allows a user to look at *novel* relations. However, in the entity alignment scenario, we can add a nice additional constraint that any node appearing as either the head or tail in any of the training, testing, and validation sets can be considered a

[2022-08-17 05:44] mberr commented on #1059
Hi @jasper881108 ,

did you already see https://github.com/pykeen/pykeen/issues/662 ?

[2022-08-17 05:48] mberr commented on #1046
Hi @AmartyaCSB ,

since https://github.com/pykeen/pykeen/pull/176, the parameter `automatic_memory_optimization` is no longer a parameter for the model but rather for the training loop / evaluator.

[2022-08-17 05:59] jasper881108 commented on #1059
@mberr Thanks, it’s a clear answer

[2022-08-17 05:59] #1059 closed, assigned to nobody

[2022-08-17 07:02] cthoyt commented on #1046
Is this an issue that the documentation lead @AmartyaCSB to put this in the wrong place? Can we find where that was and fix it?

[2022-08-17 07:06] #1071 closed, assigned to nobody

[2022-08-17 07:08] mberr commented on #1071
With #1072 merged, this should be fixed on `master` branch. Thanks again @MayloIFERR for the excellent answer / investigation :slightly_smiling_face:

[2022-08-17 15:55] igrangel opened #1077 "AttributeError: 'TransE' object has no attribute 'entity_embeddings' - Results Plotting Demo"
### Describe the bug

Dear Pykeen staff, thanks for the great library.
I'm really starting with it and while running one of the notebooks I got the following error:
`AttributeError: 'TransE' object has no attribute 'entity_embeddings'`

This is the environment I have.

The model runs but the second chart cant be generated.
I would appreciate your support.

### How to reproduce

Just by running thi

[2022-08-17 16:02] mberr commented on #1077
duplicate of https://github.com/pykeen/pykeen/issues/1071

[2022-08-17 16:02] miferroudjene commented on #1077
Hello, this issue was already reported and solved few days ago.
Please check the following closed issue (https://github.com/pykeen/pykeen/issues/1071) for the details.

[2022-08-17 16:03] #1077 closed, assigned to nobody

[2022-08-18 16:34] mberr opened #1080 "RuntimeError when creating entity word clouds"
### Describe the bug

[code]

### How to reproduce

Run the [hello-world example notebook](https://github.com/pykeen/pykeen/blob/2d74d06f9137a6d0f48879408bc19c3c0807e337/notebooks/hello_world/hello_world.ipynb).

### Environment

| Key             | Value                    |
|-----------------|--------------------------|
| OS              | posix                    |
| Platform        | Linux

[2022-08-19 13:36] #1080 closed, assigned to nobody

[2022-08-21 13:15] cthoyt commented on #1061
Closed by #1079

[2022-08-21 13:15] #1061 closed, assigned to nobody

[2022-08-21 13:16] cthoyt commented on #1022
I'm going to close this since we never got a response from the submitter

[2022-08-21 13:16] #1022 closed, assigned to nobody

[2022-08-23 08:53] #802 closed, assigned to nobody

[2022-08-23 19:18] yichuanma95 opened #1085 "Error #15: Initializing libiomp5.dylib, but found libomp.dylib already initialized."
Hi,

I'm new to PyKEEN. I've installed it on my Mac via `pip`, opened up Python, and, following the starter's guide, tried to import the pipeline like this:
[code]
and I end up with the following error:
[code]
I'm running this on Mac OS Monterey 12.5.1. The version of PyKEEN that I have is 1.9.0. I tried to file this issue using the bug template, but am unable to get an environment table because w

[2022-08-23 20:28] mberr commented on #1085
Hey @yichuanma95 ,

the error seems to be not directly related to PyKEEN code but rather be an installation issue. I do not have macOS system at hand, so I cannot look into it.

However, [here](https://stackoverflow.com/questions/53014306/error-15-initializing-libiomp5-dylib-but-found-libiomp5-dylib-already-initial) is a stackoverflow discussion of the same error message you encountered, and the s

[2022-08-23 21:35] trilokpadhi opened #1086 "Not Working With Concept Net Dataset"
### Describe the bug

I was able to train the **TransE** model on the **pykeen.datasets.Nations dataset.**
[code]

but with the Conceptnet dataset I wasnt able to train the TransE model, the error was following :-

[code]

### How to reproduce

[code]

### Environment

![image](https://user-images.githubusercontent.com/20143249/186270530-141bd3e3-0a31-4d09-b88b-8e76fbae8149.png)

### Additional in

[2022-08-23 22:36] cthoyt commented on #1086
Did you try deleting `/home/users/tpadhi1/.data/pykeen/datasets/conceptnet` and starting over?

[2022-08-24 23:38] yichuanma95 commented on #1085
I've tried following the solutions in that discussion, and my environment got even more messed up. Can another Mac user help me out please?

[2022-08-25 07:50] #1085 closed, assigned to nobody

[2022-08-25 09:21] #366 closed, assigned to nobody

[2022-08-25 19:07] trilokpadhi commented on #1086
Thanks a lot !
This worked.

[2022-08-25 19:07] #1086 closed, assigned to nobody

[2022-08-29 11:13] mberr opened #1094 "Symmetric LCWA"
### Problem Statement

[Lacroix et al., 2018](http://imagine.enpc.fr/~obozinsg/papers/lacroix2018canonical.pdf) introduce a new training objective

$$
l_{i,j,k}(X) = - X_{i,j,k} + \log \left(
\sum_{k'} \exp(X_{i,j,k′})
\right) - X_{k,j+P,i} + \log \left( \sum_{i'} \exp (X_{k, j+P, i'})\right)
$$

which can be seen as a "symmetric LCWA", where for one batch of triples, we score both, heads *and* ta

[2022-08-29 13:22] mberr commented on #1040
Hi @Ahmed-fub ,

with #1048 being merged to `master` branch, you can now filter an arbitrary number of triples. The following is a minimal example using the built-in `nations` dataset (and skipping training by `training_kwargs=dict(num_epochs=0)`):

[code]

Until our next release, you need to install from source to get this feature:
[code]

[2022-08-29 14:16] cthoyt commented on #1094
Symmetric LCWA should probably be called LCWAWCL

[2022-08-30 02:33] SRL94 opened #1096 "Run pykeen on own KGs"
Can we run pykeen with our own KGs?

[2022-08-30 07:45] mberr commented on #1096
Hi @SRL94 ,

please use the `Discussion` section to ask questions.

For your question specifically, there is already [a section](https://pykeen.readthedocs.io/en/stable/byo/data.html) in the documentation.

[2022-08-30 07:45] #1096 closed, assigned to cthoyt

[2022-08-31 08:13] mberr opened #1102 "Merge pykeen.nn.functional and pykeen.nn.modules"
### Problem Statement

By having the interaction module and the implementation of the interaction function split across two files, the code becomes less readable. It also spreads documentation across the two files.

Historically, we opted for splitting them because

- *PyTorch does so, too.* -- I suppose that one reason for that is that the methods inside [`torch.nn.functional`](https://pytorch.or

[2022-09-03 16:36] gokulprasadthekkel opened #1105 "Ablation pipeline is not recognizing evaluation_kwargs"
### Describe the bug

Ablation pipeline is not recognizing evaluation_kwargs.
Even after setting it to some other value, it's still throwing this warning :
`INFO:pykeen.evaluation.evaluator:No evaluation batch_size provided. Setting batch_size to '32'.`

### How to reproduce

[code]

### Environment

<html>
<body>

Key | Value
-- | --
OS | posix
Platform | Linux
Release | 5.4.0-1080-gcp
Time | Sat

[2022-09-03 16:43] cthoyt commented on #1105
It appears there are no examples containing `evaluation_kwargs` on https://pykeen.readthedocs.io/en/stable/tutorial/running_ablation.html. I think you're looking for `evaluator_kwargs`. Unfortunately the ablation pipeline isn't a huge focus right now so your best bet is to try and do some code digging, then maybe you can write something here that's helpful for others in the future

[2022-09-09 11:53] ChrisDelClea opened #1107 "Random Questions"
Hi guys,

i have some random questions.

1. How can i create a custom inductive dataset? I assume the `from_labeled_triples()` function does not work. What i did was to create a TripleFactory for all four required datasets (Transductive Training, Inductive Inference, Inductive Testing and Inductive Validation) and than set the attributes of the class instance of `InductiveDataset` to each respecti

[2022-09-09 11:54] #1107 closed, assigned to nobody

[2022-09-12 09:46] noy-sternlicht opened #1113 "Add KG-BERT"
### Publication Link

https://arxiv.org/pdf/1909.03193.pdf

### Reference Implementation

https://github.com/yao8839836/kg-bert

### Additional Implementations

_No response_

### Relevance

I'm working on a research project, and as part of it, I'd like to run a few LM-based KGC models (such as this one) on the PrimeKg dataset. It would be interesting to compare the performance of such models with

[2022-09-12 09:57] noy-sternlicht opened #1114 "Add StAR"
### Publication Link

https://dl.acm.org/doi/pdf/10.1145/3442381.3450043

### Reference Implementation

https://github.com/wangbo9719/StAR_KGC

### Additional Implementations

_No response_

### Relevance

I'm working on a research project, and as part of it, I'd like to run a few LM-based KGC models on the PrimeKg dataset. StAR uses a dual-encoder architecture (in contrast to the additional LM-ba

[2022-09-20 16:10] sbonner0 opened #1118 "`negative_sampler_kwargs` are ignored unless a sampler is explicitly set in the pipeline"
### Describe the bug

It seems that any `negative_sampler_kwargs` are ignored unless a sampler is explicitly set in the pipeline. For example, setting a value for the number of negative samples does not appear to make it through to the default basic sampler choice and thus the value is always 1. However if the basic sampler is explicitly chosen, setting a values for the number of negative samples

[2022-09-23 16:24] dobraczka opened #1121 "Scikit-learn dependency is wrongly declared in setup.cfg"
### Describe the bug

The scikit-learn dependency is wrongfully declared as "sklearn" in setup.cfg (which [actually exists](https://pypi.org/project/sklearn/)). This means unnecessarily installing "sklearn" when installing PyKEEN.

### How to reproduce

[code]
will show
[code]

### Environment

| Key             | Value                    |
|-----------------|--------------------------|
| OS

[2022-09-25 06:23] trilokpadhi opened #1123 "NodePiece Model takes more time to process the data when we use a subset of training data"
### Describe the bug

I want to create embeddings for the english entities/nodes of the conceptnet graph. When I create a pipeline such that only english entities, it takes more time to process the data than calling the nodepiece model with the the complete conceptnet dataset - In Code 1, the dataset processing takes more time than Code 2.

## Code 1
[code]
## Code 2
[code]

### How to reproduce

[2022-09-25 16:21] mberr commented on #1123
Hi @trilokpadhi ,

which time are you measuring? the overall time of both scripts?

could you also try to isolate the problem better, by removing as much code as possible while still being able to reproduce the time difference?
e.g., using `DeepSet` as aggregation seems to be the same in both snippets, so this should not make up the difference, and removing this part of the code and using the defa

[2022-09-26 01:46] shize886 opened #1124 "How to output negative samples?"
I am using Pykeen for some knowledge representation and graph quality assessment tests, but I have encountered some operational problems and would like to ask for your help. some of my code is as follows:

[code]

and my question is:
1. How can I output negative samples constructed with negative_sampler="basic"? (eg output to a .txt document)

2. On the basis of question 1, how can I control the n

[2022-09-26 02:41] trilokpadhi commented on #1123
Hi @mberr
Thanks for your reply. Just to highlight the difference, The pipeline definition in the **code block 1** creates anchor nodes  faster than the **code block 2**, The **code block 2** also gets stuck a lot of times. This happens when I exclusively create the training and testing triples with mentioning the english enttiy ids.  Could you please tell me why this could be happening ? All the

[2022-09-26 03:14] shize886 commented on #1124
Environment:

platform.system()	Windows
platform.release()	11
python	3.8.5
pykeen	1.8.2
torch	1.12.0
cuda         cuda11.6

[2022-09-26 09:32] mberr commented on #1123
just to be sure: are you measuring the time for
[code]
too? because they might be what causes the difference.

[2022-09-26 09:41] mberr commented on #1124
That is not built in: In PyKEEN, with negative sampling, we generate *different* negative samples each time we have a positive batch. Please take a look at https://pykeen.readthedocs.io/en/latest/reference/negative_sampling.html

you already have it in your code:
[code]
just change `num_negs_per_pos`

see answer above - there is not a single set of `k` negatives, but they are resampled each time.

[2022-09-26 10:06] trilokpadhi commented on #1123
Hi @mberr,
Not really, the time taken to create the anchor nodes from the dataset in the pipeline function basically

[2022-09-26 10:15] cthoyt commented on #1123
I added to the example code the following

[code]

Since timing these functionalities is already standardized inside PyKEEN

[2022-09-26 14:05] shize886 commented on #1124
So I can't export the negative triples generated by pykeen?
If it is possible to export the negative triples, can you give me a simple code example that can be implemented, (For example, a set of negative triples generated by replacing all tail entities of the dataset="fb15k237" , each positive triples generates one negative triples),because I will use the negative triples generated by pykeen for

[2022-09-27 17:44] trilokpadhi commented on #1123
Hi @cthoyt
Thanks for your reply. Before I test the time, the issue is the code is getting stuck ( I waited for 6 hours ) when I create the model for only english entities. Is it obvious to take such huge time to just filter the triples or to process the data and the nodepiece model with these triples?? Is it that it gets OOM while filtering out the triples for only these entities. Please let me k

[2022-09-29 04:28] trilokpadhi commented on #1123
@cthoyt @mberr could you please look at this issue ?
Thanks

[2022-09-29 09:24] mberr commented on #1124
If it is possible to export the negative triples, can you give me a simple code example that can be implemented, (For example, a set of negative triples generated by replacing all tail entities of the dataset="fb15k237" , each positive triples generates one negative triples),because I will use the negative triples generated by pykeen for subsequent evaluation work.

Not without writing you own cod

[2022-09-29 09:31] mberr commented on #1123
@trilokpadhi I currently do not have a large working machine available to test anything on big datasets. Please try to find a minimal working example which is as small as possible (e.g., on "nations"), but still reproduces the issue.

You also may want to use [`timeit`](https://docs.python.org/3/library/timeit.html) or (even better) torch's wrapper around it from https://pytorch.org/docs/master/be

[2022-09-29 09:38] mberr commented on #1046
I searched for `"automatic_memory_optimization"` in the repo's file and could not find any wrong documentation thereof.

[2022-09-29 10:53] #1094 closed, assigned to nobody

[2022-09-29 11:11] sbonner0 opened #1127 "Understanding the broadcasting of positive and negative scores in `MarginPairwiseLoss`"
### Discussed in https://github.com/pykeen/pykeen/discussions/1120

<div type='discussions-op-text'>

<sup>Originally posted by **sbonner0** September 21, 2022</sup>
I've been trying to understand how the broadcasting works for the positive and negative scores in the `MarginPairwiseLoss` class. Essentially I am wondering why there is the need to add an extra singleton dimension in the positive sco

[2022-09-30 01:43] shize886 commented on #1124
[code]

[code]

Thank you very much. Now I is clear to me.

[code]

I don't know if I didn't really understand your meaning. I tried to run a simple example according to your method, but I encountered the following error

my code:
[code]
error:
[code]

[2022-09-30 17:26] mberr commented on #1124
@shize886

the error with classification evaluation sounds like a different error than the initial question about negative samples. Would you mind to

1) verify that you have the latest PyKEEN version installed
2) if the error still persists with the latest PyKEEN version, open a new bug report issue?

[2022-10-03 10:29] #1127 closed, assigned to nobody

[2022-10-04 08:36] chris-opendata opened #1130 "Concerning of margin ranking loss formulation issue"
### Describe the bug

Following example of ComplEx for triples, the margin ranking loss (MarginRankingLoss) is used.
In pykeen\losses.py, MarginRankingLoss inherits from MarginPairwiseLoss which in turn formulates a margin ranking loss as follows.

https://github.com/pykeen/pykeen/blob/b840fc4cd96f2860c018c33c635baa7256bf887b/src/pykeen/losses.py#L550-L554

which contradicts the statement in class

[2022-10-04 21:18] mberr commented on #1130
For reference, this is the code perma-link:
https://github.com/pykeen/pykeen/blob/b840fc4cd96f2860c018c33c635baa7256bf887b/src/pykeen/losses.py#L550-L554

At first glance, I think you are right, and there is an issue in the code. @chris-opendata , would you mind to open a PR to fix this?

[2022-10-04 21:36] cthoyt commented on #1130
But double check because we use a very cleaver abstraction in the definitions of the Margin activations

[2022-10-04 22:16] chris-opendata commented on #1130
Hi cthoyt,

Thank you for your quick reply. I'll defer a PR action as suggested by mberr until a confirmation from your double check. As I debugged, the default activation is ReLU.

The reason that it caught my attention is that the trials of my modeling variants with the method over a month just kept contradicting what the method supposed. So, I by chance looked into the source code and cross-exa

[2022-10-07 02:06] xiujiesong opened #1132 "How to set device beyond the pipeline?"
Hi,

I know that we can set device='gpu' in pipeline(), but I did not find how to set device beyond the pipeline.
I use the following code in jupyter, but it does not work.
[code]

here is my code:

[code]

[2022-10-07 09:57] #1132 closed, assigned to nobody

[2022-10-09 12:39] shize886 commented on #1124
@mberr
Yes, thank you very much. This error does not exist in the latest version of pykeen 1.9.0.
 And I will open a new issue to ask how to generate "Accuracy" and "F1 Score".

[2022-10-09 12:39] #1124 closed, assigned to nobody

[2022-10-09 13:38] shize886 opened #1139 "How to get "Accuracy" and "F1 Score" values?"
Hello,
in the following simple example, I used pykeen to get the loss value and hits@k Values, but when I tried to get the Accuracy and F1 Score values, I don't know how to write my code. I have also read the pykeen document and the following link(https://github.com/pykeen/pykeen#metrics). could you take a look at it for me?

my code:

from pykeen.pipeline import pipeline
from matplotlib import py

[2022-10-09 13:39] #1139 closed, assigned to nobody

[2022-10-18 02:56] Scaredname opened #1145 "Can't save the model constructed by 'make_model_cls'"
### Describe the bug

When I try to save the model constructed by 'make_model_cls', I get an error:
`AttributeError: Can't pickle local object 'make_model_cls.<locals>.ChildERModel'`

### How to reproduce

[code]

### Environment

| Key             | Value                    |
|-----------------|--------------------------|
| OS              | posix                    |
| Platform        | Linux

[2022-10-20 17:39] renzhonglu11 opened #1146 "LabelBasedTransformerRepresentation still cannot be imported"
### Describe the bug

I tried this example of the documentation https://pykeen.readthedocs.io/en/latest/tutorial/representations.html#label-based. And it shows the error. `ImportError: cannot import name 'LabelBasedTransformerRepresentation' from 'pykeen.nn.representation'` . I saw that there was already a similar reported Bug and I also update the version of pykeen to the latest one. But it still

[2022-10-21 20:10] mberr commented on #1146
Hi @renzhonglu11 ,

first of all, it is always useful to provide the full traceback instead of the plain error message :slightly_smiling_face:

However, I think I already see the error, since we generalized the `TransformerRepresentation` to a more flexible [`TextRepresentation`](https://github.com/pykeen/pykeen/blob/b840fc4cd96f2860c018c33c635baa7256bf887b/src/pykeen/nn/representation.py#L955). I

[2022-10-22 10:28] mberr commented on #1121
Closed by https://github.com/pykeen/pykeen/pull/1122

[2022-10-22 10:28] #1121 closed, assigned to nobody

[2022-10-22 10:43] #1146 closed, assigned to nobody

[2022-10-22 12:04] renzhonglu11 commented on #1146
Thanks for the reply

[2022-10-26 21:42] giuspillo opened #1148 "save_to_directory partially working"
Hi everyone,

i'm having issues with the function save_to_directory.
In particular, given the folder i pass as argument, it is able to generate the files

[code]

but does not generate the folder `training_triples`.

This is the source code (i used nation dataset to test it)
I'm currently under Windows with Python 3.9.7

[code]

[2022-10-31 17:39] daniel-gratz commented on #237
Hi @sbonner0, I am wondering what resolution you found to the differences in model performance? I'm seeing a similarly large difference between dgl-ke and pykeen when evaluating Hits@5 using my own evaluation method.

[2022-11-04 13:50] sylviawangfr opened #1155 "Recommend best reproducing settings and parameters to reproduce ComplEx+N3"
### Problem Statement

I tried to reproduce the best ComplEx + N3 scores with dataset FB15K237.
The settings are as below:
pipeline_result = pipeline(
        dataset=ds.FB15k237(),
        model=ComplEx,
        model_kwargs=dict(embedding_dim=512, entity_initializer="xavier_uniform", relation_initializer="xavier_uniform"),
        loss=CrossEntropyLoss,
        loss_kwargs={"reduction": "mean"},

[2022-11-05 15:15] AImenes opened #1156 "predict.consumer_scores requires a square tensor of entities and relations in PartiallyRestrictedPredictionDataset"
### Describe the bug

**How I encountered it**
_I think this a bug and not a limitation. My apologies if I am mistaken._
I encountered the problem while having a large list of tails on a certain relation, which I wanted to collect the top k predicted heads over all tails in my list.

**The bug:**
When using consume_scores on a PartiallyRestrictedPredictionDataset while not containing the same amou

[2022-11-05 16:13] mberr commented on #1156
Hi @AImenes ,

Would you please provide a full traceback?

[2022-11-05 16:47] AImenes commented on #1156
Sure!

**Code**:
[code]
**Traceback**:
[code]

[2022-11-06 09:48] AImenes commented on #1156
The fix:

line 878:
`return torch.as_tensor([self.parts[0][quotient], self.parts[1][remainder]])
`
change to
line 878:
`return torch.as_tensor([self.parts[0][remainder], self.parts[1][quotient]])
`

[2022-11-06 10:41] mberr commented on #1156
Re-opening until this is auto-closed by #1157 being merged into `master`.

[2022-11-06 11:13] mberr commented on #1148
Hi @giuspillo ,

would you mind re-opening the ticket with the "bug report" template and fill-in the environment information (e.g., which PyKEEN version)?

[2022-11-06 11:15] mberr commented on #1148
With the current `master` branch, I cannot reproduce your observation:
[code]

[code]

[2022-11-08 02:37] yuanjunblog opened #1159 "Can't run RGCN with negative_sampler="basic""
### Describe the bug

when I run RGCN model and set negative_sampler="basic", I get an error:
RuntimeError: Trying to backward through the graph a second time (or directly access saved tensors after they have already been freed). Saved intermediate values of the graph are freed when you call .backward() or autograd.grad(). Specify retain_graph=True if you need to backward through the graph a secon

[2022-11-08 02:40] yuanjunblog commented on #1159
When I comment out this line, it will work normally:
        negative_sampler="basic"

[2022-11-11 02:14] johnoooooo opened #1163 "Some examples in the docs are out of date"
### Problem Statement

Many examples in the readthedocs of this project are wrong, can you please correct them? For a beginner, it is difficult to get started, so readthedocs can write in detail?

### Describe the solution you'd like

Many examples in the readthedocs of this project are wrong, can you please correct them? For a beginner, it is difficult to get started, so readthedocs can write in

[2022-11-11 20:42] migalkin commented on #1163
Could you please link the examples that do not work?

[2022-11-18 08:44] Dangwei-dw opened #1168 "result.save_to_directory"
### Describe the bug

When I use the pipeline to train the model, an error will be reported when saving the json file

----> 7 result.save_to_directory(f'{dataset}_{model}')

File d:\workspace\pharmkg\pharmkg-master\model\pykeen\pykeen\src\pykeen\pipeline.py:313, in PipelineResult.save_to_directory(self, directory, save_metadata, save_replicates)
    311     json.dump(self.metadata, file, indent=2

[2022-11-18 08:55] cthoyt commented on #1168
It appears you’re using a very very old version of pykeen. Please try upgrading to the latest version

[2022-11-18 09:00] #1168 closed, assigned to nobody

[2022-11-19 12:57] mberr commented on #1159
Hi @yj1227 ,

could you please try again with the current PyKEEN version (1.9)?

Also, it would be great to have a self-contained reproduction example (in your example, `train` and `test` are unknown), as well as trying to reduce the example to a bare minimum, e.g.,
[code]

[2022-11-19 17:46] cthoyt commented on #1163
Hi @johnoooooo, thanks for the feedback but we can't make any updates without a bit more specificity. I'm going to close this for now, feel free to comment if you can provide a specific example for us to update.

[2022-11-19 17:46] #1163 closed, assigned to nobody

[2022-11-19 18:04] #1156 closed, assigned to nobody

[2022-11-20 12:14] #1118 closed, assigned to nobody

[2022-11-23 17:59] sancarlim opened #1171 "BYOD unstratified for Ablation"
For the ablation pipeline, is there a way to pass directly the TripletFactory ?
Otherwise, is it possible to pass the path of unstratified data?

Thank you!

[2022-11-24 07:40] #1171 closed, assigned to nobody

[2022-11-25 21:45] dlopezyse opened #1174 "Unable to print evaluation results"
### Describe the bug

When following the [documentation](https://pykeen.readthedocs.io/en/stable/tutorial/first_steps.html#training-a-model) to print evaluation results:

`results = evaluator.evaluate(model=model,
    mapped_triples=mapped_triples,
    batch_size=1024,
    additional_filter_triples=[
        dataset.training.mapped_triples,
        dataset.validation.mapped_triples,
    ],)`
`prin

[2022-11-28 19:15] mberr commented on #1174
Hi @dlopezyse ,

the result of the [evaluate](https://pykeen.readthedocs.io/en/stable/api/pykeen.evaluation.evaluate.html) method is an object of type [`MetricResults`](https://pykeen.readthedocs.io/en/stable/api/pykeen.evaluation.MetricResults.html); in your specific case a [`RankBasedMetricResults`](https://pykeen.readthedocs.io/en/stable/api/pykeen.evaluation.RankBasedMetricResults.html). They

[2022-11-28 19:23] dlopezyse commented on #1174
Thanks a lot @mberr
I'll follow your guidance 👍🏻

[2022-11-28 19:23] #1174 closed, assigned to nobody